{% from "components/buttons/buttons.njk" import button as button %}

<p class="mt-0">Reducér skærmens bredde for at se knappens effekt.</p>
{{ 
    button({
        "variant": "primary",
        "text": "Gem",
        "classes": { "button": "xs-full-width" }
    }) 
}}