{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{{overflowmenu({
    "button": {"text": "Overflow menu"},
    "id": "overflow1",
    "openRight": true,
    "content": "<ul class='overflow-list'>
        <li><button>Mulighed 1</button></li>
        <li><button>Mulighed 2</button></li>
        <li><a href='#'>Mulighed 3 er et link</a></li>
        <li><button>Mulighed 4 er en længere tekst</button></li>
    </ul>
    "}) }}
