{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{{overflowmenu({
    "button": {"text": "Overflow menu"},
    "id": "overflow1",
    "openRight": true,
    "content": "<ul class='overflow-list'>
        <li><button>Option 1</button></li>
        <li><button>Option 2</button></li>
        <li><a href='#'>Option 3 as link</a></li>
        <li><button>Option 4 is longer text</button></li>
    </ul>
    "}) }}
