{% from "components/table/table.njk" import table as table %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-tables-7</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Cell styling</p>
            {{ 
                table({
                    "thead": [
                        { "headerContent": "First column with an extremely long sentence, which will never break into several lines because of its class", "classes": "table-header-no-wrap" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column" }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell", "classes": "vertical-align-middle" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell", "classes": "vertical-align-bottom" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
</main>