{% from "components/table/table.njk" import table as table %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-tables-4</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Sortering ascending</p>
            {{ 
                table({
                    "sorting": {
                        "column": 3,
                        "direction": "ascending"
                    },
                    "thead": [
                        { "headerContent": "First column", "sorting": true, "sortingID": "btn-sort" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column", "sorting": true }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Sortering descending</p>
            {{ 
                table({
                    "sorting": {
                        "column": 3,
                        "direction": "descending"
                    },
                    "thead": [
                        { "headerContent": "First column", "sorting": true, "sortingID": "btn-sort" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column", "sorting": true }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
</main>