{% from "components/table/table.njk" import table as table %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Attributter og varianter (normal)</p>
            {{ 
                table({
                    "attributes": {
                        "outer": "data-outertest",
                        "inner": "data-innertest"
                    },
                    "variant": {
                        "cellPadding": "normal",
                        "breakpoint": "lg"
                    },
                    "thead": [
                        { "headerContent": "First column" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column" }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Attributter og varianter (compact)</p>
            {{ 
                table({
                    "attributes": {
                        "outer": "data-outertest",
                        "inner": "data-innertest"
                    },
                    "variant": {
                        "cellPadding": "compact",
                        "breakpoint": "lg"
                    },
                    "thead": [
                        { "headerContent": "First column" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column" }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Attributter og varianter (extracompact)</p>
            {{ 
                table({
                    "attributes": {
                        "outer": "data-outertest",
                        "inner": "data-innertest"
                    },
                    "variant": {
                        "cellPadding": "extracompact",
                        "breakpoint": "lg"
                    },
                    "thead": [
                        { "headerContent": "First column" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column" }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Attributter og varianter (compact, breakpoint sm)</p>
            {{ 
                table({
                    "attributes": {
                        "outer": "data-outertest",
                        "inner": "data-innertest"
                    },
                    "variant": {
                        "cellPadding": "compact",
                        "breakpoint": "sm"
                    },
                    "thead": [
                        { "headerContent": "First column" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column" }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Attributter og varianter (compact, breakpoint lg)</p>
            {{ 
                table({
                    "attributes": {
                        "outer": "data-outertest",
                        "inner": "data-innertest"
                    },
                    "variant": {
                        "cellPadding": "compact",
                        "breakpoint": "lg"
                    },
                    "thead": [
                        { "headerContent": "First column" },
                        { "headerContent": "Second column" },
                        { "headerContent": "Third column" }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
</main>