{% from "components/table/table.njk" import table as table %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Tabel, der indeholder sortering og er responsiv</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ 
                table({
                    "responsive": true,
                    "sorting": {
                        "column": 1,
                        "direction": "ascending"
                    },
                    "thead": [
                        { "headerContent": "First column", "sorting": true, "sortingID": "btn-sort1" },
                        { "headerContent": "Second column", "sorting": true, "sortingID": "btn-sort2" },
                        { "headerContent": "Third column" }
                    ],
                    "tbody": [
                        [
                            { "content": "First row, first cell" },
                            { "content": "First row, second cell" },
                            { "content": "First row, third cell" }
                        ],
                        [
                            { "content": "Second row, first cell" },
                            { "content": "Second row, second cell" },
                            { "content": "Second row, third cell" }
                        ],
                        [
                            { "content": "Third row, first cell" },
                            { "content": "Third row, second cell" },
                            { "content": "Third row, third cell" }
                        ]
                    ]
                })
            }}
        </div>
    </div>
</main>