{% from "components/cookie-message/cookie-message.njk" import cookie_message as cookie_message %}

{{ cookie_message(cookie_message_data.message, cookie_message_data.accept, cookie_message_data.decline, cookie_message_data.title) }}
