{% from "components/toggle/toggle.njk" import toggle as toggle %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Toggle switch</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nobullet-list">
                <li>
                    {{ 
                        toggle({
                            "id": "switch-javascript",
                            "label": "Denne switch virker pga. JavaScript"
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-unchecked",
                            "label": "Denne switch er slået fra"
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-checked",
                            "label": "Denne switch er slået til",
                            "checked": true
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-disabled-unchecked",
                            "label": "Denne switch er slået fra og disabled",
                            "disabled": true
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-disabled-checked",
                            "label": "Denne switch er slået til og disabled",
                            "checked": true,
                            "disabled": true
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-words",
                            "label": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt vulputate risus a rhoncus. Duis maximus velit vitae dolor semper, at condimentum nunc pretium."
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-letters",
                            "label": "LoremipsumdolorsitametconsecteturadipiscingelitSuspendissetinciduntvulputaterisusarhoncusDuismaximusvelitvitaedolorsemperatcondimentumnuncpretium"
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-options",
                            "label": "Klasser og attributter sat",
                            "attributes": "switchattributes",
                            "classes": "switchclass"
                        })
                    }}
                </li>
                <li>
                    {{ 
                        toggle({
                            "id": "switch-nolabel"
                        })
                    }}
                </li>
            </ul>
        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('switch-javascript').addEventListener("click", function() { 
            if (this.getAttribute("aria-checked") === "true") {
                this.setAttribute("aria-checked", "false");
            } else {
                this.setAttribute("aria-checked", "true");
            } 
        }, false);
    });
</script>