{% from "components/toast/toast.njk" import toast as toast %}

{{
    toast({
        "id": "notification-warning",
        "variant": "warning",
        "srVariant": "Advarsel",
        "heading": "Dette er en advarsel",
        "content": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.",
        "show": true
    })
}}