@use 'sass:math' as math;
@use '../node_modules/dkfds/src/stylesheets/themes/borgerdk' as borger;
@use '../node_modules/dkfds/src/stylesheets/themes/virkdk' as virk;
@use '../node_modules/dkfds/src/stylesheets/components/sidenav' as sidenav;
@use '../node_modules/dkfds/src/stylesheets/components/navigation' as nav;
@use '../node_modules/dkfds/src/stylesheets/variables' as *;
@use '../node_modules/dkfds/src/stylesheets/values' as *;
@use '../node_modules/dkfds/src/stylesheets/functions' as *;
@use '../node_modules/dkfds/src/stylesheets/mixins' as *;

// ------------------------------------
// Theme alert
// ------------------------------------

#borgerdkThemeBtn {
    color: color('white');
    background-color: borger.$borger-primary;
    border-color: borger.$borger-primary-dark;
}

#virkThemeBtn {
    color: color('white');
    background-color: virk.$virk-primary;
    border-color: virk.$virk-primary-dark;
}

// ------------------------------------
// Header
// ------------------------------------
  
.fds-title {
    font-size: font-size('4xl');
    line-height: units(6, 'rem');
    font-weight: font-weight('semibold');
    color: color('black');
    text-decoration: none;
    display: inline-block;

    @include media-breakpoint-down(sm) {
        font-size: font-size('2xl');
        line-height: units(5, 'rem');
    }

    &:visited, 
    &:hover, 
    &:focus, 
    &:active {
        color: color('black');
    }
}

// ------------------------------------
// Do's and Don'ts
// ------------------------------------

.do-dont-container {
    img {
        padding: units(2);
        border: border(10);
        width: 100%;
        height: auto;
    }

    .separator {
        margin-top: units(3);
        display: flex;

        div {
            height: units(4);
            margin-top: units(2);
            width: calc(100% - 28px);
            margin-left: units(2);
        }
    }
    > div:first-of-type .separator {
        svg {
            fill: color('text-positive'); 
        }
        div {
            background-color: color('text-positive');
        }
    }
    > div:last-of-type .separator{
        svg {
            fill: color('text-negative');
        }
        div{
            background-color: color('text-negative');
        }
    }
}

// ------------------------------------
// Search
// ------------------------------------

.page-result {
    .h4 {
        .page-category {
            text-transform: uppercase;
        }
    }
    .form-hint.small-text{
        @include small-text();
    }
}

// ------------------------------------
// Back-to-top button
// ------------------------------------

// Ensure that the back-to-top button used in the component preview example stays within the preview window
.component-preview .button.back-to-top-button {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
    top: auto;
    z-index: 1;
}

// Ensure that the back-to-top button is visible in the example areas when printing the page
@media print {
    .component-preview-back-to-top .back-to-top-button.d-print-none {
        display: inline-block !important;
    }
}

// ------------------------------------
// Typography
// ------------------------------------

.demo-typesetting{
    border-top: 2px solid color('data-violet-800');
    color: color('data-violet-800');
    padding-top: 1rem;
    text-align: center;
}

// Links color
.color-link {
  background-color: color("link");
}
.color-link-hover {
  background-color: color("link-hover");
}
a.link-default, a.link-default:link, a.link-default:visited, a.link-default:hover, a.link-default:focus{
  color: color("link");
}
a.link-hover, a.link-hover:link, a.link-hover:visited, a.link-hover:hover, a.link-hover:focus{
  color: color("link-hover");
}
a.link-visited, a.link-visited:link, a.link-visited:visited, a.link-focus:visited, a.link-focus:visited{
  color: color("link-visited");
}
a.link-focus, a.link-focus:link, a.link-focus:visited, a.link-focus:hover, a.link-focus:focus{
  color: color("link-focus");
}
.color-focus {
  background-color: color("focus");
}
.color-visited {
  background-color: color("link-visited");
}

.color-text-positive {
  background-color: color('text-positive');
}
.color-text-negative {
  background-color: color('text-negative');
}

// Colors used for alert boxes
.color-error {
  background-color: color('error');
}
.color-success {
  background-color: color('success');
}
.color-warning {
  background-color: color('warning');
}

.color-info {
  background-color: color('info');
}

.color-error-background {
  background-color: color('error-light');
}
.color-success-background {
  background-color: color('success-light');
}
.color-warning-background {
  background-color: color('warning-light');
}
.color-info-background {
  background-color: color('info-light');
}


.color-container-large {
  height: 108px;
  border: border(10);

  //Colors
  &.color-white {
    background-color: color('white');
  }
  &.color-black {
    background-color: color('black');
  }
  &.color-gray-dark {
    background-color: color('gray-600');
  }
  &.color-gray-medium-dark {
    background-color: color('gray-500');
  }
  &.color-gray-medium-light {
    background-color: color('gray-400');
  }
  &.color-gray-light {
    background-color: color('gray-300');
  }
  &.color-gray-mediumpale{
    background-color: color('gray-200');
  }
  &.color-gray-pale {
    background-color: color('gray-100');
  }
  &.color-succes {
    background-color: color('success');
  }
  &.color-succes-light {
    background-color: color('success-light');
  }
  &.color-warning {
    background-color: color('warning');
  }
  &.color-warning-light {
    background-color: color('warning-light');
  }
  &.color-error {
    background-color: color('error');
  }
  &.color-error-light {
    background-color: color('error-light');
  }
  &.color-info {
    background-color: color('info');
  }
  &.color-info-light {
    background-color: color('info-light');
  }
  &.borger-primary {
    background-color: borger.$borger-primary;
  }
  &.borger-medium {
    background-color: borger.$borger-primary-dark;
  }
  &.borger-dark {
    background-color: borger.$borger-primary-darker;
  }
  &.virk-primary {
    background-color: virk.$virk-primary;
  }
  &.virk-medium {
    background-color: virk.$virk-primary-dark;
  }
  &.virk-dark {
    background-color: virk.$virk-primary-darker;
  }
  &.color-positive {
    background-color: color('text-positive');
  }
  &.color-negative {
    background-color: color('text-negative');
  }
}
.color-container-medium {
  height: 64px;
  border: border(10);
/*
  &.color-data-turquoise {
    background-color: $color-data-turquoise;
  }
  &.color-data-turquoise-high-opacity {
    background-color: $color-data-turquoise-high-opacity;
  }
  &.color-data-turquoise-medium-opacity {
    background-color: $color-data-turquoise-medium-opacity;
  }
  &.color-data-turquoise-low-opacity {
    background-color: $color-data-turquoise-low-opacity;
  }
  &.color-data-teal {
    background-color: $color-data-teal;
  }
  &.color-data-teal-high-opacity {
    background-color: $color-data-teal-high-opacity;
  }
  &.color-data-teal-medium-opacity {
    background-color: $color-data-teal-medium-opacity;
  }
  &.color-data-teal-low-opacity {
    background-color: $color-data-teal-low-opacity;
  }
  &.color-data-orange {
    background-color: $color-data-orange;
  }
  &.color-data-orange-high-opacity {
    background-color: $color-data-orange-high-opacity;
  }
  &.color-data-orange-medium-opacity {
    background-color: $color-data-orange-medium-opacity;
  }
  &.color-data-orange-low-opacity {
    background-color: $color-data-orange-low-opacity;
  }
  &.color-data-magenta {
    background-color: $color-data-magenta;
  }
  &.color-data-magenta-high-opacity {
    background-color: $color-data-magenta-high-opacity;
  }
  &.color-data-magenta-medium-opacity {
    background-color: $color-data-magenta-medium-opacity;
  }
  &.color-data-magenta-low-opacity {
    background-color: $color-data-magenta-low-opacity;
  }
  &.color-data-purple {
    background-color: $color-data-purple;
  }
  &.color-data-purple-high-opacity {
    background-color: $color-data-purple-high-opacity;
  }
  &.color-data-purple-medium-opacity {
    background-color: $color-data-purple-medium-opacity;
  }
  &.color-data-purple-low-opacity {
    background-color: $color-data-purple-low-opacity;
  }
  &.color-data-violet {
    background-color: $color-data-violet;
  }
  &.color-data-violet-high-opacity {
    background-color: $color-data-violet-high-opacity;
  }
  &.color-data-violet-medium-opacity {
    background-color: $color-data-violet-medium-opacity;
  }
  &.color-data-violet-low-opacity {
    background-color: $color-data-violet-low-opacity;
  }*/
}
.color-gray-pale {
  background-color: color('gray-100');
  .form-hint{
    color: color('gray-600');
  }
}

.color-code-name {
  margin-right: units(1);
  word-wrap: break-word;
  font-size: font-size("xs");
}

.color-container-small {
  height: 40px;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  border: border(10);

  .color-text-container {
    padding: 7px 15px 7px 15px;
    margin-bottom: 0rem;
    margin-top: 0rem;

    .text-white {
      color:color('white');
    }
    .text-black {
      color:color('black');
    }
    .text-gray {
      color:color('gray-400');
    }

    .text-negative {
      color:color('text-negative');
    }

    .text-positive {
      color:color('text-positive');
    }
  }

  &.color-black {
    background-color: color('black');
  }
  &.color-gray-medium-dark {
    background-color: color('gray-500');
  }
  &.color-gray-light {
    background-color: color('gray-300');
  }
  &.color-gray-pale {
    background-color: color('gray-100');
  }
  /*
  &.color-data-violet {
    background-color: $color-data-violet;
  }
  &.color-data-violet-high-opacity {
    background-color: $color-data-violet-high-opacity;
  }
  &.color-data-violet-medium-opacity {
    background-color: $color-data-violet-medium-opacity;
  }
  &.color-data-violet-low-opacity {
    background-color: $color-data-violet-low-opacity;
  }
  &.color-data-purple {
    background-color: $color-data-purple;
  }
  &.color-data-purple-high-opacity {
    background-color: $color-data-purple-high-opacity;
  }
  &.color-data-purple-medium-opacity {
    background-color: $color-data-purple-medium-opacity;
  }
  &.color-data-purple-low-opacity {
    background-color: $color-data-purple-low-opacity;
  }
  &.color-data-magenta {
    background-color: $color-data-magenta;
  }
  &.color-data-magenta-high-opacity {
    background-color: $color-data-magenta-high-opacity;
  }
  &.color-data-magenta-medium-opacity {
    background-color: $color-data-magenta-medium-opacity;
  }
  &.color-data-magenta-low-opacity {
    background-color: $color-data-magenta-low-opacity;
  }
  &.color-data-orange {
    background-color: $color-data-orange;
  }
  &.color-data-orange-high-opacity {
    background-color: $color-data-orange-high-opacity;
  }
  &.color-data-orange-medium-opacity {
    background-color: $color-data-orange-medium-opacity;
  }
  &.color-data-orange-low-opacity {
    background-color: $color-data-orange-low-opacity;
  }
  &.color-data-teal {
    background-color: $color-data-teal;
  }
  &.color-data-teal-high-opacity {
    background-color: $color-data-teal-high-opacity;
  }
  &.color-data-teal-medium-opacity {
    background-color: $color-data-teal-medium-opacity;
  }
  &.color-data-teal-low-opacity {
    background-color: $color-data-teal-low-opacity;
  }
  &.color-data-turquoise {
    background-color: $color-data-turquoise;
  }
  &.color-data-turquoise-high-opacity {
    background-color: $color-data-turquoise-high-opacity;
  }
  &.color-data-turquoise-medium-opacity {
    background-color: $color-data-turquoise-medium-opacity;
  }
  &.color-data-turquoise-low-opacity {
    background-color: $color-data-turquoise-low-opacity;
  }
  */
}

.color-text-container {
  margin-bottom: units(5);
  margin-top: units(3);
  p {
    margin: 0px;
  }
}
@media screen and (min-width:768px) {
  .color-col {

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }
}

//------------ Code
.component-preview figure.highlight, .details-text figure.highlight {
  margin: 0px;
}
.component-preview-syntax{
  border-right: border(20);
  border-bottom: border(20);
  border-left: border(20);
}

*:not(.tab-panel):not(.details-text):not(.component-code) > figure.highlight{
  border: border(20);
}

code {
  background-color: color('gray-100');
  color: color('black');
  font-family: monospace;
}

pre {
  font-family: monospace;
  overflow-x: auto;
  white-space: pre;

  code {
    background-color: transparent;
    overflow-x: auto;
    white-space: pre;
  }

  &:focus {
    @include focus;
  }
}

*:not(.details-text) > figure.highlight > pre {
  background-color: color('gray-100');
  padding: 1.6rem;
  white-space: pre-wrap;
  margin: 0;
  code {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}


.details-text > figure.highlight > pre {
  padding: 0px;
  white-space: pre-wrap;
  margin: 0;
  code {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

code {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.code-highlight {
  background-color: color('gray-100');
  padding: 16px;
  pre, code {
    max-width: $typography-text-max-width;
  }
}

//HEX colors for color page
.code-color-hex {
  @include small-text();
  display: block;
  margin-bottom: units(2);
}

//Variables for color page
.code-color-variable {
  @include small-text();
  display: block;
}

// Code snippet boxes
.code-sample {
  pre,
  code {
    background: none;
    font-size: font-size('2xs');
    margin-top: 0;
    padding: 0;
  }
}

// Icon page styles

.simple-icon-list {
  flex-wrap: wrap;
  svg {
    width: 80px;
    height: auto;
    max-width: 100%;
  }
}

.icon-list {
  list-style-type: none;

  > li::before {
    content: "" !important;
  }
}

.icon-box{
  padding: units(505) units(4) units(3);
  border: border(20);
  margin-right: -1px;
  margin-bottom: -1px;
  margin-top: 0;
  text-align: center;
  height: auto;

  svg {
    width: 48px;
    height: 48px;
    max-width: 100%;
  }

  .descriptive-name {
    margin-bottom: units(2);
    margin-top: units(405);
    word-wrap: break-word;
  }

  .code-name {
    margin-bottom: units(405);
    margin-top: units(3);
    word-wrap: break-word;
    font-size: font-size("xs");
  }
}

.no-icons-text {
  color: color('gray-500');
  margin-top: units(5);
}


//----------------  Page styles


.page-selvbetjeningsløsninger .page-container{overflow:hidden;}
.page-tringuide-overflowmenu-html .container,
.page-tringuide-responsive-overflowmenu-html .container{
  min-height: 400px;
}
.component-preview-labels-table .table.table--borderless thead th, .component-preview-labels-table .table.table--borderless tr:last-child{
  border-bottom: 0px;
}
.component-preview-basic-collapse, .component-preview-modal, .component-preview-text-input, .component-preview-tags, .component-preview-search  .container{
  padding-top: 4px;
  padding-bottom: 4px;
}
.component-preview-toggle .component-example{
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.component-preview-overflow-menu .container, .component-preview-overflow-menu-left .container{
  min-height: 400px;
}
.page-cookie-message-html > .container{

  min-height: 300px;
  @include media-breakpoint-up(md) {
    min-height: 250px;
  }
}
.component-preview-text-input .container, .component-preview-text-input-width .container{ //quick fix for iframe resize
  padding-bottom: 4px;
}
.component-preview-accordion, .component-preview-accordion-border, .component-preview-accordion-multi{
  .container {
    padding-top: 8px;
  }
}
.component-preview-file-input .container{
  min-height: 100px;
}
.component-preview-basic-collapse .container{
  min-height: 150px;
  padding-top: 8px;
}
.component-preview-skiplink {
  .component-example{
    overflow: hidden;
    position: relative;
  }
}
.component-preview-date-input{
  & .container{
    min-height: 200px; //so that datepicker is visible
  }
}

.component-preview-date-input-datepicker{
  .container{
    min-height: 500px; //so that datepicker is visible
  }
}

.component-preview-tooltip .container{
  min-height: 350px;
}

.demo-component-box{
  &__img{
    height: 156px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: units(4);
    background-color: color('gray-500');
    border-radius: 4px;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    &:focus{
      @include focus-outline();
    }

    img{
      max-height: 100%;
    }

    svg.icon-svg{
      height: 10.4rem;
      width: 10.4rem;
    }
  }
  p{
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

.description-image{ //creates a border around an image.
  border: border(10);
  padding: 8px;
}

.hyphens-manual {
  hyphens: manual;
}

.word-wrap {
  overflow-wrap: break-word;
}

.layout-demo {
  margin-bottom: 8.6rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 5.9rem;
  }
  @media print{
    margin-bottom: 0px !important;
  }
}

// Demo fixed footer
.demo-footer {
  padding: 8px;
  background-color: color('black');
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  .button {
    background-color: color('black');
    border-color: color('white') !important;
    width: auto;
    color: color('white');

    &:hover, &:focus, &:active {
      color: color('black');
    }

    .icon-svg {
      margin-right: units(2);
    }

    & + .function-link {
      margin-top: 0;
    }

  }

  .form-select {
    background-color: black;
    color: color('white');
  }

  .function-link {
    color: color('white');

    .icon-svg {
      fill: color('white');
    }

    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }
}

.demo-footer-title {
  color: color('white');
  display: inline-block;
}





.video-paragraph{
  max-width: $typography-text-max-width;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border: border(10);

  .youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/////////////////// component preview //////////////////////

div.component-preview {
  border: border(20);
  position: relative;
  margin-bottom: 8px;

  .component-link{
    border-bottom: border(30);
  }
  .component-code-link, .component-guidelines-link {
    border-top: border(30);
  }
}

.component-preview-code{
  figure.highlight{
    border: 0;
    background-color: color('gray-100');
  }
}

.preview-buttons {
  position: absolute;
  top: units(2);
  right: 0;
  display: none;
}

.button-copy-container {
  display: flex;
  justify-content: flex-end;
  background-color: color('gray-100');
  padding-top: units(4);
  padding-left: units(4);
  padding-right: units(4);
  
  @include media-breakpoint-up(sm) {
    padding-bottom: units(2);

    & + figure.highlight pre {
      padding-top: units(2);
    }
  }

  
}

.preview-iframe {
  border: none;
  display: block;
  margin-bottom: 0;
  max-width: 100%;
  width: 100%;
  height: 350px; //wil be overwritten by js
}

.component-preview-item {
  float: left;
  height: units(5);
}

.component-preview-button {
  background: color('gray-400');
  border: border(10);
  outline: none;
  height: units(5);
  width: units(5);
  padding: 1px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0;
  display: inline-block;
  text-align: center;
  min-height: inherit;

  .icon-color{
    fill: color('gray-500');
  }

  &:hover {
    background-color: color('gray-500');
    .icon-color{
      fill: color('white');
    }
  }

  &.is-active {
    background-color: color('gray-500');

    svg * {
      fill: color('white');
    }
  }
}


body.layout-requirements-tool{
  .header {
    .portal-info{
      background-color: transparent;
    }
  }
  #resultat {
    max-width: 100% !important;
  }
}

#start-reqtool .icon-svg {
  height: units(405);
  width: units(405);
}

//----- grid example
body[class*="page-grid"][class*="-html"]
, body.layout-example-contained[class*="page-grid"]
, div.component-preview[class*="-grid"]:not(.component-preview-grid-bordered)
, section.component-preview[class*="-grid"]:not(.component-preview-grid-bordered) {
  .row{
    margin-bottom: units(2);
    & > .col,
    & > [class^=col-] {
      margin-bottom: units(2);
      p {
        text-align: center;
        padding-top: units(4);
        padding-bottom: units(4);
        padding-left: units(2);
        padding-right: units(2);
        background-color: color('info-light');
        border: border(10);
        margin: units(0);
      }
      .grid-example-content{
        background-color: color('info-light');
        border: border(10);
        padding-top: units(4);
        padding-bottom: units(4);
        & > p{
          border: 0;
          background-color: transparent;
        }
        & > .row {
          margin-top: units(4);
        }
      }
    }
  }
  .grid-example-content{
    background-color: color('info-light');
    border: border(10);
    padding-top: units(4);
    padding-bottom: units(4);
    & > p{
      border: 0;
      background-color: transparent;
    }
    & > .row {
      margin-top: units(4);
    }
  }

  .grid-example-row-flex {
    min-height: 10rem;
    background-color: color('data-pink-violet-100');
  }
}

// Border radius examples
%-border-radius-example {
  background-color: color('gray-100');
  width: 96px;
  height: 48px;
  border-left: units(1) solid color('gray-400');
  border-top: units(1) solid color('gray-400');
}

.no-border-radius-example {
  @extend %-border-radius-example;
  border-top-left-radius: border-radius('none');
}

.small-border-radius-example {
  @extend %-border-radius-example;
  border-top-left-radius: border-radius('small');
}

.medium-border-radius-example {
  @extend %-border-radius-example;
  border-top-left-radius: border-radius('medium');
}

.round-border-radius-example {
  @extend %-border-radius-example;
  border-bottom: units(1) solid color('gray-400');
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

//BORDERS
.focus-border {
  border-top: $theme-focus-width $theme-focus-style color("focus");
}
.outer-border-example {
  border-top: border(10);
}
.outer-border{
  border: border(10);
}

.inner-border-example {
  border-top: border(20);
}
.inner-inner-border-example {
  border-top: border(30);
}

.form-error-border-example{
  border-top: $form-group-error-border-width solid color($form-group-error-border-color);
}
.details-border-example{
  border-top: $details-panel-border-width solid color($details-panel-border-color);
}
.sidenav-border-example{
  border-top: sidenav.$sidemenu-border-left-thickness solid color($sidenav-border-active-color);
}
.navigation-border-example{
  border-top: nav.$navigation-desktop-border-bottom-thickness solid color($navigation-link-current-border-color);
}

.screenshot-gallery .screenshot img {
  border: border(10);
}

// Shadow examples
$-example-box-padding: 16px;

%-shadow-example {
  background-color: color('gray-100');
  width: calc(100% - 32px);
  max-width: 300px;
  height: 120px;
  border: 1px solid color('gray-400');
  border-radius: border-radius('medium');
  display: flex;
  align-items: flex-end;
  padding: units(305);
  position: absolute;
  left: $-example-box-padding;
}

.component-preview-shadows {
  position: relative;
  height: 298px;

  .large-shadow-example {
    @extend %-shadow-example;
    box-shadow: shadow('heavy');
    top: $-example-box-padding;
    z-index: 2;
  }
  
  .small-shadow-example {
    @extend %-shadow-example;
    box-shadow: shadow('light');
    top: calc($-example-box-padding + 72px);
    z-index: 1;
  }
  
  .no-shadow-example {
    @extend %-shadow-example;
    top: calc($-example-box-padding + 72px * 2);
    z-index: 0;
  }

  @include media-breakpoint-up(sm) {
    .small-shadow-example {
      left: calc($-example-box-padding + 8%);
    }

    .no-shadow-example {
      left: calc($-example-box-padding + 16%);
    }
  }
}

/* HOME */

.bg-darkgrey{
  background-color: color('gray-200');
}

// All colors as background classes

@each $name, $bgcolor in $all-colors {
  .background-#{$name} {
    background-color: color($name);
  }
}

$extra-colors: (
    "borgerdk": (
        100: borger.$borger-primary,
        200: borger.$borger-primary-dark,
        300: borger.$borger-primary-darker
    ),
    "borgerdk-gray": (
        100: #f1f1f1
    ),
    "virk": (
        100: virk.$virk-primary,
        200: virk.$virk-primary-dark,
        300: virk.$virk-primary-darker
    )
);
@each $typeName, $typeColor in $extra-colors {
  @each $variantName, $variantColor in $typeColor {
    .background-#{$typeName}-#{$variantName} {
      @if $variantColor != false {
        background-color: $variantColor;
      }
    }
  }
}

.background-focus {
  background-color: color("focus");
}
.background-link {
  background-color: color("link");
}
.background-link-hover {
  background-color: color("link-hover");
}
.background-link-visited {
  background-color: color("link-visited");
}
.background-positive {
  background-color: color('text-positive');
}
.background-negative {
  background-color: color('text-negative');
}

/*
------------------------------------
Color scale
------------------------------------
*/

.color-scale {
  .color-text-label > span{
    display: inline-block;
  }
  .color-hex{
    display: block;
    width: 100%;
    margin-bottom: units(2);
    @include media-breakpoint-up(md) { 
      margin-bottom: units(2);
    }
  }

  .color{
    display: block;
    width: 100%;
    border: border(10);
    height: 64px;
    margin-bottom: units(3);
    
    @include media-breakpoint-up(md) { 
      height: 80px;
    }
  }
  .color-text-label{
    @include small-text();
  }
  @include media-breakpoint-up(md) { 
    &.no-gutters .col + .col{
      .color{
        border-left: 0;
      }
    }
  }
}

/*
----------------------
Design
----------------------
*/
.example-table-th{
  font-weight: font-weight($table-head-font-weight);
  font-size: font-size($table-font-size);
}

.nowrap {
  white-space: nowrap !important;
}

.checklist-heading {
  margin-top: 0;
  font-weight: font-weight('bold');
  font-size: font-size('sm');
}

body.page-tjekliste svg {
  flex-shrink: 0;
}