@use '../node_modules/dkfds/src/stylesheets/global' as *;

body.layout-test-example,
body.layout-mastertest {
  margin-top: units(6, 'rem');
  margin-bottom: units(9, 'rem');

  .mobile-drawer {
    margin-top: units(6, 'rem');
    margin-bottom: units(9, 'rem');
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: units(6, 'rem');

    .mobile-drawer {
      margin-bottom: units(6, 'rem');
    }
  }
}

.test-header {
  background-color: color('black');
  height: units(6, 'rem');
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  .function-link {
    color: color('white');
  }
}

.test-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: color('black');
  height: units(9, 'rem');
  z-index: 10000;

  @include media-breakpoint-up(sm) {
    height: units(6, 'rem');
  }

  .test-footer-content {
    color: color('white');
    padding: units(2);
    padding-left: units(4);

    .function-link {
      color: color('white');
    }
  }
}

.test-link {
  @include small-text();
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

