@use '../node_modules/dkfds/src/stylesheets/variables' as *;
@use '../node_modules/dkfds/src/stylesheets/values' as *;
@use '../node_modules/dkfds/src/stylesheets/functions' as *;
@use '../node_modules/dkfds/src/stylesheets/mixins' as *;

body.layout-test-example,
body.layout-mastertest {
  margin-top: units(6, 'rem');
  margin-bottom: units(9, 'rem');

  .mobile-drawer {
    margin-top: units(6, 'rem');
    margin-bottom: units(9, 'rem');
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: units(6, 'rem');

    .mobile-drawer {
      margin-bottom: units(6, 'rem');
    }
  }
}

.test-header {
  background-color: color('black');
  height: units(6, 'rem');
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9990;

  .function-link {
    color: color('white');
  }
}

.test-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: color('black');
  height: auto;
  z-index: 9990;

  .test-footer-content {
    color: color('white');
    padding: units(2);
    padding-left: units(4);

    .function-link {
      color: color('white');
    }
  }
}

.test-link {
  @include small-text();
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.test-search-field {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration { 
    display: unset !important; 
  }
}

dialog {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 24px auto;
  align-self: center;
  padding: 0;
  border: 0;
  border-radius: 8px;
  box-shadow: shadow('heavy');

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 8px;
    
    .modal-close {
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }

  .dialog-body {
    padding: 0px 40px;
  }

  &::backdrop {
    background-color: color($modal-overlay-background-color);
  }
}

