// Variables used by doc site styling
$borger-primary:              #44831E !default;
$borger-medium:               #3C5C22 !default;
$borger-dark:                 #233614 !default;
 
$virk-primary:                #0059B3 !default;
$virk-medium:                 #004993 !default;
$virk-dark:                   #003972 !default;
