@use '../node_modules/dkfds/src/stylesheets/dkfds' with (
    $font-path:         '/assets/fonts/IBMPlexSans/',
    $image-path:        '/assets/img/',
    $icons-folder-path: '/assets/svg/'
);
@use 'test-base';

body {
    opacity: 1 !important;
}
