@use '../node_modules/dkfds/src/stylesheets/variables/variables/paths' with (
    $font-path:         '/assets/fonts/IBMPlexSans/',
    $image-path:        '/assets/img/',
    $icons-folder-path: '/assets/svg/'
);

// Normalization file
@use '../node_modules/dkfds/src/stylesheets/core/base';

// Stylesheets needed for basic styling on test page
@use '../node_modules/dkfds/src/stylesheets/core/grid';
@use '../node_modules/dkfds/src/stylesheets/core/utilities/background';
@use '../node_modules/dkfds/src/stylesheets/core/utilities/width';
@use '../node_modules/dkfds/src/stylesheets/core/utilities/textalign';
@use '../node_modules/dkfds/src/stylesheets/core/utilities/flex';
@use '../node_modules/dkfds/src/stylesheets/core/utilities/spacing';
@use '../node_modules/dkfds/src/stylesheets/core/utilities/position';
@use '../node_modules/dkfds/src/stylesheets/core/utilities/display';
@use '../node_modules/dkfds/src/stylesheets/elements/icons';
@use '../node_modules/dkfds/src/stylesheets/components/function-link';
@use '../node_modules/dkfds/src/stylesheets/components/modal';
@use 'test-base';

body {
    opacity: 1 !important;
}
