{% from "components/tooltip/tooltip.njk" import tooltipnew as tooltipnew %}

<p>Her er der {{ tooltipnew({ "text": "Dette er et tooltip", "target": "<em class=\"tooltip-text tooltip-target\" tabindex=\"0\">ord med tooltip</em>", "id": "text-tooltip", "contentElement": "span", "trigger": "onhover" }) }} inde i en tekst</p>