{% from "components/form/controls/text-input.njk" import textinput as textinput %}

{{
    textinput({
        "id": "input-text",
        "name": "input-text",
        "label": "Inputfelt",
        "tooltip": "Dette er et tooltip"
    })
}}
