{% from "components/buttons/buttons.njk" import button as button %}

{{ 
    button({
        "variant": "unstyled",
        "srOnly": "Slet",
        "icon": "trash-can",
        "classes": { "icon": "mr-0 mt-0" },
        "tooltip": {
            "text": "Slet element"
        }
    }) 
}}