{% from "components/tooltip/tooltip.njk" import tooltip as tooltip %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{% set target = 
    icon_svg({ 
        "name": "file-pdf", 
        "ariaHidden": false, 
        "classes": "tooltip-target",
        "tabindex": true
    }) 
%}
{{ 
    tooltip({
        "text": "Fil i pdf-format",
        "target": target,
        "trueTooltip": true,
        "id": "tooltip-icon"
    }) 
}}