{% import "components/buttons/buttons.njk" as button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<button class="js-tooltip button-unstyled" data-tooltip="Slet element">
    {{ icon_svg('trash-can')}}<span class="sr-only">Slet</span>
</button>
