{% import "components/buttons/buttons.njk" as button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<div class="container py-8">
    <!-- Placering: top -->
    <button class="button button-primary js-tooltip" data-tooltip-position="top" data-tooltip="Top tooltip">Top</button>

    <!-- Placering: bund -->
    <button class="button button-primary js-tooltip" data-tooltip-position="bottom" data-tooltip="Bund tooltip">Bund</button>
</div>
