{% from "components/tooltip/tooltip.njk" import tooltip_helpicon as tooltip_helpicon %}

<p>Den her tekst har et tooltip, der er placeret over hjælpeikonet {{ tooltip_helpicon({ "text": "Dette er et tooltip", "position": "above", "contentElement": "span" }) }}</p>

<p>Her er tooltip placeret under hjælpeikonet {{ tooltip_helpicon({ "text": "Dette er et tooltip", "position": "below", "contentElement": "span" }) }}</p>
