{% import "components/buttons/buttons.njk" as button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<a href="javascript:void(0)" class="js-tooltip" data-tooltip="Dette er en hjælpetekst i en popover">
    {{ icon_svg('help-circle')}}
</a>
