{% from "components/tooltip/tooltip.njk" import tooltip as tooltip %}

<p>Her er der <a href="javascript:void(0)" class="tooltip-link" {{ tooltip({ "text": "Dette er et tooltip", "showOnClick": true }) }}>ord med tooltip</a> inde i en tekst</p>
