<footer class="d-print-none">
    <div class="footer">
        <div class="container">
            <div class="align-text-left">
                <ul class="unstyled-list inline-list">
                    <li><span class="h5 weight-semibold">Digitaliseringsstyrelsen</span></li>
                    <li><a href="/omdesignsystemet/privatlivspolitik-cookies/" class="function-link">Privatlivspolitik og cookies</a></li>
                    <li><a href="https://www.was.digst.dk/designsystem-dk" class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal" id="modal-contact" aria-hidden="true">
    <div class="modal__overlay bg-modal" tabindex="-1"
         data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true"
             aria-labelledby="modal-title-2">
            <div class="modal__header">
                <h1 class="modal__title h2" id="modal-title-2">
                    Kontakt
                </h1>
            </div>
            <div class="modal__content">
                <p>Du er meget velkommen til at kontakte os, hvis du har forslag eller spørgsmål til den fællesoffentlige digitale arkitektur eller hjemmesiden.</p>
                <p>Du kan kontakte sekretariatet og redaktionen ved at skrive til <a href="mailto:arkitektur@digst.dk" class="function-link"><svg class="icon-svg "  focusable="false" aria-hidden="true" ><use xlink:href="#email"></use></svg>arkitektur@digst.dk</a>.</p>
            </div>

            <button class="modal__close button button-secondary" data-micromodal-close>Luk</button>
        </div>
    </div>
</div>
