<footer class="d-print-none">
    {% include back-to-top.html %}
    <div class="footer">
        <div class="container">
            <div class="align-text-left">
                <ul class="unstyled-list inline-list">
                    <li><strong class="weight-semibold">Digitaliseringsstyrelsen & Erhvervsstyrelsen</strong></li>
                    <li><a href="mailto:FDS@erst.dk" class="function-link" title="Send en e-mail til Det Fælles Designsystem"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#email"></use></svg>FDS@erst.dk</a></li>
                    <li>{% include links/internal-link.html linktext="Privatlivspolitik og cookies" functionlink=true %}</li>
                    <li>{% include links/external-link.html linktext="Tilgængelighedserklæring" functionlink=true %}</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="fds-modal-container">
    <div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="modal-contact-title">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-contact-title">Kontakt</h2>
                <button class="modal-close function-link" data-modal-close>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk
                </button>
            </div>
            <div class="modal-body">
                <p>Du er meget velkommen til at kontakte os, hvis du har forslag eller spørgsmål til den fællesoffentlige digitale arkitektur eller hjemmesiden.</p>
                <p>Du kan kontakte sekretariatet og redaktionen ved at skrive til <a href="mailto:arkitektur@digst.dk" class="function-link"><svg class="icon-svg "  focusable="false" aria-hidden="true" ><use xlink:href="#email"></use></svg>arkitektur@digst.dk</a>.</p>
            </div>
            <div class="modal-footer">
                <button class="button button-secondary" data-modal-close>Luk</button>
            </div>
        </div>
    </div>
</div>

