<header class="header d-print-none">
    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>
    <div class="portal-info">
        <div class="portal-info-inner container">
            <a class="fds-title" href="/" title="Gå til forsiden for Det Fælles Designsystem">Det Fælles Designsystem</a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none" aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>
        </div>
    </div>
    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading d-flex align-items-center">
                <strong>Fælles krav-værktøj</strong>
            </div>
            <div class="additional-info">
                <p><strong class="authority-name">Digitaliseringsstyrelsen</strong></p>
                <p class="d-print-none"><button type="button" data-module="modal" data-target="modal-contact" class="function-link"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</button></p>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="solution-info-mobile">
            <h3 class="sr-only">Myndighed</h3>
            <p class="mb-2"><strong class="authority-name">Digitaliseringsstyrelsen</strong></p>
            <p class="d-print-none"><button type="button" data-module="modal" data-target="modal-contact" class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</button></p>
        </div>
    </div>
</header>