{% from "components/form/controls/select.njk" import select as select %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Dropdown med lang tekst</p>
            {{ 
                select({
                    "name": "options-name",
                    "id": "options-id",
                    "label": "Dropdown menu med lange tekst valg muligheder",
                    "options": [
                        { "value": "option1", "text": "Mulighed med en meget lang tekst næsten urealistisk lang" },
                        { "value": "option2", "text": "Mulighed normal", "isSelected": true },
                        { "value": "option3", "text": "Mulighed med medium lang tekst" }
                    ]
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Dropdown med endnu længere tekst</p>
            {{ 
                select({
                    "name": "options-name",
                    "id": "options-id",
                    "label": "Dropdown menu med endnu længeere tekst",
                    "options": [
                        { "value": "option1", "text": "Mulighed med den længste tekst der længe er set, den er i hvert fald meget lang, næsten urealistisk lang, og ift. til den første dropdown er den her i hvert fald længere. Kan den komme på 2 linjer?" },
                        { "value": "option2", "text": "Mulighed normal", "isSelected": true },
                        { "value": "option3", "text": "Mulighed unormal" }
                    ]
                }) 
            }}
        </div>
    </div>
</main>