{% from "components/form/controls/select.njk" import select as select %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-dropdown-5</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Standard</p>
            {{ 
                select({
                    "name": "options-name",
                    "id": "options-id",
                    "label": "Dropdown label",
                    "required": false,
                    "options": [
                        { "value": "option1", "text": "Mulighed 1" },
                        { "value": "option2", "text": "Mulighed 2" },
                        { "value": "option3", "text": "Mulighed 3" }
                    ]
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Påkrævet</p>
            {{ 
                select({
                    "name": "options-name1",
                    "id": "options-id1",
                    "label": "Dropdown label",
                    "requiredLabel": true,
                    "options": [
                        { "value": "option1", "text": "Mulighed 1" },
                        { "value": "option2", "text": "Mulighed 2" },
                        { "value": "option3", "text": "Mulighed 3" }
                    ]
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Ikke påkrævet</p>
            {{ 
                select({
                    "name": "options-name2",
                    "id": "options-id2",
                    "label": "Dropdown label",
                    "optionalLabel": true,
                    "options": [
                        { "value": "option1", "text": "Mulighed 1" },
                        { "value": "option2", "text": "Mulighed 2" },
                        { "value": "option3", "text": "Mulighed 3" }
                    ]
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Disabled</p>
            {{ 
                select({
                    "name": "options-name3",
                    "id": "options-id3",
                    "label": "Dropdown label",
                    "disabled": true,
                    "options": [
                        { "value": "option1", "text": "Mulighed 1" },
                        { "value": "option2", "text": "Mulighed 2" },
                        { "value": "option3", "text": "Mulighed 3" }
                    ]
                }) 
            }}
        </div>
    </div>
</main>