{% from "components/form/controls/select.njk" import select as select %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-dropdown-4</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Disabled og frivillig-label (Bemærk: Tjek at resultatet ikke har en required-attribut.)</p>
            {{ 
                select({
                    "name": "options-name",
                    "id": "options-id",
                    "label": "Dropdown label",
                    "disabled": true,
                    "optionalLabel": true,
                    "options": [
                        { "value": "option1", "text": "Mulighed 1" },
                        { "value": "option2", "text": "Mulighed 2" },
                        { "value": "option3", "text": "Mulighed 3" }
                    ]
                }) 
            }}
        </div>
    </div>
</main>