{% from "components/header/header.njk" import navigation_menu as navigation_menu %}

{% set navigation_menu_data = {
    "search": {
        "id": "header-search",
        "name": "header-search"
    },
    "links": [
        { "text": "Første menupunkt" },
        { "text": "Andet menupunkt", "active": true,
          "links": [
              { "text": "Endnu en undermenu" },
              { "text": "Endnu en undermenu", "current": true },
              { "text": "Endnu en undermenu" }
          ]
        },
        { "text": "Tredje menupunkt" }
    ]
} %}

{{ navigation_menu(navigation_menu_data) }}
