<header class="header">
    <!-- ID til Tilbage til toppen-knap og Skip-link -->
    <div class="portal-header">...</div>
    <div class="solution-header">...</div>
    <div class="overlay"></div>
    <div class="navigation-header">
        <div class="navigation-header-inner container">
            <div class="menu-top">...</div>
            <nav>...</nav>
            <div class="solution-info-mobile">...</div>
            <div class="portal-header-mobile">...</div>
        </div>
    </div>
</header>