{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}
{% from "components/header/menu-buttons.njk" import menu_close_button as menu_close_button %}

<div class="overlay"></div>
<nav class="nav">
    {{ menu_close_button() }}
    <div class="navbar navbar-primary">
        <div class="navbar-inner container">
            <ul class="nav-primary">
                <li>
                    <a href="#" class="nav-link">
                        <span>Første menupunkt</span>
                    </a>
                </li>
                <li class="current active">
                    <a href="#" class="nav-link" aria-current="page">
                        <span>Andet menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Fjerde menupunkt</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar">
        <div class="navbar-inner container navbar-context-actions">
            <div class="nav-actions">
                <a href="#" class="function-link">{{icon_svg({"name": "print"})}}Funktionsikon</a>
            </div>
        </div>
    </div>

    {{ 
        mobile_portal_header({
            "compact": true,
            "user": {
                "name": "Anders Andersen, Forsikringens Forsikringsfirma"
            }
        }) 
    }}
    {{ 
        mobile_solution_header({
            "authority": {
                "name": "Myndighedsnavn",
                "text": 'Support: 12 34 56 78 <span class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span class="d-none d-lg-inline-block mr-2">· </span><a href="#" class="icon-link function-link">Kontakt' + icon_svg({"name": "open-in-new"}) + '</a></span>'
            }
        }) 
    }}

</nav>