<div class="solution-header">
    <div class="container solution-header-inner">
      <div class="solution-heading">
        <a href="#" class="alert-leave2">En længere løsningstitel</a>
      </div>
      
      <div class="solution-info">
          <p class="h5 authority-name">Myndighedsnavn</p>
          <p>Support: 12 34 56 78 <span class="d-print-none">· <a href="#" class="icon-link function-link alert-leave">Kontakt<svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#open-in-new"></use></svg></a></span></p>
      </div>
    </div>
</div>