{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/menu-buttons.njk" import menu_close_button as menu_close_button %}

{% from "components/header/header.njk" import portal_header as portal_header %}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{% from "components/header/header.njk" import solution_header as solution_header %}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}

<header class="header">
    {{ skiplink() }}
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}
    <div class="overlay"></div>
    <nav class="nav">
        {{ menu_close_button() }}
        {{ mobile_portal_header(portal_header_data) }}
        {{ mobile_solution_header(solution_header_data) }}
    </nav>
</header>
