{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<div class="overlay"></div>
<nav class="nav">
  <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

  <div class="portal-info-mobile">
    <p class="user bold">Lone Hansen</p>
    <a href="#" class="button button-secondary button-signout">
      Log af
    </a>
  </div>

  <div class="solution-info-mobile">
    <p class="bold">Myndighedsnavn</p>
    <p>Support: 12 34 56 78</p>
  </div>
</nav>