{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}
{% from "components/header/menu-buttons.njk" import menu_close_button as menu_close_button %}

{% set portal_header_data = {
    "user": {
        "name": "Anders Andersen",
        "info": "Forsikringens Forsikringsfirma"
    },
    "logolink": {
        "label": "Portalnavn",
        "title": "Gå til Portalnavns forside",
        "href": "#"
    }
} %}

{% set solution_header_data = {
    "lastHeader": false,
    "hideOnPrint": false,
    "title": {
        "href": "#",
        "text": "En langt langt længere løsningstitel"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": 'Support: 12 34 56 78 <span class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span class="d-none d-lg-inline-block mr-2">· </span><a href="#" class="icon-link function-link">Kontakt' + icon_svg({"name": "open-in-new"}) + '</a></span>'
    }
} %}

<div class="overlay"></div>
<div class="navigation-header-mobile">
    <div class="navigation-header-inner container">
        {{ menu_close_button() }}
        {{ mobile_portal_header(portal_header_data) }}
        {{ mobile_solution_header(solution_header_data) }}    
    </div>
</div>