{% from "components/header/header.njk" import solution_header as solution_header %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{{ 
    solution_header({
        "lastHeader": false,
        "hideOnPrint": false,
        "title": {
            "href": "#",
            "text": "En længere løsningstitel"
        },
        "authority": {
            "name": "Myndighedsnavn",
            "text": 'Support: 12 34 56 78 <span class="d-print-none">· <a href="#" class="icon-link function-link">Kontakt' + icon_svg({"name": "open-in-new"}) + '</a></span>'
        }
    }) 
}}
