<div class="portal-header portal-header-compact">
  <div class="container portal-header-inner">
    <a href="#" aria-label="Portalnavn" class="logo"><span class="d-none d-print-block">Portalnavn</span></a>
    <button class="function-link button-menu-open js-menu-open ml-auto d-print-none" aria-haspopup="menu" title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

    <div class="portal-info">
      <p class="user">Christian Emil Vestergaard Christiansen, Forsikringens Forsikringsfirma</p>
      <button class="button button-secondary alert-leave d-print-none">
        Log af
      </button>
    </div>
  </div>
</div>