{% from "components/header/header.njk" import portal_header as portal_header %}

{% set portal_header_data = {
    "user": {
        "name": "Anders Andersen",
        "info": "Forsikringens Forsikringsfirma"
    },
    "logolink": {
        "label": "Portalnavn",
        "title": "Gå til Portalnavns forside",
        "href": "#"
    }
} %}

{{ portal_header(portal_header_data) }}