{% from "components/header/header.njk" import solution_header as solution_header %}

<header class="header">
    {{ 
        solution_header({
            "hideOnPrint": false,
            "title": {
                "href": "#",
                "text": "En langt langt længere løsningstitel"
            }
        }) 
    }}
</header>
