<header class="header">
  <a class="skipnav" href="#main-content">Gå til sidens indhold</a>
    <div class="solution-header">
        <div class="container solution-header-inner">
            <!-- Start: Løsningstitel -->
            <div class="solution-heading">
                <a href="#">En langt langt længere løsningstitel</a>
            </div>
        </div>
    </div>
</header>
