{% from "components/alerts/alerts.njk" import alert as alert %}

{{ 
    alert({
        "variant": "info",
        "headingLevel": "h3",
        "heading": "Informativ besked - med ikon",
        "content": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.",
        "icon": true
    }) 
}}
{{ 
    alert({
        "variant": "success",
        "headingLevel": "h3",
        "heading": "Succesmeddelelse - med ikon",
        "content": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.",
        "icon": true
    }) 
}}
{{ 
    alert({
        "variant": "warning",
        "headingLevel": "h3",
        "heading": "Advarsel - med ikon",
        "content": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.",
        "icon": true
    }) 
}}
{{ 
    alert({
        "variant": "error",
        "headingLevel": "h3",
        "heading": "Fejlbesked - med ikon",
        "content": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.",
        "icon": true
    }) 
}}