{% from "components/alerts/alerts.njk" import alert as alert %}

{{ 
    alert({
        "variant": "info",
        "headingLevel": "h3",
        "heading": "Besked med luk",
        "content": "Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.",
        "closeButton": true
    }) 
}}
