{% from "components/alerts/alerts.njk" import alert as alert %}

{{ alert(alert_example.classes, alert_example.role, alert_example.title, alert_example.content, alert_example.aria, alert_example.close ) }}
