{% from "components/alerts/alerts.njk" import alert as alert %}

{{ 
    alert({
        "variant": "error",
        "headingLevel": "h3",
        "heading": "Fejl",
        "content": "Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet."
    }) 
}}