{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/buttons/buttons.njk" import button as button %}

{% set modal_content = "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales turpis nec tincidunt dictum. Aliquam hendrerit nunc nec arcu lobortis fringilla. Sed nulla lectus, mollis eget rhoncus sed, porta eu ipsum.</p><p>Cras eleifend elementum finibus. Mauris ac magna quis orci dapibus suscipit. Vestibulum accumsan turpis diam, ut pretium quam sollicitudin sed. Pellentesque posuere eget tortor quis imperdiet. Pellentesque gravida, enim vel porttitor sagittis, libero neque efficitur justo, nec gravida orci risus consequat lacus.</p>" %}

{% set modal_actions = 
    button({
        "variant": "primary",
        "text": "Primær knap",
        "id": "button-modal-example-yes"
    })
    +
    button({
        "variant": "secondary",
        "text": "Sekundær knap",
        "id": "button-modal-example-no"
    })
%}

{{
    modal({
        "id": "modal-example-locked",
        "heading": "Lorem ipsum",
        "content": modal_content,
        "forcedAction": true,
        "actions": modal_actions
    })
}}

{{ 
    button({
        "text": "Åbn modal",
        "variant": "tertiary",
        "attributes": "data-module=\"modal\" data-target=\"modal-example-locked\" aria-haspopup=\"dialog\""
    }) 
}}