<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (do)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Accordions-ikoner-do.svg" alt="Eksempel på korrekt placering af ikoner i en accordion (placeret i venstre side)" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Brug plus-ikoner til at indikere, at accordions (akkordeonbjælker) kan åbnes. Brug minus-ikoner til at indikere, at accordions er åbne og kan lukkes. En undersøgelse viser, at brugerne klikker mere på plus-ikoner end på pileikoner (Thomas, 2006).</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (don't)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Accordions-ikoner-dont.svg" alt="Eksempel på ukorrekt placering af ikoner i en accordion (placeret i højre side)" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå at bruge pile som ikoner i accordions (akkordeonbjælker). De er mindre entydige end plusser og kan få nogle brugere til at tro, at den enkelte accordion er et link til en ny side. Undgå at placere ikoner til højre, hvor de er svære at få øje på. Mange brugere tror, at de skal klikke på ikonet for at åbne en accordion (Thomas, 2006).</p>
    </div>
</div>
