<div class="do-dont-container row" aria-label="Eksempel på luk/åbn alle accordions">
    <div class="col-12 col-md-6">
        <h3 class="h4">Sådan (do)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Akkordeoner-do-2.svg" alt="Eksempel på luk/åbn alle funktion" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Gør det muligt at åbne alle accordions (akkordeonbjælker) på én gang. For brugere, der ønsker at orientere sig på hele siden eller læse alt indholdet, er det en urimelig interaktionsomkostning at skulle åbne alle accordions på en side én efter én (Loranger, 2014).</p>
    </div>
    <div class="col-12 col-md-6">
        <h3 class="h4">Ikke sådan (don't)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Akkordeoner-dont-2.svg" alt="Eksempel, hvor luk/åben alle funktionen mangler" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Lad være med at fratage brugerne muligheden for at åbne alle accordions (akkordeonbjælker) på en gang og have mere end én accordion åben på samme tid. Accordions, der åbnes eller lukkes, skal forblive i denne tilstand, indtil brugeren ændrer tilstanden (Loranger, 2014).</p>
    </div>
</div>
