<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3 class="h4">Sådan (do)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Beskeder-indhold-do.svg" alt="Eksempel på, hvordan en successbesked kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Giv brugerne besked, når noget er lykkedes (Wroblewski, 2008, s. 133). Succesmeddelelser er bekræftelser på, at systemet har modtaget en brugers input. De kan vises, når et felt er udfyldt korrekt, når et trin i en proces er gennemført eller som afslutning på formularen. Giv brugerne mulighed for at bekræfte eller ændre det indtastede, når det er relevant (Lior, 2013, s. 151).</p>
    </div>
    <div class="col-12 col-md-6">
        <h3 class="h4">Ikke sådan (don't)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Beskeder-indhold-dont.svg" alt="Eksempel på, hvordan en successbesked ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå succesmeddelelser, der er så korte, at de efterlader brugerne usikre på, hvad der er sket, hvad der er indsendt, og hvad der sker næst. Undgå blindgyder ved at foreslå passende næste handlinger på kvitteringssider (Wroblewski 2008, s. 95 og 136). Undgå at vise succesmeddelelser i modale vinduer (Silver, 2018, s. 256-257).</p>
    </div>
</div>
