<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (do)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Cookiemeddelelse-funktion-do.svg" alt="Eksempel på, hvordan en cookiemeddelelse bør anvendes" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Vis cookiemeddelelse, hvor den er synlig uden at ødelægge brugernes mulighed for at danne sig et første indtryk af webstedet.</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (don't)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Cookiemeddelelse-funktion-dont.svg" alt="Eksempel på, hvordan en cookiemeddelelse ikke bør anvendes" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Vis ikke cookiemeddelelse i et modalvindue. Det gør det umuligt for brugerne at se siden, før de har accepteret cookies (Friedman, 2019). Det distraherer brugerne fra det, de kom for, og kan sågar få dem til at glemme, hvad de var i gang med (Fessenden, 2017).</p>
    </div>
</div>
<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (do)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Cookiemeddelelse-indhold-do.svg" alt="Eksempel på, hvor en cookiemeddelelse bør placeres" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Hvis det er vigtigt for websitet, at brugerne tager stilling til cookiemeddelelsen, er det nødvendigt at gøre det tydeligt, at de skal træffe et valg. Det kan gøres ved at vise meddelelsen på en prominent plads på siden, og at lade den følge med, når der scrolles. Overvej at tilbyde brugerne flere valgfrie cookie-indstillinger, så de fx kan sige ja eller nej til cookies til brug for statistik, personalisering og komfort.</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (don't)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Cookiemeddelelse-indhold-dont.svg" alt="Eksempel på, hvor en cookiemeddelelse ikke bør placeres" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå at give cookiemeddelelsen en diskret placering i sidens periferi, hvis det er vigtigt, at de tager stilling til den. Brugernes blik er primært fokuseret midt på websider.</p>
    </div>
</div>
