<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3 class="h4">Sådan (do)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Datoangivelse-do.svg" alt="Eksempel på, hvordan datoangivelse kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Vis som udgangspunkt indtastningsfelter til datoer som 3 separate felter til dag, måned og år (Silver, 2018, s. 155-158). Brug de formular-elementer, der er mest effektive for brugerne. At indtaste en dato, en måned og et år i simple felter er i mange tilfælde hurtigere end at vælge datoerne via en datovælger (Babich, 2019; Enders, 2016, s. 107-109).</p>
    </div>
    <div class="col-12 col-md-6">
        <h3 class="h4">Ikke sådan (don't)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Datoangivelse-dont.svg" alt="Eksempel på, hvordan datoangivelse ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå avancerede datovælgere, når brugerne kun skal angive en enkelt dato og ikke et datointerval, og når datoen ligger mere end et år fra dags dato (Li, 2017). I sådanne tilfælde kan en datovælger medføre, at brugerne skal klikke urimeligt mange gange (Enders, 2016, s. 106).</p>
    </div>
</div>
