<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (<span lang="en">do</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Datofelter-funktion-do.svg" alt="Eksempel på, hvordan datoangivelse kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Vis som udgangspunkt indtastningsfelter til datoer som 3 separate felter til dag, måned og år (Silver, 2018, s. 155-158). Brug de formular-elementer, der er mest effektive for brugerne. At indtaste en dato, en måned og et år i simple felter er i mange tilfælde hurtigere end at vælge datoerne via en datovælger (Babich, 2019; Enders, 2016, s. 107-109).</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (<span lang="en">don't</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Datofelter-funktion-dont.svg" alt="Eksempel på, hvordan datoangivelse ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Brug ikke opdelte indtastningsfelter til angivelse af datoer, når der er specifikt udvalgte datoer at vælge i mellem, samt når ugedage kan have betydning for brugerens valg. Anvend her i stedet {% include links/component-guideline-link.html linktext="datovælger" %}.</p>
    </div>
</div>
