<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h5>Sådan (do)</h5>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Radioknap-udvid-do.svg" alt="Eksempel på, hvordan en skjul og vis kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Brug skjul og vis-funktionen i tilfælde, hvor brugerne skal vælge mellem at udfylde alternative felter, fx forskellige slags kontaktoplysninger.</p>
    </div>
    <div class="col-12 col-md-6">
        <h5>Ikke sådan (don't)</h5>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Radioknap-udvid-dont.svg" alt="Eksempel på, hvordan en skjul og vis ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Brug ikke skjul og vis-funktionen, når det er obligatorisk at udfylde flere felter i gruppen. Det giver brugerne en ekstra interaktionsomkostning (Budiu, 2013) at skulle åbne de forskellige felter.</p>
    </div>
</div>
