<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3 class="h4">Sådan (do)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Fejlmeddelelser-do.svg" alt="Eksempel på, hvordan en fejlmeddelelse kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle-outline"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Indsæt fejlmeddelelser over det felt, hvor fejlen skal rettes, samt øverst på siden. Brug farven rød til både fejlmeddelelser og til at markere, hvor fejlen er (Wroblewski, 2008, s. 119-132). Farven rød signalerer i computersystemer "alarm", "fare", "problem", "fejl" osv. (Johnson, 2010, s. 72) og er den farve, det menneskelige øje ser bedst (Johnson, 2010, s. 54).</p>
    </div>
    <div class="col-12 col-md-6">
        <h3 class="h4">Ikke sådan (don't)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Fejlmeddelelser-dont.svg" alt="Eksempel på, hvordan en fejlmeddelelse ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close-circle"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå, at fejlmeddelelsen kun optræder ét sted på siden. Nogle brugere vil ikke få øje på den. Undgå også, at fejlen kun vises på én måde – fx med farve (Wroblewski, 2008, s. 119-133). Undgå så vidt muligt at bruge den røde farve til andet end fejlmeddelelser (Johnson, 2010, s. 57).</p>
    </div>
</div>
