<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (<span lang="en">do</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/faneblade/Faneblade-anvendelse-do.svg" alt="Eksempel på, hvordan faneblade bør anvendes" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#success"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Brug kun faneblade til kort, koncist, ordknapt indhold som lister, data og andre typer af oversigter (Gube, 2009). Kategorierne, som fanebladene repræsenterer, skal have en stærk parallelitet og have et ensartet abstraktionsniveau (Nielsen, 2016) – altså forskellige aspekter af samme emne.</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (<span lang="en">don't</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/faneblade/Faneblade-anvendelse-dont.svg" alt="Eksempel på, hvordan faneblade ikke bør anvendes" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå at bruge faneblade til at navigere mellem trin i en løsning. Faneblade er til parallelt, ikke sekventielt indhold (Nielsen, 2016).</p>
    </div>
</div>
<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (<span lang="en">do</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/faneblade/Faneblade-lukning-do.svg" alt="Eksempel på, hvordan faneblade skal fungere" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#success"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Der er altid et faneblad aktivt.</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (<span lang="en">don't</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/faneblade/Faneblade-lukning-dont.svg" alt="Eksempel på, hvordan faneblade ikke skal fungere" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Man kan ikke lukke et faneblad.</p>
    </div>
</div>
