<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3 class="h4">Sådan (do)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Vedhaeft-fil-do.svg" alt="Eksempel på, hvordan vedhæftning af filer kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle-outline"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Reducér antallet af handlingstrin ved filoverførsel så meget som muligt. Det er en kompliceret opgave, som vil være svær for en del computerbrugere. Mange har svært ved at håndtere opgaver, der omfatter mange handlingstrin og flere brugergrænseflader (OECD, 2016; Nielsen, 2016).</p>
    </div>
    <div class="col-12 col-md-6">
        <h3 class="h4">Ikke sådan (don't)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Vedhaeft-fil-dont.svg" alt="Eksempel på, hvordan vedhæftning af filer ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close-circle"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå unødvendige knapper og dermed handlingstrin. Hvis der både er en "Gennemse"-knap og en "Vedhæft"-knap, vil nogle brugere ikke vide, hvad de skal gøre og måske begå fejl.</p>
    </div>
</div>
