<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3 class="h4">Sådan (do)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Footers-do.svg" alt="Eksempel på, hvordan footers kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Brug <em>footers</em> til indhold, som brugerne forventer at finde dér. Det er fx kontaktoplysninger, webstedets privatlivspolitik og links til sociale medier (Fessenden, 2019). Footeren kan også med fordel anvendes til et mini-sitemap (Esser, 2018).</p>
    </div>
    <div class="col-12 col-md-6">
        <h3 class="h4">Ikke sådan (don't)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/components/Footers-dont.svg" alt="Eksempel på, hvordan footers ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Brug ikke <em>footers</em> til indhold, som brugerne ikke vil lede efter dér. Brugerne vil fx nok ikke opdage nyheder eller hjælpetekster, hvis de er placeret helt i bunden af en webside.</p>
    </div>
</div>
