<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3>Sådan (<span lang="en">do</span>)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Formular-trinopdeling-do-borgerdk.svg" alt="Eksempel på, hvordan formular-struktur kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#success"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Opdel komplicerede formularer i små bidder, og placér hvert element på en side for sig (Silver, 2018, s. 68-73). Princippet hedder '<em>One thing per page</em>' (én ting pr. side) og har vist sig at fungere godt på mobile enheder og være bedre i forbindelse med fx fejlhåndtering (Paul, 2015). Konceptet er også fordelagtigt for ældre brugere med nedsatte kognitive evner (Johnson & Finn, 2017, s. 99) og nye computerbrugere (Long, 2017).</p>
    </div>
    <div class="col-12 col-md-6">
        <h3>Ikke sådan (<span lang="en">don't</span>)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Formular-trinopdeling-dont-borgerdk.svg" alt="Eksempel på, hvordan formular-struktur ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Del ikke tæt relaterede felter op på flere sider (Silver, 2018, s. 71). Felter for postnummer og by bør fx stå på samme side (Jarret & Gaffney, 2010, s. 102). Det samme gælder felter til fornavn og efternavn samt datoer og tidspunkter (Wroblewski, 2008, s. 84).</p>
    </div>
</div>
