<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3>Sådan (<span lang="en">do</span>)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Formular-overskrift-do-borgerdk.svg" alt="Eksempel på, hvordan headers kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#success"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Giv formularen en overskrift, der gør det klart, hvad den gør (Wroblewski, 2008, s. 40). Giv overskrifter prominens (fx vha. størrelse eller farve) i formularens visuelle hierarki (Wroblewski, 2003). Brug verber i stedet for navneord i overskriften (Downe, 2015), fx ”Skriv dit barn op til pasning”.</p>
    </div>
    <div class="col-12 col-md-6">
        <h3>Ikke sådan (<span lang="en">don't</span>)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Formular-overskrift-dont-borgerdk.svg" alt="Eksempel på, hvordan headers ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå at formulere titler som navneord. Især navneord, der taler om systemet (fx ”Digital pladsanvisning”) frem for brugernes ærinder. Brugerne er muligvis ikke bekendte med de navne, som myndighederne har givet selvbetjeningsløsningerne for at kunne identificere dem (Downe, 2015). </p>
    </div>
</div>
<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h3>Sådan (<span lang="en">do</span>)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Formular-formaal-do-borgerdk.svg" alt="Eksempel på, hvordan headers kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#success"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Lad formålet med den enkelte side fremgå af overskriften under løsningstitlen, når formularen har flere sider (Lior, 2013, s. 205). </p>
    </div>
    <div class="col-12 col-md-6">
        <h3>Ikke sådan (<span lang="en">don't</span>)</h3>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Formular-formaal-dont-borgerdk.svg" alt="Eksempel på, hvordan headers ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Risikér ikke, at brugerne mister fornemmelsen af, hvilken formular de er ved at udfylde eller hvad de er ved at udfylde på den pågældende side, hvis formularen har flere sider.</p>
    </div>
</div>
