<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (<span lang="en">do</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Tabel-anvendelse-do.svg" alt="Eksempel på, hvordan en tabel kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Brug tabeller, når læserne har brug for at finde specifikke oplysninger eller sammenligne dem ud fra flere parametre (Rost, 2019).</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (<span lang="en">don't</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Tabel-anvendelse-dont.svg" alt="Eksempel på, hvordan en tabel ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Brug ikke tabeller, hvis der kun er ét parameter; brug i sådanne tilfælde en liste i stedet. Brug heller ikke tabeller, hvis den vigtigste pointe er at vise et mønster, fx en udvikling; brug i sådanne tilfælde grafer i stedet (Rost, 2019).</p>
    </div>
</div>
