<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (do)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Inputfelter-laengde-do.svg" alt="Eksempel på, hvordan inputfeltbredde kan se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Afstem længden af feltet til det, der skal indtastes (Jarrett, 2000). Når et design er intuitivt, signalerer de forskellige elementer, hvordan de skal bruges (Norman, 2013). Et felt til e-mailadresser bør derfor være længere end et felt til telefonnumre. Et felt til postnumre bør være kortere end andre felter (Silver, 2018, s. 81).</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (don't)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/Inputfelter-laengde-dont.svg" alt="Eksempel på, hvordan inputfeltbredde ikke bør se ud" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå felter, der er så korte, at brugernes indtastninger ikke kan ses. Det virker, som at afbryde én, der taler. Undgå også felter, der er meget længere end det input, der forventes. For meget plads kan få brugeren til at tro, at han har misforstået spørgsmålet (Jarrett, 2000; Silver, 2018, s. 82).</p>
    </div>
</div>
