<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (do)</h4>
        <div><img src="{{ site.baseurl }}/assets/img/do-dont/Tooltip-info-do.png" alt="Eksempel på, hvilken information man kan sætte som tooltip" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Brug tooltips til ekstra information, som kun få brugere vil behøve for at udføre opgaven og forstå sidens indhold (Joyce, 2019).</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (don't)</h4>
        <div><img src="{{ site.baseurl }}/assets/img/do-dont/Tooltip-info-dont.png" alt="Eksempel på, hvilken information man ikke skal sætte som tooltip" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Brug ikke tooltips som erstatning for hjælpetekster eller for at spare plads. Tooltips anvendes ikke til vigtige informationer eller hjælp, som de fleste brugere har brug for, eller som ikke er umiddelbart intuitive, fx ved særlige krav til formatering (Joyce, 2019).</p>
    </div>
</div>
<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Sådan (do)</h4>
        <div><img src="{{ site.baseurl }}/assets/img/do-dont/Tooltip-laengde-do.png" alt="Eksempel på tooltip med passende mængde tekst" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg><div></div></div>
        <p><strong>Sådan:</strong> Hold tooltipteksten så kort og præcis som muligt (Joyce, 2019).</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (don't)</h4>
        <div><img src="{{ site.baseurl }}/assets/img/do-dont/Tooltip-laengde-dont.png" alt="Eksempel på tooltip, der indeholder for meget tekst" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Placér ikke lange tekster inde i tooltips, da de er beregnet til korte præciseringer (Joyce, 2019). Hvis der er brug for en længere tekst, så anvend fx brødtekst, hjælpetekst eller detaljekomponenten i stedet. Vær opmærksom på, at lange tooltiptekster kan lede til tilgængelighedsproblemer på små skærme, hvis der ikke er plads til hele teksten på skærmen.</p>
    </div>
</div>
