<div class="row do-dont-container">
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (<span lang="en">don't</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/trinindikator/Trinindikator-venstremenu-dont.svg" alt="Eksempel på en trinindikator der er anvendt sammen med en venstremenu" /></div>
        <div class="separator incorrect"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Venstremenu og trinindikator skal ikke bruges på samme tid. Hold i stedet navigationen simpel, tydelig og fokuseret omkring én type navigation ad gangen.</p>
    </div>
    <div class="col-12 col-md-6">
        <h4>Ikke sådan (<span lang="en">don't</span>)</h4>
        <div><img  src="{{ site.baseurl }}/assets/img/do-dont/trinindikator/Trinindikator-undertrin-dont.svg" alt="Eksempel på en trinindikator med undertrin" /></div>
        <div class="separator"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg><div></div></div>
        <p><strong>Ikke sådan:</strong> Undgå også at opdele trinindikatoren i undertrin, da dette gør brugeroplevelsen kompleks og uoverskuelig.</p>
    </div>
</div>
