{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/buttons/buttons.njk" import button as button %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Simpel modal</p>
            {{
                modal({
                    "id": "modal-example",
                    "heading": "Titel i modal",
                    "content": "<p>Dette er modalens indhold.</p>"
                })
            }}
            {{ 
                button({
                    "text": "Åbn modal",
                    "variant": "tertiary",
                    "attributes": "data-module=\"modal\" data-target=\"modal-example\" aria-haspopup=\"dialog\""
                }) 
            }}
        </div>
    </div>
</main>