{%- assign link = include.linktext | downcase -%}

{%- case link -%}

    {%- when "accordions" -%}
        <a href="/komponenter/accordions/implementering/">{{ include.linktext }}</a>

    {%- when "anchorlinks" -%}
        <a href="/komponenter/anchorlinks/implementering/">{{ include.linktext }}</a>

    {%- when "badges" -%}
        <a href="/komponenter/badges/implementering/">{{ include.linktext }}</a>

    {%- when "beskeder" -%}
        <a href="/komponenter/beskeder/implementering/">{{ include.linktext }}</a>

    {%- when "brødkrumme" -%}
        <a href="/komponenter/broedkrumme/implementering/">{{ include.linktext }}</a>

    {%- when "cards" -%}
        <a href="/komponenter/cards/implementering/">{{ include.linktext }}</a>

    {%- when "cookiemeddelelse" -%}
        <a href="/komponenter/cookiemeddelelse/implementering/">{{ include.linktext }}</a>

    {%- when "datofelter" -%}
        <a href="/komponenter/datofelter/implementering/">{{ include.linktext }}</a>

    {%- when "datovælger" -%}
        <a href="/komponenter/datovaelger/implementering/">{{ include.linktext }}</a>

    {%- when "detaljer" -%}
        <a href="/komponenter/detaljer/implementering/">{{ include.linktext }}</a>

    {%- when "dropdown" -%}
        <a href="/komponenter/dropdown/implementering/">{{ include.linktext }}</a>

    {%- when "faneblade" -%}
        <a href="/komponenter/faneblade/implementering/">{{ include.linktext }}</a>

    {%- when "fejlmeddelelser" -%}
        <a href="/komponenter/fejlmeddelelser/implementering/">{{ include.linktext }}</a>

    {%- when "fejlopsummering" -%}
        <a href="/komponenter/fejlopsummering/implementering/">{{ include.linktext }}</a>

    {%- when "footer" -%}
        <a href="/komponenter/footer/implementering/">{{ include.linktext }}</a>

    {%- when "funktionslink" -%}
        <a href="/komponenter/funktionslink/implementering/">{{ include.linktext }}</a>

    {%- when "skip-link" -%}
        <a href="/komponenter/skip-link/implementering/">{{ include.linktext }}</a>

    {%- when "header" -%}
        <a href="/komponenter/header/implementering/">{{ include.linktext }}</a>

    {%- when "inputfelter", "se dokumentationen om inputfelter til udviklere", "implementeringen af inputfelter" -%}
        <a href="/komponenter/inputfelter/implementering/">{{ include.linktext }}</a>

    {%- when "knapper" -%}
        <a href="/komponenter/knapper/implementering/">{{ include.linktext }}</a>

    {%- when "spinner" -%}
        <a href="/komponenter/spinner/implementering/">{{ include.linktext }}</a>

    {%- when "modal" -%}
        <a href="/komponenter/modal/implementering/">{{ include.linktext }}</a>

    {%- when "overflow menu" -%}
        <a href="/komponenter/overflowmenu/implementering/">{{ include.linktext }}</a>

    {%- when "paginering" -%}
        <a href="/komponenter/paginering/implementering/">{{ include.linktext }}</a>

    {%- when "radioknap" -%}
        <a href="/komponenter/radioknap/implementering/">{{ include.linktext }}</a>

    {%- when "sprogvælger" -%}
        <a href="/komponenter/sprogvaelger/implementering/">{{ include.linktext }}</a>

    {%- when "søgefelt" -%}
        <a href="/komponenter/search/implementering/">{{ include.linktext }}</a>

    {%- when "tabeller", "se dokumentationen om tabeller til udviklere" -%}
        <a href="/komponenter/tables/implementering/">{{ include.linktext }}</a>

    {%- when "tags" -%}
        <a href="/komponenter/tags/implementering/">{{ include.linktext }}</a>

    {%- when "tekstområde" -%}
        <a href="/komponenter/tekstomraade/implementering/">{{ include.linktext }}</a>

    {%- when "tilbage-link" -%}
        <a href="/komponenter/tilbage-link/implementering/">{{ include.linktext }}</a>

    {%- when "tilbage til toppen" -%}
        <a href="/komponenter/tilbage-til-top/implementering/">{{ include.linktext }}</a>

    {%- when "tjekboks" -%}
        <a href="/komponenter/tjekboks/implementering/">{{ include.linktext }}</a>

    {%- when "toastbeskeder" -%}
        <a href="/komponenter/toastbesked/implementering/">{{ include.linktext }}</a>

    {%- when "toggle switch" -%}
        <a href="/komponenter/toggle/implementering/">{{ include.linktext }}</a>

    {%- when "tooltip" -%}
        <a href="/komponenter/tooltip/implementering/">{{ include.linktext }}</a>

    {%- when "trinindikator" -%}
        <a href="/komponenter/trinindikator/implementering/">{{ include.linktext }}</a>

    {%- when "vedhæft fil" -%}
        <a href="/komponenter/fil-upload/implementering/">{{ include.linktext }}</a>

    {%- when "venstremenu" -%}
        <a href="/komponenter/venstremenu/implementering/">{{ include.linktext }}</a>

    {%- else -%}
        {{ include.linktext }}

{%- endcase -%}