{%- comment -%}
--------
EXAMPLE: HOW TO USE IN MARKDOWN FILES
{% include links/component-code-link.html linktext="Tekst der skal blive til link" %}
--------
{%- endcomment -%}

{%- assign link = include.linktext | downcase -%}

{%- case link -%}

    {%- when "accordions" -%}
        <a href="/komponenter/accordions/#kode">{{ include.linktext }}</a>

    {%- when "anchorlinks" -%}
        <a href="/komponenter/anchorlinks/#kode">{{ include.linktext }}</a>

    {%- when "badges" -%}
        <a href="/komponenter/badges/#kode">{{ include.linktext }}</a>

    {%- when "beskeder" -%}
        <a href="/komponenter/beskeder/#kode">{{ include.linktext }}</a>

    {%- when "brødkrumme" -%}
        <a href="/komponenter/broedkrumme/#kode">{{ include.linktext }}</a>

    {%- when "cards" -%}
        <a href="/komponenter/cards/#kode">{{ include.linktext }}</a>

    {%- when "cookiemeddelelse", 
             "cookiemeddelelser" -%}
        <a href="/komponenter/cookiemeddelelse/#kode">{{ include.linktext }}</a>

    {%- when "datofelter" -%}
        <a href="/komponenter/datofelter/#kode">{{ include.linktext }}</a>

    {%- when "datovælger", 
             "datovælgeren" -%}
        <a href="/komponenter/datovaelger/#kode">{{ include.linktext }}</a>

    {%- when "sprogoversættelser" -%}
        <a href="/komponenter/datovaelger/#sprog-kode">{{ include.linktext }}</a>

    {%- when "andre datoformater" -%}
        <a href="/komponenter/datovaelger/#datoformat-kode">{{ include.linktext }}</a>

    {%- when "detaljer" -%}
        <a href="/komponenter/detaljer/#kode">{{ include.linktext }}</a>

    {%- when "dropdown" -%}
        <a href="/komponenter/dropdown/#kode">{{ include.linktext }}</a>

    {%- when "faneblade" -%}
        <a href="/komponenter/faneblade/#kode">{{ include.linktext }}</a>

    {%- when "fejlmeddelelser" -%}
        <a href="/komponenter/fejlmeddelelser/#kode">{{ include.linktext }}</a>

    {%- when "fejlmeddelelser's implementering med datofelter." -%}
        <a href="/komponenter/fejlmeddelelser/#datofelter-kode">{{ include.linktext }}</a>

    {%- when "fejlmeddelelser's implementering med datovælgeren." -%}
        <a href="/komponenter/fejlmeddelelser/#datovaelger-kode">{{ include.linktext }}</a>

    {%- when "fejlmeddelelser's implementering med tekstområde." -%}
        <a href="/komponenter/fejlmeddelelser/#tekstomraade-kode">{{ include.linktext }}</a>

    {%- when "fejlopsummering", 
             "en fejlopsummering", 
             "fejlopsummeringen" -%}
        <a href="/komponenter/fejlopsummering/#kode">{{ include.linktext }}</a>

    {%- when "footer" -%}
        <a href="/komponenter/footer/#kode">{{ include.linktext }}</a>

    {%- when "funktionslink" -%}
        <a href="/komponenter/funktionslink/#kode">{{ include.linktext }}</a>

    {%- when "gå til sidens indhold" -%}
        <a href="/komponenter/skip-link/#kode">{{ include.linktext }}</a>

    {%- when "header", 
             "headermenuen" -%}
        <a href="/komponenter/header/#kode">{{ include.linktext }}</a>

    {%- when "eksemplet med den overordnede struktur i headeren" -%}
        <a href="/komponenter/header/#html-struktur-kode">{{ include.linktext }}</a>

    {%- when "implementeringen af inputfelter" -%}
        <a href="/komponenter/inputfelter/#kode">{{ include.linktext }}</a>

    {%- when "knapper" -%}
        <a href="/komponenter/knapper/#kode">{{ include.linktext }}</a>

    {%- when "spinner" -%}
        <a href="/komponenter/spinner/#kode">{{ include.linktext }}</a>

    {%- when "modalkomponenten",
             "kode for modaler" -%}
        <a href="/komponenter/modal/#kode">{{ include.linktext }}</a>

    {%- when "overflow menu", 
             "implementering for overflow menu" -%}
        <a href="/komponenter/overflowmenu/#kode">{{ include.linktext }}</a>

    {%- when "paginering" -%}
        <a href="/komponenter/paginering/#kode">{{ include.linktext }}</a>

    {%- when "radioknap" -%}
        <a href="/komponenter/radioknap/#kode">{{ include.linktext }}</a>

    {%- when "sprogvælger" -%}
        <a href="/komponenter/sprogvaelger/#kode">{{ include.linktext }}</a>

    {%- when "søgefelt", 
             "søgefeltkomponenten" -%}
        <a href="/komponenter/search/#kode">{{ include.linktext }}</a>

    {%- when "tabeller", 
             "implementeringen af tabeller" -%}
        <a href="/komponenter/tables/#kode">{{ include.linktext }}</a>

    {%- when "tabeller med valgbare rækker" -%}
        <a href="/komponenter/tables/#valgbare-raekker-kode">{{ include.linktext }}</a>

    {%- when "horisontalt scroll" -%}
        <a href="/komponenter/tables/#horisontalt-scroll-kode">{{ include.linktext }}</a>

    {%- when "responsive klasser for tabeller", 
             "responsiv tabel" -%}
        <a href="/komponenter/tables/#responsiv-tabel-kode">{{ include.linktext }}</a>

    {%- when "javascript" -%}
        <a href="/komponenter/tables/#javascript-for-responsive-tabeller-kode">{{ include.linktext }}</a>

    {%- when "tags" -%}
        <a href="/komponenter/tags/#kode">{{ include.linktext }}</a>

    {%- when "tekstområde" -%}
        <a href="/komponenter/tekstomraade/#kode">{{ include.linktext }}</a>

    {%- when "tilbage-link" -%}
        <a href="/komponenter/tilbage-link/#kode">{{ include.linktext }}</a>

    {%- when "tilbage til toppen", 
             "tilbage til toppen-knappen" -%}
        <a href="/komponenter/tilbage-til-top/#kode">{{ include.linktext }}</a>

    {%- when "tjekboks" -%}
        <a href="/komponenter/tjekboks/#kode">{{ include.linktext }}</a>

    {%- when "toastbeskeder" -%}
        <a href="/komponenter/toastbesked/#kode">{{ include.linktext }}</a>

    {%- when "toggle switch" -%}
        <a href="/komponenter/toggle/#kode">{{ include.linktext }}</a>

    {%- when "tooltip", 
             "implementering af tooltip" -%}
        <a href="/komponenter/tooltip/#kode">{{ include.linktext }}</a>

    {%- when "trinindikator" -%}
        <a href="/komponenter/trinindikator/#kode">{{ include.linktext }}</a>

    {%- when "vedhæft fil" -%}
        <a href="/komponenter/fil-upload/#kode">{{ include.linktext }}</a>

    {%- when "venstremenu", 
             "venstremenuen" -%}
        <a href="/komponenter/venstremenu/#kode">{{ include.linktext }}</a>

    {%- else -%}
        {{ include.linktext }}

{%- endcase -%}