{%- assign link = include.linktext -%}
{%- assign icon = '<svg class="icon-svg" focusable="false" tabindex="-1" aria-label="(åbner i nyt vindue)"><use href="#open-in-new"></use></svg>' -%}

{%- case link -%}

    {%- comment -%} -------- Formular til kontaktoplysninger -------- {%- endcomment -%}

    {%- when "Formular til kontaktoplysninger: Oplysninger om dig",
             "Formular til kontaktoplysninger" -%}
        <a href="/pages/eksempler/formular-til-kontaktoplysninger/formular-1/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Formular til kontaktoplysninger: Bekræft oplysninger" -%}
        <a href="/pages/eksempler/formular-til-kontaktoplysninger/formular-2/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Formular til kontaktoplysninger: Kvittering" -%}
        <a href="/pages/eksempler/formular-til-kontaktoplysninger/formular-3/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>



    {%- comment -%} -------- Trinformular til registrering -------- {%- endcomment -%}

    {%- when "Trinformular til registrering: Vælg personer" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-1/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til registrering: Vælg noget mere" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-2/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til registrering: Vedhæft dokumenter" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-3/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til registrering: Tidligere registrering" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-4/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til registrering: Tidligere registrering (vælg 'Ja')" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-4/" class="icon-link" target="_blank">Trinformular til registrering: Tidligere registrering (vælg <em>'Ja'</em>)</a>

    {%- when "Trinformular til registrering: Kontaktoplysninger" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-5/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til registrering: Opsummering" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-6/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til registrering: Kvittering" -%}
        <a href="/pages/eksempler/trinformular-til-registrering/registrering-7/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>
    


    {%- comment -%} -------- Trinformular til ansøgning -------- {%- endcomment -%}
    
    {%- when "Trinformular til ansøgning: Oplysninger om ansøger",
             "Trinformular til ansøgning" -%}
        <a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-1/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til ansøgning: Kontaktoplysninger" -%}
        <a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-2/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til ansøgning: Ansøgningens type" -%}
        <a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-3/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til ansøgning: Tilføj dokumentation" -%}
        <a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-4/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til ansøgning: Opsummering" -%}
        <a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-5/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Trinformular til ansøgning: Kvittering" -%}
        <a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-6/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>
    


    {%- comment -%} -------- Sagsoversigt -------- {%- endcomment -%}
    
    {%- when "Sagsoversigt: Find sag" -%}
        <a href="/pages/eksempler/sagsoversigt/find-sag/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Sagsoversigt: Sagsnr. 123456789" -%}
        <a href="/pages/eksempler/sagsoversigt/find-sag/sagsnr-123456789/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Sagsoversigt: Afgørelser" -%}
        <a href="/pages/eksempler/sagsoversigt/find-sag/sagsnr-123456789/afgoerelser/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>
    

        
    {%- comment -%} -------- Templates -------- {%- endcomment -%}
    
    {%- when "Dashboard" -%}
        <a href="/pages/eksempler/dashboard/dashboard-1/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Opgaveliste" -%}
        <a href="/pages/eksempler/opgaveliste/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Vedhæft fil" -%}
        <a href="/pages/eksempler/vedhaeft-fil/fil-1/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Liste af vedhæftede filer" -%}
        <a href="/pages/eksempler/vedhaeft-fil/fil-2/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Fejl i vedhæftede filer" -%}
        <a href="/pages/eksempler/vedhaeft-fil/fil-3/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Opsummering 1" -%}
        <a href="/pages/eksempler/opsummering/opsummering-1/" class="icon-link" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Opsummering 2" -%}
        <a href="/pages/eksempler/opsummering/opsummering-2/" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Kvittering 1" -%}
        <a href="/pages/eksempler/kvittering/kvittering-1/" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Kvittering 2" -%}
        <a href="/pages/eksempler/kvittering/kvittering-2/" target="_blank">{{ include.linktext }}{{ icon }}</a>

    {%- when "Formular med fejl" -%}
        <a href="/pages/eksempler/formular-med-fejl/formular-med-fejl-1/" target="_blank">{{ include.linktext }}{{ icon }}</a>
        
    {%- when "Fejl i tidligere trin" -%}
        <a href="/pages/eksempler/trinindikator-med-fejl/trinindikator-med-fejl-1/" target="_blank">{{ include.linktext }}{{ icon }}</a>
    


    {%- comment -%} -------- Default (creates no link) -------- {%- endcomment -%}
    
    {%- else -%}
        {{ include.linktext }}{{ icon }}

{%- endcase -%}