{%- comment -%}
--------
EXAMPLE: HOW TO USE IN MARKDOWN FILES
{% include links/internal-link.html linktext="Tekst der skal blive til link" bold=true %}
--------
{%- endcomment -%}

{%- assign classes = "" -%}
{%- if include.bold -%}
    {%- assign classes = classes | append: "bold-link" -%}
{%- endif -%}
{%- if include.functionlink -%}
    {% if classes == "" %}
        {%- assign classes = classes | append: "function-link" -%}
    {%- else -%}
        {%- assign classes = classes | append: " function-link" -%}
    {%- endif -%}
{%- endif -%}
{% if classes != "" %}
    {%- assign classes = ' class="' | append: classes | append: '"' -%}
{%- endif -%}
{%- assign link = include.linktext | downcase -%}

{%- case link -%}

    {%- comment -%} -------- Kom i gang -------- {%- endcomment -%}

    {%- when "kom i gang" -%}
        <a href="/kom-i-gang/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "implementering og kode" -%}
        <a href="/kom-i-gang/implementering-kode/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "hent kodepakken" -%}
        <a href="/kom-i-gang/implementering-kode/hent-kodepakken/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "temahåndtering" -%}
        <a href="/kom-i-gang/implementering-kode/hent-kodepakken/#temahaandtering"{{ classes }}>{{ include.linktext }}</a>

    {%- when "hjælpeklasser (utilities)" -%}
        <a href="/kom-i-gang/implementering-kode/hjaelpeklasser/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "hjælpeklasse for display", 
             "hjælpeklasser for display" -%}
        <a href="/kom-i-gang/implementering-kode/hjaelpeklasser/#display"{{ classes }}>{{ include.linktext }}</a>

    {%- when "bredde i procent" -%}
        <a href="/kom-i-gang/implementering-kode/hjaelpeklasser/#bredde-i-procent"{{ classes }}>{{ include.linktext }}</a>

    {%- when "breakpoint" -%}
        <a href="/kom-i-gang/implementering-kode/hjaelpeklasser/#responsive-hjælpeklasser"{{ classes }}>{{ include.linktext }}</a>

    {%- when "browserunderstøttelse" -%}
        <a href="/kom-i-gang/implementering-kode/browserunderstøttelse/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "plugins" -%}
        <a href="/kom-i-gang/implementering-kode/plugins/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "print" -%}
        <a href="/kom-i-gang/implementering-kode/print/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "frameworks" -%}
        <a href="/kom-i-gang/implementering-kode/frameworks/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "design og ressourcer" -%}
        <a href="/kom-i-gang/designressourcer/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "designets grundprincipper" -%}
        <a href="/kom-i-gang/designressourcer/#grundprincipper"{{ classes }}>{{ include.linktext }}</a>

    {%- when "designressourcer" -%}
        <a href="/kom-i-gang/designressourcer/#design-ressourcer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "tjekliste",
             "tjeklisten" -%}
        <a href="/kom-i-gang/tjekliste/"{{ classes }}>{{ include.linktext }}</a>
        
    {%- when "krav",
             "kravene" -%}
        <a href="/kom-i-gang/krav/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "tilgængelighed" -%}
        <a href="/kom-i-gang/tilgaengelighed/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "evalueringsværktøjer" -%}
        <a href="/kom-i-gang/tilgaengelighed/#eval"{{ classes }}>{{ include.linktext }}</a>

    {%- when "ofte stillede spørgsmål" -%}
        <a href="/kom-i-gang/faq/"{{ classes }}>{{ include.linktext }}</a>



    {%- comment -%} -------- Styleguide -------- {%- endcomment -%}

    {%- when "gå til styleguide",
             "styleguide" -%}
        <a href="/design/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "farver" -%}
        <a href="/design/farver/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "datavisualiseringsfarver" -%}
        <a href="/design/farver/#datavisualiseringsfarver"{{ classes }}>{{ include.linktext }}</a>

    {%- when "typografi" -%}
        <a href="/design/typografi/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "retningslinjer for fonte" -%}
        <a href="/design/typografi/fonte/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "overskrifter" -%}
        <a href="/design/typografi/overskrifter/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs retningslinjerne for overskrifter" -%}
        <a href="/design/typografi/overskrifter/#retningslinjer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "subheading",
             "subheadings" -%}
        <a href="/design/typografi/overskrifter/#subheading"{{ classes }}>{{ include.linktext }}</a>

    {%- when "links i overskrifter" -%}
        <a href="/design/typografi/overskrifter/#overskrift-som-link"{{ classes }}>{{ include.linktext }}</a>

    {%- when "lille brødtekst" -%}
        <a href="/design/typografi/tekst/#broedtekst"{{ classes }}>{{ include.linktext }}</a>

    {%- when "stor tekst" -%}
        <a href="/design/typografi/tekst/#stor-tekst"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs retningslinjerne for manchet" -%}
        <a href="/design/typografi/tekst/#manchet-retningslinjer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs retningslinjerne for brødtekst" -%}
        <a href="/design/typografi/tekst/#broedtekst-retningslinjer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs retningslinjer for hjælpetekst og fejlmeddelelser" -%}
        <a href="/design/typografi/tekst/#hjaelpetekst-retningslinjer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "billedtekst (figcaption)" -%}
        <a href="/design/typografi/tekst/#billedtekst"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs retningslinjer for billedtekst" -%}
        <a href="/design/typografi/tekst/#billedtekst-retningslinjer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs retningslinjerne for stor tekst" -%}
        <a href="/design/typografi/tekst/#display-retningslinjer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "standard links" -%}
        <a href="/design/typografi/links/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "billeder anvendt som links" -%}
        <a href="/design/typografi/links/#billeder-som-links"{{ classes }}>{{ include.linktext }}</a>

    {%- when "eksternt link" -%}
        <a href="/design/typografi/links/#eksternt-link"{{ classes }}>{{ include.linktext }}</a>

    {%- when "lister" -%}
        <a href="/design/typografi/lister/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs retningslinjerne for lister" -%}
        <a href="/design/typografi/lister/#retningslinjer"{{ classes }}>{{ include.linktext }}</a>

    {%- when "hjørner, streger og skygger" -%}
        <a href="/design/borders/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "facit streger" -%}
        <a href="/design/borders/#streger"{{ classes }}>{{ include.linktext }}</a>

    {%- when "ikonet", 
             "ikoner" -%}
        <a href="/design/ikoner/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "implementering af ikoner" -%}
        <a href="/design/ikoner/#kode"{{ classes }}>{{ include.linktext }}</a>

    {%- when "ikonoversigten" -%}
        <a href="/design/ikoner/#ikonoversigt"{{ classes }}>{{ include.linktext }}</a>

    {%- when "slet ikonet" -%}
        <a href="/design/ikoner/?s=slet"{{ classes }}>{{ include.linktext }}</a>

    {%- when "ikoner til sortering i tabel" -%}
        <a href="/design/ikoner/?s=sorter"{{ classes }}>{{ include.linktext }}</a>

    {%- when "tilgængelighed i forbindelse med grafik og visualisering" -%}
        <a href="/design/datavisualisering-infografik/tilgaengelig-grafik/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs mere om datavisualisering" -%}
        <a href="/design/datavisualisering-infografik/datavisualisering/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs mere om infografik" -%}
        <a href="/design/datavisualisering-infografik/infografik/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "layout" -%}
        <a href="/design/layout/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "grid’et i designsystemet",
             "grid" -%}
        <a href="/design/grid/"{{ classes }}>{{ include.linktext }}</a>



    {%- comment -%} -------- Eksempler -------- {%- endcomment -%}

    {%- when "gå til eksempler" -%}
        <a href="/eksempler/"{{ classes }}>{{ include.linktext }}</a>

    
    {%- when "opsummeringssiderne", 
             "opsummering" -%}
        <a href="/eksempler/templates/#opsummering"{{ classes }}>{{ include.linktext }}</a>

    {%- when "kvitteringssider" -%}
        <a href="/eksempler/templates/#kvittering"{{ classes }}>{{ include.linktext }}</a>

    {%- when "pattern", 
             "patterns" -%}
        <a href="/eksempler/patterns/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "angivelse af telefonnummer" -%} 
        <a href="/eksempler/patterns/angivelse-af-telefonnummer/"{{ classes }}>{{ include.linktext }}</a>
    
    {%- when "formular" -%} 
        <a href="/eksempler/patterns/formular/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "inputfelter med hentet data" -%} 
        <a href="/eksempler/patterns/hentet-data/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "session udløber" -%}
        <a href="/eksempler/patterns/session-udloeber/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "eksempler på selvbetjeningsløsninger",
             "eksemplerne på selvbetjeningsløsninger",
             "selvbetjeningsløsninger" -%}
        <a href="/eksempler/selvbetjeningsloesninger/"{{ classes }}>{{ include.linktext }}</a>

    {%- when 'eksempelløsningen "sagsoversigt"' -%}
        <a href="/eksempler/selvbetjeningsloesninger/#sagsoversigt"{{ classes }}>{{ include.linktext }}</a>

    {%- when "templates",
             "eksempler på templates" -%}
        <a href="/eksempler/templates/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "formularer" -%}
        <a href="/eksempler/patterns/formular/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "se et eksempel på opsummeringssiden med fejl i trinindikatoren." -%} 
        <a href="/eksempler/templates/#formular-med-fejl"{{ classes }}>{{ include.linktext }}</a>



    {%- comment -%} -------- Fællesskab -------- {%- endcomment -%}

    {%- when "kontakt os", 
             "kontakte os" -%}
        <a href="/faellesskab/kontakt-support/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "deltag i samarbejdsforum" -%}
        <a href="/faellesskab/samarbejdsforum/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "tilmeld nyhedsbrevet",
             "tilmeldingssiden" -%}
        <a href="/faellesskab/nyhedsmail/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "tilmeld en e-mailadresse" -%}
        <a href="/faellesskab/nyhedsmail/"{{ classes }}>Tilmeld en <span class="nowrap">e-mailadresse</span></a>

    {%- when "tilmeld en e-mailadresse her" -%}
        <a href="/faellesskab/nyhedsmail/"{{ classes }}>Tilmeld en <span class="nowrap">e-mailadresse</span> her</a>

    {%- when "tilmeld endnu en e-mailadresse" -%}
        <a href="/faellesskab/nyhedsmail/"{{ classes }}>Tilmeld endnu en <span class="nowrap">e-mailadresse</span></a>

    {%- when "afmeld en e-mailadresse her" -%}
        <a href="/faellesskab/nyhedsmail/afmeld/"{{ classes }}>Afmeld en <span class="nowrap">e-mailadresse</span> her</a>

    {%- when "gå til release notes",
             "release notes" -%}
        <a href="/faellesskab/releases/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "version 10.0.0" -%} 
        <a href="/faellesskab/releases/#version-10-0-0"{{ classes }}>{{ include.linktext }}</a>

    {%- when "læs om governance af fds" -%}
        <a href="/faellesskab/governance/"{{ classes }}>{{ include.linktext }}</a>


        
    {%- comment -%} -------- Other -------- {%- endcomment -%}

    {%- when "komponent", 
             "komponenter", 
             "gå til komponenter" -%}
        <a href="/komponenter/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "download svg-filer (version 7.0.0)" -%}
        <a href="/downloads/FDS-Komponenter-SVG-Version-700.zip"{{ classes }}>{{ include.linktext }}</a>

    {%- when "se eksempel på, hvordan en 'log af'-side kan se ud med fds" -%}
        <a href="/pages/eksempler/logget-af/?r=/eksempler/patterns/session-udloeber/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "download borger.dk's logo (svg-fil)" -%}
        <a href="{{ site.baseurl }}/assets/svg/logo-borgerdk.svg" download="logo-borgerdk"{{ classes }}>{{ include.linktext }}</a>

    {%- when "download virks logo (svg-fil)" -%}
        <a href="{{ site.baseurl }}/assets/svg/logo_virk.svg" download="logo_virk"{{ classes }}>{{ include.linktext }}</a>

    {%- when "send en e-mail til fds-teamet",
             "sende en e-mail" -%}
        <a href="mailto:fds@erst.dk"{{ classes }}>{{ include.linktext }}</a>

    {%- when "erst@erst.dk" -%}
        <a href="mailto:erst@erst.dk"{{ classes }}>{{ include.linktext }}</a>

    {%- when "privatlivspolitik og cookies" -%}
        <a href="/privatlivspolitik-cookies/"{{ classes }}>{{ include.linktext }}</a>

    {%- when "footer-simple-language" -%} 
        <a href="/eksempel/footer-simple-language/" class="screenshot d-block px-4 outer-border" title="Eksempel på sprogvælger i en simpel footer" target="_blank"></a>

    {%- when "footer-four-columns-language" -%} 
        <a href="/eksempel/footer-four-columns-language/" class="screenshot d-block px-4 outer-border" title="Eksempel på sprogvælger i en kompleks footer" target="_blank"></a>
    
    
    
    {%- else -%}
        {{ include.linktext }}
{%- endcase -%}