{% comment %} 
    --------------------------
    | "Kom i gang" sti links |
    --------------------------
{% endcomment %}

{%- if include.linktext == "Implementering og kode" or include.linktext == "Til udviklere" or include.linktext == "implementering af DKFDS til udviklere" or include.linktext == "stylesheetet" -%}
<a href="/kom-i-gang/implementering-kode/">{{ include.linktext }}</a>

{%- elsif include.linktext == "temahåndtering i koden" or include.linktext == "temahåndtering" -%}
<a href="/kom-i-gang/implementering-kode/#temahaandtering">{{ include.linktext }}</a>

{%- elsif include.linktext == "`DKFDS.init()` udvidet med scope json parameter, så man kan køre `DKFDS.init()` mere målrettet på siden" -%}
<a href="/kom-i-gang/implementering-kode/#javascript">{{ include.linktext }}</a>

{%- elsif include.linktext == "hjælpeklasse" or include.linktext == "hjælpeklasser for display" -%}
<a href="/kom-i-gang/implementering-kode/hjaelpeklasser/#display">{{ include.linktext }}</a>

{%- elsif include.linktext == "bredde i procent" -%}
<a href="/kom-i-gang/implementering-kode/hjaelpeklasser/#bredde-i-procent">{{ include.linktext }}</a>

{%- elsif include.linktext == "breakpoint" -%}
<a href="/kom-i-gang/implementering-kode/hjaelpeklasser/#responsive-hjælpeklasser">{{ include.linktext }}</a>

{%- elsif include.linktext == "browserunderstøttelse" -%}
<a href="/kom-i-gang/implementering-kode/browserunderstøttelse/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Eksempel på implementering i Angular" -%}
<a href="/kom-i-gang/implementering-kode/eksempler-implementering/">{{ include.linktext }}</a>

{%- elsif include.linktext == "plugins" or include.linktext == "Plugins i Kode sektionen" or include.linktext == "Vi peger på en række plugins og hvordan disse kan styles så de passer ind" -%}
<a href="/kom-i-gang/implementering-kode/plugins/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Kode" -%}
<a href="/kom-i-gang/implementering-kode/frameworks/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Designprincipper" -%}
<a href="/kom-i-gang/designprincipper/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Designressourcer" or include.linktext == "SVG filer" or include.linktext == "Figma komponent bibliotek" or include.linktext == "Design og ressourcer" -%}
<a href="/kom-i-gang/designressourcer/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Tjekliste" or include.linktext == "Designtjek" or include.linktext == "tjekliste" -%}
<a href="/kom-i-gang/tjekliste/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Krav" or include.linktext == "krav" or include.linktext == "krav til selvbetjeningsløsninger" or include.linktext == "Se hvilke krav og anbefalinger, der gælder din løsning" -%}
<a href="/kom-i-gang/krav/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs om kravene og se om du skal anvende designsystemet" or include.linktext == "Portalernes krav til integration (Når du skal på borger.dk og Virk)" -%}
<a href="/kom-i-gang/krav/borgerdk-virk/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Om kravene til selvbetjeningsløsninger" -%}
<a href="/kom-i-gang/krav/om-kravene/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Tilgængelighed" or include.linktext == "tilgængelighed" -%}
<a href="/kom-i-gang/tilgaengelighed/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Ofte stillede spørgsmål" -%}
<a href="/kom-i-gang/faq/">{{ include.linktext }}</a>

{% comment %} 
    ----------------------
    | "Design" sti links |
    ----------------------
{% endcomment %}

{%- elsif include.linktext == "farver" or include.linktext == "Farver" or include.linktext == "bruge farverne som anvist" -%}
<a href="/design/farver/">{{ include.linktext }}</a>

{%- elsif include.linktext == "fokusramme" -%}
<a href="/design/farver/#fokusfarve">{{ include.linktext }}</a>

{%- elsif include.linktext == "farvepaletter der anbefales til de forskellige typer af diagrammer og datavisualisering" or include.linktext == "datavisualiseringsfarver" -%}
<a href="/design/farver/#datavisualiseringsfarver">{{ include.linktext }}</a>

{%- elsif include.linktext == "angivne font" or include.linktext == "beskrevet i afsnittet om typografi" include.linktext == "typografi" -%}
<a href="/design/typografi/">{{ include.linktext }}</a>

{%- elsif include.linktext == "retningslinjer" -%}
<a href="/design/typografi/fonte/guidelines/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Overskrifter" -%}
<a href="/design/typografi/overskrifter/guidelines/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjerne for overskrifter" -%}
<a href="/design/typografi/overskrifter/guidelines/#retningslinjer">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjer for subheadings" or include.linktext == "subheading" -%}
<a href="/design/typografi/overskrifter/guidelines/#subheading">{{ include.linktext }}</a>

{%- elsif include.linktext == "links i overskrifter" -%}
<a href="/design/typografi/overskrifter/guidelines/#overskrift-som-link">{{ include.linktext }}</a>

{%- elsif include.linktext == "lille brødtekst" -%}
<a href="/design/typografi/tekst/guidelines/">{{ include.linktext }}</a>

{%- elsif include.linktext == "stor tekst" -%}
<a href="/design/typografi/tekst/guidelines/#stor-tekst">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjerne for manchet tekst" -%}
<a href="/design/typografi/tekst/guidelines/#manchet-tekst-retningslinjer">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjerne for brødtekst" -%}
<a href="/design/typografi/tekst/guidelines/#broedtekst-retningslinjer">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjer for hjælpetekst og fejlmeddelelser" -%}
<a href="/design/typografi/tekst/guidelines/#hjaelpetekst-retningslinjer">{{ include.linktext }}</a>

{%- elsif include.linktext == "billedtekst (figcaption)" -%}
<a href="/design/typografi/tekst/guidelines/#billedtekst">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjer for billedtekst" -%}
<a href="/design/typografi/tekst/guidelines/#billedtekst-retningslinjer">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjerne for stor tekst" -%}
<a href="/design/typografi/tekst/guidelines/#display-retningslinjer">{{ include.linktext }}</a>

{%- elsif include.linktext == "standard links" -%}
<a href="/design/typografi/links/guidelines/">{{ include.linktext }}</a>

{%- elsif include.linktext == "billeder anvendt som links" -%}
<a href="/design/typografi/links/guidelines/#billeder-som-links">{{ include.linktext }}</a>

{%- elsif include.linktext == "eksternt link" -%}
<a href="/design/typografi/links/guidelines/#eksternt-link">{{ include.linktext }}</a>

{%- elsif include.linktext == "fremhæv særlige punkter med punktopstilling" or include.linktext == "Lister" -%}
<a href="/design/typografi/lister/guidelines/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs retningslinjerne for lister" -%}
<a href="/design/typografi/lister/guidelines/#retningslinjer">{{ include.linktext }}</a>

{%- elsif include.linktext == "hjørner, streger og skygger" -%}
<a href="/design/borders/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Facit streger" -%}
<a href="/design/borders/#streger">{{ include.linktext }}</a>

{%- elsif include.linktext == "Se dokumentationen for implementering af ikoner" or include.linktext == "afsnittet om ikoner" or include.linktext == "ikonet" or include.linktext == "ikoner" or include.linktext == "Ikontaksonomi" -%}
<a href="/design/ikoner/guidelines/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Se flere betydninger i ikontaksonomien" or include.linktext == "ikontaksonomien" -%}
<a href="/design/ikoner/guidelines/#betydning">{{ include.linktext }}</a>

{%- elsif include.linktext == "slet ikonet" -%}
<a href="/design/ikoner/guidelines/?s=slet">{{ include.linktext }}</a>

{%- elsif include.linktext == "ikoner til sortering i tabel" -%}
<a href="/design/ikoner/guidelines/?s=sorter">{{ include.linktext }}</a>

{%- elsif include.linktext == "ikonsamlingen" -%}
<a href="/design/ikoner/implementering/">{{ include.linktext }}</a>

{%- elsif include.linktext == "tilgængelighed i forbindelse med grafik og visualisering" or include.linktext == "tilgængelighed der gælder for grafik og visualisering" -%}
<a href="/design/datavisualisering-infografik/tilgaengelig-grafik/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs mere om datavisualisering" -%}
<a href="/design/datavisualisering-infografik/datavisualisering/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Læs mere om infografik" -%}
<a href="/design/datavisualisering-infografik/infografik/">{{ include.linktext }}</a>

{%- elsif include.linktext == "Layout" or include.linktext == "Regler og principper for layout" -%}
<a href="/design/layout/">{{ include.linktext }}</a>

{%- elsif include.linktext == "hele headeren skal følge retningslinjerne for layout" -%}
<a href="/design/layout/#struktur-header">{{ include.linktext }}</a>

{%- elsif include.linktext == "Grid’et i designsystemet" or include.linktext == "8point grid" or include.linktext == "12-kolonne grid" -%}
<a href="/design/grid/guidelines/">{{ include.linktext }}</a>

{%- elsif include.linktext == "reglerne for grid-systemet" or include.linktext == "grid" -%}
<a href="/design/grid/implementering/">{{ include.linktext }}</a>

{%- else -%}
{{include.linktext}}
{%- endif -%}