{% from "components/form/controls/date-input.njk" import datoinput as datoinput %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-date-input-2</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Tooltip og hjælpetekst</p>
            {{
                datoinput({
                    "id": "date-example",
                    "legend": "Indtast en dato",
                    "helptext": "For eksempel 23 11 2008",
                    "tooltip": "Se hjælpetekst for korrekt format"
                })
            }}
        </div>
    </div>
</main>