{% from "components/form/controls/date-input.njk" import datoinput as datoinput %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Frivillig-label, klasser og attributter</p>
            {{
                datoinput({
                    "id": "date-example",
                    "legend": "Indtast en dato",
                    "optionalLabel": true,
                    "classes": "mt-8",
                    "attributes": "attrtest"
                })
            }}
        </div>
    </div>
</main>