{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{{overflowmenu({
    "button": {
        "text": "Trin 2 af 3",
        "icon":"arrow-drop-down"
    },
    "id": "overflow5",
    "content": "
   <nav><ul class='sidenav-list' role='menu'>
        <li role='none'>
            <a href='#' role='menuitem'>
                <span class='sidenav-number'>1.</span><span class='sidenav-title'>Lorem ipsum</span>
                <span class='sidenav-icon'>
                    <svg class='icon-svg' aria-hidden='true' focusable='false' tabindex='-1'><use xlink:href='#done'></use></svg>
                </span>
            </a>
        </li>
        <li role='none' class='active current'>
            <a href='#' role='menuitem' aria-current='page'>
                <span class='sidenav-number'>2.</span><span class='sidenav-title'>Dolor sit amet</span>
            </a>
        </li>
        <li role='none'>
            <a href='#' role='menuitem'>
                <span class='sidenav-number'>3.</span><span class='sidenav-title'>Consectetur adipiscing elit</span>
            </a>
        </li>
    </ul></nav>
    "
}) }}