{% from "components/stepguide/stepguide.njk" import overflow_stepguide as overflow_stepguide %}

{{ 
    overflow_stepguide({
        "id": "trinindikator-error",
        "ariaLabel": "Trinindikator med fejl",
        "breakpoint": "lg",
        "steps": [
            {
                "text": "Trin 1",
                "href": "javascript:void(0);",
                "icon": {"name": "error", "ariaLabel": "Fejl", "ariaHidden": false},
                "error": true
            },
            {
                "text": "Trin 2",
                "href": "javascript:void(0);",
                "icon": {"name": "check", "ariaLabel": "Gennemført", "ariaHidden": false}
            },
            {
                "text": "Trin 3",
                "href": "javascript:void(0);",
                "active": true
            },
            {
                "text": "Trin 4",
                "href": "javascript:void(0);"
            }
        ]
    }) 
}}