{% from "components/side-navigation/tringuide.njk" import tringuide_information as tringuide_information %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3 sidebar-col">
            {{ tringuide_information(tringuiden.trinlisten) }}
        </div>
    </div>
</div>
