{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{{overflowmenu("Trin 2 af 3","overflow5", true, false, "arrow-drop-down" ,"
   <nav><ul class='sidenav-list' role='menu'>
        <li role='none'>
            <a href='#' role='menuitem'>
                1. Trin 1
                <span class='sidenav-icon'>
                    <svg class='icon-svg' aria-hidden='true' focusable='false' tabindex='-1'><use xlink:href='#done'></use></svg>
                </span>
            </a>
        </li>
        <li role='none' class='active current'>
            <a href='#' role='menuitem' aria-current='page'>
                2. Trin 2 (valgt)
            </a>
        </li>
        <li role='none'>
            <a href='#' role='menuitem'>
                3. Trin 3
            </a>
        </li>
    </ul></nav>
    "
) }}
