{% from "components/side-navigation/stepguide.njk" import overflow_stepguide as overflow_stepguide %}

{{ 
    overflow_stepguide({
        "id": "trinindikator-overflow",
        "steps": [
            {
                "text": "Lorem ipsum",
                "icon": {"name": "done", "ariaLabel": "Gennemført", "ariahidden": false}
            },
            {
                "text": "Dolor sit amet",
                "active": true
            },
            {
                "text": "Consectetur adipiscing elit"
            }
        ]
    }) 
}}