{% from "components/side-navigation/stepguide.njk" import overflow_stepguide as overflow_stepguide %}

{{ 
    overflow_stepguide({
        "id": "trinindikator-error",
        "responsive": true,
        "steps": [
            {
                "text": "Trin 1",
                "icon": {"name": "highlight-off", "ariaLabel": "Fejl", "ariaHidden": false},
                "error": true
            },
            {
                "text": "Trin 2",
                "icon": {"name": "done", "ariaLabel": "Gennemført", "ariaHidden": false}
            },
            {
                "text": "Trin 3",
                "active": true
            },
            {
                "text": "Trin 4"
            }
        ]
    }) 
}}