{% from "components/pagination/pagination.njk" import pagination as pagination %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Paginering</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 8,
                    "currentPage": 1,
                    "ariaLabel": "Eksempel 1"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 8,
                    "currentPage": 4,
                    "ariaLabel": "Eksempel 2"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 8,
                    "currentPage": 5,
                    "ariaLabel": "Eksempel 3"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 8,
                    "currentPage": 8,
                    "ariaLabel": "Eksempel 4"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 7,
                    "currentPage": 1,
                    "ariaLabel": "Eksempel 5"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 7,
                    "currentPage": 4,
                    "ariaLabel": "Eksempel 6"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 7,
                    "currentPage": 7,
                    "ariaLabel": "Eksempel 7"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 9999,
                    "currentPage": 1200,
                    "ariaLabel": "Eksempel 8"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 9,
                    "currentPage": 5,
                    "ariaLabel": "Eksempel 9"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 4,
                    "currentPage": 2,
                    "pageElement": "button",
                    "ariaLabel": "Eksempel 10"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 4,
                    "currentPage": 2,
                    "pageElement": "a",
                    "ariaLabel": "Eksempel 11"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 10,
                    "currentPage": 5,
                    "pageElement": "button",
                    "ariaLabel": "Eksempel 12"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 10,
                    "currentPage": 5,
                    "ariaLabel": "Eksempel 13"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 15,
                    "currentPage": 1,
                    "pageElement": "button",
                    "paginationType": "table-pagination",
                    "ariaLabel": "Skift side i tabellen, eksempel 1"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 15,
                    "currentPage": 7,
                    "pageElement": "button",
                    "paginationType": "table-pagination",
                    "ariaLabel": "Skift side i tabellen, eksempel 2"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 15,
                    "currentPage": 15,
                    "pageElement": "button",
                    "paginationType": "table-pagination",
                    "ariaLabel": "Skift side i tabellen, eksempel 3"
                }) 
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                pagination({
                    "totalPages": 12,
                    "currentPage": 2,
                    "pageElement": "button",
                    "paginationType": "table-pagination",
                    "ariaLabel": "Skift side i tabellen, eksempel 4"
                }) 
            }}
        </div>
    </div>
</main>