{% from "components/anchorlinks/anchorlinks.njk" import anchorlinks as anchorlinks %}

{{ 
    anchorlinks({
        "links": [
            { "text": "Æbler" },
            { "text": "Pærer" },
            { "text": "Bananer" }
        ]
    }) 
}}