<a class="card" href="{{ include.href }}" id="{{ include.id }}">
    <div class="card-image desktop d-none d-lg-flex" style='aspect-ratio: 736 / 320; background-color: #FFFFFF;'></div>
    <div class="card-image tablet d-flex d-lg-none" style='aspect-ratio: 500 / 320; background-color: #FFFFFF;'></div>
    <div class="card-content">
        <h3 class="card-heading hyphens-manual">{{ include.heading }}</h3>
        <p>{{ include.content }}</p>
    </div>
    <svg class="icon-svg card-icon" focusable="false" aria-hidden="true">
        <use href="#arrow-forward"></use>
    </svg>
</a>