<li class="col-12 col-sm-6 col-md-4">
    <a class="card thumbnail-example" href="{{ site.baseurl }}{{ include.href }}" id="{{ include.id }}" target="_blank">
        <div class="card-image"></div>
        <div class="card-content">
            <span class="heading hyphens-manual">{{ include.heading }}</span>
        </div>
        <div class="card-actions">
            <svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg>
        </div>
    </a>
</li>