{% from "components/side-navigation/sidenav.njk" import nav_list as nav_list %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Venstremenu</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-3 mb-9">
            <nav aria-label="Eksempel på venstremenu med 1 niveau">
                <ul class="sidemenu">
                    {{ 
                        nav_list({
                            "links": [
                            { 
                                "text": "Side 1"
                            },
                            { 
                                "text": "Side 2"
                            },
                            {
                                "text": "Side 3"
                            }]
                        }) 
                    }}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-3 mb-9">
            <nav aria-label="Eksempel på venstremenu med 1 niveau og forskellige parametre">
                <ul class="sidemenu">
                    {{ 
                        nav_list({
                            "links": [
                            { 
                                "text": "Side 1",
                                "href": "#side1",
                                "information": "Information til side 1. Linket på dette element har en anden værdi end default."
                            },
                            { 
                                "text": "Side 2"
                            },
                            {
                                "text": "Side 3",
                                "current": true
                            }]
                        }) 
                    }}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-3 mb-9">
            <nav aria-label="Eksempel på venstremenu med 2 niveauer">
                <ul class="sidemenu">
                    {{ 
                        nav_list({
                            "links": [
                            { 
                                "text": "Side 1",
                                "links": [
                                { 
                                    "text": "Underside 1.1"
                                },
                                { 
                                    "text": "Underside 1.2"
                                },
                                {
                                    "text": "Underside 1.3",
                                    "current": true
                                }]
                            },
                            { 
                                "text": "Side 2"
                            },
                            {
                                "text": "Side 3"
                            }]
                        }) 
                    }}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-3 mb-9">
            <nav aria-label="Eksempel på venstremenu med 3 niveauer og lange tekster">
                <ul class="sidemenu">
                    {{ 
                        nav_list({
                            "links": [
                            { 
                                "text": "SideLoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmaurisNamvenenatisidmiutgravidaPellentesquenonligulaaliquamviverramagnasedpellentesquelacus",
                                "information": "LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmaurisNamvenenatisidmiutgravidaPellentesquenonligulaal",
                                "links": [
                                { 
                                    "text": "UndersideLoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmaurisNamvenenatisidmiutgravidaPellentesquenonligulaaliquamviverramagnasedpellentesquelacus",
                                    "information": "LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmaurisNamvenenatisidmiutgravidaPellentesquenonligulaal",
                                    "current": true,
                                    "links": [
                                    { 
                                        "text": "UnderundersideLoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmaurisNamvenenatisidmiutgravidaPellentesquenonligulaaliquamviverramagnasedpellentesquelacus",
                                        "information": "LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmaurisNamvenenatisidmiutgravidaPellentesquenonligulaal"
                                    }]
                                }]
                            }]
                        }) 
                    }}
                </ul>
            </nav>
        </div>
    </div>
</main>



