{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/alerts/alerts.njk" import alert as alert %}
{% from "components/structured-list/structured-list.njk" import structured_list as structured_list %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": true,
    "title": {
        "href": "#",
        "text": "Ansøg om et eller andet"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": 'Support: 12 34 56 78 <span class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span class="d-none d-lg-inline-block mr-2">· </span><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="function-link d-inline-block mt-0">' + icon_svg({"name": "card-text"}) + 'Kontakt</a></span>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    {{ alert(alert_success_receipt) }}
    {{ alert(alert_warning_receipt) }}
    <h1 class="mb-3 mt-6">Kvittering</h1>
    <p class="form-hint mt-3 mb-5">Referencenummer: 98765432</p>
    <p>Hvis du ønsker dokumentation på ansøgningen kan du downloade kvitteringen.</p>
    {{ button(button_download) }}
    <h2 class="h4 mt-7">Hvad sker der nu</h2>
    <p>Sagens parter vil inden for 7 hverdage modtage en kvittering med journalnummer og oplysninger om, hvornår det
        forventes, at der er en udtalelse klar.</p>
    <h2 class="h4 mt-7">Husk betaling</h2>
    <p>Gebyret for udtalelsen skal sættes ind på vores konto:</p>
    {{ structured_list(list_betaling) }}
    <p>Gebyr: 6.000 kr.<br>Ved overførslen skal I oplyse ansøgers CPR-nummer.</p>
    <h2 class="h4 mt-7">Ved spørgsmål eller supplerende oplysninger</h2>
    <p>Kontakt os på kontakt@eksempel.dk eller telefon 12 34 56 78.<br />Referencenummer: 98765432</p>
    <div>{{ button(button_opret) }}</div>
    {{ button(button_afslut) }}
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

{{
    modal({
        "id": "modal-contact",
        "heading": "Kontakt",
        "content": modal_content,
        "forcedAction": false,
        "actions": modal_actions
    })
}}