{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_header as portal_header %}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{% from "components/header/header.njk" import solution_header as solution_header %}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}
{% from "components/header/menu-buttons.njk" import menu_close_button as menu_close_button %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/side-navigation/stepguide.njk" import overflow_stepguide as overflow_stepguide %}
{% from "components/form/controls/text-area.njk" import textarea as textarea %}
{% from "components/radiobuttons/radiobuttons.njk" import radiobuttons as radiobuttons %}
{% from "components/buttons/buttons.njk" import button as button %}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": true,
    "title": {
        "href": "#",
        "text": "Ansøg om et eller andet"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": 'Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block mt-0">' + icon_svg({"name": "card-text"}) + 'Kontakt</a></span>'
    }
} %}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}
    <div class="overlay"></div>
    <nav class="nav">
        {{ menu_close_button() }}
        {{ mobile_portal_header(portal_header_data) }}
        {{ mobile_solution_header(solution_header_data) }}
    </nav>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    <div><a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-2/" class="back-link">Tilbage</a></div>
    {{ overflow_stepguide(trinindikator_data) }}
    <h1>Ansøgningens type</h1>
    <form novalidate method="post" action="/pages/eksempler/trinformular-til-ansoegning/ansoegning-4/">
        {{ radiobuttons(radiobuttons_ansoegning) }}
        {{ textarea(textarea_data) }}
        {{ button(button_next) }}
    </form>
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}