{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/side-navigation/stepguide.njk" import overflow_stepguide as overflow_stepguide %}
{% from "components/form/controls/text-area.njk" import textarea as textarea %}
{% from "components/radiobuttons/radiobuttons.njk" import radiobuttons as radiobuttons %}
{% from "components/buttons/buttons.njk" import button as button %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": true,
    "title": {
        "href": "#",
        "text": "Ansøg om et eller andet"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": 'Support: 12 34 56 78 <span class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span class="d-none d-lg-inline-block mr-2">· </span><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="function-link d-inline-block mt-0">' + icon_svg({"name": "card-text"}) + 'Kontakt</a></span>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    <div><a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-2/" class="back-link">Tilbage</a></div>
    {{ overflow_stepguide(trinindikator_data) }}
    <h1>Ansøgningens type</h1>
    <form novalidate method="post" action="/pages/eksempler/trinformular-til-ansoegning/ansoegning-4/">
        {{ radiobuttons(radiobuttons_ansoegning) }}
        {{ textarea(textarea_data) }}
        {{ button(button_next) }}
    </form>
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

{{
    modal({
        "id": "modal-contact",
        "heading": "Kontakt",
        "content": modal_content,
        "forcedAction": false,
        "actions": modal_actions
    })
}}