{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_header as portal_header %}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{% from "components/header/header.njk" import solution_header as solution_header %}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}
{% from "components/header/menu-buttons.njk" import menu_close_button as menu_close_button %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/side-navigation/stepguide.njk" import overflow_stepguide as overflow_stepguide %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/table/table.njk" import table as table %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": true,
    "title": {
        "href": "#",
        "text": "Ansøg om et eller andet"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": 'Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block mt-0">' + icon_svg({"name": "card-text"}) + 'Kontakt</a></span>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}
    <div class="overlay"></div>
    <nav class="nav">
        {{ menu_close_button() }}
        {{ mobile_portal_header(portal_header_data) }}
        {{ mobile_solution_header(solution_header_data) }}
    </nav>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    <div><a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-4/" class="back-link">Tilbage</a></div>
    {{ overflow_stepguide(trinindikator_data) }}
    <h1>Opsummering</h1>
    <h2>Oplysninger om ansøger</h2>
    <div class="w-percent-md-70 mt-6 mb-7">
        {% for row in oplysninger_om_afsender %}
        <div class="row row-bordered no-gutters">
            <div class="col-12 col-md-4 weight-semibold">
                {{ row.label }}
            </div>
            <div class="col-12 col-md-6">
                {{ row.value }}
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                {% if row.href %}
                <a href="{{ row.href }}">Redigér<span class="sr-only"> {{row.label | lower }}</span></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Kontaktoplysninger</h2>
    <div class="w-percent-md-70 mt-6 mb-7">
        {% for row in kontaktoplysninger %}
        <div class="row row-bordered no-gutters">
            <div class="col-12 col-md-4 weight-semibold">
                {{ row.label }}
            </div>
            <div class="col-12 col-md-6">
                {{ row.value }}
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                {% if row.href %}
                <a href="{{ row.href }}">Redigér<span class="sr-only"> {{row.label | lower }}</span></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Ansøgningens type</h2>
    <div class="w-percent-md-70 mt-6 mb-7">
        {% for row in ansoegningens_type %}
        <div class="row row-bordered no-gutters">
            <div class="col-12 col-md-4 weight-semibold">
                {{ row.label }}
            </div>
            <div class="col-12 col-md-6">
                {{ row.value }}
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                {% if row.href %}
                <a href="{{ row.href }}">Redigér<span class="sr-only"> {{row.label | lower }}</span></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Tilføj dokumentation</h2>
    {{ table(tabel_dokumentation) }}
    <form novalidate method="post" action="/pages/eksempler/trinformular-til-ansoegning/ansoegning-6/">
        <input type="hidden" name="entries-confirmed" value="true">
        {{ button(button_send) }}
    </form>
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

{{
    modal({
        "id": "modal-contact",
        "heading": "Kontakt",
        "content": modal_content,
        "forcedAction": false,
        "actions": modal_actions
    })
}}