{% assign item_url = include.page.url %}
{% assign item_url_size = item_url | size %}
{% assign current_url =  page.url | slice: 0,item_url_size %}
{% assign is_active = false %}
{% if item_url == current_url %}
  {% assign is_active = true %}
{% endif %}

{% if include.is_sidenav and include.text %}
  {% assign titletext = include.text %}
{% endif %}

{% assign titletext = include.page.title  %}
{% if include.is_sidenav and include.text %}
  {% assign titletext = include.text %}
{% endif %}
<li class="{% if is_active -%}current{% endif %}">
{% if include.flat -%}
  <!-- Do not render subnavs-->
  <a href="{{ include.page.url | relative_url }}" {% if is_active -%}aria-current="page"{% endif %}
    class="nav-link">
    <span>{{ titletext | smartify }}</span>
  </a>
{% else -%}
  <!--Do render subnavs-->

  {% assign _href_key = include.href_key %}
  {% assign _text_key = include.href_key %}
  {% if include.categorynav -%}
    <!--in nav.yml, it is specified that this page should use a category from nav.yml as navmenu -->
    {% assign _links = site.data.nav[include.categorynav] %}
  {% else -%}
    <!-- Uses page.subnav as navmenu-->
    {% assign _links = include.links | default: include.page.subnav %}
  {% endif %}

  {% if _links -%}
    <div class="submenu">
      <button class="nav-link button-overflow-menu js-dropdown" data-js-target="#submenu-level1-{{ titletext | slugify }}" aria-haspopup="true" {% if is_active == true -%}aria-expanded="true"{% else -%}aria-expanded="false"{% endif %}  >
        <span>{{ titletext | smartify }}</span>
      </button>
      <div class="overflow-menu-inner" id="submenu-level1-{{ titletext | slugify }}" {% if is_active == true -%}aria-hidden="false"{% else -%}aria-hidden="true"{% endif %}>
        <ul class="overflow-list">
          {%
            include nav/page-item.html
            page=include.page
            use_alt_text=include.use_alt_text
            alternative_text=include.alternative_text
            overblik=true
          %}

          {%
            include nav/list.html
            links=_links
            text_key=_text_key
            href_key=_href_key
            subnav_class="nav-list"
            use_alt_text=true
            parent=titletext
            level=1
          %}
        </ul>
      </div>
    </div>
  {% else -%}
    <a href="{{ include.page.url | relative_url }}" class="nav-link">
      <span>{{ titletext | smartify }}</span>
    </a>
  {% endif %}
{% endif %}
</li>
