{% include nav/current.html page=include.page %}
{% assign _overblik = include.overblik | default: false %}
<li class="{% if _current -%}current{% endif %} {% if _active -%}active{% endif %} {% if _anchor -%}has-anchor-links{% endif %}">
{% assign titletext = include.page.title %}
  {%  assign _anchor = false %}
{% if include.use_alt_text and include.alternative_text %}
  {% assign titletext = include.alternative_text %}
{% endif %}

  {% unless include.flat -%}
    {% assign _href_key = include.href_key %}
    {% assign _text_key = include.href_key %}
    {% if include.categorynav && _overblik == false -%}
      <!--in nav.yml, it is specified that this page should use a category from nav.yml as navmenu -->
      {% assign _links = site.data.nav[include.categorynav] %}
      {% if _links.href -%}
        {% assign _href_key = _links.href %}
        {% assign _text_key = _links.text %}
        {% assign _data_key = _links.data %}
        {% assign _links = site.data[_data_key] %}
      {% elsif _links.type %}
      {% assign _links = nil %}
      {% endif %}

      {% assign _parent = include.parent | append: "-" | append: include.item %}
      <div class="overflow-menu">
        <button aria-haspopup="true" class="button-overflow-menu js-menudropdown" data-js-target="#submenu-level{{include.level}}-{{ include.parent | slugify }}-{{ titletext | slugify }}" {% if is_active == true -%}aria-expanded="true"{% else -%}aria-expanded="false"{% endif %}  >
          <span>{{ titletext | smartify }}</span>
        </button>
        <div class="overflow-menu-inner" id="submenu-level{{include.level}}-{{ include.parent | slugify }}-{{ titletext | slugify }}" {% if is_active == true -%}aria-hidden="false"{% else -%}aria-hidden="true"{% endif %}>
          <ul class="overflow-list">
            {%
              include nav/page-item.html
              page=include.page
              use_alt_text=include.use_alt_text
              alternative_text=include.alternative_text
              overblik=true
            %}
            
          {%
              include nav/list.html
              links=_links
              text_key=_text_key
              href_key=_href_key
              subnav_class="overflow-list"
              use_alt_text=true
              parent=_parent
              level=include.level
            %}
          </ul>
        </div>
      </div>  

    {% else -%}

      <a href="{{ include.page.url | relative_url }}" {% if _current and _active == false %}aria-current="true"{% endif %}{%  if _active %}aria-current="page"{% endif %} class="nav-link">
        {{ titletext | smartify }}{% if _overblik == true %}<span class="helptext"> (overblik)</span>{% endif %}
      </a>
     
    {% endif %}
  {% endunless %}
</li>