{%- assign headings = site.data.headings[include.headings] -%}
{%- assign guidelines = site.data.headings[include.guidelines] -%}
{%- assign code = site.data.headings[include.code] -%}
{%- assign id = "anchorlinks" | append: include.append -%}
{%- assign setCodeAnchor = true -%}
<nav class="anchorbox{% if include.classes %} {{ include.classes }}{% endif %}" aria-labelledby="{{id}}">
    <h2 class="anchortitle" id="{{id}}">Indhold på siden</h2>
    <ul class="anchorlist">
        {% for heading in headings -%}
        <li><a href="#{% include create-id.html heading=heading.h2 append=include.append %}">{{heading.h2}}</a></li>
        {% endfor %}
        {% for heading in guidelines -%}
        <li class="anchorlink-guidelines"><a href="#{% include create-id.html heading=heading.h2 %}">{{heading.h2}}</a></li>
        {% endfor %}
        {% for heading in code -%}
        <li class="anchorlink-code">{%- if setCodeAnchor -%}<span id="kode" hidden></span>{%- assign setCodeAnchor = false -%}{%- endif -%}<a href="#{% include create-id.html heading=heading.h2 append='-kode' %}">{{heading.h2}}</a></li>
        {% endfor %}
    </ul>
</nav>