{% assign children = site.components | where: 'parent', include.parent | sort: 'order' %}
{% for child in children %}
<section class="styleguide-child-container content" id="section-{{ child.id }}">
  {% if child.title != "" %}<h2 id="{{ child.title | slugify }}" {% if child.headingClass %}class="{{ child.headingClass }}"{% endif %}>{{ child.title }}</h2>{% endif %}
  {% if child.lead != null %}
    <p class="font-lead">{{ child.lead }}</p>
  {% endif %}
  {% if child.component %}
  {% include code/preview.html component=child.component title=child.componentTitle %}
  {% if child.componentHideCode != true %}
  {% include code/accordion.html component=child.component %}
  {% endif %}
  {% endif %}
  {{ child.content }}
</section>
{% endfor %}
