<footer class="demo-footer d-print-none" aria-label="Gå tilbage til oversigten eller skift tema">
  <div class="demo-footer-content d-flex align-items-center">
    <a class="button" id="btn-demo-return" href="/eksempler/"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>Tilbage<span class="sr-only"> til dokumentationssiden</span></a>
    <label class="sr-only" for="themeselector">Skift tema</label>
    <select class="form-select style-switcher mt-0 ml-4" id="themeselector" name="themeselector">
      <option value="virk">Tema: Virk</option>
      <option value="borgerdk">Tema: Borger.dk</option>
    </select>
  </div>
</footer>