<footer class="demo-footer d-print-none" aria-label="Gå tilbage til oversigten eller skift tema">
  <div class="demo-footer-content d-flex align-items-center">
    <a class="button button-tertiary mr-5" id="btn-demo-return" href="/eksempler/"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#arrow-left"></use></svg>Tilbage<span class="sr-only"> til dokumentationssiden</span></a>
    <button class="function-link" id="changeDemoTheme"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#palette"></use></svg><span id="changeDemoThemeText">Skift tema</span></button>
  </div>
</footer>