<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 footer-col ">
                    <section>
                        <h2 class="h5 mb-4">Digitaliseringsstyrelsen & Erhvervsstyrelsen</h2>
                        <p><a href="mailto:FDS@erst.dk" class="function-link" title="Send en e-mail til Det Fælles Designsystem">FDS@erst.dk</a></p>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-3 footer-col ">
                    <section>
                        <h2 class="h5 mb-4">Webtilgængelighed og cookies</h2>
                        <ul class="nobullet-list">
                            <li><a href="/privatlivspolitik-cookies/" class="function-link">Privatlivspolitik og cookies</a></li>
                            <li><a href="https://www.was.digst.dk/designsystem-dk" class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></li>
                            <li><button class="function-link" id="changeTheme"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#palette"></use></svg><span id="changeThemeText">Skift tema</span></button></li>
                        </ul>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-6 footer-col ">
                    <section>
                        <h2 class="h5 mb-4">Mangler vi noget?</h2>
                        <p>Hjælp os med at gøre Det Fælles Designsystem endnu bedre ved at gøre os opmærksom på dine udfordringer og ønsker.</p>
                        <ul class="mt-4 nobullet-list">
                            <li><a href="https://github.com/detfaellesdesignsystem/dkfds-components/issues/new/choose" class="function-link icon-link">Opret et “issue” (en sag) på GitHub<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></li>
                            <li><a  href="mailto:FDS@erst.dk" class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#email"></use></svg>Send en mail til FDS-teamet</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>
