<!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">

<!-- Mobile Specific Metas
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">

<!-- Title and meta description
================================================== -->
  {% include meta.html %}

  {% if site.url %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% endif %}

<!-- Favicons
================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon2-erst.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-erst.png">

<!-- CSS
================================================== -->

<!-- Preload fonts -->
<link rel="preload" href="/assets/fonts/IBMPlexSans-Medium.woff" as="font" crossorigin>
<link rel="preload" href="/assets/fonts/IBMPlexSans-Bold.woff" as="font" crossorigin>
<link rel="preload" href="/assets/fonts/IBMPlexSans-Regular.woff" as="font" crossorigin>
<link rel="preload" href="/assets/fonts/IBMPlexSans-SemiBold.woff" as="font" crossorigin>

{% if page.select2 %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
{% endif %}

{% if page.datatables %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
{% endif %}

<style>
  body {
    opacity: 0; /*hide page until theme is downloaded by js.*/
  }

  /* Fixes Edge bug, where list-style-type:none is ignored if it's set after li has been hidden. It must be present at pageload to work.*/
  ul {
    list-style-type: none;
  }
</style>

