<header class="header">
  <div id="top"></div>
  <a class="skipnav" href="#main-content">Gå til sidens indhold</a>
     <!--2A: Solutiuon header -->
    <div class="solution-header">
      <div class="solution-header-inner container">
        <div class="solution-heading d-flex align-items-center">
            <a href="/">Det Fælles Designsystem</a>{% if site.environment == "development" %}<strong class="badge badge-large badge-error ml-4">Develop</strong>{% endif %}
        </div>
        <button class="function-link button-menu-open js-menu-open ml-auto d-print-none" aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>
      </div>

      {% unless page.search %}
      <div class="search-form d-lg-none py-4 container" id="search-form-mobile">
        <form method="get" action="/search/" id="mobileSearchForm" role="search">
          <div class="form-group search">
            <input class="form-input input-char-27" id="search-input-mobile" name="q" type="search" required aria-label="Søg">
            <button class="button button-search" type="submit" id="searchmobilebtn">Søg</button>
          </div>
        </form>
      </div>
      {% endunless %}
    </div>

    <div class="overlay"></div>
    <!-- Desktop main menu-->
    <nav class="nav d-none d-lg-block" aria-label="Hovedmenu">
      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->

        <div class="navbar-inner container">
          <ul class="nav-primary">
            {%
              include nav/nav-primary.html
              links=site.data.nav.primary
              flat=true
            %}
          </ul>
          {% unless page.search %}
          <div class="search-form">
            <form method="get" action="/search/" id="menuSearchForm" role="search">
              <div class="form-group search">
                <input class="form-input input-char-27" id="search-input" name="q" type="search" required aria-label="Søg">
                <button class="button button-search" type="submit" id="searchbtn">Søg</button>
              </div>
            </form>
          </div>
          {% endunless %}
        </div>
      </div>
      <!-- 3: Main navigation end-->
    </nav>
    <!-- collapsible nav end-->

    <!-- Mobile main menu-->
    <nav class="nav d-lg-none">
      <button class="function-link button-menu-close js-menu-close" aria-label="Luk menu"><svg class="icon-svg " aria-hidden="true" focusable="false" tabindex="-1"><use xlink:href="#close"></use></svg>Luk</button>
      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->

        <div class="navbar-inner">
          <ul class="nav-primary">
            {%
              include nav/nav-primary.html
              links=site.data.nav.mobile
            %}
          </ul>
        </div>
      </div>
      <!-- 3: Main navigation end-->
    </nav>
   <!-- collapsible nav end-->
</header>
