<a class="new-card"{% if include.hrefNumber %} href="{{ site.data.nav['Komponenter_category'][include.hrefNumber].href }}"{% endif %}{% if include.href %} href="{{ include.href }}"{% endif %} id="{{ include.id }}">
    {% if include.img %}<div class="new-card-image" {{ include.style }}></div>{% endif %}
    <div class="new-card-content">
        <{{ include.headingLevel }} class="hyphens-manual">{{ include.heading }}</{{ include.headingLevel }}>
        {% if include.content %}<p>{{ include.content }}</p>{% endif %}
    </div>
    <div class="card-actions">
        <svg class="icon-svg" focusable="false" aria-hidden="true">
            <use href="#arrow-forward"></use>
        </svg>
    </div>
</a>