<script src="{{ site.baseurl }}/assets/js/theme.js"></script>
<script src="{{ site.baseurl }}/assets/js/requirements-tool~styleguide.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor.js"></script>
<script src="{{ site.baseurl }}/assets/js/styleguide.js"></script>

{% if page.select2 %}
<script src="{{ site.baseurl }}/assets/js/dkfds-selectwoo-example.js"></script>
{% endif %}

{% if page.micromodal %}
<script src="{{ site.baseurl }}/assets/js/dkfds-micromodal-example.js"></script>
{% endif %}
{% if page.datatables %}
<script src="{{ site.baseurl }}/assets/js/dkfds-datatables-example.js"></script>
{% endif %}
{% if page.pikaday %}
<script src="{{ site.baseurl }}/assets/js/dkfds-pikaday-example.js"></script>
{% endif %}
{% if page.tippy %}
<script src="{{ site.baseurl }}/assets/js/dkfds-tippy-example.js"></script>
{% endif %}
