    <div aria-label="Vælg et tema" role="alert" class="alert alert-warning has-close d-none mt-4" id="themeAlert">
        <div class="alert-body">
            <p class="alert-heading pr-7">Vælg et tema</p><a href="javascript:void(0);" class="alert-close"><svg class="icon-svg" aria-hidden="true" focusable="false" tabindex="-1"><use xlink:href="#close"></use></svg>Luk</a>
            <p class="alert-text">Vælger du ikke et tema, vælger vi et for dig. Du kan efterfølgende skifte tema i footeren.</p><br>
            <button class="button button-primary" id="borgerdkThemeBtn">Borger.dk tema</button>
            <button class="button button-primary" id="virkThemeBtn">Virk tema</button>
        </div>
    </div>
