{% import "components/buttons/buttons.njk" as button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<button class="button button-primary js-tippy" data-tippy-content="Dette er et tooltip">
    Knap med tooltip
    <span class="sr-only">Dette er tooltipteksten til skærmlæsere</span>
</button>
