{% import "components/buttons/buttons.njk" as button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<div class="container py-8">
  <a href="javascript:void(0)" class="popover js-tippy" data-tippy-trigger="click" data-tippy-content="Dette er en hjælpetekst i en popover">{{ icon_svg('help-circle-outline')}}<span class="sr-only">Dette er tooltipteksten til skærmlæsere, popover</span></a>
</div>
