{% import "components/buttons/buttons.njk" as button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<a href="javascript:void(0)" class="js-tippy" data-tippy-content="Dette er en hjælpetekst i en tooltip">{{ icon_svg('help-circle-outline')}}<span class="sr-only">Dette er tooltipteksten til skærmlæsere, popover</span></a>
