{% from "components/table/table.njk" import table as table %}

<h3 class="mt-0">Normal</h3>
{{ 
    table({
        "thead": [
            { "headerContent": "Affaldstype" },
            { "headerContent": "Farvekode" },
            { "headerContent": "Beskrivelse" },
            { "headerContent": "Hvor ender det?" }
        ],
        "tbody": [
            [
                { "content": "Dagrenovation" },
                { "content": "Grøn" },
                { "content": "Madaffald, samt papir." },
                { "content": "Forbrændingen" }
            ],
            [
                { "content": "Bioaffald og kompost" },
                { "content": "Beige" },
                { "content": "Alt madaffald." },
                { "content": "Komposteret til muld" }
            ],
            [
                { "content": "Glas" },
                { "content": "Hvid" },
                { "content": "Alle typer glas." },
                { "content": "Vinhuse og nyt glas" }
            ],
            [
                { "content": "Elektronik" },
                { "content": "Orange" },
                { "content": "Genstande, der har brugt strøm." },
                { "content": "Demonteringsanlæg" }
            ]
        ]
    })
}}


<h3>Kompakt</h3>
{{ 
    table({
        "compactClass": "table--compact",
        "thead": [
            { "headerContent": "Affaldstype" },
            { "headerContent": "Farvekode" },
            { "headerContent": "Beskrivelse" },
            { "headerContent": "Hvor ender det?" }
        ],
        "tbody": [
            [
                { "content": "Dagrenovation" },
                { "content": "Grøn" },
                { "content": "Madaffald, samt papir." },
                { "content": "Forbrændingen" }
            ],
            [
                { "content": "Bioaffald og kompost" },
                { "content": "Beige" },
                { "content": "Alt madaffald." },
                { "content": "Komposteret til muld" }
            ],
            [
                { "content": "Glas" },
                { "content": "Hvid" },
                { "content": "Alle typer glas." },
                { "content": "Vinhuse og nyt glas" }
            ],
            [
                { "content": "Elektronik" },
                { "content": "Orange" },
                { "content": "Genstande, der har brugt strøm." },
                { "content": "Demonteringsanlæg" }
            ]
        ]
    })
}}

<h3>Ekstra kompakt</h3>
{{ 
    table({
        "compactClass": "table--extracompact",
        "thead": [
            { "headerContent": "Affaldstype" },
            { "headerContent": "Farvekode" },
            { "headerContent": "Beskrivelse" },
            { "headerContent": "Hvor ender det?" }
        ],
        "tbody": [
            [
                { "content": "Dagrenovation" },
                { "content": "Grøn" },
                { "content": "Madaffald, samt papir." },
                { "content": "Forbrændingen" }
            ],
            [
                { "content": "Bioaffald og kompost" },
                { "content": "Beige" },
                { "content": "Alt madaffald." },
                { "content": "Komposteret til muld" }
            ],
            [
                { "content": "Glas" },
                { "content": "Hvid" },
                { "content": "Alle typer glas." },
                { "content": "Vinhuse og nyt glas" }
            ],
            [
                { "content": "Elektronik" },
                { "content": "Orange" },
                { "content": "Genstande, der har brugt strøm." },
                { "content": "Demonteringsanlæg" }
            ]
        ]
    })
}}
