{% from "components/table/table.njk" import table as table %}

<h4 class="mt-0">Normal</h4>
{{ 
    table({
        "thead": [
            { "headerContent": "Affaldstype" },
            { "headerContent": "Farvekode" },
            { "headerContent": "Beskrivelse" },
            { "headerContent": "Hvor ender det?" }
        ],
        "tbody": [
            [
                { "content": "Dagrenovation" },
                { "content": "Grøn" },
                { "content": "Madaffald, samt papir." },
                { "content": "Forbrændingen" }
            ],
            [
                { "content": "Bioaffald og kompost" },
                { "content": "Beige" },
                { "content": "Alt madaffald." },
                { "content": "Komposteret til muld" }
            ],
            [
                { "content": "Glas" },
                { "content": "Hvid" },
                { "content": "Alle typer glas." },
                { "content": "Vinhuse og nyt glas" }
            ],
            [
                { "content": "Elektronik" },
                { "content": "Orange" },
                { "content": "Genstande, der har brugt strøm." },
                { "content": "Demonteringsanlæg" }
            ]
        ]
    })
}}


<h4>Kompakt</h4>
{{ 
    table({
        "variant": {
            "cellPadding": "compact"
        },
        "thead": [
            { "headerContent": "Affaldstype" },
            { "headerContent": "Farvekode" },
            { "headerContent": "Beskrivelse" },
            { "headerContent": "Hvor ender det?" }
        ],
        "tbody": [
            [
                { "content": "Dagrenovation" },
                { "content": "Grøn" },
                { "content": "Madaffald, samt papir." },
                { "content": "Forbrændingen" }
            ],
            [
                { "content": "Bioaffald og kompost" },
                { "content": "Beige" },
                { "content": "Alt madaffald." },
                { "content": "Komposteret til muld" }
            ],
            [
                { "content": "Glas" },
                { "content": "Hvid" },
                { "content": "Alle typer glas." },
                { "content": "Vinhuse og nyt glas" }
            ],
            [
                { "content": "Elektronik" },
                { "content": "Orange" },
                { "content": "Genstande, der har brugt strøm." },
                { "content": "Demonteringsanlæg" }
            ]
        ]
    })
}}

<h4>Ekstra kompakt</h4>
{{ 
    table({
        "variant": {
            "cellPadding": "extracompact"
        },
        "thead": [
            { "headerContent": "Affaldstype" },
            { "headerContent": "Farvekode" },
            { "headerContent": "Beskrivelse" },
            { "headerContent": "Hvor ender det?" }
        ],
        "tbody": [
            [
                { "content": "Dagrenovation" },
                { "content": "Grøn" },
                { "content": "Madaffald, samt papir." },
                { "content": "Forbrændingen" }
            ],
            [
                { "content": "Bioaffald og kompost" },
                { "content": "Beige" },
                { "content": "Alt madaffald." },
                { "content": "Komposteret til muld" }
            ],
            [
                { "content": "Glas" },
                { "content": "Hvid" },
                { "content": "Alle typer glas." },
                { "content": "Vinhuse og nyt glas" }
            ],
            [
                { "content": "Elektronik" },
                { "content": "Orange" },
                { "content": "Genstande, der har brugt strøm." },
                { "content": "Demonteringsanlæg" }
            ]
        ]
    })
}}
