{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/buttons/buttons.njk" import button as button %}

<h1 class="h2">Dine kontaktoplysninger</h1>
<form novalidate>
    {{textinput({
        "name": "fnavn",
        "label":{
            "text": "Fornavn"
            },
        "id":"fnavn"})}}
    {{textinput({
        "name": "enavn",
        "label": {
            "text":"Efternavn"
            },
        "id":"enavn"})}}
    {{ button({
        "text":"Gem oplysninger", 
        "classes": "primary mt-9"}) }}
</form>
