{% from "components/search/search.njk" import search as search %}

{{ 
    search({
        "inputId": "input-type-text",
        "classes": "input-char-27",
        "name": "search-button"
    }) 
}}

{{ 
    search({
        "inputId": "input-type-text-icon",
        "classes": "input-char-27",
        "name": "search-icon",
        "useIcon": true
    }) 
}}
