{% from "components/search/search.njk" import search as search %}

{{ 
    search({
        "id": "input-type-text",
        "classes": "input-char-27",
        "name": "search-button"
    }) 
}}

{{ 
    search({
        "id": "input-type-text-icon",
        "classes": "input-char-27",
        "name": "search-icon",
        "searchbutton": {
            "iconOnly": true
        }
    }) 
}}
