{% from "components/form/controls/text-input.njk" import textinput as textinput %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-input-fields-4</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Disabled og frivillig-label</p>
            {{
                textinput({
                    "id": "input-text",
                    "name": "input-text",
                    "label": "E-mail",
                    "disabled": true,
                    "optionalLabel": true
                })
            }}
        </div>
    </div>
</main>