{% from "components/form/controls/text-input.njk" import textinput as textinput %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Indhold og karakterbegrænsning</p>
            {{
                textinput({
                    "id": "input-text",
                    "name": "input-text",
                    "label": "E-mail",
                    "value": "noget@tekst.dk",
                    "characterLimit": 20
                })
            }}
        </div>
    </div>
</main>