{% from "components/form/controls/text-input.njk" import textinput as textinput %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-input-fields-9</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Fejlbesked, hjælpetekst og karakterbegrænsning</p>
            {{
                textinput({
                    "id": "input-text",
                    "name": "input-text",
                    "label": "E-mail",
                    "helptext": "Dette er en hjælpetekst",
                    "errorMessage": "Der er sket en fejl",
                    "characterLimit": 20
                })
            }}
        </div>
    </div>
</main>