{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer-simple.njk" import footer_simple as footer_simple %}

{% from "components/form/controls/select.njk" import select as select %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/form/controls/text-area.njk" import textarea as textarea %}
{% from "components/form/controls/checkbox.njk" import checkbox as checkbox %}

{% block header %}
  <header class="header">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><span class="weight-semibold">Christian Emil Vestergaard Christiansen</span><br />Forsikringens Forsikringsfirma</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Erhvervsministeriet</p>
        <p>Support: 72 20 60 00 <br><a href="javascript:void(0);" data-micromodal-trigger="modal-contact" class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text-outline"></use></svg>Kontakt</a></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">{{icon_svg("save")}}Gem kladde</a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
<main class="container page-container">
    {{overflowmenu("Trin 7 af 9","overflow_steps", true, false, "menu-down" ,"
        <ul class='sidenav-list'>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-1/'>
                    1. Oplysninger om afsender
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-2/'>
                    2. Hvis AES har spørgsmål til sagen
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-3/'>
                    3. Oplysninger om skadelidte
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-4/'>
                    4. Sagens natur
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-5/'>
                    5. Oplysninger om sagen
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-6/'>
                    6. Tilføj dokumentation for første undersøgelse af skaden
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li class='active current'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-7/'>
                    7. Tilføj dokumentation fra sagen
                </a>
            </li>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-8/'>
                    8. Tilføj kommentarer til sagen
                </a>
            </li>
            <li>
                <a href='/pages/eksempler/AES-erstatningssag/aes-9/'>
                    9. Opsummering
                </a>
            </li>
        </ul>
        "
    ) }}
        <div role="group" aria-describedby="dokumentation-fra-sagen">
            <h1 id="dokumentation-fra-sagen">Tilføj dokumentation fra sagen</h1>
            <ul class="nobullet-list">
                <li>
                    {{ checkbox("id-documentation-1", "Oplysninger om varigt mén", "Oplysninger om varigt mén", false, false, "Oplysninger om varigt mén", "", false, true, "", "js-checkbox-toggle-content", "data-js-target='#collapse-check' aria-controls='collapse-check' aria-expanded='false'") }}
                    <div id="collapse-check" aria-hidden="true" class="box-border-l collapsed">
                        <div class="py-4">
                            <form class="form">
                                <div class="form-group file-input">
                                    <label class="form-label" for="input-file">Tilføj dokument</label>
                                    <input type="file" id="input-file" name="file">
                                </div>
                            </form>
                            <table class="table table--borderless table--compact table--responsive-headers mt-5">
                                <thead>
                                    <tr>
                                        <th>Filnavn</th>
                                        <th>Navngiv dokument</th>
                                        <th>Kommentar (frivilligt)</th>
                                        <th class="align-text-right">Slet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="break-word w-percent-md-40">{{ icon_svg('file')}} prn0237452_attest.pdf</td>
                                        <td class="mt-4 mt-lg-0">{{select("Navngiv dokument", "select-dokumentationdtype1", "Vælg dokumentationstype", "", "Vælg type", [{value: 'Lægeerklæring', text:'Lægeerklæring' }], "", "", "", "sr-only")}}</td>
                                        <td class="mt-4 mt-lg-0">{{ textarea("id-documentation-1-expanded", "Kommentar", "(Frivilligt)", "input-width-m", "Kommentar", "sr-only", "", "", "", "1") }}</td>
                                        <td class="align-text-md-right mt-4 mt-lg-0">
                                            <button class="button button-unstyled">
                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete-outline"></use></svg>
                                                <span class="sr-only">Slet</span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mt-4 mt-lg-0 break-word w-percent-md-40">{{ icon_svg('file')}} sgn1023152_attest.pdf</td>
                                        <td class="mt-4 mt-lg-0">{{select("Navngiv dokument", "select-dokumentationdtype2", "Vælg dokumentationstype", "", "Vælg type", [{value: 'Lægeerklæring', text:'Lægeerklæring' }], "", "", "", "sr-only")}}</td>
                                        <td class="mt-4 mt-lg-0">{{ textarea("id-documentation-2-expanded", "Kommentar", "(Frivilligt)", "input-width-m", "Kommentar", "sr-only", "", "", "", "1") }}</td>
                                        <td class="align-text-md-right mt-4 mt-lg-0">
                                            <button class="button button-unstyled">
                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete-outline"></use></svg>
                                                <span class="sr-only">Slet</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <li>
                    {{ checkbox("id-documentation-2", "Oplysninger om tabt erhvervsevne", "Oplysninger om tabt erhvervsevne", false, false, "Oplysninger om tabt erhvervsevne", "", false, true, "", "js-checkbox-toggle-content", "data-js-target='#collapse-check1' aria-controls='collapse-check1' aria-expanded='false'") }}
                    <div id="collapse-check1" aria-hidden="true" class="box-border-l collapsed">
                        <div class="py-4">
                            <form class="form">
                                <div class="form-group file-input">
                                    <label class="form-label" for="input-file2">Tilføj dokument</label>
                                    <input type="file" id="input-file2" name="file">
                                </div>
                            </form>
                            <table class="table table--borderless table--compact table--responsive-headers mt-5">
                                <thead>
                                    <tr>
                                        <th>Filnavn</th>
                                        <th>Navngiv dokument</th>
                                        <th>Kommentar (frivilligt)</th>
                                        <th class="align-text-right">Slet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="break-word w-percent-md-40">{{ icon_svg('file')}} dkf4903283_attest.pdf</td>
                                        <td class="mt-4 mt-lg-0">{{select("Navngiv dokument", "select-dokumentationdtype3", "Vælg dokumentationstype", "", "Vælg type",  [{value: 'Lægeerklæring', text:'Lægeerklæring' }], "", "", "", "sr-only")}}</td>
                                        <td class="mt-4 mt-lg-0">{{ textarea("id-documentation-3-expanded", "Kommentar", "(frivilligt)", "input-width-m", "Kommentar", "sr-only", "", "", "", "1") }}</td>
                                        <td class="align-text-md-right mt-4 mt-lg-0">
                                            <button class="button button-unstyled">
                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete-outline"></use></svg>
                                                <span class="sr-only">Slet</span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mt-4 mt-lg-0 break-word w-percent-md-40">{{ icon_svg('file')}} kfo1127303_attest.pdf</td>
                                        <td class="mt-4 mt-lg-0">{{select("Navngiv dokument", "select-dokumentationdtype4", "Vælg dokumentationstype", "", "Vælg type", [{value: 'Lægeerklæring', text:'Lægeerklæring' }], "", "", "", "sr-only")}}</td>
                                        <td class="mt-4 mt-lg-0">{{ textarea("id-documentation-4-expanded", "Kommentar", "(frivilligt)", "input-width-m", "Kommentar", "sr-only", "", "", "", "1") }}</td>
                                        <td class="align-text-md-right mt-4 mt-lg-0">
                                            <button class="button button-unstyled">
                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete-outline"></use></svg>
                                                <span class="sr-only">Slet</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <li>
                    {{ checkbox("id-documentation-3", "Tilføj andre dokumenter", "Tilføj andre dokumenter", false, false, "Tilføj andre dokumenter", "", false, true, "", "js-checkbox-toggle-content", "data-js-target='#collapse-check2' aria-controls='collapse-check2' aria-expanded='false'") }}
                    <div id="collapse-check2" aria-hidden="true" class="box-border-l collapsed">
                        <div class="py-4">
                            <form class="form">
                                <div class="form-group file-input">
                                    <label class="form-label" for="input-file3">Tilføj dokument</label>
                                    <input type="file" id="input-file3" name="file">
                                </div>
                            </form>
                            <table class="table table--borderless table--compact table--responsive-headers mt-5">
                                <thead>
                                    <tr>
                                        <th>Filnavn</th>
                                        <th>Navngiv dokument</th>
                                        <th>Kommentar (frivilligt)</th>
                                        <th class="align-text-right">Slet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="break-word w-percent-md-40">{{ icon_svg('file')}} ohb3428439_attest.pdf</td>
                                        <td class="mt-4 mt-lg-0">{{select("Navngiv dokument", "select-dokumentationstype5", "Vælg dokumentationstype", "", "Vælg type", [{value: 'Lægeerklæring', text:'Lægeerklæring' }], "", "", "", "sr-only")}}</td>
                                        <td class="mt-4 mt-lg-0">{{ textarea("id-documentation-5-expanded", "Kommentar", "(Frivilligt)", "input-width-m", "Kommentar", "sr-only", "", "", "", "1") }}</td>
                                        <td class="align-text-md-right mt-4 mt-lg-0">
                                            <button class="button button-unstyled">
                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete-outline"></use></svg>
                                                <span class="sr-only">Slet</span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mt-4 mt-lg-0 break-word w-percent-md-40">{{ icon_svg('file')}} sdv5644382_attest.pdf</td>
                                        <td class="mt-4 mt-lg-0">{{select("Navngiv dokument", "select-dokumentationstype6", "Vælg dokumentationstype", "", "Vælg type", [{value: 'Lægeerklæring', text:'Lægeerklæring' }], "", "", "", "sr-only")}}</td>
                                        <td class="mt-4 mt-lg-0">{{ textarea("id-documentation-6-expanded", "Kommentar", "(Frivilligt)", "input-width-m", "Kommentar", "sr-only", "", "", "", "1") }}</td>
                                        <td class="align-text-md-right mt-4 mt-lg-0">
                                            <button class="button button-unstyled">
                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete-outline"></use></svg>
                                                <span class="sr-only">Slet</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    <nav class="page-navigation d-print-none">
        <a href="/pages/eksempler/AES-erstatningssag/aes-8" class="button button-primary">Næste</a>
        <a href="/pages/eksempler/AES-erstatningssag/aes-6" class="button button-quaternary"><svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#menu-left"></use></svg>Tilbage</a>
    </nav>
</main>

{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_simple(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}
