{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/form/controls/text-area.njk" import textarea as textarea %}
{% from "components/form/controls/checkbox.njk" import checkbox as checkbox %}

{% block header %}
  <header class="header">
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg({"name":"close"})}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><span class="weight-semibold">Anders Andersen</span><br />Forsikringens Forsikringsfirma</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Erhvervsministeriet</p>
        <p>Support: 72 20 60 00 <br><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">{{icon_svg({"name": "save"})}}Gem kladde
            </a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->

  </header>
{% endblock %}

{% block body %}
<main class="container page-container pt-4 pt-lg-0" id="main-content">
    <div><a href="/pages/eksempler/AES-erstatningssag/aes-7/" class="back-link">Tilbage</a></div>
    {{overflowmenu(stepguide) }}

    <div role="group" aria-labelledby="tilfoej-kommentar">
        <h1 id="tilfoej-kommentar">Tilføj kommentarer til sagen</h1>
        <ul class="nobullet-list">
            <li>
                {{ checkbox({
                    "id": "checkbox-comments-1",
                    "label": "Faktuelle oplysninger",
                    "name": "faktuelle-oplysninger",
                    "large": true,
                    "classes": "js-checkbox-toggle-content",
                    "inputAttributes": "data-js-target='#collapse-check' data-aria-controls='collapse-check' aria-expanded='false'"}) }}
                <div id="collapse-check" aria-hidden="true" class="checkbox-content checkbox-content-large">
                    <div class="py-4">
                        {{ textarea({
                            "id": "id-comment-1-expanded", 
                            "label": {
                                "text": "Kommentar"
                                },
                            "classes": "input-width-m",
                            "name": "kommentar1",
                            "rows": 3}) }}
                    </div>
                </div>
            </li>
            <li>
                <div class="mt-3">
                    {{ checkbox({
                        "id": "checkbox-comments-2",
                        "label": "Spørgsmål til AES",
                        "name": "spoergsmål-aes",
                        "large": true,
                        "classes": "js-checkbox-toggle-content",
                        "inputAttributes": "data-js-target='#collapse-check1' data-aria-controls='collapse-check1' aria-expanded='false'"}) }}
                    <div id="collapse-check1" aria-hidden="true" class="checkbox-content checkbox-content-large">
                        <div class="py-4">
                        {{ textarea({
                            "id": "id-comment-2-expanded", 
                            "label": {
                                "text": "Kommentar"
                                },
                            "classes": "input-width-m",
                            "name": "kommentar2",
                            "rows": 3}) }}
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="mt-3">
                    {{ checkbox({
                        "id": "checkbox-comments-3",
                        "label": "Instruks til AES",
                        "name": "instruks-aes",
                        "large": true, 
                        "classes": "js-checkbox-toggle-content",
                        "inputAttributes": "data-js-target='#collapse-check2' data-aria-controls='collapse-check2' aria-expanded='false'"}) }}
                    <div id="collapse-check2" aria-hidden="true" class="checkbox-content checkbox-content-large">
                        <div class="py-4">
                        {{ textarea({
                            "id": "id-comment-3-expanded", 
                            "label": {
                                "text": "Kommentar"
                                },
                            "classes": "input-width-m",
                            "name": "kommentar3",
                            "rows": 3}) }}
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="mt-3">
                    {{ checkbox({
                        "id": "checkbox-comments-4",
                        "label": "Særlige forsikringsbetingelser",
                        "name": "saerlige-forsikringsbetingelser",
                        "large": true, 
                        "classes": "js-checkbox-toggle-content",
                        "inputAttributes": "data-js-target='#collapse-check3' data-aria-controls='collapse-check3' aria-expanded='false'"}) }}
                    <div id="collapse-check3" aria-hidden="true" class="checkbox-content checkbox-content-large">
                        <div class="py-4">
                        {{ textarea({
                            "id": "id-comment-4-expanded", 
                            "label": {
                                "text": "Kommentar"
                                },
                            "classes": "input-width-m",
                            "name": "kommentar4",
                            "rows": 3}) }}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    
        <form novalidate method="get" action="/pages/eksempler/AES-erstatningssag/aes-9/">
            <button class="button button-primary mt-8 d-print-none">Næste</button>
        </form>
</main>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}
