{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/form/controls/select.njk" import select as select %}

{% block header %}
  <header class="header">
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg({"name":"close"})}}Luk</button>

      <div class="portal-info-mobile">
       <p class="user"><span class="weight-semibold">Anders Andersen</span><br />Forsikringens Forsikringsfirma</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Erhvervsministeriet</p>
        <p>Support: 72 20 60 00 <br><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">{{icon_svg({"name": "save"})}}Gem kladde</a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
<main class="container page-container pt-4 pt-lg-0" id="main-content">
    <div><a href="/pages/eksempler/AES-erstatningssag/aes-5/" class="back-link">Tilbage</a></div>
    {{overflowmenu(stepguide) }}
    <div role="group" aria-labelledby="tilfoej-documentation">
    <h1 id="tilfoej-documentation">Tilføj dokumentation for første undersøgelse af skaden</h1>
    <form novalidate class="form">
        <div class="form-group file-input">
            <label class="form-label" for="input-file">Tilføj dokument</label>
            <input type="file" id="input-file" name="file">
        </div>
    </form>
    </div>
    <table class="table table--borderless table--compact table--responsive-headers mt-6">
        <thead>
            <tr>
                <th>Filnavn</th>
                <th>Dokumentationstype</th>
                <th>Sidetal <span class="weight-normal">(frivilligt)</span></th>
                <th class="align-text-right">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mt-4 mt-lg-0 break-word w-percent-md-40 vertical-align-middle">{{ icon_svg({"name":'file-pdf'})}}prn1023152_journal.pdf</td>
                <td class="mt-4 mt-lg-0">
                  {{select({
                      "name": "dokument-type",
                      "id": "select-dokumentationtype",
                      "label":{
                          "text": "Vælg dokumentationstype",
                          "classes": "sr-only"
                          },
                        "options": [{"text":"Vælg type", "value": ""},{value: "Lægeerklæring", text:"Lægeerklæring"}]}) }}</td>
                <td class="mt-4 mt-lg-0">
                {{textinput({
                    "id":"id-pagenumber",
                    "label":{
                        "text": "Angiv sidetal",
                        "optionalLabel": true,
                        "classes": "sr-only"
                        },
                    "required": false,
                    "classes": "input-char-4",
                    "name": "sidetal"})}}
                </td>
                <td class="align-text-md-right mt-4 mt-lg-0">
                    <button class="button button-unstyled">
                        <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#trash-can"></use></svg>
                        <span class="sr-only">Slet</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    
    
        <form novalidate method="get" action="/pages/eksempler/AES-erstatningssag/aes-7/">
            <button class="button button-primary mt-8 d-print-none">Næste</button>
        </form>
</main>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}
