<div class="container">
    <div class="row row-bordered no-gutters py-3">
        <div class="col-md-4">
            <h3 class="h5 m-0">Virksomhedens navn</h3>
        </div>
        <div class="col-md-8">Forsikringens forsikring (enhed)</div>
    </div>
    <div class="row row-bordered py-3 no-gutters">
        <div class="col-md-4">
            <h3 class="h5 m-0">Kontaktperson</h3>
        </div>
        <div class="col-md-8">John Doe<br>privatskade@ff.dk<br>+45 1234 5678
        </div>
    </div>
    <div class="row row-bordered py-3 no-gutters">
        <div class="col-md-4">
            <h3 class="h5 m-0">Afsender er</h3>
        </div>
        <div class="col-md-8">Forsikringens forsikring (enhed)</div>
    </div>
</div>