<div class="container">
    <div class="row mb-2">
        <div class="col-md-4"><p>col-md-4</p></div>
        <div class="col-md-4 ml-auto"><p>col-md-4 ml-auto</p></div>
    </div>
    <div class="row mb-2">
        <div class="col-md-3 ml-md-auto"><p>col-md-3 ml-md-auto</p></div>
        <div class="col-md-3 ml-md-auto"><p>col-md-3 ml-md-auto</p></div>
    </div>
    <div class="row">
        <div class="col-auto mr-auto"><p>col-auto mr-auto</p></div>
        <div class="col-auto"><p>col-auto</p></div>
    </div>
</div>