<div class="container">
    <div class="row">
        <div class="col">
            <p>1 of 3</p>
        </div>
        <div class="col-6">
            <p>2 of 3 (col-6)</p>
        </div>
        <div class="col">
            <p>3 of 3</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>1 of 3</p>
        </div>
        <div class="col-5">
            <p>2 of 3 (col-5)</p>
        </div>
        <div class="col">
            <p>3 of 3</p>
        </div>
    </div>
</div>
