<div class="container">
    <div class="row mb-2">
        <div class="col-sm-5 col-md-6"><p>col-sm-5 col-md-6</p></div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"><p>col-sm-5 offset-sm-2 col-md-6 offset-md-0</p></div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6"><p>col-sm-6col-md-5col-lg-6</p></div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"><p>col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0</p></div>
    </div>
</div>