{% from "components/overflow-menu/overflow-menu-sort.njk" import overflowmenu as overflowmenu_sort %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p><strong>Simpel overflow menu 1</strong></p>
            {{overflowmenu({
                "button": {"text": "Overflow menu"},
                "id": "overflow1",
                "openRight": true,
                "content": "<ul class='overflow-list'>
                    <li><button>Mulighed 1</button></li>
                    <li><button>Mulighed 2</button></li>
                    <li><a href='#'>Mulighed 3 er et link</a></li>
                    <li><button>Mulighed 4 er en længere tekst</button></li>
                </ul>
                "}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>Simpel overflow menu 2</strong></p>
            {{overflowmenu({
                "button": {"text": "Overflow menu med en meget lang titel ift de andre"},
                "id": "overflow2",
                "openRight": true,
                "content": "<ul class='overflow-list'>
                    <li><button>Mulighed 1</button></li>
                    <li><button>Mulighed 2</button></li>
                    <li><a href='#'>Mulighed 3 er et link</a></li>
                    <li><button>Mulighed 4 har en meget lang længere tekst beskrivelse</button></li>
                </ul>
                "}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>Simpel overflow menu 3</strong></p>
            {{overflowmenu({
                "button": {"text": "Overflow menu venstre"},
                "id": "overflow3",
                "openRight": false,
                "content": "<ul class='overflow-list'>
                    <li><button>Mulighed 1 har en meget lang længere tekst beskrivelse</button></li>
                    <li><button>Mulighed 2 har også en meget lang længere tekst beskrivelse</button></li>
                    <li><a href='#'>Mulighed 4 har en meget kort tekst</a></li>
                    <li><button>Fire</button></li>
                </ul>
                "}) }}
        </div>
    </div>
</main>