{% from "components/buttons/buttons.njk" import button as button %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            {{ 
                button({
                    "variant": "primary",
                    "text": "En knap",
                    "id": "buttonid",
                    "attributes": "buttonattr",
                    "icon": "close",
                    "classes": {
                        "button": "buttonclass",
                        "icon": "iconclass"
                    },
                    "srOnly": "skjult tekst",
                    "tooltip": {
                        "text": "Bund tooltip",
                        "position": "bottom"
                    }
                }) 
            }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            {{ 
                button({
                    "variant": "secondary",
                    "text": "En anden knap",
                    "id": "buttonidtwo",
                    "attributes": "buttonattr",
                    "icon": "folder",
                    "classes": {
                        "button": "buttonclass",
                        "icon": "iconclass"
                    },
                    "srOnly": "skjult tekst for knap 2",
                    "tooltip": {
                        "text": "Tooltip med lang tekst, i hvert fald længere end tooltippet i den første knap",
                        "position": "top"
                    }
                }) 
            }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            {{ 
                button({
                    "variant": "tertiary",
                    "text": "En tredje knap",
                    "id": "buttonidthree",
                    "attributes": "buttonattr",
                    "icon": "home",
                    "classes": {
                        "button": "buttonclass",
                        "icon": "iconclass"
                    },
                    "srOnly": "skjult tekst for knap 3",
                    "tooltip": {
                        "text": "Tooltip med den længste tekst af alle knapper, i hvert fald længere end knapperne med tooltips på denne side",
                        "position": "bottom"
                    }
                }) 
            }}
        </div>
    </div>
</main>