{% from "components/buttons/buttons.njk" import button as button %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Knapper med lang tekst</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                {{ 
                    button({
                        "variant": "primary",
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis."
                    }) 
                }}
            </div>
            <div class="mt-3">
                {{ 
                    button({
                        "variant": "primary",
                        "text": "LoremipsumdolorsitametconsecteturadipiscingelitIntegervenenatisvitaefelisinmollisLoremipsumdolorsitametconsecteturadipiscingelitIntegervenenatisvitaefelisinmollis"
                    }) 
                }}
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-2">
            <p>Dette er tekst, som ligger i en col-2. Derfor ombrydes den tidligere, end man ellers ville forvente. Knapperne nedenunder ligger i samme col-2.</p>
            <div>
                {{ 
                    button({
                        "variant": "secondary",
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis."
                    }) 
                }}
            </div>
            <div class="mt-3">
                {{ 
                    button({
                        "variant": "secondary",
                        "text": "Loremipsumdolorsitametconsecteturadipiscingelitintegervenenatisvitaefelisinmollis"
                    }) 
                }}
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">
            <p>Denne række har fuld bredde. Knapperne er dog begrænset til 20%.</p>
            <div>
                {{ 
                    button({
                        "variant": "primary",
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis.",
                        "classes": { "button": "w-percent-20" }
                    }) 
                }}
            </div>
            <div class="mt-3">
                {{ 
                    button({
                        "variant": "primary",
                        "text": "Loremipsumdolorsitametconsecteturadipiscingelitintegervenenatisvitaefelisinmollis",
                        "classes": { "button": "w-percent-20" }
                    }) 
                }}
            </div>
        </div>
    </div>
    <div class="row mt-9 mb-9">
        <div class="col-12">
            <div>
                {{ 
                    button({
                        "variant": "secondary",
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis.",
                        "icon": "refresh"
                    }) 
                }}
            </div>
            <div class="mt-3">
                {{ 
                    button({
                        "variant": "secondary",
                        "text": "LoremipsumdolorsitametconsecteturadipiscingelitIntegervenenatisvitaefelisinmollisLoremipsumdolorsitametconsecteturadipiscingelitIntegervenenatisvitaefelisinmollis",
                        "icon": "refresh"
                    }) 
                }}
            </div>
        </div>
    </div>
</main>