{% from "components/buttons/buttons.njk" import button as button %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            {{ 
                button({
                    "variant": "primary",
                    "text": "Knap 1"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "secondary",
                    "text": "Knap 2"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "tertiary",
                    "text": "Knap 3"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "quaternary",
                    "text": "Knap 4"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "primary",
                    "text": "Knap 1",
                    "icon": "refresh"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "secondary",
                    "text": "Knap 2",
                    "icon": "refresh"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "tertiary",
                    "text": "Knap 3",
                    "icon": "refresh"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "quaternary",
                    "text": "Knap 4",
                    "icon": "refresh"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            {{ 
                button({
                    "variant": "unstyled",
                    "icon": "trash-can",
                    "srOnly": "Kun ikon",
                    "classes": { "icon": "mr-0 mt-0" }
                }) 
            }}
        </div>
    </div>
</main>