{% from "components/buttons/buttons.njk" import button as button %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-2">
            <p>Dette er tekst, som ligger i en col-2. Derfor ombrydes den tidligere, end man ellers ville forvente. Knappen nedenunder ligger i samme col-2.</p>
            <div>
                {{ 
                    button({
                        "variant": "primary",
                        "text": "Loremipsumdolorsitametconsecteturadipiscingelitintegervenenatisvitaefelisinmollis"
                    }) 
                }}
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">
            <p>Denne række har fuld bredde. Knappen er dog begrænset til 20%.</p>
            <div>
                {{ 
                    button({
                        "variant": "primary",
                        "text": "Loremipsumdolorsitametconsecteturadipiscingelitintegervenenatisvitaefelisinmollis",
                        "classes": { "button": "w-percent-20" }
                    }) 
                }}
            </div>
        </div>
    </div>
</main>