{% from "components/buttons/buttons.njk" import button as button %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Knapper i tekstafsnit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>Knap neden under tekst.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis. Vestibulum vestibulum turpis hendrerit dui pellentesque varius. Nam in gravida nunc.</p>
            {{ 
                button({
                    "variant": "primary",
                    "text": "Gem tekst"
                }) 
            }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p><strong>Knap i slutning af tekst.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis. Vestibulum vestibulum turpis hendrerit dui pellentesque varius. Nam in gravida nunc.
            {{ 
                button({
                    "variant": "primary",
                    "text": "Gem tekst"
                }) 
            }}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p><strong>Knap midt i tekst.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis. Vestibulum vestibulum turpis hendrerit dui pellentesque varius.
            {{ 
                button({
                    "variant": "primary",
                    "text": "Gem tekst"
                }) 
            }}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis vitae felis in mollis. Vestibulum vestibulum turpis hendrerit dui pellentesque varius. 
            </p>
        </div>
    </div>
</main>