{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}

{% block header %}
  <header class="header">
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg({"name":"close"})}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user bold">Anders Andersen</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Erhvervsministeriet</p>
        <p><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></p>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">

    <form novalidate class="form" method="post" action="/pages/eksempler/aktindsigt/aktindsigt-2/">
        <div role="group" aria-labelledby="oplysninger-om-dig">
            <h1 id="oplysninger-om-dig">Oplysninger om dig</h1>
            {{textinput({
              "id":"id-fornavn",
              "label":{
                "text": "Fornavn"
                },
              "classes": "input-width-m",
              "name": "fornavn"})}}
            {{textinput({
              "id": "id-efternavn",
              "label": {
                "text":"Efternavn"
                },
              "classes": "input-width-m",
              "name": "efternavn"})}}
            {{textinput({
              "id": "id-gade-vej",
              "label": {
                "text":"Gade/vej"
                },
              "classes":"input-width-m",
              "name": "gade"})}}
            {{textinput({
              "id": "id-husnummer",
              "label": {
                "text": "Husnummer"
                },
              "classes": "input-width-xxs",
              "name": "husnummer"})}}
            {{textinput({
              "id": "id-etage",
              "label": {
                "text":"Etage",
                "optionalLabel": true
                },
              "required": false,
              "classes": "input-width-xxs",
              "name": "etage"})}}
            {{textinput({
              "id":"id-side", 
              "label": {
                "text":"Side",
                "optionalLabel": true
                },
              "classes": "input-width-xs",
              "required": false,
              "name": "side",
              "hint": "Fx: TV, 2. dør"})}}
            {{textinput({
              "id": "id-postnummer",
              "label": {
                "text": "Postnummer"
                },
              "classes": "input-width-xxs",
              "name": "postnummer"})}}
            {{textinput({
              "id": "id-by",
              "label": {
                "text": "By"
                },
              "classes": "input-width-m",
              "name": "by"})}}
            {{textinput({
              "id": "id-co-adresse",
              "label": {
                "text": "Evt. CO-adresse",
                "optionalLabel": true 
                },
              "required": false,
              "classes": "input-width-m",
              "name": "co-adresse"})}}
            <div class="form-group">
                <fieldset>
                    <legend class="form-label">Er der tidligere søgt om aktindsigt?</legend>
                    <ul class="nobullet-list">
                        {% for item in soegt_om_aktindsigt %}<li>{{ radiobutton(item) }}</li>{% endfor %}
                    </ul>
                </fieldset>
            </div>
        </div>
        <button type="submit" class="button button-primary d-print-none mt-7">Næste</button>
    </form>
</main>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}
