{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "components/modal/modal.njk" import modal as modal %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer.njk" import footer as footer %}


{% block header %}
  <header class="header">
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg({"name":"close"})}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user bold">Anders Andersen</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Erhvervsministeriet</p>
        <button class="function-link d-inline-block mt-0" data-module="modal" data-target="modal-contact"><svg class="icon-svg " aria-hidden='true' focusable='false'><use xlink:href="#card-text"></use></svg>Kontakt</button>
      </div>
    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <main class="container page-container pt-4 pt-lg-6" id="main-content">

    <a href="/pages/eksempler/aktindsigt/aktindsigt-1/" class="back-link">Tilbage</a>
    <h1>Bekræft oplysninger</h1>

    <form novalidate class="form" method="post" action="/pages/eksempler/aktindsigt/aktindsigt-3/">
        <div class="row">
            <div class="col-12 col-lg-8">
              <div class="row row-bordered no-gutters">
                  <div class="col-md-4 weight-semibold">
                      Navn
                  </div>
                  <div class="col-md-5">Karen Jensen</div>
                  <div class="col-md-3 align-text-md-right d-print-none"><a href="/pages/eksempler/aktindsigt/aktindsigt-2/">Rediger</a></div>
              </div>
              <div class="row row-bordered no-gutters">
                  <div class="col-md-4 weight-semibold">
                      Adresse
                  </div>
                  <div class="col-md-5">Vængetstræde 77<br>0081 Købstad</div>
                  <div class="col-md-3 align-text-md-right d-print-none"><a href="/pages/eksempler/aktindsigt/aktindsigt-2/">Rediger</a></div>
              </div>
              <div class="row row-bordered no-gutters">
                  <div class="col-md-4 weight-semibold">
                      Alder
                  </div>
                  <div class="col-md-5">39</div>
                  <div class="col-md-3 align-text-md-right d-print-none"><a href="/pages/eksempler/aktindsigt/aktindsigt-2/">Rediger</a></div>
              </div>
              <div class="row row-bordered no-gutters">
                  <div class="col-md-4 weight-semibold">
                      Tidligere ansøgninger
                  </div>
                  <div class="col-md-5">Nej</div>
                  <div class="col-md-3 align-text-md-right d-print-none"><a href="/pages/eksempler/aktindsigt/aktindsigt-2/">Rediger</a></div>
              </div>
            </div>
        </div>

        <button type="submit" class="button button-primary d-print-none mt-7">Send</button>
    </form>
</main>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}
