{% from "components/accordion/accordion.njk" import accordion as accordion %}

<div class="container">
{{ accordion(accordion_example3.variant, accordion_example3.items, accordion_example3.id_prefix, accordion_example3.multiselectable) }}
</div>
