{% from "components/accordion/accordion.njk" import accordion as accordion %}

{{ accordion(accordion_example2.variant, accordion_example2.items, accordion_example2.id_prefix, accordion_example2.multiselectable, accordion_example.bulk_function, accordion_example.heading_level) }}
