{% from "components/accordion/accordion.njk" import accordion as accordion %}
<div>{{ accordion(accordion_example.variant, accordion_example.items, accordion_example.id_prefix, accordion_example.multiselectable, accordion_example.bulk_function, accordion_example.heading_level) }}</div>
