{% from "components/accordion/accordion.njk" import accordion as accordion %}

{{ 
    accordion({
        "headingLevel": "h2",
        "items": [
            {
                "title": "Lorem ipsum dolor sit amet",
                "id": "error-a1",
                "variant": "none",
                "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
            },
            {
                "title": "Consectetur adipiscing elit",
                "id": "error-a2",
                variant: "error",
                "errorMessage": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.",
                "expanded": true,
                "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
            },
            {
                "title": "Sed do eiusmod tempor",
                "id": "error-a3",
                variant: "warning",
                "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
            },
            {
                "title": "Labore et dolore magna",
                "id": "error-a4",
                "variant": "none",
                "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
            }
        ]
    }) 
}}
