<ul class="accordion">
    <li>
        <h5>
            <button class="accordion-button" aria-expanded="false" aria-controls="error-a1">
                Lorem ipsum dolor sit amet
            </button>
        </h5>
        <div id="error-a1" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h5>
            <button class="accordion-button accordion-error " aria-expanded="true"
                aria-describedby="error-a2-error" aria-controls="error-a2">
                Consectetur adipiscing elit
                <span class="accordion-icon">
                    <span class="icon_text">Fejl</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg>
                </span>
            </button>
        </h5>
        <div id="error-a2" aria-hidden="false" class="accordion-content">
            <div class="alert alert-error" role="alert" id='error-a2-error'>
                <div class="alert-body">
                    <p class="alert-text">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium.</p>
                </div>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h5>
            <button class="accordion-button" aria-expanded="false" aria-controls="error-a3">
                Sed do eiusmod tempor
                <span class="accordion-icon">
                    <span class="icon_text">Advarsel</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#report-problem"></use></svg>
                </span>
            </button>
        </h5>
        <div id="error-a3" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h5>
            <button class="accordion-button" aria-expanded="false" aria-controls="error-a4">
                Labore et dolore magna
            </button>
        </h5>
        <div id="error-a4" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
</ul>