<div>
    <button class="accordion-bulk-button"
        data-accordion-bulk-expand="true">Åbn alle</button>
    <ul class="accordion accordion-bordered accordion-multiselectable">
        <li><button class="accordion-button" aria-expanded="true"
                aria-controls="ao1">
                Lorem ipsum dolor sit amet</button>

            <div id="ao1" aria-hidden="false" class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
        </li>
        <li><button class="accordion-button" aria-expanded="false"
                aria-controls="ao2">
                Consectetur adipiscing elit</button>
            <div id="ao2" aria-hidden="true" class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
        </li>
        <li><button class="accordion-button" aria-expanded="false"
                aria-controls="ao3">
                Sed do eiusmod tempor</button>
            <div id="ao3" aria-hidden="true" class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
        </li>
        <li><button class="accordion-button" aria-expanded="false"
                aria-controls="ao4">
                Labore et dolore magna</button>
            <div id="ao4" aria-hidden="true" class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
        </li>
        <li><button class="accordion-button" aria-expanded="false"
                aria-controls="ao5">
                Ut enim ad minim veniam</button>
            <div id="ao5" aria-hidden="true" class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
        </li>
    </ul>
</div>