<ul class="accordion">
    <li>
        <h4>
            <button class="accordion-button" aria-expanded="false" aria-controls="success-a1">
                <span class="accordion-title">Lorem ipsum dolor sit amet</span>
            </button>
        </h4>
        <div id="success-a1" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h4>
            <button class="accordion-button" aria-expanded="false" aria-controls="success-a2">
                <span class="accordion-title">Consectetur adipiscing elit</span>
            </button>
        </h4>
        <div id="success-a2" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h4>
            <button class="accordion-button" aria-expanded="false" aria-controls="success-a3">
                <span class="accordion-title">Sed do eiusmod tempor</span>
                <span class="accordion-icon">
                    <span class="icon_text">Succes</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#success"></use></svg>
                </span>
            </button>
        </h4>
        <div id="success-a3" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h4>
            <button class="accordion-button" aria-expanded="false" aria-controls="success-a4">
                <span class="accordion-title">Labore et dolore magna</span>
            </button>
        </h4>
        <div id="success-a4" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
</ul>