<ul class="accordion accordion-multiselectable">
    <li>
        <h3><button class="accordion-button" aria-expanded="true" aria-controls="b-a1">
                Lorem ipsum dolor sit amet</button></h3>

        <div id="b-a1" aria-hidden="false" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="false" aria-controls="b-a2">
                Consectetur adipiscing elit</button></h3>
        <div id="b-a2" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="false" aria-controls="b-a3">
                Sed do eiusmod tempor</button></h3>
        <div id="b-a3" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="false" aria-controls="b-a4">
                Labore et dolore magna</button></h3>
        <div id="b-a4" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="false" aria-controls="b-a5">
                Ut enim ad minim veniam</button></h3>
        <div id="b-a5" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </li>
</ul>