<ul class="accordion accordion-multiselectable">
    <li>
        <h3><button class="accordion-button" aria-expanded="true"
                aria-controls="m-a1">
                Lorem ipsum dolor sit amet</button></h3>

        <div id="m-a1" aria-hidden="false" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="false"
                aria-controls="m-a2">
                Consectetur adipiscing elit</button></h3>
        <div id="m-a2" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="true"
                aria-controls="m-a3">
                Sed do eiusmod tempor</button></h3>

        <div id="m-a3" aria-hidden="false" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="false"
                aria-controls="m-a4">
                Labore et dolore magna</button></h3>
        <div id="m-a4" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
    <li>
        <h3><button class="accordion-button" aria-expanded="false"
                aria-controls="m-a5">
                Ut enim ad minim veniam</button></h3>
        <div id="m-a5" aria-hidden="true" class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
</ul>