<div class="alert alert-info">
    <svg class="icon-svg alert-icon" aria-label="Information" focusable="false"><use xlink:href="#info"></use></svg>
    <div class="alert-body">
        <strong class="alert-heading">Informativ besked - kun overskrift</strong>
        <p class="alert-text"></p>
    </div>
</div>

<div class="alert alert-info">
    <svg class="icon-svg alert-icon" aria-label="Information" focusable="false"><use xlink:href="#info"></use></svg>
    <div class="alert-body">
        <p class="alert-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
    </div>
</div>

<div class="alert alert-info alert--paragraph">
    <svg class="icon-svg alert-icon" aria-label="Information" focusable="false"><use xlink:href="#info"></use></svg>
    <div class="alert-body">
        <h4 class="alert-heading">Informativ besked - tekstafsnit</h4>
        <p class="alert-text">Dette eksempel viser, hvordan en besked ser ud, når dens bredde
            er blevet begrænset. Bredden svarer til længden på en paragraf og denne type
            beskeder er derfor mere velegnet, hvis du vil vise beskeden midt i en tekst.</p>
    </div>
</div>