<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Beskeder-do.svg" alt="Eksempel på, hvordan en besked kan se ud" /></div>
        <p><strong>Sådan:</strong> Brug beskeder til at gøre brugerne opmærksomme på vigtige oplysninger, der kan hjælpe dem med at udføre og fuldføre deres opgave, fx status, opdateringer, nedetid eller fejl. Gør informationen konstruktiv og handlingsanvisende (Lior, 2013, s. 153).</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Beskeder-dont.svg" alt="Eksempel på, hvordan en besked ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Brug ikke besked-komponenten som erstatning for fejlmeddelelser eller hjælpetekster, der kun er relevante for et bestemt felt i formularen.</p>
    </div>
</div>
