<div class="alert alert-info alert--show-icon">
    <div class="alert-body">
        <h4 class="alert-heading">Informativ besked - med ikon</h4>
        <p class="alert-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
    </div>
</div>

<div class="alert alert-success alert--show-icon">
    <div class="alert-body">
        <h4 class="alert-heading">Succesmeddelelse - med ikon</h4>
        <p class="alert-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
    </div>
</div>

<div class="alert alert-warning alert--show-icon" role="alert">
    <div class="alert-body">
        <h4 class="alert-heading">Advarsel - med ikon</h4>
        <p class="alert-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
    </div>
</div>

<div class="alert alert-error alert--show-icon" role="alert">
    <div class="alert-body">
        <h4 class="alert-heading">Fejlbesked - med ikon</h4>
        <p class="alert-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
    </div>
</div>