<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Badges-do.svg" alt="Eksempel på, hvordan en badge kan se ud" /></div>
        <p><strong>Sådan:</strong> Brug badges som et lille indholds-element, der fremhæver vigtige ændringer eller oplysninger.</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Badges-dont.svg" alt="Eksempel på, hvordan en badge ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Undgå, at badges ser klikbare ud (og ligner tags eller knapper), fx fordi de har en skyggeeffekt og ser ud til at være hævet fra baggrunden. Det kaldes falsk affordance eller et falsk brugssignal (Postolovski, 2014).</p>
    </div>
</div>
