<nav class="breadcrumbs container" aria-label="Brødkrumme">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__list-item">

            <a class="breadcrumbs__link" href="#">Forside</a>
        </li>

        <li class="breadcrumbs__list-item">

            <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-right"></use></svg>

            <a class="breadcrumbs__link" href="#">Underside</a>
        </li>

        <li class="breadcrumbs__list-item" aria-current="page">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-right"></use></svg>
            Aktuelle side
        </li>
    </ol>
</nav>