<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Knapper-do.svg" alt="Eksempel på, hvordan knapper kan se ud" /></div>
        <p><strong>Sådan:</strong> Placér knapper i venstre side under formularens felter. Øjet følger som oftest en ”skannelinje” til venstre i formularer (Wroblewski, 2008, s. 93-97). Når alle elementer står på én linje, skal brugerne kun bevæge øjet vertikalt – ikke både vertikalt og horisontalt.</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Knapper-dont.svg" alt="Eksempel på, hvordan knapper ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Undlad at placere den afsluttende knap i formularer til højre. Brugerne kan let overse højrestillede knapper, da øjet mest fokuserer til venstre, og kun kan se skarpt i en diameter på 2-4 cm ved en computerskærm (Johnson, 2014, s. 54).</p>
    </div>
</div>
