<button class="button button-quaternary">
    <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
    Default
</button>

<button class="button button-quaternary button-hover">
    <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
    Hover
</button>

<button class="button button-quaternary button-active">
    <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
    Active
</button>

<button class="button button-quaternary focus">
    <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
    Focus
</button>

<button class="button button-quaternary" disabled>
    <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
    Disabled
</button>