<ul class="row card-row">
    <li class="col-12 col-sm-6 col-md-4">
        <a class="new-card" href="#">
            <div class="new-card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.png' alt='Neutralt billede af et ikon, der blot skal være et eksempel på grafik i et card.'>
            </div>
            <div class="new-card-content">
                <h2>Lorem</h2>
                <p>Dette card linker til en anden side.</p>
            </div>
            <div class="card-actions">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </div>
        </a>
    </li>
    <li class="col-12 col-sm-6 col-md-4">
        <a class="new-card" href="#" target="_blank">
            <div class="new-card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.png' alt='Neutralt billede af et ikon, der blot skal være et eksempel på grafik i et card.'>
            </div>
            <div class="new-card-content">
                <h2>Sit amet</h2>
                <p>Dette card linker til en side, der åbner i en ny fane.</p>
            </div>
            <div class="card-actions">
                <svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg>
            </div>
        </a>
    </li>
    <li class="col-12 col-sm-6 col-md-4">
        <a class="new-card" href="#">
            <div class="new-card-content">
                <h2>Ipsum dolor</h2>
                <p>Dette card linker til en anden side.</p>
                <p>Der er ikke noget billede på dette eksempelcard. Normalt vil enten alle
                    eller ingen cards i samme liste have billede.</p>
            </div>
            <div class="card-actions">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </div>
        </a>
    </li>
</ul>