<ul class="row card-row">
    <li class="col-12 col-sm-6 col-md-4">
        <a class="card" href="#">
            <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
            </div>
            <div class="card-content">
                <h2 class="card-heading">Lorem</h2>
                <p>Dette card linker til en anden side.</p>
            </div>
            <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
        </a>
    </li>
    <li class="col-12 col-sm-6 col-md-4">
        <a class="card" href="#" target="_blank">
            <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
            </div>
            <div class="card-content">
                <h2 class="card-heading">Sit amet</h2>
                <p>Dette card linker til en side, der åbner i en ny fane.</p>
            </div>
            <svg class="icon-svg card-icon" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg>
        </a>
    </li>
    <li class="col-12 col-sm-6 col-md-4">
        <a class="card" href="#">
            <div class="card-content">
                <h2 class="card-heading">Ipsum dolor</h2>
                <p>Dette card linker til en anden side.</p>
                <p>Der er ikke noget billede på dette eksempelcard. Normalt vil enten alle
                    eller ingen cards i samme liste have billede.</p>
            </div>
            <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
        </a>
    </li>
</ul>