<div class="row card-row">
    <div class="col-12 col-sm-8 col-md-6">
        <section class="card">
            <div class="card-image"><img alt="" src="{{ site.baseurl }}/assets/img/cards/card-placeholder.svg" width="267" height="150">
            </div>
            <div class="card-content"><span class="card-subheading">Subheading</span>
                <h2 class="card-heading">Titel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="nobullet-list card-actions">
                    <li><a href="#">Link</a></li>
                    <li><a href="#" class="icon-link" target="_blank">Eksternt
                            link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>