<div class="row card-row">
    <div class="col-12 col-sm-6">
        <section class="card">
            <div class="card-content">
                <h2>Titel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="card-actions">
                <div class="button-group"><button class="button button-primary">
                        Lorem ipsum
                    </button><button class="button button-secondary">
                        Dolor
                    </button></div>
            </div>
        </section>
    </div>
    <div class="col-12 col-sm-6">
        <section class="card">
            <div class="card-content">
                <h2>En anden titel</h2>
                <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="card-actions">
                <ul class="nobullet-list">
                    <li><a href="#">Link</a></li>
                    <li><a href="#" class="icon-link" target="_blank">Eksternt
                            link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>