<ul class="row card-row">
    <li class="col-12">
        <a class="card long" href="#">
            <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
            </div>
            <div class="card-content"><span class="subheading">Subheading</span>
                <h2>Langt navigationscard med billede</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="card-actions">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </div>
        </a>
    </li>
    <li class="col-12">
        <a class="card long" href="#">
            <div class="card-content">
                <h2>Langt navigationscard uden billede</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="card-actions">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </div>
        </a>
    </li>
    <li class="col-12">
        <div class="card long">
            <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
            </div>
            <div class="card-content"><span class="subheading">Subheading</span>
                <h2>Titel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="card-actions">
                    <ul class="nobullet-list">
                        <li><a href="#">Link</a></li>
                        <li><a href="#" class="icon-link" target="_blank">Eksternt
                                link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>