<div class="form-group">
    <fieldset>
        <legend class="form-label">Vælg fra listen</legend>
        <ul class="nobullet-list">
            <li>

                <input id="checkbox1" type="checkbox" name="checkbox1" value="1" class="form-checkbox checkbox-large js-checkbox-toggle-content" data-js-target='#collapse-check1'
                    data-aria-controls='collapse-check1' aria-expanded='false' />
                <label for="checkbox1" class="">Tjekboks viser indhold</label>

                <div id="collapse-check1" aria-hidden="true" class="checkbox-content">
                    <p class="mt-0 py-4">Dette indhold bliver vist når tjekboksen er valgt.</p>
                </div>
            </li>
            <li>

                <input id="checkbox2" type="checkbox" name="checkbox2" value="1" class="form-checkbox checkbox-large js-checkbox-toggle-content" data-js-target='#collapse-check2'
                    data-aria-controls='collapse-check2' aria-expanded='false' />
                <label for="checkbox2" class="">Tjekboks viser indhold</label>

                <div id="collapse-check2" aria-hidden="true" class="checkbox-content checkbox-content-large">
                    <p class="mt-0 py-4">Dette indhold bliver vist når tjekboksen er valgt.</p>
                </div>
            </li>
        </ul>
    </fieldset>
</div>