<div class="form-group">
    <fieldset>
        <legend class="form-label">Stor tjekboks (anbefalet)</legend>
        <ul class="nobullet-list">
            <li>
                <input id="large1" type="checkbox" name="checkbox-large[]"
                    value="1" class="form-checkbox checkbox-large " />
                <label for="large1" class="">Tjekboks 1</label>
            </li>
            <li>
                <input id="large2" type="checkbox" name="checkbox-large[]"
                    value="2" class="form-checkbox checkbox-large " />
                <label for="large2" class="">Tjekboks 2</label>
            </li>
            <li>
                <input id="large3" type="checkbox" name="checkbox-large[]"
                    value="3" class="form-checkbox checkbox-large " />
                <label for="large3" class="">Tjekboks 3</label>
            </li>
            <li>
                <input id="large4" type="checkbox" name="checkbox-large[]"
                    value="4" class="form-checkbox checkbox-large "
                    disabled />
                <label for="large4" class="">Tjekboks 4</label>
            </li>
        </ul>
    </fieldset>
</div>