<div class="form-group">
    <fieldset>
        <legend class="form-label">Lille tjekboks</legend>

        <div class="form-group-checkbox">
            <input type="checkbox" id="small-option1" name="checkbox-small[]"
                class="form-checkbox" value="1">
            <label class="form-label" for="small-option1">Tjekboks 1</label>

        </div>

        <div class="form-group-checkbox">
            <input type="checkbox" id="small-option2" name="checkbox-small[]"
                class="form-checkbox" value="2">
            <label class="form-label" for="small-option2">Tjekboks 2</label>

        </div>

        <div class="form-group-checkbox">
            <input type="checkbox" id="small-option3" name="checkbox-small[]"
                class="form-checkbox" value="3">
            <label class="form-label" for="small-option3">Tjekboks 3</label>

        </div>

    </fieldset>
</div>