<div class="form-group">
    <fieldset>
        <legend class="form-label">
            Tjekbokse
        </legend>

        <div class="form-group-checkbox">
            <input type="checkbox" id="checkbox-helptext-option1" name="checkbox-helptext"
                class="form-checkbox" value="1"
                aria-describedby="checkbox-helptext-option1-hint">
            <label class="form-label" for="checkbox-helptext-option1">Første tjekboks</label>

            <span class="form-hint" id="checkbox-helptext-option1-hint">Dette er en
                hjælpetekst</span>
        </div>

        <div class="form-group-checkbox">
            <input type="checkbox" id="checkbox-helptext-option2" name="checkbox-helptext"
                class="form-checkbox" value="2"
                aria-describedby="checkbox-helptext-option2-hint">
            <label class="form-label" for="checkbox-helptext-option2">Anden tjekboks</label>

            <span class="form-hint" id="checkbox-helptext-option2-hint">Dette er en
                hjælpetekst</span>
        </div>

        <div class="form-group-checkbox">
            <input type="checkbox" id="checkbox-helptext-option3" name="checkbox-helptext"
                class="form-checkbox" value="3">
            <label class="form-label" for="checkbox-helptext-option3">Tredje tjekboks</label>

        </div>

    </fieldset>
</div>