<div class="form-group  form-error
    ">
    <label class="form-label" for="datepicker-example-error1">
        Dato for aftale

    </label>

    <span class="form-error-message" id="datepicker-example-error1-error"><span class="sr-only">Fejl:</span> Vælg en dato</span>

    <div class="date-picker">
        <input type="text" id="datepicker-example-error1" name="datepicker-example-error1" class="form-input" aria-invalid="true" aria-describedby="
                
                datepicker-example-error1-error" required>
    </div>
</div>