<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Skjul-og-vis-do.svg" alt="Eksempel på, hvordan en skjul og vis kan se ud" /></div>
        <p><strong>Sådan:</strong> Brug skjul og vis-funktionen i tilfælde, hvor brugerne skal vælge mellem at udfylde alternative felter, fx forskellige slags kontaktoplysninger.</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Skjul-og-vis-dont.svg" alt="Eksempel på, hvordan en skjul og vis ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Brug ikke skjul og vis-funktionen, når det er obligatorisk at udfylde flere felter i gruppen. Det giver brugerne en ekstra interaktionsomkostning (Budiu, 2013) at skulle åbne de forskellige felter.</p>
    </div>
</div>
