<div class="form-group form-error" id="radiogroup-error">
    <fieldset aria-describedby="radiogroup-error-error">
        <legend class="form-label">Sagen handler om</legend>
        <span class="form-error-message" id="radiogroup-error-error"><span
                class="sr-only">Fejl:</span> Vælg hvad sagen handler
            om</span>
        <ul class="nobullet-list">
            <li>
                <div class="form-group-radio">
                    <input type="radio"
                        id="sagen-omhandler-ulykkesforsikring"
                        name="sagen-omhandler" value="ulykkesforsikring"
                        class="form-radio">
                    <label class="form-label"
                        for="sagen-omhandler-ulykkesforsikring"
                        id="sagen-omhandler-ulykkesforsikring-form-label">
                        Ulykkesforsikring
                    </label>
                </div>
            </li>
            <li>
                <div class="form-group-radio">
                    <input type="radio"
                        id="sagen-omhandler-erstatningsansvar"
                        name="sagen-omhandler" value="erstatningsansvar"
                        class="form-radio">
                    <label class="form-label"
                        for="sagen-omhandler-erstatningsansvar"
                        id="sagen-omhandler-erstatningsansvar-form-label">
                        Erstatningsansvar
                    </label>
                </div>
            </li>
            <li>
                <div class="form-group-radio">
                    <input type="radio"
                        id="sagen-omhandler-forsikringsselskab"
                        name="sagen-omhandler" value="forsikringsselskab"
                        class="form-radio">
                    <label class="form-label"
                        for="sagen-omhandler-forsikringsselskab"
                        id="sagen-omhandler-forsikringsselskab-form-label">
                        Forsikringsselskab
                    </label>
                </div>
            </li>
        </ul>
    </fieldset>
</div>