<div class="alert alert-error mt-0 mb-8" role="alert" aria-atomic="true"
    data-module="error-summary">
    <div class="alert-body">
        <p class="alert-heading">Der er problemer</p>
        <ul class="alert-text nobullet-list">
            <li><a class="function-link" href="#date-field-year">Datoen for
                    udløbsdato på dit pas bør inkludere årstal</a></li>
            <li><a class="function-link" href="#zipcode-field">Indtast
                    postnummer - fx 4000</a></li>
        </ul>
    </div>
</div>