<div class="form-group form-error">
    <label class="form-label " for="example-name">
        Hvad er dit fulde navn?
    </label>

    <span class="form-error-message" id="example-name-error">
        <span class="sr-only">Fejl:</span> Skriv dit fulde navn, og adskil
        for- og efternavne med mellemrum, fx Christian Emil Vestergaard
        Christiansen
    </span>
    <input class="form-input " required id="example-name" value=""
        name="form-error" type="text" aria-invalid="true"
        aria-describedby=" example-name-error">
</div>