<ul class="accordion accordion-multiselectable">
    <li><button class="accordion-button accordion-error "
            aria-expanded="true" aria-describedby="error-a1"
            aria-controls="error-a1">
            Lorem ipsum dolor sit amet
            <span class="accordion-icon">
                <span class="icon_text">Fejl</span>
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg>

            </span>
        </button>

        <div id="error-a1" aria-hidden="false" class="accordion-content">
            <div class="alert alert-error" role="alert">
                <div class="alert-body">
                    <p class="alert-text">Sed ut perspiciatis unde omnis
                        iste natus error sit voluptatem accusantium
                        doloremque laudantium.</p>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </li>
</ul>