<nav aria-labelledby="error-summary-example">

    <div class="alert alert-error mt-0 mb-8" role="alert" data-module="error-summary">
        <div class="alert-border"></div>
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <div class="alert-body">
            <h2 class="alert-heading" id="error-summary-example">Der er problemer</h2>
            <ul class="alert-text nobullet-list">
                <li><a class="function-link" href="#date-field-year">Datoen for udløbsdato på
                        dit pas bør inkludere årstal</a></li>
                <li><a class="function-link" href="#zipcode-field">Indtast postnummer - fx
                        4000</a></li>
            </ul>
        </div>
    </div>

</nav>