<nav aria-labelledby="error-form-example">

    <div class="alert alert-error mt-0 mb-8" role="alert" data-module="error-summary">
        <div class="alert-border"></div>
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <div class="alert-body">
            <h2 class="alert-heading" id="error-form-example">Der er problemer</h2>
            <ul class="alert-text nobullet-list">
                <li><a class="function-link" href="#example-name-error">Skriv dit fulde navn,
                        og adskil for- og efternavne med mellemrum, fx Anders Andersen</a>
                </li>
                <li><a class="function-link" href="#checkboxes-error-option1">Angiv om du er
                        dansk, svensk eller anden nationalitet</a></li>
                <li><a class="function-link" href="#date-input-error-day">Datoen kan ikke være
                        i fremtiden</a></li>
            </ul>
        </div>
    </div>

</nav>
<h1 id="oplysninger-om-dig">Oplysninger om dig</h1>
<form novalidate>

    <div class="form-group form-error">
        <label class="form-label" for="example-name-error">Hvad er dit fulde navn?</label>

        <span class="form-error-message" id="example-name-error-error">
            <span class="sr-only">Fejl: </span>Skriv dit fulde navn, og adskil for- og
            efternavne med mellemrum, fx Anders Andersen
        </span>

        <input type="text" id="example-name-error" name="example-name-error"
            class="form-input" aria-invalid="true"
            aria-describedby="example-name-error-error " required autocomplete="name">
    </div>

    <div class="form-group form-error">
        <fieldset aria-describedby="checkboxes-error-error">
            <legend class="form-label">
                Hvad er din nationalitet?
            </legend>

            <span class="form-error-message" id="checkboxes-error-error">
                <span class="sr-only">Fejl: </span>Angiv om du er dansk, svensk eller anden
                nationalitet
            </span>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkboxes-error-option1" name="nationalitet[]"
                    class="form-checkbox" value="dansk">
                <label class="form-label" for="checkboxes-error-option1">Dansk</label>

            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkboxes-error-option2" name="nationalitet[]"
                    class="form-checkbox" value="svensk">
                <label class="form-label" for="checkboxes-error-option2">Svensk</label>

            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkboxes-error-option3" name="nationalitet[]"
                    class="form-checkbox" value="anden">
                <label class="form-label" for="checkboxes-error-option3">Anden
                    nationalitet</label>

            </div>

        </fieldset>
    </div>

    <div class="form-group form-error">
        <fieldset aria-describedby="date-input-error-hint date-input-error-error ">
            <legend class="form-label">
                Hvornår blev dit pas udstedt?
            </legend>
            <span class="form-hint" id="date-input-error-hint">For eksempel: 05 12 2018</span>
            <span class="form-error-message" id="date-input-error-error">
                <span class="sr-only">Fejl: </span>Datoen kan ikke være i fremtiden
            </span>
            <div class="date-group mt-3">

                <div class="form-group form-group-day">
                    <label class="form-label" for="date-input-error-day">Dag</label>

                    <input type="number" id="date-input-error-day" name="date-day"
                        class="form-input" value="01" required>
                </div>

                <div class="form-group form-group-month">
                    <label class="form-label" for="date-input-error-month">Måned</label>

                    <input type="number" id="date-input-error-month" name="date-month"
                        class="form-input" value="12" required>
                </div>

                <div class="form-group form-group-year">
                    <label class="form-label" for="date-input-error-year">År</label>

                    <input type="number" id="date-input-error-year" name="date-year"
                        class="form-input" value="2076" required>
                </div>

            </div>
        </fieldset>
    </div>

</form>