<div class="form-group
         form-error
        
        ">

    <label class="form-label" for="form-error">
        Hvad hedder dit kursus?

    </label>

    <span class="form-hint" id="form-error-hint">Fx: Skriv godt</span>

    <span class="form-error-message" id="form-error-error"><span class="sr-only">Fejl:</span> Giv dit kursus et navn</span>
    <input type="text" id="form-error" name="form-error" class="form-input" aria-invalid="true" aria-describedby="
            form-error-hint 
            form-error-error 
            ">

</div>