<div class="form-group form-error">
    <fieldset aria-describedby="example-nationalitet-error">
        <legend class="form-label">Hvad er din nationalitet?</legend>
        <span class="form-error-message" id="example-nationalitet-error"><span class="sr-only">Fejl:</span> Angiv om du er dansk, svensk eller anden nationalitet</span>
        <ul class="nobullet-list">
            <li>
                <input id="nationalitet1" type="checkbox" name="nationalitet" value="dansk" class="form-checkbox checkbox-large " />
                <label for="nationalitet1" class="">Dansk</label>
            </li>
            <li>
                <input id="nationalitet2" type="checkbox" name="nationalitet[]" value="svensk" class="form-checkbox checkbox-large " />
                <label for="nationalitet2" class="">Svensk</label>
            </li>
            <li>
                <input id="nationalitet3" type="checkbox" name="nationalitet[]" value="anden" class="form-checkbox checkbox-large " />
                <label for="nationalitet3" class="">Anden nationalitet</label>
            </li>
        </ul>
    </fieldset>
</div>