<div class="form-group form-error">
    <fieldset aria-describedby="example-radiobutton-error">
        <legend class="h5">Sagen handler om</legend>
        <span class="form-error-message"
            id="example-radiobutton-error"><span
                class="sr-only">Fejl:</span> Vælg hvad sagen handler
            om</span>

        <div class="form-group-radio">
            <input id="sagen-omhandler-ulykkesforsikring" type="radio"
                name="sagen-omhandler" value="ulykkesforsikring"
                class="form-radio  radio-large " />
            <label for="sagen-omhandler-ulykkesforsikring"
                id="form-label-sagen-omhandler-ulykkesforsikring"
                class="">Ulykkesforsikring (ASL §81) </label>

        </div>

        <div class="form-group-radio">
            <input id="sagen-omhandler-erstatningsansvar" type="radio"
                name="sagen-omhandler" value="erstatningsansvar"
                class="form-radio  radio-large " />
            <label for="sagen-omhandler-erstatningsansvar"
                id="form-label-sagen-omhandler-erstatningsansvar"
                class="">Erstatningsansvar (ASL §10) </label>

        </div>

        <div class="form-group-radio">
            <input id="sagen-omhandler-forsikringsselskab" type="radio"
                name="sagen-omhandler" value="forsikringsselskab"
                class="form-radio  radio-large " />
            <label for="sagen-omhandler-forsikringsselskab"
                id="form-label-sagen-omhandler-forsikringsselskab"
                class="">Forsikringsselskab (ASL §10) </label>

        </div>

    </fieldset>
</div>