<header class="header">

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo alert-leave">

            </a>
            <button
                class="button button-secondary button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu" title="Åben mobil menu">Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span
                        class="username weight-semibold">Christian Emil
                        Vestergaard Christiansen</span> </p>

                <button
                    class="button button-secondary alert-leave d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" title="Hjem" class="alert-leave2">
                    Strategiske virksomhedsalliancer
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p><a href="javascript:void(0);" data-module="modal"
                        data-target="modal-contact"
                        class="function-link d-inline-block d-print-none"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button
            class="button button-tertiary button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Navn</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>

    </nav> <!-- collapsible nav end-->
</header>

<div class="container page-container pt-4 pt-lg-6">
    <div><a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-3/"
            class="back-link d-lg-none">Tilbage</a></div>
    <div class="row">
        <aside class="col-12 col-lg-3 sidebar-col">
            <div
                class="overflow-menu  overflow-menu--open-right overflow-menu--lg-no-responsive">
                <button class="button-overflow-menu js-dropdown "
                    data-js-target="overflow4" aria-haspopup="true"
                    aria-expanded="false">
                    Trin 4 af 5
                    <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
                </button>
                <div class="overflow-menu-inner" id="overflow4"
                    aria-hidden="true">
                    <nav>
                        <ul class="sidenav-list sidenav-list-locked"
                            role="menu">
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-1/"
                                    role="menuitem">
                                    1. Stamdata
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-2/"
                                    role="menuitem">
                                    2. SMV-kriterier
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-3/"
                                    role="menuitem">
                                    3. Statsstøtte
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li class="active current" role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-4/"
                                    role="menuitem" aria-current="page">
                                    4. Tilskud til land
                                </a>
                            </li>
                            <li class="disabled" role="none">
                                <a href="javascript:void(0)" tabindex="-1"
                                    aria-disabled="true" role="menuitem">
                                    5. Opsummering
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </aside>
        <main class="col-12 col-lg-9" id="main-content">
            <div><a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-3/"
                    class="back-link d-none d-lg-inline-block">Tilbage</a>
            </div>
            <h1>Tilskud til land</h1>
            <div class="mt-0">

                <div class="form-group">
                    <label class="form-label " for="id-advisors">Navn(-e)
                        på rådgivere på
                        ambassaden/generalkonsulatet</label>
                    <span class="form-hint"
                        id="input-hint-message-id-advisors">Navne skal
                        skrives i samme rækkefølge, som landene er
                        anført</span>

                    <textarea class="form-input input-width-m" rows="5" placeholder="" id="id-advisors" name="Input til navn(-e) på rådgivere på ambassaden/generalkonsulatet" ></textarea>
                </div>

            </div>
            <div class="mt-6">
                <div class="form-group">
                    <label class="form-label " for="id-companyalliance">
                        Navn på virksomhedsalliance
                    </label>

                    <input class="form-input input-width-m" required
                        id="id-companyalliance" value=""
                        name="Input til navn på virksomhedsalliance"
                        type="text">
                </div>
            </div>
            <h2 class="mt-6 mb-3">Bilag og bemærkninger</h2>
            <div class="form-group js-radio-toggle-group">
                <fieldset>
                    <legend class="form-label">Ønsker du at vedhæfte bilag
                        til ansøgningen (det er muligt at vedhæfte op til 3
                        bilag)?</legend>
                    <ul class="nobullet-list">
                        <li>

                            <input id="id-state-yes" type="radio"
                                name="minimis" value="Ja"
                                class="form-radio  radio-large "
                                data-js-target='#collapse-radio'
                                aria-expanded='false' />
                            <label for="id-state-yes"
                                id="form-label-id-state-yes"
                                class="radio-large">Ja </label>

                            <div id="collapse-radio" aria-hidden="true"
                                class="radio-content radio-content-large">
                                <div class="py-4">
                                    <div class="row">
                                        <div
                                            class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <form class="form">
                                                <div
                                                    class="form-group file-input">
                                                    <label
                                                        class="form-label"
                                                        for="input-file">Tilføj
                                                        dokument</label>
                                                    <input type="file"
                                                        id="input-file"
                                                        name="file">
                                                </div>
                                            </form>
                                            <table
                                                class="table table--borderless table--compact table--responsive-headers mt-6">
                                                <thead>
                                                    <tr>
                                                        <th>Filnavn</th>
                                                        <th
                                                            class="align-text-right">
                                                            Slet</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            class="mt-4 mt-lg-0 break-word w-percent-md-70">
                                                            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>vedhæftfil-1.pdf
                                                        </td>
                                                        <td
                                                            class="align-text-right mt-4 mt-lg-0">
                                                            <button
                                                                class="button button-unstyled">
                                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete"></use></svg>
                                                                <span
                                                                    class="sr-only">Slet
                                                                    vedhæftfil-1.pdf</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            class="mt-4 mt-lg-0 break-word w-percent-md-70">
                                                            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>vedhæftfil-2.pdf
                                                        </td>
                                                        <td
                                                            class="align-text-right mt-4 mt-lg-0">
                                                            <button
                                                                class="button button-unstyled">
                                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete"></use></svg>
                                                                <span
                                                                    class="sr-only">Slet
                                                                    vedhæftfil-2.pdf</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            class="mt-4 mt-lg-0 break-word w-percent-md-70">
                                                            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>vedhæftfil-3.pdf
                                                        </td>
                                                        <td
                                                            class="align-text-right mt-4 mt-lg-0">
                                                            <button
                                                                class="button button-unstyled">
                                                                <svg class="icon-svg " aria-hidden="true" focusable="false"><use xlink:href="#delete"></use></svg>
                                                                <span
                                                                    class="sr-only">Slet
                                                                    vedhæftfil-3.pdf</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <input id="id-state-no" type="radio"
                                name="minimis" value="Nej"
                                class="form-radio  radio-large " />
                            <label for="id-state-no"
                                id="form-label-id-state-no"
                                class="radio-large">Nej </label>

                        </li>
                    </ul>
                </fieldset>
            </div>

            <form method="get"
                action="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-5/">
                <button
                    class="button button-primary mt-8 d-print-none">Næste</button>
            </form>
        </main>
    </div>
</div>

<footer>
    <div class="footer">
        <div class="container">
            <div class="align-text-left">
                <ul class="unstyled-list inline-list">
                    <li class=""><span
                            class="h5 weight-semibold">Eksempelstyrelsen</span>
                    </li>
                    <li class=""><a class="function-link"
                            href="mailto:support@example.dk">support@example.dk</a>
                    </li>
                    <li class=""><a class="function-link"
                            href="tel:12345678">12 34 56 78</a></li>
                    <li class="d-print-none"><a href="#"
                            class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                    </li>
                    <li class="d-print-none"><a href="#"
                            class="function-link">Privatlivspolitik
                            (cookies)</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-contact-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>