<header class="header">
    <div id="top"></div>
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="#" class="logo ">
                <span class="sr-only">Portalnavn</span>
            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span
                        class="username weight-semibold">Anders
                        Andersen</span> <br />Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Ansøg om et eller andet
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info d-print-none">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Myndighedsnavn</p>

                <p>Support: 12 34 56 78 <span class='d-print-none'>· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact"
                            class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class="nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user"><span class="weight-semibold">Anders
                    Andersen</span><br />Forsikringens Forsikringsfirma</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Myndighedsnavn</p>
            <p>Support: 12 34 56 78 <br><a href="javascript:void(0);"
                    data-module="modal" data-target="modal-contact"
                    class="function-link d-inline-block">
                    <svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>
    </nav> <!-- collapsible nav end-->
</header>

<main class="container page-container" id="main-content">
    <div><a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-3/"
            class="back-link">Tilbage</a></div>

    <div class="overflow-menu  overflow-menu--open-right">
        <button class="button-overflow-menu js-dropdown "
            data-js-target="overflow-ansoeg" aria-haspopup="true"
            aria-expanded="false">
            Trin 4 af 5
            <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
        </button>
        <div class="overflow-menu-inner" id="overflow-ansoeg"
            aria-hidden="true">

            <nav>
                <ul class='sidenav-list' role='menu'>
                    <li role='none'>
                        <a href='/pages/eksempler/trinformular-til-ansoegning/ansoegning-1/'
                            role='menuitem'>
                            <span class='sidenav-number'>1.</span><span
                                class='sidenav-title'>Oplysninger&nbsp;om&nbsp;afsender</span>
                            <span class='sidenav-icon'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false' tabindex='-1'><use xlink:href='#done'></use></svg>
                            </span>
                        </a>
                    </li>
                    <li role='none'>
                        <a href='/pages/eksempler/trinformular-til-ansoegning/ansoegning-2/'
                            role='menuitem'>
                            <span class='sidenav-number'>2.</span><span
                                class='sidenav-title'>Kontaktoplysninger</span>
                            <span class='sidenav-icon'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false' tabindex='-1'><use xlink:href='#done'></use></svg>
                            </span>
                        </a>
                    </li>
                    <li role='none'>
                        <a href='/pages/eksempler/trinformular-til-ansoegning/ansoegning-3/'
                            role='menuitem'>
                            <span class='sidenav-number'>3.</span><span
                                class='sidenav-title'>Ansøgningens&nbsp;type</span>
                            <span class='sidenav-icon'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false' tabindex='-1'><use xlink:href='#done'></use></svg>
                            </span>
                        </a>
                    </li>
                    <li role='none' class='active current'>
                        <a href='/pages/eksempler/trinformular-til-ansoegning/ansoegning-4/'
                            role='menuitem' aria-current='page'>
                            <span class='sidenav-number'>4.</span><span
                                class='sidenav-title'>Tilføj&nbsp;dokumentation</span>
                        </a>
                    </li>
                    <li role='none'>
                        <a href='/pages/eksempler/trinformular-til-ansoegning/ansoegning-5/'
                            role='menuitem'>
                            <span class='sidenav-number'>5.</span><span
                                class='sidenav-title'>Opsummering</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <h1>Tilføj dokumentation</h1>
    <form class="mb-6" novalidate method="post"
        action="/pages/eksempler/trinformular-til-ansoegning/ansoegning-4/">
        <div class="form-group file-input mb-5">
            <label class="form-label" for="fileinput">Tilføj
                dokument</label>
            <input class="mt-3" type="file" id="fileinput" name="file"
                aria-describedby="help-text-hint" />
        </div>
        <button class="button button-secondary d-print-none" type='submit'>
            Upload fil
        </button>
    </form>
    <form novalidate method="post"
        action="/pages/eksempler/trinformular-til-ansoegning/ansoegning-5/">
        <div class="table--responsive-scroll mt-4 mb-7">
            <table
                class="table table--borderless table--responsive-headers table--compact">
                <thead>
                    <tr>
                        <th>Filnavn</th>
                        <th id="header2">Dokumentationstype</th>
                        <th id="header3">Sidetal <span
                                class="weight-normal">(frivilligt)</span>
                        </th>
                        <th id="header4">Slet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="vertical-align-middle"
                            data-title="Filnavn" id="file1">
                            <svg class="icon-svg" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>Journal.pdf
                        </td>
                        <td class="vertical-align-middle"
                            data-title="Dokumentationstype">
                            <div class="form-group">
                                <select class="form-select input-width-s"
                                    name="options" id="options"
                                    aria-labelledby="file1 header2">
                                    <option value="option1">Vælg type
                                    </option>
                                    <option value="option2">Type 1</option>
                                    <option value="option3">Type 2</option>
                                    <option value="option4">Type 3</option>
                                </select>
                            </div>
                        </td>
                        <td class="vertical-align-middle"
                            data-title="Sidetal">
                            <div class="form-group">
                                <input class="form-input input-width-xxs"
                                    id="input-type-text"
                                    name="input-type-text" type="number"
                                    aria-labelledby="file1 header3" />
                            </div>
                        </td>
                        <td class="vertical-align-middle"
                            data-title="Slet">
                            <button class="button button-unstyled"
                                aria-labelledby="header4 file1"
                                type="button">
                                <svg class="icon-svg" aria-hidden="true"><use xlink:href="#trash-can"></use></svg></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="button button-primary d-print-none mt-7"
            type='submit'>
            Næste
        </button>
    </form>
</main>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none"
        href="#top"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg>
        <span class="d-none d-md-inline-block">Til toppen</span>
    </a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Myndighedsnavn</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">(+45) 12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-contact-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-id-1-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>