<header class="header">

    <!--1A: Portal header -->
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo alert-leave">
            </a>
            <button
                class="button button-secondary button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu" title="Åben mobil menu">Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span class="username">Christian Emil
                        Vestergaard Christiansen</span> </p>

                <button
                    class="button button-secondary alert-leave d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" title="Hjem" class="alert-leave2">
                    Digital flytning
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p><a href="javascript:void(0);" data-module="modal"
                        data-target="modal-contact"
                        class="function-link d-inline-block d-print-none"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text-outline"></use></svg>Kontakt</a>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button
            class="button button-tertiary button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Navn</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text-outline"></use></svg>Kontakt</a>
            </p>
        </div>

        <div class="navbar">
            <div class="navbar-inner navbar-context-actions container">
                <div class="nav-actions">
                    <a href="#"
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#"></use></svg>Om
                        digital flytning</a>
                    <a href=""
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#language"></use></svg>Sprog</a>
                </div>
            </div>
        </div>

    </nav> <!-- collapsible nav end-->
</header>

<main class="container page-container pt-4 pt-lg-0">
    <div><a href="/pages/eksempler/digital-flytning/flytning-4/"
            class="back-link">Tilbage</a></div>

    <div class="alert alert alert-error alert--show-icon" role="alert"
        aria-label="error">
        <div class="alert-body">
            <p class="alert-heading">Der er sket en fejl</p>
            <p class="alert-text">Der er sket en fejl hos KRAK. Afstanden
                til din nuværende læge kan ikke beregnes i øjeblikket.
                Beregningen er vigtig for at dit lægevalg kan blive
                registreret korrekt. Fejlen er blevet registreret og vil
                blive rettet hurtigst muligt. Prøv at registrere din
                flytning senere.</p>
        </div>
    </div>

    <div class="overflow-menu  overflow-menu--open-right ">
        <button class="button-overflow-menu js-dropdown "
            data-js-target="overflow_steps" aria-haspopup="true"
            aria-expanded="false">
            Trin 5 af 5
            <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#menu-down"></use></svg>
            <span class="sr-only">Åbner overflow menu</span>
        </button>
        <div class="overflow-menu-inner" id="overflow_steps"
            aria-hidden="true">

            <ul class='sidenav-list'>
                <li>
                    <a href='/pages/eksempler/digital-flytning/flytning-1'>
                        1. Oversigt
                        <span class='sidenav-icon' aria-label='Gennemført'>
                            <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a href='/pages/eksempler/digital-flytning/flytning-2'>
                        2. Personer
                        <span class='sidenav-icon' aria-label='Gennemført'>
                            <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a href='/pages/eksempler/digital-flytning/flytning-3'>
                        3. Adresse
                        <span class='sidenav-icon' aria-label='Gennemført'>
                            <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a
                        href='/pages/eksempler/digital-flytning/flytning-4/'>
                        4. Særlig flytning
                        <span class='sidenav-icon' aria-label='Gennemført'>
                            <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#check'></use></svg>
                        </span>
                    </a>
                </li>
                <li class='active current'>
                    <a
                        href='/pages/eksempler/digital-flytning/flytning-5/'>
                        5. Lægevalg
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <h1>Lægevalg</h1>
    <div class="mt-0">

        <div class="alert alert alert-info alert--paragraph"
            aria-label="warning">
            <div class="alert-body">
                <p class="alert-heading">Når du anmelder flytning skal du
                    altid vælge læge også selv om det er tidligere læge du
                    ønsker.</p>
                <p class="alert-text">
                    <br>Du kan kontakte Folkeregisteret, på telefonnr. 3366 3366, såfremt der er lukket for tilgang til læger inden for en radius af 5 km.<br><br>Flytter du inden for Københavns kommune, men uden for lægens 5 km grænse, kan du beholde lægen. Du skal acceptere ikke at kunne få sygebesøg af lægen.<br><br>Flytter du tik Københavns kommune uden for lægens km grænse, kan du kun beholde din læge, hvis du opfylder betingelserne og accepterer ikke at kunne få sygebesøg af lægen.<br><br>Betingelserne i § 1 stk 9, i Bekendtgørelsen om valg og skift af alment praktiserende læge og om behandling hos læge i praksissektoren for at kunne beholde lægen.<br><br>Du vil modtage dit nye sundhedskort i løbet af 2-3 uger. Hvis du ikke modtager dit nye sundhedskort, skal du kontakte kommunen inden 60 dage fra din flyttedato. Ellers kommer du til at betale for dit nye kort.</p>
            </div>
        </div>

    </div>
    <div class="mt-6">
        <label class="form-label">Ny adresse</label>
        <p class="mt-0">Odensegade 23, 4.tv. 2100 København Ø</p>
    </div>
    <table
        class="table table--borderless table--compact table--responsive-headers d-print-table mt-5 w-percent-lg-70">
        <thead>
            <tr>
                <th>Personer som flytter</th>
                <th>Læge efter flytning</th>
                <th>Afstand</th>
                <th class="align-text-md-right">Skift læge</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Klaus Egegreen Hansen</td>
                <td>John Doe <br>Østerbrogade 893 18.tv.
                    <br>2100 København Ø</td>
                <td>0,6 Km</td>
                <td class="align-text-md-right"><a href="#"
                        aria-label="Skift læge"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#pencil"></use></svg></a>
                </td>
            </tr>
        </tbody>
    </table>

    <nav class="page-navigation d-print-none">
        <a href="#" class="button button-primary">Næste</a>
    </nav>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <div class="align-text-left">
                <ul class="unstyled-list inline-list">
                    <li class=""><span
                            class="h5 weight-semibold">Eksempelstyrelsen</span>
                    </li>
                    <li class=""><a class="function-link"
                            href="mailto:support@example.dk">support@example.dk</a>
                    </li>
                    <li class=""><a class="function-link"
                            href="tel:12345678">12 34 56 78</a></li>
                    <li class="d-print-none"><a href="#"
                            class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                    </li>
                    <li class="d-print-none"><a href="#"
                            class="function-link">Privatlivspolitik
                            (cookies)</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-contact-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close button button-unstyled"
                aria-label="Luk"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>