<header class="header"><a href="#main-content" class="skipnav">Gå til
        sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo alert-leave">

            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span
                        class="username weight-semibold">Christian Emil
                        Vestergaard Christiansen</span> </p>

                <button
                    class="button button-secondary alert-leave d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" title="Hjem" class="alert-leave2">
                    Vejledende udtalelse fra AES i privat erstatningssag
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p><a href="javascript:void(0);" data-module="modal"
                        data-target="modal-contact"
                        class="function-link d-inline-block d-print-none"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Christian Emil Vestergaard Christiansen
            </p>
            <p class="mt-0">Københavns Urmager Værksted v/Martin Elsig</p>
            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><button data-module="modal" data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</button>
            </p>
        </div>
    </nav> <!-- collapsible nav end-->
</header>

<main class="container  page-container" id="main-content">

    <div class="alert alert alert-success alert--show-icon" role="alert"
        aria-atomic="true" aria-label="success">
        <div class="alert-body">
            <p class="alert-heading">Kvittering</p>
            <p class="alert-text">Din virksomhedsregistrering er modtaget
            </p>
        </div>
    </div>

    <h1 class="mt-5">Kvittering</h1>
    <p class="font-lead">Nedenfor finder du dine indtastninger fra de
        foregående sider.</p>
    <button
        class="button button-secondary d-print-none"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#print"></use></svg>
        Udskriv kvittering</button>
    <h2>Dine oplysninger</h2>
    <div class="w-percent-md-70 mt-6 mb-7">
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-virksomhedens-navn"
                    class="form-label">Virksomhedens navn</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input"
                    id="input-virksomhedens-navn"
                    value="Forsikringens forsikring (enhed)" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-virksomhedens-kontaktperson"
                    class="form-label">Kontaktperson</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input"
                    id="input-virksomhedens-kontaktperson" value="John Doe"
                    readonly />
                <label
                    for="input-virksomhedens-kontaktperson-telefonnummer"
                    class="sr-only">Telefonnummer til kontaktperson</label>
                <input type="text" class="form-input"
                    id="input-virksomhedens-kontaktperson-telefonnummer"
                    value="+45 1234 5678" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-afsender"
                    class="form-label">Afsender</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input" id="input-afsender"
                    value="Forsikringens forsikring (enhed)" readonly />
            </div>
        </div>
    </div>
    <h3 class="h4">Oplysninger om skadelidte</h3>
    <div class="w-percent-md-70 mt-6 mb-7">
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-skadelidtes-navn"
                    class="form-label">Skadelidtes navn</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input"
                    id="input-skadelidtes-navn"
                    value="Susanne Maria Zaggariasen" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-skadelidtes-cpr"
                    class="form-label">Skadelidtes CPR</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input"
                    id="input-skadelidtes-cpr" value="110687-1478"
                    readonly />
            </div>
        </div>
    </div>
    <h3 class="h4">Oplysninger om sagen</h3>

    <div class="w-percent-md-70 mt-6 mb-7">
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-sagstype"
                    class="form-label">Sagstype</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input" id="input-sagstype"
                    value="Erstatningsansvarloven" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-emne" class="form-label">Emne</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input" id="input-emne"
                    value="Mén (6.220 kr.)" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-skadedato"
                    class="form-label">Skadedato</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input" id="input-skadedato"
                    value="1/10-2017" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-sagsnummer"
                    class="form-label">Sagsnummer</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input" id="input-sagsnummer"
                    value="prsk013456" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-verserende-retssag"
                    class="form-label">Verserende retssag</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input"
                    id="input-verserende-retssag" value="Nej" readonly />
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-skadelidtes-advokat"
                    class="form-label">Skadelidtes advokat</label>
            </div>
            <div class="col-12 col-md-8">
                <input type="text" class="form-input"
                    id="input-skadelidtes-advokat" value="Nej" readonly />
            </div>
        </div>
    </div>
    <h3 class="h4">Yderligere oplysninger</h3>

    <div class="w-percent-md-70 mt-6 mb-7">
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-faktuelle-oplysninger"
                    class="form-label">Faktuelle oplysninger</label>
            </div>
            <div class="col-12 col-md-8">
                <textarea class="form-input w-percent-100 input-width-xl no-resize mt-0" id="input-faktuelle-oplysninger" value="Erstatningsansvarloven" readonly rows="9">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lectus quis sem lacinia nonummy.
Proin mollis lorem non dolor. In hac habitasse platea dictumst. Nulla ultrices odio.
Donec augue. Phasellus dui. Maecenas facilisis nisl vitae nibh. Proin vel seo est vitae eros pretium dignissim.
Aliquam aliquam sodales orci. Suspendisse potenti. Nunc adipiscing euismod arcu. Quisque facilisis mattis lacus.</textarea>
            </div>
        </div>
    </div>

    <h2>Bilagsoversigt</h2>
    <h3 class="h4 mt-8 mb-5">Første undersøgelse af skade</h3>
    <table
        class="table table--borderless table--compact table--responsive-headers d-print-table mt-6 mb-7 w-percent-lg-70">
        <thead>
            <tr>
                <th>Original titel</th>
                <th>Navngivning</th>
                <th>Kommentar</th>
                <th>Størrelse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
            </tr>
        </tbody>
    </table>
    <h3 class="h4 mt-8 mb-5">Oplysninger om varigt mén</h3>
    <table
        class="table table--borderless table--compact table--responsive-headers d-print-table mt-6 mb-7 w-percent-lg-70">
        <thead>
            <tr>
                <th>Original titel</th>
                <th>Navngivning</th>
                <th>Kommentar</th>
                <th>Størrelse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
            </tr>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
            </tr>
        </tbody>
    </table>
    <h3 class="h4 mt-8 mb-5">Første undersøgelse af skade</h3>
    <table
        class="table table--borderless table--responsive-headers d-print-table table--compact mt-6 w-percent-lg-70">
        <thead>
            <tr>
                <th>Original titel</th>
                <th>Navngivning</th>
                <th>Kommentar</th>
                <th>Størrelse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
            </tr>
        </tbody>
    </table>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <div class="align-text-left">
                <ul class="unstyled-list inline-list">
                    <li class=""><span
                            class="h5 weight-semibold">Eksempelstyrelsen</span>
                    </li>
                    <li class=""><a class="function-link"
                            href="mailto:support@example.dk">support@example.dk</a>
                    </li>
                    <li class=""><a class="function-link"
                            href="tel:12345678">12 34 56 78</a></li>
                    <li class="d-print-none"><a href="#"
                            class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                    </li>
                    <li class="d-print-none"><a href="#"
                            class="function-link">Privatlivspolitik
                            (cookies)</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-contact-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>