<header class="header">
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" class="logo ">
                <span class="sr-only">Portalnavn</span>
            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span class="username">Anders Andersen,
                        Forsikringens Forsikringsfirma</span> </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Vejledende udtalelse fra AES i privat erstatningssag
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info d-print-none">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p>Support: 72 20 60 00 · <a href="javascript:void(0);"
                        data-module="modal" data-target="modal-contact"
                        class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user"><span class="weight-semibold">Anders
                    Andersen</span><br />Forsikringens Forsikringsfirma</p>
            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p>Support: 72 20 60 00 <br><a href="javascript:void(0);"
                    data-module="modal" data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>

        <div class="navbar">
            <div class="navbar-inner navbar-context-actions container">
                <div class="nav-actions">
                    <a href=""
                        class="function-link"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#save"></use></svg>Gem
                        kladde
                    </a>
                </div>
            </div>
        </div>

    </nav> <!-- collapsible nav end-->

</header>

<main class="container page-container pt-4 pt-lg-0" id="main-content">
    <div><a href="/pages/eksempler/AES-erstatningssag/aes-7/"
            class="back-link">Tilbage</a></div>

    <div class="overflow-menu  overflow-menu--open-right">
        <button class="button-overflow-menu js-dropdown "
            data-js-target="overflow_steps" aria-haspopup="true"
            aria-expanded="false">
            Trin 8 af 9
            <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
        </button>
        <div class="overflow-menu-inner" id="overflow_steps"
            aria-hidden="true">
            <nav>
                <ul class='sidenav-list' role='menu'>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-1/'
                            role='menuitem'> 1. Oplysninger om afsender
                            <span class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-2/'
                            role='menuitem'><span
                                class='sidenav-number'>2.</span><span
                                class='sidenav-title'>Hvis AES har
                                spørgsmål til sagen</span><span
                                class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-3/'
                            role='menuitem'> <span
                                class='sidenav-number'>3.</span><span
                                class='sidenav-title'>Oplysninger om
                                skadelidte</span> <span
                                class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-4/'
                            role='menuitem'><span
                                class='sidenav-number'>4.</span><span
                                class='sidenav-title'>Sagens
                                natur</span><span class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-5/'
                            role='menuitem'><span
                                class='sidenav-number'>5.</span><span
                                class='sidenav-title'>Oplysninger om
                                sagen</span><span class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-6/'
                            role='menuitem'><span
                                class='sidenav-number'>6.</span><span
                                class='sidenav-title'>Tilføj dokumentation
                                for første undersøgelse af
                                skaden</span><span class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-7/'
                            role='menuitem'><span
                                class='sidenav-number'>7.</span><span
                                class='sidenav-title'>Tilføj dokumentation
                                fra sagen</span><span class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li class='active current' role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-8/'
                            role='menuitem' aria-current='page'><span
                                class='sidenav-number'>8.</span><span
                                class='sidenav-title'>Tilføj kommentarer
                                til sagen</span></a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/AES-erstatningssag/aes-9/'
                            role='menuitem'><span
                                class='sidenav-number'>9.</span><span
                                class='sidenav-title'>Opsummering</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div role="group" aria-labelledby="tilfoej-kommentar">
        <h1 id="tilfoej-kommentar">Tilføj kommentarer til sagen</h1>
        <ul class="nobullet-list">
            <li>

                <input id="checkbox-comments-1" type="checkbox"
                    name="faktuelle-oplysninger"
                    class="form-checkbox checkbox-large js-checkbox-toggle-content"
                    data-js-target='#collapse-check'
                    data-aria-controls='collapse-check'
                    aria-expanded='false' />
                <label for="checkbox-comments-1" class="">Faktuelle
                    oplysninger</label>

                <div id="collapse-check" aria-hidden="true"
                    class="checkbox-content checkbox-content-large">
                    <div class="py-4">

                        <div class="form-group">
                            <label class="form-label"
                                for="id-comment-1-expanded">
                                Kommentar
                            </label>

                            <textarea class="form-input input-width-m"  rows="3"     id="id-comment-1-expanded" name="kommentar1" ></textarea>

                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="mt-3">

                    <input id="checkbox-comments-2" type="checkbox"
                        name="spoergsmål-aes"
                        class="form-checkbox checkbox-large js-checkbox-toggle-content"
                        data-js-target='#collapse-check1'
                        data-aria-controls='collapse-check1'
                        aria-expanded='false' />
                    <label for="checkbox-comments-2" class="">Spørgsmål til
                        AES</label>

                    <div id="collapse-check1" aria-hidden="true"
                        class="checkbox-content checkbox-content-large">
                        <div class="py-4">

                            <div class="form-group">
                                <label class="form-label"
                                    for="id-comment-2-expanded">
                                    Kommentar
                                </label>

                                <textarea class="form-input input-width-m"  rows="3"     id="id-comment-2-expanded" name="kommentar2" ></textarea>

                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="mt-3">

                    <input id="checkbox-comments-3" type="checkbox"
                        name="instruks-aes"
                        class="form-checkbox checkbox-large js-checkbox-toggle-content"
                        data-js-target='#collapse-check2'
                        data-aria-controls='collapse-check2'
                        aria-expanded='false' />
                    <label for="checkbox-comments-3" class="">Instruks til
                        AES</label>

                    <div id="collapse-check2" aria-hidden="true"
                        class="checkbox-content checkbox-content-large">
                        <div class="py-4">

                            <div class="form-group">
                                <label class="form-label"
                                    for="id-comment-3-expanded">
                                    Kommentar
                                </label>

                                <textarea class="form-input input-width-m"  rows="3"     id="id-comment-3-expanded" name="kommentar3" ></textarea>

                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="mt-3">

                    <input id="checkbox-comments-4" type="checkbox"
                        name="saerlige-forsikringsbetingelser"
                        class="form-checkbox checkbox-large js-checkbox-toggle-content"
                        data-js-target='#collapse-check3'
                        data-aria-controls='collapse-check3'
                        aria-expanded='false' />
                    <label for="checkbox-comments-4" class="">Særlige
                        forsikringsbetingelser</label>

                    <div id="collapse-check3" aria-hidden="true"
                        class="checkbox-content checkbox-content-large">
                        <div class="py-4">

                            <div class="form-group">
                                <label class="form-label"
                                    for="id-comment-4-expanded">
                                    Kommentar
                                </label>

                                <textarea class="form-input input-width-m"  rows="3"     id="id-comment-4-expanded" name="kommentar4" ></textarea>

                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <form novalidate method="get"
        action="/pages/eksempler/AES-erstatningssag/aes-9/">
        <button
            class="button button-primary mt-8 d-print-none">Næste</button>
    </form>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Eksempelstyrelsen</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@example.dk">support@example.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>