<header class="header"><a href="#main-content" class="skipnav">Gå til
        sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo ">

            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span class="username">Anders
                        Andersen</span> </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Digital flytning
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p><a href="javascript:void(0);" data-module="modal"
                        data-target="modal-contact"
                        class="function-link d-inline-block d-print-none"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Navn</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>
    </nav> <!-- collapsible nav end-->
</header>

<main class="container page-container" id="main-content">
    <div><a href="/pages/eksempler/digital-flytning/flytning-2/"
            class="back-link">Tilbage</a></div>

    <div class="overflow-menu  overflow-menu--open-right">
        <button class="button-overflow-menu js-dropdown "
            data-js-target="overflow_steps" aria-haspopup="true"
            aria-expanded="false">
            Trin 3 af 5
            <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
        </button>
        <div class="overflow-menu-inner" id="overflow_steps"
            aria-hidden="true">
            <nav>
                <ul class='sidenav-list' role='menu'>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-1/'
                            role='menuitem'> <span
                                class='sidenav-number'>1.</span><span
                                class='sidenav-title'>Oversigt</span><span
                                class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-2/'
                            role='menuitem'> <span
                                class='sidenav-number'>2.</span><span
                                class='sidenav-title'>Personer</span><span
                                class='sidenav-icon'
                                aria-label='Gennemført'>
                                <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                            </span> </a> </li>
                    <li class='active current' role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-3/'
                            role='menuitem' aria-current='page'> <span
                                class='sidenav-number'>3.</span><span
                                class='sidenav-title'>Adresse</span> </a>
                    </li>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-4/'
                            role='menuitem'> <span
                                class='sidenav-number'>4.</span><span
                                class='sidenav-title'>Særlig
                                flytning</span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-5/'
                            role='menuitem'> <span
                                class='sidenav-number'>5.</span><span
                                class='sidenav-title'>Lægevalg</span> </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <h1>Adresse</h1>

    <div class="alert alert-warning">
        <div class="alert-body">
            <p class="alert-heading">Ikke alle adresser er registreret i
                dette register</p>
            <p class="alert-text">Kan du ikke finde din
                tilflytningsadresse, bedes du kontakte din
                tilflytningskommune.</p>
        </div>
    </div>

    <div class="mt-6">

        <div class="form-group  ">
            <fieldset aria-describedby="example-date-field-hint ">
                <legend class="form-label">Dato for flytning</legend>
                <span class="form-hint" id="example-date-field-hint">Fx. 28
                    04 1996</span>

                <div class="date-group js-calendar-group mt-3">
                    <div class="form-group form-group-day">
                        <label class="form-label"
                            for="date-day">Dag</label>
                        <input class="form-input js-calendar-day-input"
                            id="date-day" value="" type="tel" data-min="1"
                            data-max="31" maxlength="2"
                            pattern="^[0-9]{0,2}$"
                            data-input-regex="^[0-9]{0,2}$"
                            title="Indskriv dag på måneden som tal"
                            aria-describedby="example-date-field-hint" />
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label"
                            for="date-month">Måned</label>
                        <input class="form-input js-calendar-month-input"
                            id="date-month" value="" type="tel"
                            data-min="1" data-max="12" maxlength="2"
                            pattern="^[0-9]{0,2}$"
                            data-input-regex="^[0-9]{0,2}$"
                            title="Indskriv månedens nummer"
                            aria-describedby="example-date-field-hint" />
                    </div>
                    <div class="form-group form-group-year ">
                        <label class="form-label"
                            for="date-year">År</label>
                        <input class="form-input js-calendar-year-input"
                            id="date-year" value="" type="tel"
                            data-min="1900" data-max="3000" maxlength="4"
                            pattern="^[0-9]{0,4}$"
                            data-input-regex="^[0-9]{0,4}$"
                            title="Indskriv årstal"
                            aria-describedby="example-date-field-hint" />
                    </div>

                </div>
            </fieldset>
        </div>

    </div>
    <div class="mt-6">

        <div class="form-group ">
            <label class="form-label" for="select-street">
                Gade / vejnavn
            </label>

            <select class="input-width-m form-select" name="gade-vej"
                id="select-street">

                <option value="">Vælg fra listen</option>

                <option value="Byvej">Byvej</option>

            </select>
        </div>

    </div>
    <div class="mt-6">

        <div class="form-group ">
            <label class="form-label" for="select-housenumber">
                Husnr. / bogstav
            </label>

            <select class="input-width-xs form-select" name="husnr"
                id="select-housenumber">

                <option value="">Vælg fra listen</option>

                <option value="1">1</option>

                <option value="2">2</option>

                <option value="3">3</option>

            </select>
        </div>

    </div>
    <div class="mt-6">

        <div class="form-group ">
            <label class="form-label" for="select-door">
                Etage, side/dør
            </label>

            <select class="input-width-xs form-select" name="etage"
                id="select-door">

                <option value="">Vælg fra listen</option>

                <option value="1">1</option>

            </select>
        </div>

    </div>
    <div class="mt-6">
        <div class="form-group">

            <label class="form-label" for="id-co">
                C/O navn<span class="weight-normal"> (frivilligt)</span>
            </label>
            <span class="form-hint" id="id-co-hint">
                C/O navn skal kun udfyldes, hvis du skal bo til leje hos de
                nuværende beboere.
            </span>
            <input class="form-input input-width-m" id="id-co"
                name="co-navn" type="text" aria-describedby="id-co-hint" />
        </div>
    </div>

    <nav class="page-navigation d-print-none">
        <a href="/pages/eksempler/digital-flytning/flytning-4/"
            class="button button-primary">Næste</a>
    </nav>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Eksempelstyrelsen</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@example.dk">support@example.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen ">
                <li><a href="" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="" lang="en-GB">English</a></li>
                <li><a href="" lang="de">Deutsch</a></li>
                <li><a href="" lang="kl">Kalaallisut</a></li>
                <li><a href="" lang="pl">Polski</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>