<header class="header">
    <div id="top"></div>

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="#" aria-label="Portalnavn" class="logo ">
                <span class="d-none d-print-block">Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-info">
                <p class="user">

                    <span class="username">Anders Andersen</span>

                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#">
                    Simpelt eksempel på vedhæft fil
                </a>
            </div>

            <div class="solution-info d-print-none">

                <h2 class="authority-name">Myndighedsnavn</h2>

                <p>Support: 12 34 56 78 <span class="d-print-none">· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact"
                            class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <nav class="nav">

        <button class="function-link button-menu-close js-menu-close"
            aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">

            <p class="user">

                <span class="username">Anders Andersen</span>

            </p>

            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

        <div class="solution-info-mobile">

            <h2 class="authority-name">Myndighedsnavn</h2>

            <p>Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);"
                        data-module="modal" data-target="modal-contact"
                        class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
            </p>

        </div>

    </nav>
</header>

<main class="container page-container pt-4 pt-lg-6" id="main-content">
    <a href="#" class="back-link">Tilbage</a>

    <form novalidate method="post" action="/pages/eksempler/vedhaeft-fil/fil-1/">
        <fieldset>
            <legend>
                <h1>Dokumentation</h1>
            </legend>
            <div class="form-group file-input mb-5">
                <label class="form-label" for="fileinput">Vedhæft fil</label>
                <input type="file" id="fileinput" name="file" />
            </div>
            <button class="button button-primary d-print-none mt-7" type="button">
                Næste
            </button>
        </fieldset>
    </form>
</main>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none"
        href="#top"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg><span
            class="sr-only">Til toppen</span><span class="d-none d-md-inline-block"
            aria-hidden="true">Til toppen</span></a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><strong class="weight-semibold">Myndighedsnavn</strong></li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a></li>
                <li class=""><a class="function-link" href="tel:12345678">(+45) 12 34 56
                        78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a></li>
                <li class="d-print-none"><a href="#" class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog" aria-modal="true"
    aria-labelledby="modal-contact-heading">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-heading">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">

            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af advarende karakter
                    </h3>
                    <p class="alert-text">Noget tekst, der forklarer det af advarende
                        karakter, som brugeren bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
            <p>Telefonen er åben:</p>
            <p class='m-0'>
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-14</span></p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary" data-modal-close>
                Luk
            </button>
        </div>

    </div>
</div>