<div id="top"></div>
<header class="header">

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" aria-label="Portalnavn" class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    Anders Andersen
                </p>

                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#lock"></use></svg>Log
                    af</button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <strong>Ansøg om et eller andet</strong>
            </div>

            <div class="additional-info d-print-none">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p><span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                        class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                        aria-hidden="true">·</span><button type="button" data-module="modal"
                        data-target="modal-contact" aria-haspopup="dialog"
                        class="d-print-none function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#card-text"></use></svg>Kontakt</button>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#close"></use></svg>Luk</button>
        </div>

        <div class="solution-info-mobile">
            <h3 class="sr-only">Myndighed</h3>

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p><span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                    class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                    aria-hidden="true">·</span><button type="button" data-module="modal"
                    data-target="modal-contact" aria-haspopup="dialog"
                    class="d-print-none function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#card-text"></use></svg>Kontakt</button>
            </p>

        </div>

        <div class="portal-info-mobile">
            <h3 class="sr-only">Bruger</h3>

            <p class="user">

                Anders Andersen

            </p>

            <p>
                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#lock"></use></svg>Log
                    af</button>
            </p>
        </div>

    </div>
</header>

<main class="container page-container" id="main-content">
    <div><a href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-1/"
            class="back-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg>Tilbage</a>
    </div>

    <div class="overflow-menu overflow-menu--open-right">
        <button class="button-overflow-menu js-dropdown" data-js-target="overflow-ansoeg"
            aria-expanded="false" aria-controls="overflow-ansoeg">
            Trin 2 af 5
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#more-vert"></use></svg>
        </button>
        <div class="overflow-menu-inner collapsed" id="overflow-ansoeg">
            <nav aria-label="Trinindikator">
                <ol class="sidemenu">
                    <li>
                        <a class="nav-step"
                            href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-1/">
                            <div>
                                <span class="sidenav-number">1.</span>
                                <div>
                                    <span class="sidenav-maininfo">
                                        <span class="sidenav-title">Oplysninger om
                                            afsender</span><span
                                            class="sidenav-icon"><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#done"></use></svg></span></span>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="active current " aria-current="step">
                        <a class="nav-step"
                            href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-2/">
                            <div>
                                <span class="sidenav-number">2.</span>
                                <div>
                                    <span class="sidenav-maininfo">
                                        <span
                                            class="sidenav-title">Kontaktoplysninger</span></span>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-step"
                            href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-3/">
                            <div>
                                <span class="sidenav-number">3.</span>
                                <div>
                                    <span class="sidenav-maininfo">
                                        <span class="sidenav-title">Ansøgningens
                                            type</span></span>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-step"
                            href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-4/">
                            <div>
                                <span class="sidenav-number">4.</span>
                                <div>
                                    <span class="sidenav-maininfo">
                                        <span class="sidenav-title">Tilføj
                                            dokumentation</span></span>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-step"
                            href="/pages/eksempler/trinformular-til-ansoegning/ansoegning-5/">
                            <div>
                                <span class="sidenav-number">5.</span>
                                <div>
                                    <span class="sidenav-maininfo">
                                        <span class="sidenav-title">Opsummering</span></span>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <h1>Kontaktoplysninger</h1>
    <p class="font-lead mb-6">Hvis vi har spørgsmål til ansøgningen, har vi brug for at kunne
        kontakte dig telefonisk.
    </p>
    <form novalidate method="post"
        action="/pages/eksempler/trinformular-til-ansoegning/ansoegning-3/">

        <div class="form-group mb-6">
            <label class="form-label" for="input-telefonnummer">Telefonnummer</label>

            <input type="tel" id="input-telefonnummer" name="telefonnummer"
                class="form-input input-width-s" required autocomplete="tel">
        </div>

        <div class="form-group">
            <label class="form-label" for="input-navn">Navn på kontaktperson<span
                    class="weight-normal"> (frivilligt)</span></label>

            <span class="form-hint" id="input-navn-hint">Dette felt skal kun udfyldes, hvis
                kontaktpersonen er en anden end dig selv.</span>

            <input type="text" id="input-navn" name="navn" class="form-input input-width-m"
                aria-describedby="input-navn-hint ">
        </div>

        <button class="button button-primary d-print-none mt-7" type='submit'>
            Næste
        </button>
    </form>
</main>

<footer>

    <a class="button back-to-top-button d-print-none" href="#top">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#arrow-upward"></use></svg>
        <span class="sr-only">Til toppen af siden</span>
        <span class="d-none d-md-inline-block" aria-hidden="true">Til toppen</span>
    </a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><strong class="weight-semibold">Myndighedsnavn</strong></li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a></li>
                <li class=""><a class="function-link" href="tel:12345678">(+45) 12 34 56
                        78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a></li>
                <li class="d-print-none"><a href="#" class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal-container">

    <div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
        aria-modal="true" aria-labelledby="modal-contact-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-contact-heading">
                    Kontakt
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert">
                    <div class="alert-border"></div>
                    <svg class="icon-svg alert-icon" aria-label="Advarsel" focusable="false"><use href="#warning"></use></svg>
                    <div class="alert-body">
                        <h3 class="alert-heading">Vi har noget information af advarende
                            karakter</h3>
                        <p class="alert-text">Noget tekst, der forklarer det af advarende
                            karakter, som brugeren bør vide inden denne ringer eller skriver.
                        </p>
                    </div>
                </div>
                <h3>En form for support</h3>
                <p>Hvis du har spørgsmål om:</p>
                <ul>
                    <li>En ting som denne</li>
                    <li>Et andet emne som dette</li>
                </ul>
                <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span>
                </p>
                <p>Telefonen er åben:</p>
                <p class='m-0'>
                    Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>
                    Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-14</span></p>
            </div>

            <div class="modal-footer">
                <button class="button button-secondary" data-modal-close>
                    Luk
                </button>
            </div>

        </div>
    </div>

</div>