<header class="header">
    <div id="top"></div>
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="#" class="logo ">
                <span class="sr-only">Portalnavn</span>
            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span
                        class="username weight-semibold">Anders
                        Andersen</span> <br />Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Registrer et eller andet
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info d-print-none">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Myndighedsnavn</p>

                <p>Support: 12 34 56 78 <span class='d-print-none'>· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact"
                            class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class="nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user"><span class="weight-semibold">Anders
                    Andersen</span><br />Forsikringens Forsikringsfirma</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Myndighedsnavn</p>
            <p>Support: 12 34 56 78 <br><a href="javascript:void(0);"
                    data-module="modal" data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>

        <div class="navbar">
            <div class="navbar-inner navbar-context-actions container">
                <div class="nav-actions">
                    <a href="#"
                        class="function-link"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#save"></use></svg>Gem
                        kladde</a>
                </div>
            </div>
        </div>
    </nav> <!-- collapsible nav end-->
</header>

<div class="container page-container pt-5 pt-lg-0">
    <div class="row">
        <aside class="col-12 col-lg-3 sidebar-col">
            <div
                class="overflow-menu overflow-menu--open-right overflow-menu--lg-no-responsive ">
                <button class="button-overflow-menu js-dropdown"
                    data-js-target="overflow-reg" aria-haspopup="true"
                    aria-expanded="false">
                    Trin 3 af 6
                    <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
                </button>
                <div class="overflow-menu-inner" id="overflow-reg"
                    aria-hidden="false">

                    <nav>
                        <ul class="sidenav-list" role="menu">

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-1/"
                                    role="menuitem">
                                    <span class="sidenav-number">1.</span>
                                    <span
                                        class="sidenav-title">Vælg&nbsp;personer</span>

                                    <span class="sidenav-icon">
                                        <svg class="icon-svg" aria-label="Gennemført" aria-hidden="true"><use xlink:href="#done"></use></svg>
                                    </span>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-2/"
                                    role="menuitem">
                                    <span class="sidenav-number">2.</span>
                                    <span
                                        class="sidenav-title">Vælg&nbsp;noget&nbsp;mere</span>

                                    <span class="sidenav-icon">
                                        <svg class="icon-svg" aria-label="Gennemført" aria-hidden="true"><use xlink:href="#done"></use></svg>
                                    </span>

                                </a>
                            </li>

                            <li class=" active current" role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-3/"
                                    role="menuitem" aria-current="page"
                                    aria-current="page">
                                    <span class="sidenav-number">3.</span>
                                    <span
                                        class="sidenav-title">Vedhæft&nbsp;dokumenter</span>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-4/"
                                    role="menuitem">
                                    <span class="sidenav-number">4.</span>
                                    <span
                                        class="sidenav-title">Tidligere&nbsp;registrering</span>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-5/"
                                    role="menuitem">
                                    <span class="sidenav-number">5.</span>
                                    <span
                                        class="sidenav-title">Kontaktoplysninger</span>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-6/"
                                    role="menuitem">
                                    <span class="sidenav-number">6.</span>
                                    <span
                                        class="sidenav-title">Opsummering</span>

                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </aside>
        <main class="col-12 col-lg-9" id="main-content">
            <div><a href="/pages/eksempler/trinformular-til-registrering/registrering-2/"
                    class="back-link">Tilbage</a></div>
            <h1 class="mb-6">Vedhæft dokumenter</h1>
            <form novalidate method="post"
                action="/pages/eksempler/trinformular-til-registrering/registrering-3/">
                <div class="form-group file-input mb-5">
                    <label class="form-label" for="fileinput">Vedhæft
                        fil</label>
                    <input class="mt-3" type="file" id="fileinput"
                        name="file" aria-describedby="help-text-hint " />
                </div>
                <button class="button button-secondary"
                    type="submit">Upload fil</button>
            </form>

            <h2 class="h5 mt-8">Vedhæftet</h2>
            <form novalidate method="post"
                action="/pages/eksempler/trinformular-til-registrering/registrering-3/">
                <ul class="bordered-list w-percent-md-40 mt-3">
                    <li>
                        <div class="d-flex justify-content-between"><a
                                href="#"
                                class="function-link"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>Journal.pdf</a><button
                                class="function-link"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#trash-can"></use></svg>Slet</button>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between"><a
                                href="#"
                                class="function-link"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>Kopi-af-dokument-x.pdf</a><button
                                class="function-link"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#trash-can"></use></svg>Slet</button>
                        </div>
                    </li>
                </ul>
            </form>

            <form novalidate method="post"
                action="/pages/eksempler/trinformular-til-registrering/registrering-4/">
                <input type="hidden" name="files-attached" value="true">
                <button class="button button-primary d-print-none mt-7"
                    type='submit'>
                    Næste
                </button>
            </form>
        </main>
    </div>
</div>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none"
        href="#top"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg>
        <span class="d-none d-md-inline-block">Til toppen</span>
    </a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Myndighedsnavn</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">(+45) 12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen ">
                <li><a href="" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="" lang="en-GB">English</a></li>
                <li><a href="" lang="de">Deutsch</a></li>
                <li><a href="" lang="kl">Kalaallisut</a></li>
                <li><a href="" lang="pl">Polski</a></li>
                <li><a href="" lang="se">Svenska</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-contact-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-id-1-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>