<header class="header">
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo ">

            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span class="username">Anders
                        Andersen</span> </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Ansøg om indsigt
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p>Support: 72 20 60 00 <span class='d-print-none'>· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact"
                            class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Anders Andersen</p>
            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>

    </nav> <!-- collapsible nav end-->
</header>

<main class="container page-container" id="main-content">

    <form novalidate class="form" method="post"
        action="/pages/eksempler/aktindsigt/aktindsigt-2/">
        <div role="group" aria-labelledby="oplysninger-om-dig">
            <h1 id="oplysninger-om-dig">Oplysninger om dig</h1>
            <div class="form-group">

                <label class="form-label" for="id-fornavn">
                    Fornavn
                </label>

                <input class="form-input input-width-m" id="id-fornavn"
                    name="fornavn" type="text" required />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-efternavn">
                    Efternavn
                </label>

                <input class="form-input input-width-m" id="id-efternavn"
                    name="efternavn" type="text" required />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-gade-vej">
                    Gade/vej
                </label>

                <input class="form-input input-width-m" id="id-gade-vej"
                    name="gade" type="text" required />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-husnummer">
                    Husnummer
                </label>

                <input class="form-input input-width-xxs" id="id-husnummer"
                    name="husnummer" type="text" required />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-etage">
                    Etage<span class="weight-normal"> (frivilligt)</span>
                </label>

                <input class="form-input input-width-xxs" id="id-etage"
                    name="etage" type="text" />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-side">
                    Side<span class="weight-normal"> (frivilligt)</span>
                </label>
                <span class="form-hint" id="id-side-hint">
                    Fx: TV, 2. dør
                </span>
                <input class="form-input input-width-xs" id="id-side"
                    name="side" type="text"
                    aria-describedby="id-side-hint " />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-postnummer">
                    Postnummer
                </label>

                <input class="form-input input-width-xxs"
                    id="id-postnummer" name="postnummer" type="text"
                    required />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-by">
                    By
                </label>

                <input class="form-input input-width-m" id="id-by"
                    name="by" type="text" required />

            </div>
            <div class="form-group">

                <label class="form-label" for="id-co-adresse">
                    Evt. CO-adresse<span class="weight-normal">
                        (frivilligt)</span>
                </label>

                <input class="form-input input-width-m" id="id-co-adresse"
                    name="co-adresse" type="text" />

            </div>
            <div class="form-group">
                <fieldset>
                    <legend class="form-label">Er der tidligere søgt om
                        aktindsigt?</legend>
                    <ul class="nobullet-list">
                        <li>
                            <div class="form-group-radio">
                                <input id="radio-aktindsigt-ja"
                                    type="radio" name="aktindsigt"
                                    value="1"
                                    class="form-radio radio-large " />
                                <label for="radio-aktindsigt-ja"
                                    id="form-label-radio-aktindsigt-ja"
                                    class="">Ja </label>

                            </div>
                        </li>
                        <li>
                            <div class="form-group-radio">
                                <input id="radio-aktindsigt-nej"
                                    type="radio" name="aktindsigt"
                                    value="0"
                                    class="form-radio radio-large " />
                                <label for="radio-aktindsigt-nej"
                                    id="form-label-radio-aktindsigt-nej"
                                    class="">Nej </label>

                            </div>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
        <button type="submit"
            class="button button-primary d-print-none mt-7">Næste</button>
    </form>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Eksempelstyrelsen</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@example.dk">support@example.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>