<header class="header">

    <!--1A: Portal header -->
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo alert-leave">
            </a>
            <button
                class="button button-secondary button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu" title="Åben mobil menu">Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span class="username">Christian Emil
                        Vestergaard Christiansen, Forsikringens
                        Forsikringsfirma</span> </p>

                <button
                    class="button button-secondary alert-leave d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" title="Hjem" class="alert-leave2">
                    Sager hos AES
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info d-print-none">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Arbejdsmarkedets
                    Erhvervssikring</p>

                <p>Support: <a href='tel:+4572206000'
                        class='function-link'>72 20 60 00</a></p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button
            class="button button-tertiary button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user"><span class="weight-semibold">Christian Emil
                    Vestergaard
                    Christiansen</span><br />Forsikringens Forsikringsfirma</p>
            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Arbejdsmarkedets Erhvervssikring</p>
            <p>Support: <a href='tel:+4572206000' class='function-link'>72
                    20 60 00</a></p>
        </div>

        <div class="navbar">
            <div class="navbar-inner navbar-context-actions container">
                <div class="nav-actions">
                    <a href="#"
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#account-circle"></use></svg>Min
                        profil</a>
                </div>
            </div>
        </div>

    </nav> <!-- collapsible nav end-->
</header>

<nav class="breadcrumbs container" aria-label="Brødkrumme">
    <ol class="breadcrumbs__list">

        <li class="breadcrumbs__list-item">
            <a class="breadcrumbs__link"
                href="/pages/eksempler/aes/oversigt/">Oversigt</a>
        </li>

        <li class="breadcrumbs__list-item">
            <a class="breadcrumbs__link"
                href="/pages/eksempler/aes/sagsoverblik/">Sagsnr.
                2020-0000015</a>
        </li>

        <li class="breadcrumbs__list-item" aria-current="page">Afgørelser
        </li>

    </ol>
</nav>

<main class="container page-container pt-4 pt-lg-0">
    <h1>Afgørelser</h1>
    <p>Du kan her se sagens afgørelser. Der findes enkelte afgørelsestyper
        som ikke kan vises nedenfor, men for de fleste sager vil alle
        sagens afgørelser være listet nedenfor.</p>
    <p><span class="bold">Sagen forventes afsluttet:</span> ​​​​​​​Maj 2021
    </p>

    <h2>Anerkendelse</h2>
    <div class="d-flex mb-4">
        <div class="mr-3"><span class="bold">Status:</span></div>
        <div>Afsluttet</div>
    </div>
    <ul class="accordion accordion-bordered accordion-multiselectable">
        <li>
            <button class="accordion-button" aria-expanded="true"
                aria-controls="anerkendelse-afgoerelse">
                Afgørelse
            </button>
            <div id="anerkendelse-afgoerelse" aria-hidden="false"
                class="accordion-content">
                <p>Resultat: Anerkendt<br />
                Dato for afgørelse: 01-01-2019<br />
                Dokument med afgørelse: Afgørelse for anerkendelse</p>
            </div>
        </li>
        <li>
            <button class="accordion-button" aria-expanded="false"
                aria-controls="anerkendelse-vurdering">
                Læs om vurdering af Anerkendelse
            </button>
            <div id="anerkendelse-vurdering" aria-hidden="true"
                class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Maecenas rutrum, odio ac posuere vehicula, arcu
                    sapien porta erat, a euismod orci orci eget magna.
                    Suspendisse tempor erat nec eros laoreet tincidunt.
                    Vivamus sed felis non erat pharetra volutpat. Maecenas
                    interdum nunc sed sodales blandit. Morbi porta, lacus
                    ac auctor semper, ipsum mauris porta sapien, ut
                    volutpat urna tellus nec tellus. Sed elit velit, luctus
                    eu tincidunt et, gravida sed nunc. Cras volutpat
                    pharetra maximus. Phasellus nisi orci, pellentesque nec
                    mi ac, bibendum ornare enim. Curabitur vestibulum odio
                    neque, ac scelerisque dui rutrum vitae.
                </p>
            </div>
        </li>
    </ul>
    <h2>Mén</h2>
    <div class="d-flex mb-4">
        <div class="mr-3"><span class="bold">Status:</span></div>
        <div>Sendt til Ankestyrelsen</div>
    </div>
    <ul class="accordion accordion-bordered accordion-multiselectable">
        <li>
            <button class="accordion-button" aria-expanded="true"
                aria-controls="men-afgoerelse">
                Afgørelse
            </button>
            <div id="men-afgoerelse" aria-hidden="false"
                class="accordion-content">
                <p>Resultat: 10%<br />
                Dato for afgørelse: 01-01-2019<br />
                Dokument med afgørelse: <a href="#">Afgørelse for mén</a></p>
            </div>
        </li>
        <li>
            <button class="accordion-button" aria-expanded="false"
                aria-controls="men-vurdering">
                Læs om vurdering af Mén
            </button>
            <div id="men-vurdering" aria-hidden="true"
                class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Maecenas rutrum, odio ac posuere vehicula, arcu
                    sapien porta erat, a euismod orci orci eget magna.
                    Suspendisse tempor erat nec eros laoreet tincidunt.
                    Vivamus sed felis non erat pharetra volutpat. Maecenas
                    interdum nunc sed sodales blandit. Morbi porta, lacus
                    ac auctor semper, ipsum mauris porta sapien, ut
                    volutpat urna tellus nec tellus. Sed elit velit, luctus
                    eu tincidunt et, gravida sed nunc. Cras volutpat
                    pharetra maximus. Phasellus nisi orci, pellentesque nec
                    mi ac, bibendum ornare enim. Curabitur vestibulum odio
                    neque, ac scelerisque dui rutrum vitae.
                </p>
            </div>
        </li>
    </ul>
    <h2>Erhvervsevnetab</h2>
    <div class="d-flex mb-4">
        <div class="mr-3"><span class="bold">Status:</span></div>
        <div>Påklaget af forsikringsselskab
            Tryg<br />Påklaget af tilskadekomne Lone Hansen</div>
    </div>
    <ul class="accordion accordion-bordered accordion-multiselectable">
        <li>
            <button class="accordion-button" aria-expanded="true"
                aria-controls="erhvervsevnetab-afgoerelse">
                Afgørelse
            </button>
            <div id="erhvervsevnetab-afgoerelse" aria-hidden="false"
                class="accordion-content">
                <p>Resultat: 20%<br />
                Dato for afgørelse: 17-05-2019<br />
                Dokument med afgørelse: <a href="#">Afgørelse for
                        erhvervsevnetab</a></p>

                <p>Resultat: Under 15%<br />
                Dato for afgørelse: 01-01-2019<br />
                Dokument med afgørelse: <a href="#">Afgørelse for
                        erhvervsevnetab</a></p>
            </div>
        </li>
        <li>
            <button class="accordion-button" aria-expanded="false"
                aria-controls="erhvervsevnetab-vurdering">
                Læs om vurdering af Erhvervseventab
            </button>
            <div id="erhvervsevnetab-vurdering" aria-hidden="true"
                class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Maecenas rutrum, odio ac posuere vehicula, arcu
                    sapien porta erat, a euismod orci orci eget magna.
                    Suspendisse tempor erat nec eros laoreet tincidunt.
                    Vivamus sed felis non erat pharetra volutpat. Maecenas
                    interdum nunc sed sodales blandit. Morbi porta, lacus
                    ac auctor semper, ipsum mauris porta sapien, ut
                    volutpat urna tellus nec tellus. Sed elit velit, luctus
                    eu tincidunt et, gravida sed nunc. Cras volutpat
                    pharetra maximus. Phasellus nisi orci, pellentesque nec
                    mi ac, bibendum ornare enim. Curabitur vestibulum odio
                    neque, ac scelerisque dui rutrum vitae.
                </p>
            </div>
        </li>
    </ul>
    <h2>Behandlingsudgifter, under sagen, hjælpemidler</h2>
    <div class="d-flex mb-4">
        <div class="mr-3"><span class="bold">Status:</span></div>
        <div>Ikke afgjort</div>
    </div>
    <ul class="accordion accordion-bordered accordion-multiselectable">
        <li>
            <button class="accordion-button" aria-expanded="true"
                aria-controls="behandlingsudgifter-afgoerelse">
                Afgørelse
            </button>
            <div id="behandlingsudgifter-afgoerelse" aria-hidden="false"
                class="accordion-content">
                <p>Ingen afgørelse endnu</p>
            </div>
        </li>
        <li>
            <button class="accordion-button" aria-expanded="false"
                aria-controls="behandlingsudgifter-vurdering">
                Læs om vurdering af Behandlingsudgifter, under sagen,
                hjælpemidler
            </button>
            <div id="behandlingsudgifter-vurdering" aria-hidden="true"
                class="accordion-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Maecenas rutrum, odio ac posuere vehicula, arcu
                    sapien porta erat, a euismod orci orci eget magna.
                    Suspendisse tempor erat nec eros laoreet tincidunt.
                    Vivamus sed felis non erat pharetra volutpat. Maecenas
                    interdum nunc sed sodales blandit. Morbi porta, lacus
                    ac auctor semper, ipsum mauris porta sapien, ut
                    volutpat urna tellus nec tellus. Sed elit velit, luctus
                    eu tincidunt et, gravida sed nunc. Cras volutpat
                    pharetra maximus. Phasellus nisi orci, pellentesque nec
                    mi ac, bibendum ornare enim. Curabitur vestibulum odio
                    neque, ac scelerisque dui rutrum vitae.
                </p>
            </div>
        </li>
    </ul>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 footer-col ">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Ansvarlig myndighed</h2>
                            <p>Arbejdsmarkedets
                                Erhvervssikring<br/>Kongens Vænge 8<br/>3400 Hillerød</p>

                        </div>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-3 footer-col ">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Teknisk support</h2>
                            <p><a href="tel:+4572206112"
                                    class="function-link">(+45) 72 20 61
                                    12</a></p>
                            <p>Mandag til torsdag
                                08-16<br />Fredag 08-15<br />Weekend og helligdage lukket</p>

                        </div>
                    </section>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-3 footer-col d-print-none">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Spørgsmål til en sag</h2>
                            <p>Skriv til <a href="mailto:aes@atp.dk"
                                    class="function-link">aes@atp.dk</a>
                            </p>

                        </div>
                    </section>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-3 footer-col d-print-none">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Webtilgængelighed og
                                cookies</h2>

                            <ul class=" mt-0 nobullet-list">

                                <li class=""><a href="#" target="_blank"
                                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                                </li>

                                <li class=""><a class="function-link"
                                        href="#">Privatlivspolitik og
                                        cookies</a></li>

                            </ul>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="fds-modal" id="modal-id-1" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-id-1-title">
                Modal title
            </h2>
            <button class="modal-close button button-unstyled"
                aria-label="Luk"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg></button>
        </div>
        <div class="modal-body">

        </div>

    </div>
</div>