<div id="top"></div>
<header class="header">

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" aria-label="Portalnavn" class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    Anders Andersen
                </p>

                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <strong>Registrer et eller andet</strong>
            </div>

            <div class="additional-info d-print-none">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p><span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                        class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                        aria-hidden="true">·</span><button type="button" data-module="modal"
                        data-target="modal-contact" aria-haspopup="dialog"
                        class="d-print-none function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</button>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <div class="solution-info-mobile">
            <h3 class="sr-only">Myndighed</h3>

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p><span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                    class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                    aria-hidden="true">·</span><button type="button" data-module="modal"
                    data-target="modal-contact" aria-haspopup="dialog"
                    class="d-print-none function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</button>
            </p>

        </div>

        <div class="portal-info-mobile">
            <h3 class="sr-only">Bruger</h3>

            <p class="user">

                Anders Andersen

            </p>

            <p>
                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </p>
        </div>

    </div>
</header>

<div class="container page-container pt-0">
    <div class="row">
        <div class="col-12">
            <div role="region" aria-label="Sidefunktioner">
                <ul class="function-link-wrapper mt-3 mt-lg-4 mb-2 mb-lg-2">
                    <li><button
                            class="function-link link-right"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#save"></use></svg>Gem
                            kladde</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <aside class="col-12 col-lg-3 mt-2 mt-lg-3">

            <div
                class="overflow-menu overflow-menu--open-right overflow-menu--lg-no-responsive ">
                <button class="button-overflow-menu js-dropdown" data-js-target="overflow-reg"
                    aria-expanded="false" aria-controls="overflow-reg">
                    Trin 1 af 6
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-drop-down"></use></svg>
                </button>
                <div class="overflow-menu-inner" id="overflow-reg" aria-hidden="true">
                    <nav aria-label="Trinindikator">
                        <ol class="sidemenu">
                            <li class="active current ">
                                <a class="nav-step"
                                    href="/pages/eksempler/trinformular-til-registrering/registrering-1/"
                                    aria-current="page">
                                    <div>
                                        <span class="sidenav-number">1.</span>
                                        <div>
                                            <span class="sidenav-maininfo">
                                                <span class="sidenav-title">Vælg
                                                    personer</span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="nav-step"
                                    href="/pages/eksempler/trinformular-til-registrering/registrering-2/">
                                    <div>
                                        <span class="sidenav-number">2.</span>
                                        <div>
                                            <span class="sidenav-maininfo">
                                                <span class="sidenav-title">Vælg noget
                                                    mere</span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="nav-step"
                                    href="/pages/eksempler/trinformular-til-registrering/registrering-3/">
                                    <div>
                                        <span class="sidenav-number">3.</span>
                                        <div>
                                            <span class="sidenav-maininfo">
                                                <span class="sidenav-title">Vedhæft
                                                    dokumenter</span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="nav-step"
                                    href="/pages/eksempler/trinformular-til-registrering/registrering-4/">
                                    <div>
                                        <span class="sidenav-number">4.</span>
                                        <div>
                                            <span class="sidenav-maininfo">
                                                <span class="sidenav-title">Tidligere
                                                    registrering</span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="nav-step"
                                    href="/pages/eksempler/trinformular-til-registrering/registrering-5/">
                                    <div>
                                        <span class="sidenav-number">5.</span>
                                        <div>
                                            <span class="sidenav-maininfo">
                                                <span
                                                    class="sidenav-title">Kontaktoplysninger</span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="nav-step"
                                    href="/pages/eksempler/trinformular-til-registrering/registrering-6/">
                                    <div>
                                        <span class="sidenav-number">6.</span>
                                        <div>
                                            <span class="sidenav-maininfo">
                                                <span
                                                    class="sidenav-title">Opsummering</span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

        </aside>
        <main class="col-12 col-lg-9" id="main-content">
            <h1>Vælg personer</h1>
            <form novalidate method="post"
                action="/pages/eksempler/trinformular-til-registrering/registrering-2/">

                <div class="form-group">
                    <fieldset>
                        <legend class="form-label">
                            Jeg vil gerne registrere
                        </legend>

                        <div class="form-group-checkbox">
                            <input type="checkbox" id="person-option1" name="personer[]"
                                class="form-checkbox" value="KeldHedagaardsen">
                            <label class="form-label" for="person-option1">Keld
                                Hedagaardsen<br>230495-1111</label>

                        </div>

                        <div class="form-group-checkbox">
                            <input type="checkbox" id="person-option2" name="personer[]"
                                class="form-checkbox" value="AnniHedagaardsen">
                            <label class="form-label" for="person-option2">Anni
                                Hedagaardsen<br>120394-2222</label>

                        </div>

                    </fieldset>
                </div>

                <h2 class="form-label mt-5 mb-0">Allerede registreret</h2>
                <span class="tooltip-wrapper"
                    data-tooltip="Følgende personer kan ikke vælges, da de allerede er blevet registreret."
                    data-tooltip-id="tooltip-noselect" data-position="above"
                    data-trigger="click"><button class="button button-unstyled tooltip-target"
                        type="button" aria-label="Læs mere">
                        <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button></span>
                <ul class="nobullet-list mt-0">
                    <li>Jens Jensen, 123456-7890</li>
                </ul>
                <div><button class="button button-tertiary d-print-none mt-5" type='button'>
                        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#add"></use></svg>
                        Tilføj person
                    </button></div>
                <button class="button button-primary d-print-none mt-7" type='submit'>
                    Næste
                </button>
            </form>
        </main>
    </div>
</div>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none" href="#top">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg>
        <span class="sr-only">Til toppen af siden</span>
        <span class="d-none d-md-inline-block" aria-hidden="true">Til toppen</span>
    </a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><strong class="weight-semibold">Myndighedsnavn</strong></li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a></li>
                <li class=""><a class="function-link" href="tel:12345678">(+45) 12 34 56
                        78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a></li>
                <li class="d-print-none"><a href="#" class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen">
                <li><a href="" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="" lang="en-GB">English</a></li>
                <li><a href="" lang="de">Deutsch</a></li>
                <li><a href="" lang="kl">Kalaallisut</a></li>
                <li><a href="" lang="pl">Polski</a></li>
                <li><a href="" lang="se">Svenska</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal-container">

    <div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
        aria-modal="true" aria-labelledby="modal-contact-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-contact-heading">
                    Kontakt
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert">
                    <svg class="icon-svg alert-icon" aria-label="Advarsel" focusable="false"><use xlink:href="#report-problem"></use></svg>
                    <div class="alert-body">
                        <h3 class="alert-heading">Vi har noget information af advarende
                            karakter</h3>
                        <p class="alert-text">Noget tekst, der forklarer det af advarende
                            karakter, som brugeren bør vide inden denne ringer eller skriver.
                        </p>
                    </div>
                </div>
                <h3>En form for support</h3>
                <p>Hvis du har spørgsmål om:</p>
                <ul>
                    <li>En ting som denne</li>
                    <li>Et andet emne som dette</li>
                </ul>
                <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span>
                </p>
                <p>Telefonen er åben:</p>
                <p class='m-0'>
                    Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>
                    Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-14</span></p>
            </div>

            <div class="modal-footer">
                <button class="button button-secondary" data-modal-close>
                    Luk
                </button>
            </div>

        </div>
    </div>

</div>