<header class="header">
    <div id="top"></div>

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-header">
        <div class="container portal-header-inner">
            <a href="#" aria-label="Portalnavn" class="logo ">
                <span class="d-none d-print-block">Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-info">
                <p class="user">

                    <strong class="username weight-semibold">Anders Andersen</strong>

                    <br />Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#">
                    Løsningstitel står her
                </a>
            </div>

            <div class="solution-info">

                <h2 class="authority-name">Myndighedsnavn</h2>

                <p>Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);" data-module="modal" data-target="modal-contact"
                            class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span></p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <nav class="nav">

        <button class="function-link button-menu-close js-menu-close" aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">

            <p class="user">

                <strong class="username weight-semibold">Anders Andersen</strong>

                <br />Forsikringens Forsikringsfirma
            </p>

            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

        <div class="solution-info-mobile">

            <h2 class="authority-name">Myndighedsnavn</h2>

            <p>Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);" data-module="modal" data-target="modal-contact"
                        class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span></p>

        </div>

    </nav>
</header>

<main class="container page-container" id="main-content">

    <div class="alert alert-error mt-0 mb-8" role="alert" aria-atomic="true" data-module="error-summary">
        <div class="alert-body">
            <p class="alert-heading">Der er problemer</p>
            <ul class="alert-text nobullet-list">
                <li><a class="function-link" href="#input-email">Angiv din e-mail fx eksempel@mail.dk</a></li>
                <li><a class="function-link" href="#alder1">Angiv din alder. Vi skal bruge den til dit og dat.</a></li>
            </ul>
        </div>
    </div>

    <form novalidate method="post" action="/pages/eksempler/formular-med-fejl/formular-med-fejl-1/">
        <fieldset>
            <legend>
                <h1>Oplysninger om dig</h1>
            </legend>
            <div class="row">
                <div class="mt-5 col-lg-4 col-md-6 col-sm-8">

                    <div class="form-group">
                        <label class="form-label" for="input-navn">Navn</label>

                        <input class="form-input input-width-xl" id="input-navn" value="Anders Andersen" name="navn" type="text">

                    </div>

                    <div class="d-block d-sm-flex align-items-sm-end">

                        <div class="form-group mr-sm-4 mt-5 mt-sm-0 w-percent-sm-100">
                            <label class="form-label" for="input-gade">Gade/vej</label>

                            <input class="form-input input-width-xl" id="input-gade" value="Mønstergade" name="gade" type="text">

                        </div>

                        <div class="form-group">
                            <label class="form-label" for="input-husnummer">Husnummer</label>

                            <input class="form-input input-width-xs" id="input-husnummer" value="13" name="husnummer" type="text">

                        </div>

                    </div>
                    <div class="d-block d-sm-flex align-items-sm-end">

                        <div class="form-group mr-sm-4 mt-5 mt-sm-0">
                            <label class="form-label" for="input-postnummer">Postnummer</label>

                            <input class="form-input input-width-xs" id="input-postnummer" value="2300" name="postnummer" type="text">

                        </div>

                        <div class="form-group w-percent-sm-100">
                            <label class="form-label" for="input-by">By</label>

                            <input class="form-input input-width-xl" id="input-by" value="København S" name="by" type="text">

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="form-label" for="input-co-adresse">Evt. C/O adresse<span class="weight-normal"> (frivilligt)</span></label>

                        <input class="form-input input-width-xl" id="input-co-adresse" name="COadresse" type="text">

                    </div>

                    <div class="form-group">
                        <label class="form-label" for="input-telefonnummer">Telefonnummer<span class="weight-normal"> (frivilligt)</span></label>

                        <input class="form-input input-width-s" id="input-telefonnummer" name="telefonnummer" type="text">

                    </div>

                    <div class="form-group form-error">
                        <label class="form-label" for="input-email">E-mail</label>

                        <span class="form-error-message" id="input-email-error"><span class="sr-only">Fejl:</span> Angiv din e-mail fx eksempel@mail.dk</span>

                        <input class="form-input input-width-xl" id="input-email" name="email" type="text" aria-invalid="true" aria-describedby="input-email-error ">

                    </div>

                    <div class="form-group form-error" id="radiobuttons-alder">
                        <fieldset aria-describedby="radiobuttons-alder-error">
                            <legend class="form-label">Alder</legend>
                            <span class="form-error-message" id="radiobuttons-alder-error"><span class="sr-only">Fejl:</span> Angiv din alder. Vi skal bruge den til dit og dat.</span>
                            <ul class="nobullet-list">
                                <li>
                                    <div class="form-group-radio">
                                        <input type="radio" id="alder1" name="alder" value="Under 18" class="form-radio">
                                        <label class="form-label" for="alder1" id="alder1-form-label">Under 18</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group-radio">
                                        <input type="radio" id="alder2" name="alder" value="18-29" class="form-radio">
                                        <label class="form-label" for="alder2" id="alder2-form-label">18-29</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group-radio">
                                        <input type="radio" id="alder3" name="alder" value="30-39" class="form-radio">
                                        <label class="form-label" for="alder3" id="alder3-form-label">30-39</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group-radio">
                                        <input type="radio" id="alder4" name="alder" value="40-59" class="form-radio">
                                        <label class="form-label" for="alder4" id="alder4-form-label">40-59</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group-radio">
                                        <input type="radio" id="alder5" name="alder" value="60 eller ældre" class="form-radio">
                                        <label class="form-label" for="alder5" id="alder5-form-label">60 eller ældre</label>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </div>

                    <button class="button button-primary d-print-none mt-7" type="button">
                        Næste
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</main>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none" href="#top"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg><span
            class="sr-only">Til toppen</span><span class="d-none d-md-inline-block" aria-hidden="true">Til toppen</span></a>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 footer-col ">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Ansvarlig myndighed</h2>
                            <p>Myndighedsnavn<br/>Landsgaden 15<br/>2100 København Ø</p>

                        </div>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-3 footer-col d-print-none">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Webtilgængelighed og cookies</h2>

                            <ul class=" mt-0 mb-1 nobullet-list">

                                <li class=""><a href="#" class="function-link">Tilgængelighedserklæring</a></li>

                                <li class=""><a href="#" class="function-link">Privatlivspolitik og cookies</a></li>

                            </ul>

                        </div>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-6 footer-col ">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Links</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, felis quis vestibulum aliquet, elit ex rhoncus. </p>

                            <ul class=" d-print-none mt-0 nobullet-list">

                                <li class=""><a href="#" class="function-link">Læs lidt om dit</a></li>

                                <li class=""><a href="#" class="function-link">Her er også lidt om dat</a></li>

                            </ul>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="modal-contact-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-id-1-title">
                Kontakt
            </h2>
            <button class="modal-close function-link" data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af advarende karakter, som brugeren bør vide inden denne ringer eller skriver. Noget tekst, der forklarer det af advarende
                        karakter, som brugeren bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl. 9-17</p>
            <p class="m-0">Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl. 9-17</p>
            <p class="m-0">Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary" data-modal-close>Luk</button>
        </div>

    </div>
</div>