<header class="header"><a href="#main-content" class="skipnav">Gå til
        sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo ">

            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span class="username">Christian Emil
                        Vestergaard Christiansen</span> </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Digital flytning
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p><a href="javascript:void(0);" data-module="modal"
                        data-target="modal-contact"
                        class="function-link d-inline-block d-print-none"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Navn</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>
    </nav> <!-- collapsible nav end-->
</header>

<main class="container page-container" id="main-content">

    <div class="overflow-menu  overflow-menu--open-right">
        <button class="button-overflow-menu js-dropdown "
            data-js-target="overflow_steps" aria-haspopup="true"
            aria-expanded="false">
            Trin 1 af 5
            <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
        </button>
        <div class="overflow-menu-inner" id="overflow_steps"
            aria-hidden="true">
            <nav>
                <ul class='sidenav-list' role='menu'>
                    <li class='active current' role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-1/'
                            role='menuitem' aria-current='page'> <span
                                class='sidenav-number'>1.</span><span
                                class='sidenav-title'>Oversigt</span> </a>
                    </li>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-2/'
                            role='menuitem'> <span
                                class='sidenav-number'>2.</span><span
                                class='sidenav-title'>Personer</span> </a>
                    </li>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-3/'
                            role='menuitem'> <span
                                class='sidenav-number'>3.</span><span
                                class='sidenav-title'>Adresse</span> </a>
                    </li>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-4/'
                            role='menuitem'> <span
                                class='sidenav-number'>4.</span><span
                                class='sidenav-title'>Særlig
                                flytning</span> </a> </li>
                    <li role='none'> <a
                            href='/pages/eksempler/digital-flytning/flytning-5/'
                            role='menuitem'> <span
                                class='sidenav-number'>5.</span><span
                                class='sidenav-title'>Lægevalg</span> </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <h1>Oversigt</h1>
    <p class="font-lead">Digital Flytning er kommunernes digitale
        folkeregister, hvor du kan melde flytning og samtidig foretage valg
        af læge.</p>
    <h2>Anmelder</h2>
    <div class="mt-5">
        <label class="form-label">Navn</label>
        <p class="mt-0">Klaus Egegreen Hansen (090889-2210)</p>
    </div>
    <div class="mt-5">
        <label class="form-label">Flytter fra</label>
        <p class="mt-0">Odensegade 23, 4tv. 2100 København</p>
    </div>
    <div class="mt-5">
        <label class="form-label">Du har følgende beskyttelse på din
            nuværende adresse:</label>
        <ul class="mb-0">
            <li>Markedsføringsbeskyttelse</li>
            <li>Vejviserbeskyttelse</li>
            <li>Navne- og adressebeskyttelse</li>
        </ul>
    </div>
    <div class="mb-8 mt-4">

        <div class="alert alert-warning alert--paragraph alert--show-icon">
            <div class="alert-body">
                <p class="alert-heading">Skal din nye adresse beskyttes fra
                    første dag?</p>
                <p class="alert-text">Hvis du ønsker navne- og
                    adressebeskyttelse i forbindelse med denne flytning,
                    bør du anmode om navne- og adressebeskyttelse, før du
                    anmelder flytning. Ellers risikerer du, at navne- og
                    adressebeskyttelsen ikke er gældende fra første dag på
                    din nye adresse.</p>
            </div>
        </div>

    </div>
    <div class="alert alert-info alert--paragraph"
        aria-label="Adresse info">
        <div class="alert-body">
            <p class="alert-heading">Seneste flytninger</p>
            <table
                class="table table--borderless table--responsive-headers d-print-table table--compact mt-5">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Fra adresse</th>
                        <th>Til adresse</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01-02-2014</td>
                        <td>Smallegade 6,<br>2000 Frederiksberg</td>
                        <td>Smallegade 12,<br>2000 Frederiksberg</td>
                    </tr>
                    <tr>
                        <td>01-02-2014</td>
                        <td>Smallegade 6,<br>2000 Frederiksberg</td>
                        <td>Smallegade 12,<br>2000 Frederiksberg</td>
                    </tr>
                    <tr>
                        <td>01-02-2014</td>
                        <td>Smallegade 6,<br>2000 Frederiksberg</td>
                        <td>Smallegade 12,<br>2000 Frederiksberg</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav class="page-navigation d-print-none">
        <a href="/pages/eksempler/digital-flytning/flytning-2"
            class="button button-primary">Næste</a>
    </nav>

    <div class="mt-9">
        <h2 class="h5">Relaterede selvbetjeningsløsninger</h2>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6">
            <div class="card card-align-height">
                <div class="card-header">
                    <p class="h5 header-title">Adressebeskyttelse</p>
                    <p class="sub-header">Her kan du kan oprette, rette
                        eller slette dine adressebeskyttelser.</p>
                </div>
                <div class="card-footer">
                    <div class="card-action">
                        <div class="action-links">
                            <ul class="nobullet-list">
                                <li>
                                    <a href="#"
                                        class="icon-link">Adressebeskyttelse
                                        <svg class="icon-svg " aria-hidden='true' focusable='false'><use xlink:href="#open-in-new"></use></svg></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6">
            <div class="card card-align-height">
                <div class="card-header">
                    <p class="h5 header-title">Udrejse</p>
                    <p class="sub-header">Hvis du flytter til udlandet,
                        skal du benytte nedenstående link.</p>
                </div>
                <div class="card-footer">
                    <div class="card-action">
                        <div class="action-links">
                            <ul class="nobullet-list">
                                <li>
                                    <a href="#" class="icon-link">Anmeld
                                        udrejse
                                        <svg class="icon-svg " aria-hidden='true' focusable='false'><use xlink:href="#open-in-new"></use></svg></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6">
            <div class="card card-align-height">
                <div class="card-header">
                    <p class="h5 header-title">Fuldmagt</p>
                    <p class="sub-header">Afgiv en eller flere fulmagt til
                        at anmelde flytning.</p>
                </div>
                <div class="card-footer">
                    <div class="card-action">
                        <div class="action-links">
                            <ul class="nobullet-list">
                                <li>
                                    <a href="#" class="icon-link">Angiv
                                        fuldmagt
                                        <svg class="icon-svg " aria-hidden='true' focusable='false'><use xlink:href="#open-in-new"></use></svg></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Eksempelstyrelsen</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@example.dk">support@example.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen ">
                <li><a href="" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="" lang="en-GB">English</a></li>
                <li><a href="" lang="de">Deutsch</a></li>
                <li><a href="" lang="kl">Kalaallisut</a></li>
                <li><a href="" lang="pl">Polski</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>