<header class="header"><a href="#main-content" class="skipnav">Gå til
        sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo ">

            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span
                        class="username weight-semibold">Anders
                        Andersen<br><span
                            class="weight-normal">Forsikringens
                            Forsikringsfirma</span></span> </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Strategiske virksomhedsalliancer
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p>Support: 72 20 60 00 <span class='d-print-none'>· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact"
                            class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Navn</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>

    </nav> <!-- collapsible nav end-->
</header>

<div class="container page-container pt-4 pt-lg-6">
    <div><a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-4/"
            class="back-link d-lg-none">Tilbage</a></div>
    <div class="row">
        <aside class="col-12 col-lg-3 sidebar-col">
            <div
                class="overflow-menu  overflow-menu--open-right overflow-menu--lg-no-responsive">
                <button class="button-overflow-menu js-dropdown "
                    data-js-target="overflow4" aria-haspopup="true"
                    aria-expanded="false">
                    Trin 5 af 5
                    <svg class="icon-svg" aria-hidden='true' focusable='false'><use xlink:href="#arrow-drop-down"></use></svg>
                </button>
                <div class="overflow-menu-inner" id="overflow4"
                    aria-hidden="true">
                    <nav>
                        <ul class="sidenav-list sidenav-list-locked"
                            role="menu">
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-1"
                                    role="menuitem">
                                    1. Stamdata
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-2"
                                    role="menuitem">
                                    2. SMV-kriterier
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-3"
                                    role="menuitem">
                                    3. Statsstøtte
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-4"
                                    role="menuitem">
                                    4. Tilskud til land
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li class="active current" role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-5"
                                    role="menuitem" aria-current="page">
                                    5. Opsummering
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </aside>
        <main class="col-12 col-lg-9" id="main-content">
            <div><a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-4/"
                    class="back-link d-none d-lg-inline-block">Tilbage</a>
            </div>
            <h1>Opsummering</h1>
            <p class="font-lead">Her kan du kontrollere, om oplysningerne
                er korrekte.</p>
            <h2>Dine oplysninger</h2>
            <div class="w-percent-md-80 mt-6 mb-7">
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Virksomhedens navn
                    </div>
                    <div class="col-12 col-md-6">
                        Forsikringens forsikring (enhed)
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                virksomhedens navn</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Kontaktperson
                    </div>
                    <div class="col-12 col-md-6">
                        John Doe<br/>
                        <span class="sr-only">Telefonnummer til
                            kontaktperson:</span>
                        +45 1234 5678
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                virksomhedens kontaktperson</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Afsender
                    </div>
                    <div class="col-12 col-md-6">
                        Forsikringens forsikring (enhed)
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                afsender</span></a>
                    </div>
                </div>
            </div>
            <h3 class="h4">Oplysninger om skadelidte</h3>
            <div class="w-percent-md-80 mt-6 mb-7">
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Skadelidtes navn
                    </div>
                    <div class="col-12 col-md-6">
                        Susanne Maria Zaggariasen
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                skadelidtes navn</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Skadelidtes CPR
                    </div>
                    <div class="col-12 col-md-6">
                        110687-1478
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                skadelidtes CPR</span></a>
                    </div>
                </div>
            </div>
            <h3 class="h4">Oplysninger om sagen</h3>

            <div class="w-percent-md-80 mt-6 mb-7">
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Sagstype
                    </div>
                    <div class="col-12 col-md-6">
                        Erstatningsansvarloven
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                sagstype</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Emne
                    </div>
                    <div class="col-12 col-md-6">
                        Mén (6.220 kr.)
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                emne</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Skadedato
                    </div>
                    <div class="col-12 col-md-6">
                        01/10/2017
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                skadedato</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Sagsnummer
                    </div>
                    <div class="col-12 col-md-6">
                        prsk013456
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                sagsnummer</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Verserende retssag
                    </div>
                    <div class="col-12 col-md-6">
                        Nej
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                verserende retssag</span></a>
                    </div>
                </div>
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Skadelidtes advokat
                    </div>
                    <div class="col-12 col-md-6">
                        Nej
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only">
                                skadelidtes advokat</span></a>
                    </div>
                </div>
            </div>
            <h3 class="h4">Yderligere oplysninger</h3>

            <div class="w-percent-md-80 mt-6 mb-7">
                <div class="row no-gutters row-bordered">
                    <div class="col-12 col-md-4 weight-semibold">
                        Faktuelle oplysninger
                    </div>
                    <div class="col-12 col-md-6">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Fusce quis lectus quis sem lacinia nonummy.
                        Proin mollis lorem non dolor. In hac habitasse
                        platea dictumst. Nulla ultrices odio.
                        Donec augue. Phasellus dui. Maecenas facilisis nisl
                        vitae nibh. Proin vel seo est vitae eros pretium
                        dignissim.
                        Aliquam aliquam sodales orci. Suspendisse potenti.
                        Nunc adipiscing euismod arcu. Quisque facilisis
                        mattis lacus.
                    </div>
                    <div class="col-12 col-md-2 align-text-md-right">
                        <a href="#">Redigér<span class="sr-only"> faktuelle
                                oplysninger</span></a>
                    </div>
                </div>
            </div>

            <h2>Bilagsoversigt</h2>
            <h3 class="h4">Første undersøgelse af skade</h3>
            <table
                class="table table--borderless table--compact table--responsive-headers d-print-table mt-6 mb-7 w-percent-md-80">
                <thead>
                    <tr>
                        <th>Original titel</th>
                        <th>Navngivning</th>
                        <th>Kommentar</th>
                        <th>Størrelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>prn1023152_attest.pdf</td>
                        <td>Journal fra egen læge</td>
                        <td>2/10-2017</td>
                        <td>2,3 mb</td>
                        <td class="align-text-md-right d-print-none"><a
                                href="#">Rediger</a></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="h4">Oplysninger om varigt mén</h3>
            <table
                class="table table--borderless table--compact table--responsive-headers d-print-table mt-6 mb-7 w-percent-md-80">
                <thead>
                    <tr>
                        <th>Original titel</th>
                        <th>Navngivning</th>
                        <th>Kommentar</th>
                        <th>Størrelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>prn1023152_attest.pdf</td>
                        <td>Journal fra egen læge</td>
                        <td>2/10-2017</td>
                        <td>2,3 mb</td>
                        <td class="align-text-md-right d-print-none"><a
                                href="#">Rediger</a></td>
                    </tr>
                    <tr>
                        <td>prn1023152_attest.pdf</td>
                        <td>Journal fra egen læge</td>
                        <td>2/10-2017</td>
                        <td>2,3 mb</td>
                        <td class="align-text-md-right d-print-none"><a
                                href="#">Rediger</a></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="h4">Første undersøgelse af skade</h3>
            <table
                class="table table--borderless table--responsive-headers d-print-table table--compact mt-6 w-percent-md-80">
                <thead>
                    <tr>
                        <th>Original titel</th>
                        <th>Navngivning</th>
                        <th>Kommentar</th>
                        <th>Størrelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>prn1023152_attest.pdf</td>
                        <td>Journal fra egen læge</td>
                        <td>2/10-2017</td>
                        <td>2,3 mb</td>
                        <td class="align-text-md-right d-print-none"><a
                                href="#">Rediger</a></td>
                    </tr>
                </tbody>
            </table>

            <form novalidate method="get"
                action="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-6/">
                <button
                    class="button button-primary mt-8 d-print-none">Send
                    sagen</button>
            </form>
        </main>
    </div>
</div>

<footer>
    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Eksempelstyrelsen</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@example.dk">support@example.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>