<header class="header"><a href="#main-content" class="skipnav">Gå til
        sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo ">

            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span
                        class="username weight-semibold">Christian Emil
                        Vestergaard Christiansen</span> </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    Strategiske virksomhedsalliancer
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p><a href="javascript:void(0);" data-module="modal"
                        data-target="modal-contact"
                        class="function-link d-inline-block d-print-none"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Navn</p>

            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>
    </nav> <!-- collapsible nav end-->
</header>

<div class="container page-container pt-4 pt-lg-6">
    <div><a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-1/"
            class="back-link d-lg-none">Tilbage</a></div>
    <div class="row">
        <aside class="col-12 col-lg-3 sidebar-col">
            <div
                class="overflow-menu  overflow-menu--open-right overflow-menu--lg-no-responsive">
                <button class="button-overflow-menu js-dropdown "
                    data-js-target="overflow4" aria-haspopup="true"
                    aria-expanded="false">
                    Trin 2 af 5
                    <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
                </button>
                <div class="overflow-menu-inner" id="overflow4"
                    aria-hidden="true">
                    <nav>
                        <ul class="sidenav-list sidenav-list-locked"
                            role="menu">
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-1/"
                                    role="menuitem">
                                    1. Stamdata
                                    <span class="sidenav-icon"
                                        aria-label="Gennemført">
                                        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>
                                </a>
                            </li>
                            <li class="active current" role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-2/"
                                    role="menuitem" aria-current="page">
                                    2. SMV-kriterier
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-3/"
                                    role="menuitem">
                                    3. Statsstøtte
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-4/"
                                    role="menuitem">
                                    4. Tilskud til land
                                </a>
                            </li>
                            <li class="disabled" role="none">
                                <a href="javascript:void(0)" tabindex="-1"
                                    aria-disabled="true" role="menuitem">
                                    5. Opsummering
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </aside>
        <main class="col-12 col-lg-9" id="main-content">
            <div><a href="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-1/"
                    class="back-link d-none d-lg-inline-block">Tilbage</a>
            </div>
            <h1>SMV-kriterier</h1>
            <p class="font-lead">Ved tildeling af støtte SMV'er defineres
                som SMV som værende en virksomhed</p>
            <ul>
                <li class="font-lead mt-4 mb-4">Med mindre end 250 ansatte
                </li>
                <li class="font-lead mt-4 mb-4">Med en årlig omsætning, der
                    ikke må overstige 375 mio. kr i det seneste regnskab
                </li>
            </ul>
            <p class="mt-6">Hvis ansøger er ejet af moderselskab(-er) med
                mere end 49% og/eller har et datterselskab(-er) med en
                ejerandel på mere end 49% skal antal ansatte og omsætning
                for hele koncernen medregnes, dvs. heri skal også
                medregnes, hvis moderselskabet er ejet af et andet
                moderselskab med mere end 49% osv.<br>Dette er uanset om moderselskaber og/eller datterselskaber er danske eller udenlandske.
            </p>
            <a href="#" class="5">Se eksempel</a>
            <div class="form-group">

                <label class="form-label" for="id-employees">
                    Antal ansatte i seneste regnskabsår
                </label>

                <input class="form-input input-width-m" id="id-employees"
                    name="number-employees" type="text" required />
            </div>
            <div class="form-group">

                <label class="form-label" for="id-sales">
                    Omsætning i DKK i seneste regnskabsår
                </label>
                <span class="form-hint" id="id-sales-hint">
                    Angives i helt tal, fx. 11.650.334
                </span>
                <input class="form-input input-width-m" id="id-sales"
                    name="number-sales" type="text"
                    aria-describedby="id-sales-hint" required />
            </div>

            <form novalidate method="get"
                action="/pages/eksempler/strategiske-virksomhedsalliancer/virksomhedsalliancer-3/">
                <button
                    class="button button-primary mt-8 d-print-none">Næste</button>
            </form>
        </main>
    </div>
</div>

<footer>
    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Eksempelstyrelsen</span>
                </li>
                <li class=""><a class="function-link"
                        href="mailto:support@example.dk">support@example.dk</a>
                </li>
                <li class=""><a class="function-link"
                        href="tel:12345678">12 34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>