<header class="header">
    <div id="top"></div>

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" aria-label="Portalnavn" class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    Anders Andersen
                </p>

                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <strong>Løsningstitel står her</strong>
            </div>

            <div class="additional-info">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p class="d-lg-flex align-items-lg-center"><span
                        class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                        class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                        aria-hidden="true">·</span><a href="javascript:void(0);"
                        data-module="modal" data-target="modal-contact" aria-haspopup="dialog"
                        class="d-flex d-lg-inline-flex d-print-none function-link"><svg class="icon-svg mt-1" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <div class="solution-info-mobile">
            <h3 class="sr-only">Myndighed</h3>

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p class="d-lg-flex align-items-lg-center"><span
                    class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                    class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                    aria-hidden="true">·</span><a href="javascript:void(0);"
                    data-module="modal" data-target="modal-contact" aria-haspopup="dialog"
                    class="d-flex d-lg-inline-flex d-print-none function-link"><svg class="icon-svg mt-1" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>

        </div>

        <div class="portal-info-mobile">
            <h3 class="sr-only">Bruger</h3>

            <p class="user">

                Anders Andersen

            </p>

            <p>
                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </p>
        </div>

    </div>
</header>

<main class="container page-container" id="main-content">
    <form novalidate method="post"
        action="/pages/eksempler/formular-til-kontaktoplysninger/formular-2/">
        <fieldset>
            <legend>
                <h1>Oplysninger om dig</h1>
            </legend>
            <div class="row">
                <div class="mt-5 col-lg-4 col-md-6 col-sm-8">

                    <div class="form-group">
                        <label class="form-label" for="input-navn">Navn</label>

                        <input type="text" id="input-navn" name="navn"
                            class="form-input input-width-xl" required autocomplete="name">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="input-gade">Gade/vej og
                            husnummer</label>

                        <input type="text" id="input-gade" name="gade"
                            class="form-input input-width-xl" required
                            autocomplete="address-line1">
                    </div>

                    <div class="d-block d-sm-flex align-items-sm-end">

                        <div class="form-group mr-sm-4 mt-5 mt-sm-0">
                            <label class="form-label"
                                for="input-postnummer">Postnummer</label>

                            <input type="number" id="input-postnummer" name="postnummer"
                                class="form-input input-width-xs" required
                                autocomplete="postal-code">
                        </div>

                        <div class="form-group w-percent-sm-100">
                            <label class="form-label" for="input-by">By</label>

                            <input type="text" id="input-by" name="by"
                                class="form-input input-width-xl" required
                                autocomplete="address-line2">
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="form-label" for="input-telefonnummer">Telefonnummer<span
                                class="weight-normal"> (frivilligt)</span></label>

                        <input type="tel" id="input-telefonnummer" name="telefonnummer"
                            class="form-input input-width-s" autocomplete="tel">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="input-email">E-mail</label>

                        <input type="email" id="input-email" name="email"
                            class="form-input input-width-xl" required autocomplete="email">
                    </div>

                    <div class="form-group">
                        <fieldset aria-labelledby="alder-legend">

                            <legend class="form-label" id="alder-legend">Alder</legend>

                            <div class="form-group-radio">
                                <input type="radio" id="radiobuttons-alder-option1"
                                    name="alder" class="form-radio" value="Under 18">
                                <label class="form-label"
                                    for="radiobuttons-alder-option1">Under 18</label>

                            </div>

                            <div class="form-group-radio">
                                <input type="radio" id="radiobuttons-alder-option2"
                                    name="alder" class="form-radio" value="18-29">
                                <label class="form-label"
                                    for="radiobuttons-alder-option2">18-29</label>

                            </div>

                            <div class="form-group-radio">
                                <input type="radio" id="radiobuttons-alder-option3"
                                    name="alder" class="form-radio" value="30-39">
                                <label class="form-label"
                                    for="radiobuttons-alder-option3">30-39</label>

                            </div>

                            <div class="form-group-radio">
                                <input type="radio" id="radiobuttons-alder-option4"
                                    name="alder" class="form-radio" value="40-59">
                                <label class="form-label"
                                    for="radiobuttons-alder-option4">40-59</label>

                            </div>

                            <div class="form-group-radio">
                                <input type="radio" id="radiobuttons-alder-option5"
                                    name="alder" class="form-radio" value="60 eller ældre">
                                <label class="form-label" for="radiobuttons-alder-option5">60
                                    eller ældre</label>

                            </div>

                        </fieldset>
                    </div>

                    <button class="button button-primary d-print-none mt-7" type="submit">
                        Næste
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</main>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none" href="#top">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg>
        <span class="sr-only">Til toppen af siden</span>
        <span class="d-none d-md-inline-block" aria-hidden="true">Til toppen</span>
    </a>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 footer-col ">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Ansvarlig myndighed</h2>
                            <p>Myndighedsnavn<br/>Landsgaden 15<br/>2100 København Ø</p>

                        </div>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-3 footer-col d-print-none">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Webtilgængelighed og cookies</h2>

                            <ul class=" mt-0 mb-1 nobullet-list">

                                <li class=""><a href="#"
                                        class="function-link">Tilgængelighedserklæring</a>
                                </li>

                                <li class=""><a href="#"
                                        class="function-link">Privatlivspolitik og cookies</a>
                                </li>

                            </ul>

                        </div>
                    </section>
                </div>
                <div class="col-12 col-sm-12 col-md-6 footer-col ">
                    <section>
                        <div class=" align-text-left ">
                            <h2 class="h5 mb-4">Links</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse mattis, felis quis vestibulum aliquet, elit ex
                                rhoncus. </p>

                            <ul class=" d-print-none mt-0 nobullet-list">

                                <li class=""><a href="#" class="function-link">Læs lidt om
                                        dit</a></li>

                                <li class=""><a href="#" class="function-link">Her er også
                                        lidt om dat</a></li>

                            </ul>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</footer>

<div class="fds-modal-container">

    <div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
        aria-modal="true" aria-labelledby="modal-contact-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-contact-heading">
                    Kontakt
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert">
                    <svg class="icon-svg alert-icon" aria-label="Advarsel" focusable="false"><use xlink:href="#report-problem"></use></svg>
                    <div class="alert-body">
                        <h3 class="alert-heading">Vi har noget information af advarende
                            karakter</h3>
                        <p class="alert-text">Noget tekst, der forklarer det af advarende
                            karakter, som brugeren bør vide inden denne ringer eller skriver.
                        </p>
                    </div>
                </div>
                <h3>En form for support</h3>
                <p>Hvis du har spørgsmål om:</p>
                <ul>
                    <li>En ting som denne</li>
                    <li>Et andet emne som dette</li>
                </ul>
                <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span>
                </p>
                <p>Telefonen er åben:</p>
                <p class='m-0'>
                    Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>
                    Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-14</span></p>
            </div>

            <div class="modal-footer">
                <button class="button button-secondary" data-modal-close>
                    Luk
                </button>
            </div>

        </div>
    </div>

</div>