<header class="header">
    <div id="top"></div>

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-header">
        <div class="container portal-header-inner">
            <a href="#" aria-label="Portalnavn" class="logo ">
                <span class="d-none d-print-block">Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-info">
                <p class="user">

                    <strong class="username weight-semibold">Anders Andersen</strong>

                    <br />Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#">
                    Registrer et eller andet
                </a>
            </div>

            <div class="solution-info d-print-none">

                <h2 class="authority-name">Myndighedsnavn</h2>

                <p>Support: 12 34 56 78 <span class="d-print-none">· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact" aria-haspopup="dialog"
                            class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <nav class="nav">

        <button class="function-link button-menu-close js-menu-close"
            aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">

            <p class="user">

                <strong class="username weight-semibold">Anders Andersen</strong>

                <br />Forsikringens Forsikringsfirma
            </p>

            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

        <div class="solution-info-mobile">

            <h2 class="authority-name">Myndighedsnavn</h2>

            <p>Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);"
                        data-module="modal" data-target="modal-contact" aria-haspopup="dialog"
                        class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
            </p>

        </div>

        <div class="navbar">
            <div class="navbar-inner navbar-context-actions container">
                <div class="nav-actions">
                    <a href="#"
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#save"></use></svg>Gem
                        kladde</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container page-container pt-5 pt-lg-0">
    <div class="row">
        <aside class="col-12 col-lg-3 sidebar-col">

            <div
                class="overflow-menu overflow-menu--open-right overflow-menu--lg-no-responsive sidebar-col">
                <button class="button-overflow-menu js-dropdown" data-js-target="overflow-reg"
                    aria-haspopup="true" aria-expanded="false">
                    Trin 4 af 6
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-drop-down"></use></svg>
                </button>
                <div class="overflow-menu-inner" id="overflow-reg" aria-hidden="true">

                    <nav class="sidebar-col">
                        <ul class="sidenav-list" role="menu">

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-1/"
                                    role="menuitem">
                                    <span class="sidenav-number">1.</span>
                                    <div>
                                        <span>Vælg personer</span>

                                    </div>

                                    <span class="sidenav-icon">
                                        <svg class="icon-svg" aria-label="Gennemført" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-2/"
                                    role="menuitem">
                                    <span class="sidenav-number">2.</span>
                                    <div>
                                        <span>Vælg noget mere</span>

                                    </div>

                                    <span class="sidenav-icon">
                                        <svg class="icon-svg" aria-label="Gennemført" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-3/"
                                    role="menuitem">
                                    <span class="sidenav-number">3.</span>
                                    <div>
                                        <span>Vedhæft dokumenter</span>

                                    </div>

                                    <span class="sidenav-icon">
                                        <svg class="icon-svg" aria-label="Gennemført" focusable="false"><use xlink:href="#done"></use></svg>
                                    </span>

                                </a>
                            </li>

                            <li class="active current " role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-4/"
                                    role="menuitem" aria-current="page">
                                    <span class="sidenav-number">4.</span>
                                    <div>
                                        <span>Tidligere registrering</span>

                                    </div>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-5/"
                                    role="menuitem">
                                    <span class="sidenav-number">5.</span>
                                    <div>
                                        <span>Kontaktoplysninger</span>

                                    </div>

                                </a>
                            </li>

                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-6/"
                                    role="menuitem">
                                    <span class="sidenav-number">6.</span>
                                    <div>
                                        <span>Opsummering</span>

                                    </div>

                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>

        </aside>
        <main class="col-12 col-lg-9" id="main-content">
            <div>
                <a href="/pages/eksempler/trinformular-til-registrering/registrering-3/"
                    class="back-link">Tilbage</a>
            </div>
            <h1 class="mb-6">Tidligere registrering</h1>
            <form novalidate method="post"
                action="/pages/eksempler/trinformular-til-registrering/registrering-5/">

                <div class="form-group
        
        
         js-radio-toggle-group">
                    <fieldset role="radiogroup">
                        <legend class="form-label">
                            Har du tidligere lavet en lignende registrering?

                        </legend>

                        <div class="form-group-radio
    ">

                            <input type="radio" id="radiogroup-lignende-registrering-option1"
                                name="radio-group" class="form-radio
             radio-large
            " value="1" data-controls="#radiogroup-lignende-registrering-option1-collapse"
                                data-expanded="false">

                            <label class="form-label"
                                for="radiogroup-lignende-registrering-option1">Ja<span
                                    class="sr-only"> Udfyld informationer
                                    herunder</span></label>

                        </div>

                        <div id="radiogroup-lignende-registrering-option1-collapse"
                            aria-hidden="true" class="radio-content">

                            <div class="form-group">
                                <label class="form-label" for="input-case">Tidligere
                                    registreringsnummer</label>

                                <input type="number" id="input-case" name="case"
                                    class="form-input input-width-m" required>

                            </div>

                            <div class="form-group">
                                <fieldset aria-describedby="input-date-hint ">
                                    <legend class="form-label">Dato for registreringen
                                    </legend>
                                    <span class="form-hint" id="input-date-hint">For eksempel:
                                        01 12 2016</span>

                                    <div class="date-group js-calendar-group mt-3">

                                        <div class="form-group form-group-day">
                                            <label class="form-label"
                                                for="input-date-day">Dag</label>

                                            <input type="tel" id="input-date-day"
                                                class="form-input js-calendar-day-input"
                                                required data-min="1" data-max="31"
                                                maxlength="2" pattern="^[0-9]{0,2}$"
                                                data-input-regex="^[0-9]{0,2}$"
                                                title="Indtast dag på måneden som tal">

                                        </div>

                                        <div class="form-group form-group-month">
                                            <label class="form-label"
                                                for="input-date-month">Måned</label>

                                            <input type="tel" id="input-date-month"
                                                class="form-input js-calendar-month-input"
                                                required data-min="1" data-max="12"
                                                maxlength="2" pattern="^[0-9]{0,2}$"
                                                data-input-regex="^[0-9]{0,2}$"
                                                title="Indtast månedens nummer">

                                        </div>

                                        <div class="form-group form-group-year">
                                            <label class="form-label"
                                                for="input-date-year">År</label>

                                            <input type="tel" id="input-date-year"
                                                class="form-input js-calendar-year-input"
                                                required data-min="1900" data-max="3000"
                                                maxlength="4" pattern="^[0-9]{0,4}$"
                                                data-input-regex="^[0-9]{0,4}$"
                                                title="Indtast årstal">

                                        </div>

                                    </div>
                                </fieldset>
                            </div>

                        </div>

                        <div class="form-group-radio
    ">

                            <input type="radio" id="radiogroup-lignende-registrering-option2"
                                name="radio-group" class="form-radio
             radio-large
            " value="2">

                            <label class="form-label"
                                for="radiogroup-lignende-registrering-option2">Nej</label>

                        </div>

                    </fieldset>
                </div>

                <button class="button button-primary d-print-none mt-7" type='submit'>
                    Næste
                </button>
            </form>
        </main>
    </div>
</div>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none"
        href="#top"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg><span
            class="sr-only">Til toppen</span><span class="d-none d-md-inline-block"
            aria-hidden="true">Til toppen</span></a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><strong class="weight-semibold">Myndighedsnavn</strong></li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a></li>
                <li class=""><a class="function-link" href="tel:12345678">(+45) 12 34 56
                        78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a></li>
                <li class="d-print-none"><a href="#" class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen ">
                <li><a href="" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="" lang="en-GB">English</a></li>
                <li><a href="" lang="de">Deutsch</a></li>
                <li><a href="" lang="kl">Kalaallisut</a></li>
                <li><a href="" lang="pl">Polski</a></li>
                <li><a href="" lang="se">Svenska</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog" aria-modal="true"
    aria-labelledby="modal-contact-heading">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-heading">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">

            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af advarende karakter
                    </h3>
                    <p class="alert-text">Noget tekst, der forklarer det af advarende
                        karakter, som brugeren bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
            <p>Telefonen er åben:</p>
            <p class='m-0'>
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-14</span></p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary" data-modal-close>
                Luk
            </button>
        </div>

    </div>
</div>