<header class="header">
    <div id="top"></div>

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-header">
        <div class="container portal-header-inner">
            <a href="#" aria-label="Portalnavn" class="logo ">
                <span class="d-none d-print-block">Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-info">
                <p class="user">

                    <strong class="username weight-semibold">Anders Andersen</strong>

                    <br />Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#">
                    Registrer et eller andet
                </a>
            </div>

            <div class="solution-info d-print-none">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p>Support: 12 34 56 78 <span
                        class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                            class="d-none d-lg-inline-block mr-2">· </span><a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact" aria-haspopup="dialog"
                            class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <nav class="nav">

        <button class="function-link button-menu-close js-menu-close"
            aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">

            <p class="user">

                <strong class="username weight-semibold">Anders Andersen</strong>

                <br />Forsikringens Forsikringsfirma
            </p>

            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

        <div class="solution-info-mobile">

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p>Support: 12 34 56 78 <span
                    class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                        class="d-none d-lg-inline-block mr-2">· </span><a
                        href="javascript:void(0);" data-module="modal"
                        data-target="modal-contact" aria-haspopup="dialog"
                        class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
            </p>

        </div>

        <div class="navbar">
            <div class="navbar-inner navbar-context-actions container">
                <div class="nav-actions">
                    <a href="#"
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#save"></use></svg>Gem
                        kladde</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container page-container pt-5 pt-lg-0">
    <div class="row">
        <aside class="col-12 col-lg-3 sidebar-col">

            <div
                class="overflow-menu overflow-menu--open-right overflow-menu--lg-no-responsive sidebar-col">
                <button class="button-overflow-menu js-dropdown" data-js-target="overflow-reg"
                    aria-haspopup="true" aria-expanded="false">
                    Trin 1 af 6
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-drop-down"></use></svg>
                </button>
                <div class="overflow-menu-inner" id="overflow-reg" aria-hidden="true">

                    <nav class="sidebar-col">
                        <ul class="sidenav-list" role="menu">
                            <li class="active current " role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-1/"
                                    role="menuitem" aria-current="page">
                                    <span class="sidenav-number">1.</span>
                                    <div>
                                        <span>Vælg personer</span>
                                    </div>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-2/"
                                    role="menuitem">
                                    <span class="sidenav-number">2.</span>
                                    <div>
                                        <span>Vælg noget mere</span>
                                    </div>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-3/"
                                    role="menuitem">
                                    <span class="sidenav-number">3.</span>
                                    <div>
                                        <span>Vedhæft dokumenter</span>
                                    </div>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-4/"
                                    role="menuitem">
                                    <span class="sidenav-number">4.</span>
                                    <div>
                                        <span>Tidligere registrering</span>
                                    </div>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-5/"
                                    role="menuitem">
                                    <span class="sidenav-number">5.</span>
                                    <div>
                                        <span>Kontaktoplysninger</span>
                                    </div>
                                </a>
                            </li>
                            <li role="none">
                                <a href="/pages/eksempler/trinformular-til-registrering/registrering-6/"
                                    role="menuitem">
                                    <span class="sidenav-number">6.</span>
                                    <div>
                                        <span>Opsummering</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </aside>
        <main class="col-12 col-lg-9" id="main-content">
            <h1>Vælg personer</h1>
            <form novalidate method="post"
                action="/pages/eksempler/trinformular-til-registrering/registrering-2/">

                <div class="form-group">
                    <fieldset>
                        <legend class="form-label">
                            Jeg vil gerne registrere
                        </legend>

                        <div class="form-group-checkbox">
                            <input type="checkbox" id="person-option1" name="personer[]"
                                class="form-checkbox checkbox-large" value="KeldHedagaardsen">
                            <label class="form-label" for="person-option1">Keld
                                Hedagaardsen<br>230495-1111</label>

                        </div>

                        <div class="form-group-checkbox">
                            <input type="checkbox" id="person-option2" name="personer[]"
                                class="form-checkbox checkbox-large" value="AnniHedagaardsen">
                            <label class="form-label" for="person-option2">Anni
                                Hedagaardsen<br>120394-2222</label>

                        </div>

                    </fieldset>
                </div>

                <h2 class="form-label mt-5 mb-0">Allerede registreret</h2>
                <button class="button button-unstyled js-tooltip" type="button"
                    data-tooltip="Følgende personer kan ikke vælges, da de allerede er blevet registreret."
                    data-tooltip-trigger="click">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg>
                    <span class="sr-only">Hvad betyder det?</span>
                </button>
                <ul class="nobullet-list mt-0">
                    <li>Jens Jensen, 123456-7890</li>
                </ul>
                <div><button class="button button-tertiary d-print-none mt-5" type='button'>
                        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#add"></use></svg>
                        Tilføj person
                    </button></div>
                <button class="button button-primary d-print-none mt-7" type='submit'>
                    Næste
                </button>
            </form>
        </main>
    </div>
</div>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none" href="#top">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg>
        <span class="sr-only">Til toppen af siden</span>
        <span class="d-none d-md-inline-block" aria-hidden="true">Til toppen</span>
    </a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><strong class="weight-semibold">Myndighedsnavn</strong></li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a></li>
                <li class=""><a class="function-link" href="tel:12345678">(+45) 12 34 56
                        78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a></li>
                <li class="d-print-none"><a href="#" class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen ">
                <li><a href="" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="" lang="en-GB">English</a></li>
                <li><a href="" lang="de">Deutsch</a></li>
                <li><a href="" lang="kl">Kalaallisut</a></li>
                <li><a href="" lang="pl">Polski</a></li>
                <li><a href="" lang="se">Svenska</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog" aria-modal="true"
    aria-labelledby="modal-contact-heading">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-heading">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">

            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af advarende karakter
                    </h3>
                    <p class="alert-text">Noget tekst, der forklarer det af advarende
                        karakter, som brugeren bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
            <p>Telefonen er åben:</p>
            <p class='m-0'>
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-14</span></p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary" data-modal-close>
                Luk
            </button>
        </div>

    </div>
</div>