<div id="top"></div>
<header class="header">

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" aria-label="Portalnavn" class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    Anders Andersen
                </p>

                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#lock"></use></svg>Log
                    af</button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <a href="#">Løsningstitel står her</a>
            </div>

            <div class="additional-info d-print-none">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p><span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                        class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                        aria-hidden="true">·</span><button type="button" data-module="modal"
                        data-target="modal-contact" aria-haspopup="dialog"
                        class="d-print-none function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#card-text"></use></svg>Kontakt</button>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#close"></use></svg>Luk</button>
        </div>

        <div class="solution-info-mobile">
            <h3 class="sr-only">Myndighed</h3>

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p><span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span
                    class="d-none d-lg-inline-block d-print-none ml-2 mr-2"
                    aria-hidden="true">·</span><button type="button" data-module="modal"
                    data-target="modal-contact" aria-haspopup="dialog"
                    class="d-print-none function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#card-text"></use></svg>Kontakt</button>
            </p>

        </div>

        <div class="portal-info-mobile">
            <h3 class="sr-only">Bruger</h3>

            <p class="user">

                Anders Andersen

            </p>

            <p>
                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#lock"></use></svg>Log
                    af</button>
            </p>
        </div>

    </div>
</header>

<main class="container page-container" id="main-content">

    <h1 class="mt-4 mt-sm-7">Siden kunne ikke findes</h1>

    <p class="font-lead mb-0">Vi kan ikke finde den side, du leder efter (fejl 404).</p>

    <p class="font-lead mt-0 pb-4 pb-sm-905">Måske er siden blevet flyttet, eller også er
        webadressen forkert.</p>

    <h2 class="h3 mt-sm-905 pt-sm-905">Hjælp til at komme videre</h2>

    <ul class="nobullet-list">
        <li><a href="#">Gå til forsiden</a></li>
        <li><a href="#">Brug søgefunktionen</a></li>
        <li><a href="#">Kontakt os</a></li>
    </ul>

</main>

<footer>

    <a class="button back-to-top-button d-print-none" href="#top">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#arrow-upward"></use></svg>
        <span class="sr-only">Til toppen af siden</span>
        <span class="d-none d-md-inline-block" aria-hidden="true">Til toppen</span>
    </a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><strong class="weight-semibold">Myndighedsnavn</strong></li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a></li>
                <li class=""><a class="function-link" href="tel:12345678">(+45) 12 34 56
                        78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a></li>
                <li class="d-print-none"><a href="#" class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal-container">

    <div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
        aria-modal="true" aria-labelledby="modal-contact-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-contact-heading">
                    Kontakt
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert">
                    <svg class="icon-svg alert-icon" aria-label="Advarsel" focusable="false"><use href="#report-problem"></use></svg>
                    <div class="alert-body">
                        <h3 class="alert-heading">Vi har noget information af advarende
                            karakter</h3>
                        <p class="alert-text">Noget tekst, der forklarer det af advarende
                            karakter, som brugeren bør vide inden denne ringer eller skriver.
                        </p>
                    </div>
                </div>
                <h3>En form for support</h3>
                <p>Hvis du har spørgsmål om:</p>
                <ul>
                    <li>En ting som denne</li>
                    <li>Et andet emne som dette</li>
                </ul>
                <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span>
                </p>
                <p>Telefonen er åben:</p>
                <p class='m-0'>
                    Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-17</span></p>
                <p class='m-0'>
                    Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class='d-inline-block'>kl. 9-14</span></p>
            </div>

            <div class="modal-footer">
                <button class="button button-secondary" data-modal-close>
                    Luk
                </button>
            </div>

        </div>
    </div>

</div>