<header class="header">
    <div id="top"></div>

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-header">
        <div class="container portal-header-inner">
            <a href="#" aria-label="Portalnavn" class="logo ">
                <span class="d-none d-print-block">Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-info">
                <p class="user">

                    <strong class="username weight-semibold">Anders Andersen</strong>

                    <br />Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#">
                    Registrer et eller andet
                </a>
            </div>

            <div class="solution-info d-print-none">

                <h2 class="authority-name">Myndighedsnavn</h2>

                <p>Support: 12 34 56 78 <span class="d-print-none">· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact" aria-haspopup="dialog"
                            class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <nav class="nav">

        <button class="function-link button-menu-close js-menu-close"
            aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">

            <p class="user">

                <strong class="username weight-semibold">Anders Andersen</strong>

                <br />Forsikringens Forsikringsfirma
            </p>

            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

        <div class="solution-info-mobile">

            <h2 class="authority-name">Myndighedsnavn</h2>

            <p>Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);"
                        data-module="modal" data-target="modal-contact" aria-haspopup="dialog"
                        class="function-link d-inline-block mt-0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
            </p>

        </div>

    </nav>
</header>

<main class="container page-container" id="main-content">

    <div class="alert alert-success alert--show-icon">
        <div class="alert-body">
            <h2 class="alert-heading">Kvittering</h2>
            <p class="alert-text">Din registrering er modtaget</p>
        </div>
    </div>

    <h1 class="mb-6 mt-6">Kvittering</h1>
    <p class="font-lead">Nedenfor finder du dine indtastninger fra de foregående sider.</p>
    <button class="button button-secondary d-print-none mb-4">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#print"></use></svg>
        Udskriv kvittering
    </button>
    <h2>Dine oplysninger</h2>
    <h3>Vælg personer</h3>

    <div class="table--responsive-scroll">
        <table
            class="table table--borderless w-percent-md-60 mt-4 mb-7 d-print-table table--responsive-headers">
            <thead>
                <tr>

                    <th scope="col">Person
                    </th>

                    <th scope="col">CPR-nummer
                    </th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Jens Jensen</td>

                    <td>123456-7890</td>

                </tr>

                <tr>
                    <td>Keld Hedagaardsen</td>

                    <td>230495-1111</td>

                </tr>

                <tr>
                    <td>Anni Hedagaardsen</td>

                    <td>120394-2222</td>

                </tr>

            </tbody>
        </table>
    </div>

    <h3>Vælg noget mere</h3>

    <div class="table--responsive-scroll">
        <table
            class="table table--borderless w-percent-md-60 mt-4 mb-7 d-print-table table--responsive-headers">
            <thead>
                <tr>

                    <th scope="col">Nummer
                    </th>

                    <th scope="col">Dato
                    </th>

                    <th scope="col">Information
                    </th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>123456789</td>

                    <td>01.01.2021</td>

                    <td>Lorem ipsum dolor sit</td>

                </tr>

                <tr>
                    <td>123456789</td>

                    <td>01.01.2021</td>

                    <td>Lorem ipsum dolor sit</td>

                </tr>

            </tbody>
        </table>
    </div>

    <h3>Vedhæft dokumenter</h3>

    <div class="table--responsive-scroll">
        <table
            class="table table--borderless w-percent-md-60 mt-4 mb-7 d-print-table table--responsive-headers">
            <thead>
                <tr>

                    <th scope="col">Vedhæftet dokument
                    </th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a href="#"
                            class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>Journal.pdf</a>
                    </td>

                </tr>

                <tr>
                    <td><a href="#"
                            class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>Kopi-af-dokument-x.pdf</a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <h3>Tidligere registrering</h3>
    <div class="w-percent-md-60 mt-6 mb-7">

        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <h4 class="structured-heading">Har du tidligere lavet en lignende
                    registrering?</h4>
            </div>
            <div class="col-md-2">
                Ja
            </div>

        </div>

        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <h4 class="structured-heading">Tidligere registreringsnummer</h4>
            </div>
            <div class="col-md-2">
                123.678
            </div>

        </div>

        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <h4 class="structured-heading">Dato for registreringen</h4>
            </div>
            <div class="col-md-2">
                10.10.2010
            </div>

        </div>

    </div>
    <h3>Kontaktoplysninger</h3>
    <div class="w-percent-md-60 mt-6 mb-7">

        <div class="row row-bordered no-gutters">
            <div class="col-md-4">
                <h4 class="structured-heading">E-mail</h4>
            </div>
            <div class="col-md-6">
                eksempel@mail.dk
            </div>

        </div>

        <div class="row row-bordered no-gutters">
            <div class="col-md-4">
                <h4 class="structured-heading">Telefonnummer</h4>
            </div>
            <div class="col-md-6">
                12345678
            </div>

        </div>

    </div>
    <button class="button button-primary d-print-none mt-4">
        Log ud og gå til forsiden
    </button>
</main>

<footer>

    <a class="back-to-top-button button button-tertiary d-print-none"
        href="#top"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-upward"></use></svg><span
            class="sr-only">Til toppen</span><span class="d-none d-md-inline-block"
            aria-hidden="true">Til toppen</span></a>

    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><strong class="weight-semibold">Myndighedsnavn</strong></li>
                <li class=""><a class="function-link"
                        href="mailto:support@myndighed.dk">support@myndighed.dk</a></li>
                <li class=""><a class="function-link" href="tel:12345678">(+45) 12 34 56
                        78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Tilgængelighedserklæring</a></li>
                <li class="d-print-none"><a href="#" class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen ">
                <li><a href="" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="" lang="en-GB">English</a></li>
                <li><a href="" lang="de">Deutsch</a></li>
                <li><a href="" lang="kl">Kalaallisut</a></li>
                <li><a href="" lang="pl">Polski</a></li>
                <li><a href="" lang="se">Svenska</a></li>
            </ul>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog" aria-modal="true"
    aria-labelledby="modal-contact-heading">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-heading">
                Kontakt
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">

            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af advarende karakter
                    </h3>
                    <p class="alert-text">Noget tekst, der forklarer det af advarende
                        karakter, som brugeren bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
            <p>Telefonen er åben:</p>
            <p class='m-0'>
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-17</span></p>
            <p class='m-0'>
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class='d-inline-block'>kl. 9-14</span></p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary" data-modal-close>
                Luk
            </button>
        </div>

    </div>
</div>