<p>Link som åbner et <a href="/" class="icon-link" target="_blank">eksternt
        website<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
</p>

<p>Link som åbner en fil i en ny fane: <a href="/" class="icon-link" target="_blank">Linktekst
        (pdf)<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
</p>

<p>Link som downloader en fil: <a href="/" class="icon-link"
        download="Eksempel på download">Linktekst
        (zip-fil)<svg class="icon-svg" aria-label="(download fil)" focusable="false"><use href="#download"></use></svg></a>
</p>