<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Faneblade-do.svg" alt="Eksempel på, hvordan faneblade kan se ud" /></div>
        <p><strong>Sådan:</strong> Brug kun faneblade til kort, koncist, ordknapt indhold som lister, data og andre typer af oversigter (Gube, 2009). Kategorierne, som fanebladene repræsenterer, skal have en stærk parallelitet og have et ensartet abstraktionsniveau (Nielsen, 2016) – altså forskellige aspekter af samme emne.</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Faneblade-dont.svg" alt="Eksempel på, hvordan faneblade ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Undgå at bruge faneblade som navigation mellem forskellige sider eller en sekvens af handlinger i en selvbetjeningsløsning. Faneblade er til parallelt (Nielsen, 2016), ikke sekventielt indhold.</p>
    </div>
</div>
