<h1 class="h2">Dine kontaktoplysninger</h1>
<form>
    <!-- Felt start: Fornavn -->
    <div class="form-group">
        <label class="form-label " for="fnavn" id="form-label-fnavn">
            Fornavn
        </label>

        <input class="form-input " id="fnavn" value="" name="fnavn"
            type="text" aria-describedby="input-hint-message-fnavn ">
    </div>
    <!-- Felt slut: Fornavn -->
    <!-- Felt start: Efternavn -->
    <div class="form-group">
        <label class="form-label " for="enavn" id="form-label-enavn">
            Efternavn
        </label>

        <input class="form-input " id="enavn" value="" name="enavn"
            type="text" aria-describedby="input-hint-message-enavn ">
    </div>
    <!-- Felt slut: Efternavn -->
    <!-- Felt start: E-mail adresse -->
    <div class="form-group">
        <label class="form-label " for="email" id="form-label-email">
            E-mail adresse
        </label>

        <input class="form-input " id="email" value="" name="email"
            type="text" aria-describedby="input-hint-message-email ">
    </div>
    <!-- Felt slut: E-mail adresse -->
    <!-- Felt: Telefonnr -->
    <div class="form-group">
        <label class="form-label " for="telefon" id="form-label-telefon">
            Telefonnr.
        </label>

        <input class="form-input " id="telefon" value="" name="telefon"
            type="text" aria-describedby="input-hint-message-telefon ">
    </div>
    <!-- Felt: Telefonnr -->
    <!-- Knap start -->
    <button class="button button-primary mt-9">
        Gem oplysninger
    </button>
    <!-- Knap slut -->
</form>