<h1 class="h2">Dine kontaktoplysninger</h1>
<form novalidate>
    <div class="form-group">

        <label class="form-label" for="fnavn">
            Fornavn
        </label>

        <input class="form-input" id="fnavn" name="fnavn" type="text"
            required />

    </div>
    <div class="form-group">

        <label class="form-label" for="enavn">
            Efternavn
        </label>

        <input class="form-input" id="enavn" name="enavn" type="text"
            required />

    </div>

</form>