<h1 class="h2">Dine kontaktoplysninger</h1>
<form>
    <!-- Felt start: Fornavn -->
    <div class="form-group">
        <label class="form-label " for="simple-fnavn">
            Fornavn
        </label>

        <input class="form-input " id="simple-fnavn" value="" name="fnavn"
            type="text">
    </div>
    <!-- Felt slut: Fornavn -->
    <!-- Felt start: Efternavn -->
    <div class="form-group">
        <label class="form-label " for="simple-enavn">
            Efternavn
        </label>

        <input class="form-input " id="simple-enavn" value="" name="enavn"
            type="text">
    </div>
    <!-- Felt slut: Efternavn -->
    <!-- Felt start: E-mail adresse -->
    <div class="form-group">
        <label class="form-label " for="simple-email">
            E-mail adresse
        </label>

        <input class="form-input " id="simple-email" value="" name="email"
            type="text">
    </div>
    <!-- Felt slut: E-mail adresse -->
    <!-- Felt: Telefonnr -->
    <div class="form-group">
        <label class="form-label " for="simple-telefon">
            Telefonnr.
        </label>

        <input class="form-input input-char-8" id="simple-telefon" value=""
            name="telefon" type="text">
    </div>
    <!-- Felt: Telefonnr -->
    <!-- Knap start -->
    <button class="button button-primary mt-9">
        Gem oplysninger
    </button>
    <!-- Knap slut -->
</form>