<header class="header">

    <!--1A: Portal header -->
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" aria-label="Portalnavn"
                class="logo alert-leave">

            </a>
            <button
                class="button button-secondary button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu" title="Åben mobil menu">Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span class="username">Christian Emil
                        Vestergaard Christiansen</span> </p>

                <button
                    class="button button-secondary alert-leave d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header header-end">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" title="Hjem" class="alert-leave2">
                    Eksempel på upload-fejl
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Styrelsen for Eksempler</p>

                <p>Support: 72 20 60 00 <span class='d-print-none'>· <a
                            href="javascript:void(0);" data-module="modal"
                            data-target="modal-contact"
                            class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></span>
                </p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button
            class="button button-tertiary button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Christian Emil Vestergaard Christiansen
            </p>
            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Erhvervsministeriet</p>
            <p><a href="javascript:void(0);" data-module="modal"
                    data-target="modal-contact"
                    class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a>
            </p>
        </div>
    </nav> <!-- collapsible nav end-->
</header>

<main class="container page-container pt-4 pt-lg-6">
    <a href="javascript:void(0);" class="back-link">Tilbage</a>

    <div class="alert alert-error mt-0 mb-8" role="alert"
        aria-atomic="true">
        <div class="alert-body">
            <p class="alert-heading">Der er problemer</p>
            <ul class="alert-text nobullet-list mb-3">
                <li><a class="function-link" href="#fileinput">Dokumentet
                        er større end 10 MB, og kan derfor ikke tilføjes.
                        Opdel dokumentet og tilføj som flere
                        dokumenter.</a></li>
                <li><a class="function-link" href="#options2">Vælg et navn
                        til dokumentet Fuldmagt_88.pdf</a></li>
            </ul>
        </div>
    </div>

    <h1>Dokumenter til sagen <span
            class="weight-normal">(frivilligt)</span></h1>

    <div class="form-group file-input mb-5 form-error">
        <label class="form-label" for="fileinput">Vedhæft fil</label>
        <span class="form-error-message mb-3" id="fileinput-error"><span
                class="sr-only">Fejl:</span> Dokumentet er større end 10
            MB, og kan derfor ikke tilføjes. Opdel dokumentet og tilføj som
            flere dokumenter.</span>
        <input type="file" id="fileinput" name="file"
            aria-describedby="fileinput-error" />
    </div>

    <table
        class="table table--borderless table--responsive-headers d-print-table">
        <thead>
            <tr>
                <th>Filnavn</th>
                <th>Navngiv dokument</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#"
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>Lægeerklæring.pdf</a>
                </td>
                <td>
                    <div class="form-group ">

                        <label class="form-label sr-only"
                            for="options">Navngiv dokument</label>
                        <select class=" form-select" name="options"
                            id="options">
                            <option value>Vælg</option>

                            <option value="Lægeerklæring" selected>
                                Lægeerklæring</option>

                            <option value="Fuldmagt">Fuldmagt</option>

                            <option value="Journal">Journal</option>

                            <option value="Spørgeskema">Spørgeskema
                            </option>

                        </select>
                    </div>
                </td>
                <td><button class="button button-unstyled">
                        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#delete"></use></svg>
                        <span class="sr-only">Slet</span>
                    </button></td>
            </tr>
            <tr>
                <td><a href="#"
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-pdf"></use></svg>Fuldmagt_88.pdf</a>
                </td>
                <td>
                    <div class="form-group form-error">
                        <span class="form-error-message"><span
                                class="sr-only">Fejl:</span> Vælg et navn
                            til dokumentet Fuldmagt_88.pdf</span>
                        <label class="form-label sr-only"
                            for="options2">Navngiv dokument</label>
                        <select class=" form-select" name="options2"
                            id="options2">
                            <option value>Vælg</option>

                            <option value="Lægeerklæring">Lægeerklæring
                            </option>

                            <option value="Fuldmagt">Fuldmagt</option>

                            <option value="Journal">Journal</option>

                            <option value="Spørgeskema">Spørgeskema
                            </option>

                        </select>
                    </div>
                </td>
                <td><button class="button button-unstyled">
                        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#delete"></use></svg>
                        <span class="sr-only">Slet</span>
                    </button></td>
            </tr>
        </tbody>
    </table>
    <nav class="page-navigation d-print-none">
        <button class="button button-primary">Næste</button>
    </nav>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <div class="align-text-left">
                <ul class="unstyled-list inline-list">
                    <li class=""><span
                            class="h5 weight-semibold">Eksempelstyrelsen</span>
                    </li>
                    <li class=""><a class="function-link"
                            href="mailto:support@example.dk">support@example.dk</a>
                    </li>
                    <li class=""><a class="function-link"
                            href="tel:12345678">12 34 56 78</a></li>
                    <li class="d-print-none"><a href="#"
                            class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                    </li>
                    <li class="d-print-none"><a href="#"
                            class="function-link">Privatlivspolitik
                            (cookies)</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<div class="fds-modal" id="modal-contact" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-contact-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-contact-title">
                Kontakt
            </h2>
            <button class="modal-close button button-unstyled"
                aria-label="Luk"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Vi har noget information af
                        advarende karakter</h3>
                    <p class="alert-text">Noget tekst, der forklarer det af
                        advarende karakter, som brugeren bør vide inden
                        denne ringer eller skriver. Noget tekst, der
                        forklarer det af advarende karakter, som brugeren
                        bør vide inden denne ringer eller skriver.</p>
                </div>
            </div>
            <h3>En form for support</h3>
            <p>Hvis du har spørgsmål om:</p>
            <ul>
                <li>En ting som denne</li>
                <li>Et andet emne som dette</li>
            </ul>
            <p>Kan du ringe direkte til: 12 34 56 78</p>
            <p>Telefonen er åben:</p>
            <p class="m-0">
                Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. 9-17</p>
            <p class="m-0">
                Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; kl.
                9-17</p>
            <p class="m-0">
                Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                kl. kl. 9-14</p>
        </div>

        <div class="modal-footer">
            <button class="button button-secondary"
                data-modal-close>Luk</button>
        </div>

    </div>
</div>