<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Vedhaeft-fil-do.svg" alt="Eksempel på, hvordan vedhæftning af filer kan se ud" /></div>
        <p><strong>Sådan:</strong> Reducér antallet af handlingstrin ved filoverførsel så meget som muligt. Det er en kompliceret opgave, som vil være svær for en del computerbrugere. Mange har svært ved at håndtere opgaver, der omfatter mange handlingstrin og flere brugergrænseflader (OECD, 2016; Nielsen, 2016).</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Vedhaeft-fil-dont.svg" alt="Eksempel på, hvordan vedhæftning af filer ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Undgå unødvendige knapper og dermed handlingstrin. Hvis der både er en "Gennemse"-knap og en "Vedhæft"-knap, vil nogle brugere ikke vide, hvad de skal gøre og måske begå fejl.</p>
    </div>
</div>
