<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Footers-do.svg" alt="Eksempel på, hvordan footers kan se ud" /></div>
        <p><strong>Sådan:</strong> Brug <em>footers</em> til indhold, som brugerne forventer at finde dér. Det er fx kontaktoplysninger, webstedets privatlivspolitik og links til sociale medier (Fessenden, 2019). Footeren kan også med fordel anvendes til et mini-sitemap (Esser, 2018).</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Footers-dont.svg" alt="Eksempel på, hvordan footers ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Brug ikke <em>footers</em> til indhold, som brugerne ikke vil lede efter dér. Brugerne vil fx nok ikke opdage nyheder eller hjælpetekster, hvis de er placeret helt i bunden af en webside.</p>
    </div>
</div>
