<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Formular-do.svg" alt="Eksempel på, hvordan formular-struktur kan se ud" /></div>
        <p><strong>Sådan:</strong> Opdel komplicerede formularer i små bidder, og placér hvert element på en side for sig (Silver, 2018, s. 68-73). Princippet hedder '<em>One thing per page</em>' (én ting pr. side) og har vist sig at fungerer godt på mobile enheder og være bedre i forbindelse med fx fejlhåndtering (Paul, 2015). Konceptet er også fordelagtigt for ældre brugere med nedsatte kognitive evner (Johnson & Finn, 2017, s. 99) og nye computerbrugere (Long, 2017).</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Formular-dont.svg" alt="Eksempel på, hvordan formular-struktur ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Del ikke tæt relaterede felter op på flere sider (Silver, 2018, s. 71). Felter for postnummer og by bør fx stå på samme side (Jarret & Gaffney, 2010, s. 102). Det samme gælder felter til fornavn og efternavn samt datoer og tidspunkter (Wroblewski, 2008, s. 84).</p>
    </div>
</div>
