<h1 class="h2">Dine kontaktoplysninger</h1>
<form novalidate>
    <!-- Felt start: Navn -->
    <div class="form-group">

        <label class="form-label" for="input-name">
            Navn
        </label>

        <input class="form-input" id="input-name" name="name" type="text"
            required />

    </div>
    <!-- Felt slut: Navn -->

    <!-- Felt start: Kørekort -->
    <div class="form-group">
        <fieldset>
            <legend class="form-label">Har du kørekort?</legend>
            <ul class="nobullet-list">
                <li>
                    <div class="form-group-radio">
                        <input id="kort-ja" type="radio" name="kontakt"
                            value="ja" class="form-radio radio-large " />
                        <label for="kort-ja" id="form-label-kort-ja"
                            class="">Ja </label>

                    </div>
                </li>
                <li>
                    <div class="form-group-radio">
                        <input id="kort-nej" type="radio" name="kontakt"
                            value="nej" class="form-radio radio-large " />
                        <label for="kort-nej" id="form-label-kort-nej"
                            class="">Nej </label>

                    </div>
                </li>
            </ul>
        </fieldset>
    </div>
    <!-- Felt slut: Kørekort -->

    <!-- Knap start -->

    <!-- Knap slut -->
</form>