<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Funktionslink-do.svg" alt="Eksempel på, hvordan funktionslinks kan se ud" /></div>
        <p><strong>Sådan:</strong> Placér funktionslinks så som ”Print”, ”Del”, ”Åbn som pdf” mv. øverst på websiden, hvor brugerne kan se dem, før de begynder at interagere med indholdet. Brugerne har ikke behov for at printe en side, når de har læst den. Undersøgelser viser også, at brugerne ofte deler sider, inden de læser dem (Manjoo, 2013).</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Funktionslink-dont.svg" alt="Eksempel på, hvordan funktionslinks ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Undlad at placere funktionslinks i bunden af sider. Undgå også ukonventionelle placeringer, hvor det måske slet ikke falder brugerne ind at kigge efter funktionslinkene (Farrell, 2015).</p>
    </div>
</div>
