<div class="container w-percent-100">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row mb-2">
        <div class="col-12 col-md-8">
            <p>col-12 col-md-8</p>
        </div>
        <div class="col-6 col-md-4">
            <p>col-6 col-md-4</p>
        </div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 333% wide on desktop -->
    <div class="row mb-2">
        <div class="col-6 col-md-4">
            <p>col-6 col-md-4</p>
        </div>
        <div class="col-6 col-md-4">
            <p>col-6 col-md-4</p>
        </div>
        <div class="col-6 col-md-4">
            <p>col-6 col-md-4</p>
        </div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
        <div class="col-6">
            <p>col-6</p>
        </div>
        <div class="col-6">
            <p>col-6</p>
        </div>
    </div>
</div>