<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="grid-example-content">
                <p>Level 1: col-sm-9</p>
                <div class="row">
                    <div class="col-8 col-sm-6">
                        <p>Level 2: col-8 col-sm-6</p>
                    </div>
                    <div class="col-4 col-sm-6">
                        <p>Level 2: col-4 col-sm-6</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>