<nav class="navigation-menu-mobile" aria-label="Hovedmenu">
    <ul class="mainmenu">
        <li>
            <a href="#" class="nav-link">
                <span>Første menupunkt</span>
            </a>
        </li>
        <li class="active">

            <div class="submenu">
                <button class="nav-link button-mobile-menu js-menudropdown"
                    data-js-target="mobilemenu-2" aria-haspopup="true" aria-expanded="true">
                    <span>Andet menupunkt</span>
                </button>
                <div class="overflow-menu-inner" id="mobilemenu-2" aria-hidden="false">
                    <ul class="overflow-list">
                        <li>
                            <a href="#" class="nav-link">
                                <span>Endnu en undermenu</span>
                            </a>
                        </li>
                        <li class="active current">
                            <a href="#" class="nav-link" aria-current="page">
                                <span>Endnu en undermenu</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span>Endnu en undermenu</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </li>
        <li>
            <a href="#" class="nav-link">
                <span>Tredje menupunkt</span>
            </a>
        </li>
    </ul>
</nav>