<div class="navigation-menu contains-search">
    <div class="navigation-menu-inner container">

        <nav class="nav" aria-label="Hovedmenu">
            <ul class="mainmenu">
                <li>
                    <a href="#" class="nav-link">
                        <span>Første menupunkt</span>
                    </a>
                </li>
                <li class="active">

                    <div class="submenu">
                        <button class="button-overflow-menu js-dropdown"
                            data-js-target="desktopmenu-2" aria-expanded="false"
                            aria-controls="desktopmenu-2">
                            <span>Andet menupunkt</span>
                        </button>
                        <div class="overflow-menu-inner collapsed" id="desktopmenu-2">
                            <ul class="overflow-list">
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Endnu en undermenu</span>
                                    </a>
                                </li>
                                <li class="active current">
                                    <a href="#" class="nav-link" aria-current="page">
                                        <span>Endnu en undermenu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Endnu en undermenu</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="form-group search">
            <label for="header-search" class="sr-only">Søg efter indhold</label>
            <input class="form-input" id="header-search" name="header-search" type="search">
            <button class="button button-search">
                Søg
            </button>
        </div>

    </div>
</div>