<header class="header">

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-header">
        <div class="portal-header-inner container">
            <a href="#" aria-label="Portalens navn" class="logo">
                <span>Portalens navn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-info">
                <p class="user">
                    Anders Andersen, Forsikringens Forsikringsfirma
                </p>

                <button class="button button-tertiary button-logout d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-header">
        <div class="solution-header-inner container">
            <div class="solution-heading">
                <a href="#">En langt langt længere løsningstitel</a>
            </div>

            <div class="solution-info">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p>Support: 12 34 56 78 <span
                        class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                            class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                            class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
                </p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="nav-container">
        <div class="container">

            <div class="menu-top">
                <h2 class="menu-heading">Menu</h2>
                <button class="function-link button-menu-close js-menu-close"
                    aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
            </div>

            <div class="portal-header-mobile">

                <p class="user">

                    Anders Andersen, Forsikringens Forsikringsfirma

                </p>

                <button class="button button-tertiary button-logout d-print-none mt-3">
                    Log af
                </button>
            </div>

            <div class="solution-info-mobile">

                <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

                <p>Support: 12 34 56 78 <span
                        class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                            class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                            class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
                </p>

            </div>

        </div>
    </div>
</header>