<div class="solution-header">
    <div class="solution-header-inner container">
        <div class="solution-heading">
            <a href="#">En længere løsningstitel</a>
        </div>

        <div class="solution-info">

            <p><strong class="authority-name">Myndighedsnavn</strong></p>

            <p>Support: 12 34 56 78 <span
                    class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                        class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                        class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
            </p>

        </div>

    </div>
</div>