<div class="overlay"></div>

<div class="navigation-header-mobile">
    <div class="navigation-header-inner container">

        <div class="menu-top">
            <h2 class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <nav>
            <ul class="mainmenu">
                <li>
                    <a href="#" class="nav-link">
                        <span>Første menupunkt</span>
                    </a>
                </li>
                <li>
                    <div class="submenu">
                        <button
                            class="nav-link button-overflow-menu js-dropdown js-dropdown--responsive-collapse"
                            data-js-target="subcategory" aria-haspopup="true"
                            aria-expanded="true">
                            <span>Andet menupunkt</span>
                        </button>
                        <div class="overflow-menu-inner" id="subcategory" aria-hidden="false">
                            <ul class="overflow-list">
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Andet menupunkt <span
                                                class="helptext">(overblik)</span></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Første undermenupunkt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Andet undermenupunkt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Tredje undermenupunkt</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="solution-info-mobile">...</div>
        <div class="portal-header-mobile">...</div>
    </div>
</div>

<div class="navigation-header d-none d-lg-block">
    <div class="navigation-header-inner container">
        <nav>
            <ul class="mainmenu">
                <li>
                    <a href="#" class="nav-link">
                        <span>Første menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Andet menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>