<header class="header">

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="javascript:void(0);" title="Hjem"
                class="logo alert-leave">
            </a>
            <button
                class="button button-secondary button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu" title="Åben mobil menu">Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <p class="user"><span
                        class="username weight-semibold">Christian Emil
                        Vestergaard Christiansen</span>
                    <br />Forsikringens Forsikringsfirma  </p>

                    <button
                        class="button button-secondary  alert-leave d-print-none">
                        Log af
                    </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" title="Hjem" class="alert-leave2">
                    Løsningstitel
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Myndighedsnavn</p>

                <p>Support: 12 34 56 78</p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button
            class="button button-tertiary button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Lone Hansen</p>
            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Myndighedsnavn</p>
            <p>Support: 12 34 56 78</p>
        </div>

    </nav> <!-- collapsible nav end-->
</header>