<div class="solution-header">
    <div class="container solution-header-inner">
        <div class="solution-heading">
            <a href="#">
                En længere løsningstitel
            </a>
        </div>

        <div class="solution-info">

            <h2 class="authority-name">Myndighedsnavn</h2>

            <p>Support: 12 34 56 78 <span class="d-print-none">· <a
                        href="#"
                        class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
            </p>

        </div>

    </div>
</div>