<header class="header">

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" title="Gå til Portalnavns forside" aria-label="Portalnavn"
                class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    Anders Andersen, Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <a href="#">En langt langt længere løsningstitel</a>
            </div>

            <div class="additional-info">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p>Support: 12 34 56 78 <span
                        class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                            class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                            class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
                </p>

            </div>

        </div>
    </div>

    <nav class="navigation-menu">
        <div class="navigation-menu-inner container">
            <ul class="mainmenu">
                <li>
                    <a href="#" class="nav-link">
                        <span>Første menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Andet menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Fjerde menupunkt</span>
                    </a>
                </li>
                <li class="active">
                    <div class="submenu">
                        <button
                            class="nav-link button-overflow-menu js-dropdown js-dropdown--responsive-collapse"
                            data-js-target="headeroverflow2" aria-haspopup="true"
                            aria-expanded="true">
                            <span>Femte menupunkt</span>
                        </button>
                        <div class="overflow-menu-inner" id="headeroverflow2"
                            aria-hidden="false">
                            <ul class="overflow-list">
                                <li class="active current">
                                    <a href="#" class="nav-link"
                                        aria-current="page"><span>Subsektion med en meget lang
                                            titel som går i flere linier</span></a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="nav-link"><span>Subsektiontitel</span></a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="nav-link"><span>Subsektiontitel</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link"><span>Subsektiontitel som
                                            også er forholdsvis lang</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="overlay"></div>
    <div class="mobile-drawer">

        <div class="menu-top">
            <h2 class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <nav class="navigation-menu-mobile">
            <ul class="mainmenu">
                <li>
                    <a href="#" class="nav-link">
                        <span>Første menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Andet menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Fjerde menupunkt</span>
                    </a>
                </li>
                <li class="active">
                    <div class="submenu">
                        <button
                            class="nav-link button-overflow-menu js-dropdown js-dropdown--responsive-collapse"
                            data-js-target="headeroverflow2" aria-haspopup="true"
                            aria-expanded="true">
                            <span>Femte menupunkt</span>
                        </button>
                        <div class="overflow-menu-inner" id="headeroverflow2"
                            aria-hidden="false">
                            <ul class="overflow-list">
                                <li class="active current">
                                    <a href="#" class="nav-link"
                                        aria-current="page"><span>Subsektion med en meget lang
                                            titel som går i flere linier</span></a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="nav-link"><span>Subsektiontitel</span></a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="nav-link"><span>Subsektiontitel</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link"><span>Subsektiontitel som
                                            også er forholdsvis lang</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="solution-info-mobile">

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p>Support: 12 34 56 78 <span
                    class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                        class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                        class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
            </p>

        </div>

        <div class="portal-info-mobile">

            <p class="user">

                <span>Anders Andersen</span>
                <span>Forsikringens Forsikringsfirma</span>

            </p>

            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

    </div>

</header>