<div class="overlay"></div>
<nav class="nav">

    <button class="function-link button-menu-close js-menu-close"
        aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

    <div class="portal-info-mobile">

        <p class="user">

            <span class="username">Anders Andersen, Forsikringens Forsikringsfirma</span>

        </p>

        <button class="button button-secondary d-print-none mt-3">
            Log af
        </button>
    </div>

    <div class="solution-info-mobile">

        <h2 class="authority-name">Myndighedsnavn</h2>

        <p>Support: 12 34 56 78 <span class="d-print-none">· <a href="#"
                    class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
        </p>

    </div>

</nav>