<div class="overlay"></div>
<div class="mobile-drawer">

    <div class="menu-top">
        <h2 class="menu-heading">Menu</h2>
        <button class="function-link button-menu-close js-menu-close"
            aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
    </div>

    <div class="solution-info-mobile">

        <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

        <p>Support: 12 34 56 78 <span
                class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                    class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                    class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
        </p>

    </div>

    <div class="portal-info-mobile">

        <p class="user">

            <span>Anders Andersen</span>
            <span>Forsikringens Forsikringsfirma</span>

        </p>

        <button class="button button-secondary d-print-none mt-3">
            Log af
        </button>
    </div>

</div>