<header class="header">

    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
        aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

    <div class="overlay"></div>
    <div class="navigation-header">
        <div class="navigation-header-inner container">

            <div class="menu-top">
                <h2 class="menu-heading">Menu</h2>
                <button class="function-link button-menu-close js-menu-close"
                    aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
            </div>

            <nav>
                <ul class="mainmenu">
                    <li>
                        <a href="#" class="nav-link">
                            <span>Første menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Andet menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Tredje menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Fjerde menupunkt</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>