<div class="overlay"></div>
<nav class=" nav">
    <button class="function-link button-menu-close js-menu-close"
        title="Luk mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
    <!-- 3: Main navigation-->
    <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        <div class="navbar-inner container">
            <ul class="nav-primary">
                <li>
                    <a href="#" class="nav-link">
                        <span>Første menupunkt</span>
                    </a>
                </li>
                <li class="current">
                    <a href="#" class="nav-link">
                        <span>Andet menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Fjerde menupunkt</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 3: Main navigation end-->

    <!-- 5: Contextual actions-->
    <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
            <div class="nav-actions">
                <a href="#"
                    class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#print"></use></svg>Funktionsikon</a>
            </div>
        </div>
    </div>
    <!-- 5: Contextual actions end-->

    <div class="portal-info-mobile">
        <p class="user bold">Ida Ester Petersen</p>
        <a href="#"
            class="button button-secondary button-signout alert-leave">
            Log af
        </a>
    </div>

    <div class="solution-info-mobile">
        <p class="h5 authority-name">Myndighedsnavn</p>
        <p>Support: 12 34 56 78 · <a href="#"
                class="icon-link function-link alert-leave">Kontakt<svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#open-in-new"></use></svg></a>
        </p>
    </div>

</nav>