<div class="d-flex simple-icon-list">

    <div class="w-percent-50 w-percent-md-20 align-text-center">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#home"></use></svg>
    </div>

    <div class="w-percent-50 w-percent-md-20 align-text-center">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#search"></use></svg>
    </div>

    <div class="w-percent-50 w-percent-md-20 align-text-center">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#print"></use></svg>
    </div>

    <div class="w-percent-50 w-percent-md-20 align-text-center">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#save"></use></svg>
    </div>

    <div class="w-percent-50 w-percent-md-20 align-text-center">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#delete"></use></svg>
    </div>

</div>