<div class="form-group">
    <label class="form-label" for="hentetdata-virksomhed">Virksomhedsnavn</label>

    <span class="form-hint" id="hentetdata-virksomhed-hint">Data hentet fra CVR.dk</span>

    <div class="d-flex flex-column flex-sm-row align-items-sm-center">
        <input type="text" id="hentetdata-virksomhed" name="virksomhednavn"
            class="form-input input-width-s mr-3" value="Information som er hentet"
            aria-describedby="hentetdata-virksomhed-hint" readonly>
        <button type="button" class="function-link mt-2"
            id="hentetdata-rediger"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#mode"></use></svg>Rediger</button>
    </div>
</div>
<!-- JavaScript til rediger-knappen følger ikke med -->