<footer>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen">
                <li><a href="?lang=da" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li>

                    <span class="tooltip-wrapper" data-tooltip="Engelsk"
                        data-tooltip-id="language-tooltip-2" data-position="above"
                        data-trigger="hover">
                        <a href="?lang=en-GB" lang="en-GB" class="tooltip-target">English</a>
                    </span>
                </li>
                <li>

                    <span class="tooltip-wrapper" data-tooltip="Tysk"
                        data-tooltip-id="language-tooltip-3" data-position="above"
                        data-trigger="hover">
                        <a href="?lang=de" lang="de" class="tooltip-target">Deutsch</a>
                    </span>
                </li>
                <li>

                    <span class="tooltip-wrapper" data-tooltip="Polsk"
                        data-tooltip-id="language-tooltip-4" data-position="above"
                        data-trigger="hover">
                        <a href="?lang=pl" lang="pl" class="tooltip-target">Polski</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

</footer>