<footer>

    <div class="language-switcher">
        <div class="container">
            <ul aria-label="Vælg sprog fra listen">
                <li><a href="?lang=da" lang="da"
                        aria-label="Valgt sprog: Dansk"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                </li>
                <li><a href="?lang=en-GB" lang="en-GB" class="js-tooltip"
                        data-tooltip="Engelsk">English</a></li>
                <li><a href="?lang=de" lang="de" class="js-tooltip"
                        data-tooltip="Tysk">Deutsch</a></li>
                <li><a href="?lang=pl" lang="pl" class="js-tooltip"
                        data-tooltip="Polsk">Polski</a></li>
            </ul>
        </div>
    </div>

</footer>