<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <p class="h4">Punktopstilling</p>
        <ul>

            <li>Unordered list</li>

            <li>Unordered list</li>

            <li>Unordered list</li>

            <li>Unordered list</li>

        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <p class="h4">Tegnopstilling</p>
        <ol>
            <li>Ordered list</li>
            <li>Ordered list</li>
            <li>Ordered list</li>
            <li>Ordered list</li>
        </ol>
    </div>
</div>