<header class="header">
    <a class="skipnav" href="#main">Gå til sidens indhold</a>

    <!--1A: Portal header -->
    <div class="portal-header ">
        <div class="container portal-header-inner">
            <a href="#" class="logo ">
                <span class="sr-only">Portalnavn</span>
            </a>
            <button
                class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="menu"
                title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <!-- 1B: Portal header: info + actions-->
            <div class="portal-info">

                <button class="button button-secondary d-print-none">
                    Log på
                </button>
            </div>
        </div>
    </div>

    <!--2A: Solution header -->
    <div class="solution-header ">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#" class="">
                    En langt længere løsningstitel
                </a>
            </div>

            <!--2B: Solution header: Authority name + text-->
            <div class="solution-info ">
                <!-- nav-secondary -->

                <p class="h5 authority-name"> Myndighedsnavn</p>

                <p>Support: 12 34 56 78</p>

            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <nav class=" nav">
        <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close"
            title="Luk mobil menu"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>

        <div class="portal-info-mobile">
            <p class="user bold">Lone Hansen</p>
            <a href="#" class="button button-secondary button-signout">
                Log af
            </a>
        </div>

        <div class="solution-info-mobile">
            <p class="bold">Myndighedsnavn</p>
            <p>Support: 12 34 56 78</p>
        </div>

    </nav> <!-- collapsible nav end-->
</header>
<main class="container page-container" id="main">

    <div class="alert alert-info alert--show-icon">
        <div class="alert-body">
            <p class="alert-heading">Hvis andre har adgang til denne
                computer, smartphone eller tablet, skal du:</p>
            <p class="alert-text">
            <ul>
                <li>lukke internetbrowseren helt ned - ikke kun fanebladet,
                    eller</li>
                <li>slette internetbrowserens midlertidige filer.</li>
            </ul>
            </p>
        </div>
    </div>

    <h1>Du er logget af</h1>
    <p>Dine indtastede data er gemt til næste gang, du logger på.</p>
    <p>Du kan logge på igen på knappen herunder.</p>
    <button class="button button-primary mt-5">Log på igen</button>
</main>

<footer>
    <div class="footer">
        <div class="container">
            <ul class="align-text-left unstyled-list inline-list">
                <li class=""><span
                        class="h5 weight-semibold">Digitaliseringsstyrelsen</span>
                </li>
                <li class=""><a href="mailto:support@myndighed.dk"
                        class="function-link"
                        title="Skriv til Digitaliseringsstyrelsen">support@myndighed.dk</a>
                </li>
                <li class=""><a href="tel:+4512345678"
                        class="function-link"
                        title="Ring til Digitaliseringsstyrelsen">(+45) 12
                        34 56 78</a></li>
                <li class="d-print-none"><a href="#"
                        class="function-link icon-link">Tilgængelighedserklæring<svg class="icon-svg" focusable=">false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a>
                </li>
                <li class="d-print-none"><a href="#"
                        class="function-link">Privatlivspolitik
                        (cookies)</a></li>
            </ul>
        </div>
    </div>

</footer>