<div class="fds-modal" id="modal-example" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-example-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-example-title">
                Lorem ipsum
            </h2>
            <button class="modal-close function-link"
                data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent sodales turpis nec tincidunt dictum. Aliquam
                hendrerit nunc nec arcu lobortis fringilla. Sed nulla
                lectus, mollis eget rhoncus sed, porta eu ipsum.</p>
            <p>Cras eleifend elementum finibus. Mauris ac magna quis orci
                dapibus suscipit. Vestibulum accumsan turpis diam, ut
                pretium quam sollicitudin sed. Pellentesque posuere eget
                tortor quis imperdiet. Pellentesque gravida, enim vel
                porttitor sagittis, libero neque efficitur justo, nec
                gravida orci risus consequat lacus.</p>
        </div>

        <div class="modal-footer">
            <button class="button button-primary" data-module="modal"
                data-target="modal-example-locked">Primær
                knap</button><button
                class="button button-secondary">Sekundær knap</button>
        </div>

    </div>
</div>

<button class="button button-tertiary" data-module="modal"
    data-target="modal-example">
    Åbn modal
</button>