<div class="container pt-6 align-text-right">

    <div class="overflow-menu overflow-menu--open-left">
        <button class="button-overflow-menu js-dropdown"
            data-js-target="overflow2" aria-haspopup="true"
            aria-expanded="false">
            Overflow menu
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#more-vert"></use></svg>
        </button>
        <div class="overflow-menu-inner" id="overflow2" aria-hidden="true">

            <ul class='overflow-list'>
                <li><button>Mulighed 1</button></li>
                <li><button>Mulighed 2</button></li>
                <li><a href='#'>Mulighed 3 er et link</a></li>
                <li><button>Mulighed 4 er en længere tekst</button></li>
            </ul>

        </div>
    </div>

</div>