<div class="overflow-menu overflow-menu--open-right">
    <button class="button-overflow-menu js-dropdown" data-js-target="overflow1"
        aria-expanded="false" aria-controls="overflow1">
        Overflow menu
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#more-vert"></use></svg>
    </button>
    <div class="overflow-menu-inner collapsed" id="overflow1">
        <ul class='overflow-list'>
            <li><button>Mulighed 1</button></li>
            <li><button>Mulighed 2</button></li>
            <li><a href='#'>Mulighed 3 er et link</a></li>
            <li><button>Mulighed 4 er en længere tekst</button></li>
        </ul>
    </div>
</div>