<div class="pagination">
    <button
        class="button button-arrow button-previous"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
        Forrige side</button>
    <div class="pagination__dropdown">
        <label for="pagination-dropdown" class="sr-only">Viste side</label>
        <select class="pagination-dropdown" name="pagination-dropdown"
            id="pagination-dropdown">

            <option value=selected>1</option>

            <option value=page2>2</option>

            <option value=page3>3</option>

            <option value=page4>4</option>

            <option value=page5>5</option>

            <option value=page6>6</option>

            <option value=page7>7</option>

        </select>
        <span>af 7</span>
    </div>
    <ul class="pagination__items">

        <li class="pagination-item pagination-number">
            <span class="current-page">1</span>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">2</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">3</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">4</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">5</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">6</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">7</button>
        </li>

    </ul>
    <button class="button button-arrow button-next">Næste side
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg></button>
</div>

<div class="pagination">
    <button
        class="button button-arrow button-previous"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
        Forrige side</button>
    <div class="pagination__dropdown">
        <label for="pagination-dropdown" class="sr-only">Viste side</label>
        <select class="pagination-dropdown" name="pagination-dropdown"
            id="pagination-dropdown">

            <option value=page1>1</option>

            <option value=page2>2</option>

            <option value=page3>3</option>

            <option value=page3 selected>4</option>

            <option value=page5>5</option>

            <option value=page6>6</option>

            <option value=page7>7</option>

        </select>
        <span>af 7</span>
    </div>
    <ul class="pagination__items">

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">1</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">2</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">3</button>
        </li>

        <li class="pagination-item pagination-number">
            <span class="current-page">4</span>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">5</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">6</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">7</button>
        </li>

    </ul>
    <button class="button button-arrow button-next">Næste side
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg></button>
</div>

<div class="pagination">
    <button
        class="button button-arrow button-previous"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-left"></use></svg>
        Forrige side</button>
    <div class="pagination__dropdown">
        <label for="pagination-dropdown" class="sr-only">Viste side</label>
        <select class="pagination-dropdown" name="pagination-dropdown"
            id="pagination-dropdown">

            <option value=page1>1</option>

            <option value=page2>2</option>

            <option value=page3>3</option>

            <option value=page4>4</option>

            <option value=page5>5</option>

            <option value=page6>6</option>

            <option value=page6 selected>7</option>

        </select>
        <span>af 7</span>
    </div>
    <ul class="pagination__items">

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">1</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">2</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">3</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">4</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">5</button>
        </li>

        <li class="pagination-item pagination-number">
            <button class="button button-secondary">6</button>
        </li>

        <li class="pagination-item pagination-number">
            <span class="current-page">7</span>
        </li>

    </ul>
    <button class="button button-arrow button-next">Næste side
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg></button>
</div>