<div class="form-group
        
        
         js-radio-toggle-group">
    <fieldset role="radiogroup">
        <legend class="form-label">
            Vælg en radioknap

        </legend>

        <div class="form-group-radio
    ">

            <input type="radio" id="radiogroup-collapse-option1" name="radio-collapse" class="form-radio
             radio-large
            " value="1" checked data-controls="#radiogroup-collapse-option1-collapse" data-expanded="true">

            <label class="form-label" for="radiogroup-collapse-option1">
                Radioknap viser indhold

                <span class="sr-only"> Udfyld informationer herunder</span>
            </label>

        </div>

        <div id="radiogroup-collapse-option1-collapse" aria-hidden="false" class="radio-content">

            <div class="form-group
        
        
        ">

                <label class="form-label" for="textinput1">
                    Inputfelt med label

                </label>

                <input type="text" id="textinput1" name="text1" class="form-input input-width-m" required>

            </div>

        </div>

        <div class="form-group-radio
    ">

            <input type="radio" id="radiogroup-collapse-option2" name="radio-collapse" class="form-radio
             radio-large
            " value="2" data-controls="#radiogroup-collapse-option2-collapse" data-expanded="false">

            <label class="form-label" for="radiogroup-collapse-option2">
                Radioknap viser andet indhold

                <span class="sr-only"> Udfyld informationer herunder</span>
            </label>

        </div>

        <div id="radiogroup-collapse-option2-collapse" aria-hidden="true" class="radio-content">

            <div class="form-group
        
        
        ">

                <label class="form-label" for="textinput2">
                    Inputfelt med anden label

                </label>

                <input type="text" id="textinput2" name="text2" class="form-input input-width-m" required>

            </div>

        </div>

    </fieldset>
</div>