<div class="form-group">
    <fieldset>
        <legend class="form-label">Radioknap med hjælpetekst</legend>

        <div class="form-group-radio">
            <input id="radio-helptext-1" type="radio" name="radio-helptext"
                value="v1"
                aria-labelledby="form-label-radio-helptext-1 helptext-radio-helptext-1"
                class="form-radio  radio-large " />
            <label for="radio-helptext-1" id="form-label-radio-helptext-1"
                class="">Valg 1 </label>
            <span class="form-hint" id="helptext-radio-helptext-1">Dette er
                en hjælpetekst</span>
        </div>

        <div class="form-group-radio">
            <input id="radio-helptext-2" type="radio" name="radio-helptext"
                value="v2"
                aria-labelledby="form-label-radio-helptext-2 helptext-radio-helptext-2"
                class="form-radio  radio-large " />
            <label for="radio-helptext-2" id="form-label-radio-helptext-2"
                class="">Valg 2 </label>
            <span class="form-hint" id="helptext-radio-helptext-2">Dette er
                en hjælpetekst</span>
        </div>

    </fieldset>
</div>