<div class="form-group">
    <fieldset aria-labelledby="radio-small-legend">

        <legend class="form-label" id="radio-small-legend">Lille radioknap</legend>

        <div class="form-group-radio">
            <input type="radio" id="radiogroup-small-option1" name="radio-small"
                class="form-radio" value="v1">
            <label class="form-label" for="radiogroup-small-option1">Valg 1</label>

        </div>

        <div class="form-group-radio">
            <input type="radio" id="radiogroup-small-option2" name="radio-small"
                class="form-radio" value="v2">
            <label class="form-label" for="radiogroup-small-option2">Valg 2</label>

        </div>

    </fieldset>
</div>