<div class="form-group">
    <fieldset>
        <legend class="form-label">Stor radioknap (anbefalet)</legend>

        <div class="form-group-radio">
            <input id="largeradio1" type="radio" name="largeradio"
                value="1" class="form-radio  radio-large " />
            <label for="largeradio1" id="form-label-largeradio1"
                class="">Valg 1 </label>

        </div>

        <div class="form-group-radio">
            <input id="largeradio2" type="radio" name="largeradio"
                value="0" class="form-radio  radio-large " />
            <label for="largeradio2" id="form-label-largeradio2"
                class="">Valg 2 </label>

        </div>

    </fieldset>
</div>