<div class="form-group">
    <fieldset>
        <legend class="form-label">Lille radioknap</legend>
        <ul class="nobullet-list">
            <li>
                <input id="smallradio1" type="radio" name="smallradio"
                    value="1" class="form-radio  " />
                <label for="smallradio1" id="form-label-smallradio1"
                    class="">Valg 1 </label>

            </li>
            <li>
                <input id="smallradio2" type="radio" name="smallradio"
                    value="0" class="form-radio  " />
                <label for="smallradio2" id="form-label-smallradio2"
                    class="">Valg 2 </label>

            </li>
        </ul>
    </fieldset>
</div>