<div class="form-group js-radio-toggle-group" id="radiogroup">
    <fieldset>
        <legend class="form-label">Vælg en radioknap</legend>
        <ul class="nobullet-list">
            <li>
                <div class="form-group-radio">
                    <input type="radio" id="radio-collapse-1" name="radiogroup-collapse" value="1" class="form-radio" checked data-controls="#radio-collapse-1-collapse" data-expanded="true">
                    <label class="form-label" for="radio-collapse-1" id="radio-collapse-1-form-label">Radioknap viser indhold<span class="sr-only"> Udfyld informationer herunder</span></label>
                </div>
                <div id="radio-collapse-1-collapse" aria-hidden="false" class="radio-content">

                    <div class="form-group">
                        <label class="form-label" for="textinput1">Inputfelt med label</label>

                        <input class="form-input input-width-m" id="textinput1" name="text1" type="text">

                    </div>

                </div>
            </li>
            <li>
                <div class="form-group-radio">
                    <input type="radio" id="radio-collapse-2" name="radiogroup-collapse" value="2" class="form-radio" data-controls="#radio-collapse-2-collapse" data-expanded="false">
                    <label class="form-label" for="radio-collapse-2" id="radio-collapse-2-form-label">Radioknap viser andet indhold<span class="sr-only"> Udfyld informationer herunder</span></label>
                </div>
                <div id="radio-collapse-2-collapse" aria-hidden="true" class="radio-content">

                    <div class="form-group">
                        <label class="form-label" for="textinput2">Inputfelt med anden label</label>

                        <input class="form-input input-width-m" id="textinput2" name="text2" type="text">

                    </div>

                </div>
            </li>
        </ul>
    </fieldset>
</div>