<div class="form-group form-error">
    <fieldset>
        <legend class="h5">Radioknap med fejl</legend>
        <span class="form-error-message" role="alert">Hjælpsom
            fejlbesked</span>
        <ul class="nobullet-list">
            <li>
                <input id="[object Object]" type="radio" name="" value=""
                    class="form-radio   " />
                <label for="[object Object]"
                    id="form-label-[object Object]" class=""> </label>

            </li>
            <li>
                <input id="[object Object]" type="radio" name="" value=""
                    class="form-radio   " />
                <label for="[object Object]"
                    id="form-label-[object Object]" class=""> </label>

            </li>
            <li>
                <input id="[object Object]" type="radio" name="" value=""
                    class="form-radio   " />
                <label for="[object Object]"
                    id="form-label-[object Object]" class=""> </label>

            </li>
        </ul>
    </fieldset>
</div>