<div class="form-group">
    <fieldset>
        <legend class="h5">Liste med radioknapper</legend>
        <ul class="nobullet-list">
            <li>
                <input id="[object Object]" type="radio" name="" value=""
                    class="form-radio   " />
                <label for="[object Object]"
                    id="form-label-[object Object]" class=""> </label>

            </li>
            <li>
                <input id="[object Object]" type="radio" name="" value=""
                    class="form-radio   " />
                <label for="[object Object]"
                    id="form-label-[object Object]" class=""> </label>

            </li>
        </ul>
    </fieldset>
</div>