<div class="form-group
        
        
        ">
    <fieldset>
        <legend class="form-label">
            Radioknapper med hjælpetekst

        </legend>

        <div class="form-group-radio
    ">

            <input type="radio" id="radiogroup-helptext-option1" name="radio-helptext" class="form-radio
             radio-large
            " value="v1" aria-describedby="radiogroup-helptext-option1-hint">

            <label class="form-label" for="radiogroup-helptext-option1">
                Valg 1

            </label>

            <span class="form-hint" id="radiogroup-helptext-option1-hint">Dette er en hjælpetekst</span>

        </div>

        <div class="form-group-radio
    ">

            <input type="radio" id="radiogroup-helptext-option2" name="radio-helptext" class="form-radio
             radio-large
            " value="v2" aria-describedby="radiogroup-helptext-option2-hint">

            <label class="form-label" for="radiogroup-helptext-option2">
                Valg 2

            </label>

            <span class="form-hint" id="radiogroup-helptext-option2-hint">Dette er en hjælpetekst</span>

        </div>

    </fieldset>
</div>