<div class="form-group form-error">
    <fieldset aria-describedby="example-radiobutton-error">
        <legend class="form-label">Radioknap med fejl</legend>
        <span class="form-error-message"
            id="example-radiobutton-error"><span
                class="sr-only">Fejl:</span> Hjælpsom fejlmeddelelse</span>

        <div class="form-group-radio">
            <input id="weekly" type="radio" name="often-pay" value="weekly"
                class="form-radio  radio-large " />
            <label for="weekly" id="form-label-weekly" class="">Ugentligt
            </label>

        </div>

        <div class="form-group-radio">
            <input id="fortnightly" type="radio" name="often-pay"
                value="fortnightly" class="form-radio  radio-large " />
            <label for="fortnightly" id="form-label-fortnightly"
                class="">Hver fjortende dag </label>

        </div>

        <div class="form-group-radio">
            <input id="monthly" type="radio" name="often-pay"
                value="monthly" class="form-radio  radio-large " />
            <label for="monthly" id="form-label-monthly" class="">Månedligt
            </label>

        </div>

    </fieldset>
</div>