<div class="form-group search">
    <label for="input-type-text" class="sr-only">Søg efter indhold</label>
    <input class="form-input input-char-27" id="input-type-text"
        name="search-button" type="search">
    <button class="button button-search">
        Søg
    </button>
</div>

<div class="form-group search">
    <label for="input-type-text-icon" class="sr-only">Søg efter
        indhold</label>
    <input class="form-input input-char-27" id="input-type-text-icon"
        name="search-icon" type="search">
    <button class="button button-search">
        <svg class="icon-svg m-0" aria-hidden="true"><use xlink:href="#search"></use></svg><span
            class="sr-only">Søg</span>
    </button>
</div>