<div class="row">
    <div class="col-12 col-md-6">
        <h3 class="h5">Modalvindue</h3>
        <p class="form-hint">Skygge, der bruges på modalvinduer.</p>
        <div class="heavy-shadow-example"></div>
    </div>
    <div class="col-12 col-md-6">
        <figure class="highlight">
            <pre><code class="language-scss" data-lang="scss">box-shadow: 0 8px 16px 0 rgba(#000, 0.3);</code></pre>
        </figure>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 col-md-6">
        <h3 class="h5">Overflow menu</h3>
        <p class="form-hint">Skygge, der bruges på overflow menuer</p>
        <div class="moderately-shadow-example"></div>
    </div>
    <div class="col-12 col-md-6">
        <figure class="highlight">
            <pre><code class="language-scss" data-lang="scss">box-shadow: 0 4px 8px 0 rgba(#000, 0.3);</code></pre>
        </figure>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 col-md-6">
        <h3 class="h5">Cards</h3>
        <p class="form-hint">Skygge, der bruges på cards</p>
        <div class="slightly-shadow-example"></div>
    </div>
    <div class="col-12 col-md-6">
        <figure class="highlight">
            <pre><code class="language-scss" data-lang="scss">box-shadow: 0 2px 4px 0 rgba(#000, 0.3);</code></pre>
        </figure>
    </div>
</div>