<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="h5 mt-md-0">Modalvindue</p>
            <p class="form-hint">Skygge, der bruges på modalvinduer.</p>
            <div class="heavy-shadow-example"></div>
        </div>
        <div class="col-12 col-md-6">
            <pre>box-shadow: 0 8px 16px 0 rgba(#000, 0.3);</pre>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <p class="h5 mt-6 mt-md-0">Overflowmenu</p>
            <p class="form-hint">Skygge, der bruges på overflow menuer</p>
            <div class="moderately-shadow-example"></div>
        </div>
        <div class="col-12 col-md-6">
            <pre>box-shadow: 0 4px 8px 0 rgba(#000, 0.3);</pre>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <p class="h5 mt-6 mt-md-0">Cards</p>
            <p class="form-hint">Skygge, der bruges på cards</p>
            <div class="slightly-shadow-example"></div>
        </div>
        <div class="col-12 col-md-6">
            <pre>box-shadow: 0 2px 4px 0 rgba(#000, 0.3);</pre>
        </div>
    </div>
</div>