<nav>
    <ul class="sidenav-list" role="menu">

        <li role="none">
            <a href="#" role="menuitem">
                <div>Hovedside <span class="sidenav-information">Informationstekst for parent link</span></div>
            </a>

        </li>
        <li class="current  " role="none">
            <a href="#" role="menuitem">
                <div>Hovedside <span class="sidenav-information">Informationstekst for current link</span></div>
            </a>
            <ul class="sidenav-sub_list" role="menu">

                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Underside</div>
                    </a>

                </li>
                <li class="current  " role="none">
                    <a href="#" role="menuitem">
                        <div>Underside</div>
                    </a>
                    <ul class="sidenav-sub_list" role="menu">

                        <li role="none">
                            <a href="#" role="menuitem">
                                <div>Underside</div>
                            </a>

                        </li>
                        <li role="none">
                            <a href="#" role="menuitem">
                                <div>Underside</div>
                            </a>

                        </li>
                        <li class=" active " role="none">
                            <a href="#" role="menuitem" aria-current="page">
                                <div>Underside</div>
                            </a>

                        </li>
                        <li role="none">
                            <a href="#" role="menuitem">
                                <div>Underside</div>
                            </a>

                        </li>
                    </ul>

                </li>
                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Underside</div>
                    </a>

                </li>
                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Underside</div>
                    </a>

                </li>
                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Underside</div>
                    </a>

                </li>
            </ul>

        </li>
        <li role="none">
            <a href="#" role="menuitem">
                <div>Hovedside <span class="sidenav-information">Informationstekst for another link</span></div>
            </a>

        </li>

    </ul>
</nav>