<nav>
    <ul class="sidenav-list">

        <li>
            <a href="#">
                <div>Hovedside <span class="sidenav-information">Informationstekst for parent link</span></div>
            </a>

        </li>
        <li class="current  ">
            <a href="#">
                <div>Hovedside <span class="sidenav-information">Informationstekst for current link</span></div>
            </a>
            <ul class="sidenav-sub_list">

                <li>
                    <a href="#">
                        <div>Underside</div>
                    </a>

                </li>
                <li class=" active ">
                    <a href="#" aria-current="page">
                        <div>Underside</div>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <div>Underside</div>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <div>Underside</div>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <div>Underside</div>
                    </a>

                </li>
            </ul>

        </li>
        <li>
            <a href="#">
                <div>Hovedside <span class="sidenav-information">Informationstekst for another link</span></div>
            </a>

        </li>

    </ul>
</nav>