<div class="container mt-6 mb-6">
    <nav>
        <ul class="sidenav-list">

            <li class="   ">
                <a href="">

                    Hovedside

                    <span class="sidenav-information">Informationstekst for
                        parent link</span>

                </a>

            </li>

            <li class="current active  ">
                <a href="">

                    Hovedside

                    <span class="sidenav-information">Informationstekst for
                        current link</span>

                </a>

            </li>

            <li class="   ">
                <a href="">

                    Hovedside

                    <span class="sidenav-information">Informationstekst for
                        another link</span>

                </a>

            </li>

        </ul>
    </nav>
</div>