<nav>
    <ul class="sidenav-list" role="menu">

        <li role="none">
            <a href="#" role="menuitem">
                Hovedside
            </a>

        </li>
        <li class="current  active " role="none">
            <a href="#" role="menuitem" aria-current="true" aria-current="page">
                Hovedside
            </a>

        </li>
        <li role="none">
            <a href="#" role="menuitem">
                Hovedside
            </a>

        </li>

    </ul>
</nav>