<nav>
    <ul class="sidenav-list" role="menu">

        <li role="none">
            <a href="#" role="menuitem">
                <div>Hovedside</div>
            </a>

        </li>
        <li class="current  active  has-anchor-links" role="none">
            <a href="#" role="menuitem" aria-current="page">
                <div>Hovedside</div>
            </a>
            <ul class="sidenav-sub_list" role="menu">

                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Anchor link</div>
                    </a>

                </li>
                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Anchor link</div>
                    </a>

                </li>
            </ul>
            <ul class="sidenav-sub_list" role="menu">

                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Anchor link</div>
                    </a>

                </li>
                <li role="none">
                    <a href="#" role="menuitem">
                        <div>Anchor link</div>
                    </a>

                </li>
            </ul>
        </li>
    </ul>
</nav>