<div class="container mt-6 mb-6">
    <nav>
        <ul class="sidenav-list">

            <li class="   ">
                <a href="">

                    Hovedside

                    <span class="sidenav-information">Informationstekst for
                        parent link</span>

                </a>

            </li>

            <li class="current   ">
                <a href="">

                    Hovedside

                    <span class="sidenav-information">Informationstekst for
                        current link</span>

                </a>

                <ul class="sidenav-sub_list">

                    <li class="   ">
                        <a href="">

                            Underside

                        </a>

                    </li>

                    <li class=" active  ">
                        <a href="">

                            Underside

                        </a>

                    </li>

                    <li class="   ">
                        <a href="">

                            Underside

                        </a>

                    </li>

                    <li class="   ">
                        <a href="">

                            Underside

                        </a>

                    </li>

                    <li class="   ">
                        <a href="">

                            Underside

                        </a>

                    </li>

                </ul>

            </li>

            <li class="   ">
                <a href="">

                    Hovedside

                    <span class="sidenav-information">Informationstekst for
                        another link</span>

                </a>

            </li>

        </ul>
    </nav>
</div>