<nav>
    <ul class="sidemenu">

        <li>
            <a href="#" class="nav-link">
                <div>Hovedside<span class="sidenav-information">Informationstekst for parent
                        link</span></div>
            </a>

        </li>

        <li class="active current">
            <a href="#" class="nav-link" aria-current="page">
                <div>Hovedside<span class="sidenav-information">Informationstekst for current
                        link</span></div>
            </a>
            <ul>

                <li>
                    <a href="#" class="nav-link">
                        <div>Underside</div>
                    </a>

                </li>

                <li>
                    <a href="#" class="nav-link">
                        <div>Underside</div>
                    </a>

                </li>

                <li>
                    <a href="#" class="nav-link">
                        <div>Underside</div>
                    </a>

                </li>

                <li>
                    <a href="#" class="nav-link">
                        <div>Underside</div>
                    </a>

                </li>

                <li>
                    <a href="#" class="nav-link">
                        <div>Underside</div>
                    </a>

                </li>

            </ul>
        </li>

        <li>
            <a href="#" class="nav-link">
                <div>Hovedside<span class="sidenav-information">Informationstekst for another
                        link</span></div>
            </a>

        </li>

    </ul>
</nav>