<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Sidenavigation-do.svg" alt="Eksempel på, hvordan en sidenavigation kan se ud" /></div>
        <p><strong>Sådan:</strong> Sørg for, at navigationsmenuer tydeligt viser brugerne, hvor de er på sitet, hvor de kan gå hen, og hvor de har været. Det indebærer, at et menupunkt kan have tre stadier: (1) Ikke fremhævet, men klikbart, (2) fremhævet, men ikke klikbart samt (3) fremhævet og klikbart (Powazek, 2006).</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Sidenavigation-dont.svg" alt="Eksempel på, hvordan en sidenavigation ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Lad ikke brugerne være forvirrede over, hvor de er i webstedets hierarki.</p>
    </div>
</div>
