<div class="overflow-menu overflow-menu--sort overflow-menu--open-right"
    id="overflow-sort-example">
    <button class="button-overflow-menu" data-js-target="overflow-sort-example-panel"
        aria-expanded="false" aria-controls="overflow-sort-example-panel">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#sort-default"></use></svg>Sortér:<span
            class="selected-value"></span>
    </button>
    <div class="overflow-menu-inner" id="overflow-sort-example-panel" aria-hidden="true">
        <ul class='overflow-list'>
            <li>
                <button id="newfirst" aria-current="true">Nyeste først</button>
            </li>
            <li>
                <button id="oldfirst">Ældste først</button>
            </li>
            <li>
                <button id="affaldstype-asc">Affaldstype (A-Å)</button>
            </li>
            <li>
                <button id="affaldstype-desc">Affaldstype (Å-A)</button>
            </li>
        </ul>
    </div>
</div>