<div class="table--responsive-scroll" tabindex="0">
    <table class="table structured-list table-sm-responsive-headers">
        <tbody>
            <tr>
                <th scope="row" class="w-percent-md-30">Navn</th>
                <td>Kirsten Mønster Jensen</td>
            </tr>
            <tr>
                <th scope="row" class="w-percent-md-30">Sagsnummer</th>
                <td>123.456</td>
            </tr>
            <tr>
                <th scope="row" class="w-percent-md-30">Dato</th>
                <td>04/05/2011</td>
            </tr>
            <tr>
                <th scope="row" class="w-percent-md-30">Beskrivelse</th>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. </td>
            </tr>
        </tbody>
    </table>
</div>