<div class="container">

    <div class="row row-bordered no-gutters py-3">
        <div class="col-md-4 weight-semibold">
            Navn
        </div>
        <div class="col-md-8">
            Kirsten Mønster Jensen
        </div>
    </div>

    <div class="row row-bordered no-gutters py-3">
        <div class="col-md-4 weight-semibold">
            Sagsnummer
        </div>
        <div class="col-md-8">
            123.456
        </div>
    </div>

    <div class="row row-bordered no-gutters py-3">
        <div class="col-md-4 weight-semibold">
            Dato
        </div>
        <div class="col-md-8">
            04/05/2011
        </div>
    </div>

    <div class="row row-bordered no-gutters py-3">
        <div class="col-md-4 weight-semibold">
            Beskrivelse
        </div>
        <div class="col-md-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
    </div>

</div>