<div class="table--responsive-scroll">
    <table class="table structured-list table-sm-responsive-headers">
        <tbody>
            <tr>
                <th scope="row">Navn</th>
                <td>Kirsten Mønster Jensen</td>
                <td class="d-print-none align-text-md-right"><a href="#">Redigér<span
                            class="sr-only"> navn</span></a></td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td>kirstenjensen@eksempel.dk</td>
                <td class="d-print-none align-text-md-right"><a href="#">Redigér<span
                            class="sr-only"> e-mail</span></a></td>
            </tr>
            <tr>
                <th scope="row">Telefonnummer</th>
                <td>12 34 56 78</td>
                <td class="d-print-none align-text-md-right"><a href="#">Redigér<span
                            class="sr-only"> telefonnummer</span></a></td>
            </tr>
        </tbody>
    </table>
</div>