<div class="container">
    <div class="row row-bordered no-gutters">
        <div class="col-12 col-md-4 weight-semibold">
            Navn
        </div>
        <div class="col-12 col-md-6">
            Kirsten Mønster Jensen
        </div>
        <div class="col-12 col-md-2 align-text-md-right">
            <a href="#">Redigér<span class="sr-only"> navn</span></a>
        </div>
    </div>
    <div class="row row-bordered no-gutters">
        <div class="col-12 col-md-4 weight-semibold">
            E-mail
        </div>
        <div class="col-12 col-md-6">
            kirstenjensen@eksempel.dk
        </div>
        <div class="col-12 col-md-2 align-text-md-right">
            <a href="#">Redigér<span class="sr-only"> e-mail</span></a>
        </div>
    </div>
    <div class="row row-bordered no-gutters">
        <div class="col-12 col-md-4 weight-semibold">
            Telefonnummer
        </div>
        <div class="col-12 col-md-6">
            12 34 56 78
        </div>
        <div class="col-12 col-md-2 align-text-md-right">
            <a href="#">Redigér<span class="sr-only"> telefonnummer</span></a>
        </div>
    </div>
</div>