<h3 class="mt-0">Normal</h3>

<div class="table--responsive-scroll">
    <table class="table">
        <thead>
            <tr>

                <th>Affaldstype
                </th>

                <th>Farvekode
                </th>

                <th>Beskrivelse
                </th>

                <th>Hvor ender det?
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Dagrenovation</td>

                <td>Grøn</td>

                <td>Madaffald, samt papir.</td>

                <td>Forbrændingen</td>

            </tr>

            <tr>
                <td>Bioaffald og kompost</td>

                <td>Beige</td>

                <td>Alt madaffald.</td>

                <td>Komposteret til muld</td>

            </tr>

            <tr>
                <td>Glas</td>

                <td>Hvid</td>

                <td>Alle typer glas.</td>

                <td>Vinhuse og nyt glas</td>

            </tr>

            <tr>
                <td>Elektronik</td>

                <td>Orange</td>

                <td>Genstande, der har brugt strøm.</td>

                <td>Demonteringsanlæg</td>

            </tr>

        </tbody>
    </table>
</div>

<h3>Kompakt</h3>

<div class="table--responsive-scroll">
    <table class="table table--compact">
        <thead>
            <tr>

                <th>Affaldstype
                </th>

                <th>Farvekode
                </th>

                <th>Beskrivelse
                </th>

                <th>Hvor ender det?
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Dagrenovation</td>

                <td>Grøn</td>

                <td>Madaffald, samt papir.</td>

                <td>Forbrændingen</td>

            </tr>

            <tr>
                <td>Bioaffald og kompost</td>

                <td>Beige</td>

                <td>Alt madaffald.</td>

                <td>Komposteret til muld</td>

            </tr>

            <tr>
                <td>Glas</td>

                <td>Hvid</td>

                <td>Alle typer glas.</td>

                <td>Vinhuse og nyt glas</td>

            </tr>

            <tr>
                <td>Elektronik</td>

                <td>Orange</td>

                <td>Genstande, der har brugt strøm.</td>

                <td>Demonteringsanlæg</td>

            </tr>

        </tbody>
    </table>
</div>

<h3>Ekstra kompakt</h3>

<div class="table--responsive-scroll">
    <table class="table table--extracompact">
        <thead>
            <tr>

                <th>Affaldstype
                </th>

                <th>Farvekode
                </th>

                <th>Beskrivelse
                </th>

                <th>Hvor ender det?
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Dagrenovation</td>

                <td>Grøn</td>

                <td>Madaffald, samt papir.</td>

                <td>Forbrændingen</td>

            </tr>

            <tr>
                <td>Bioaffald og kompost</td>

                <td>Beige</td>

                <td>Alt madaffald.</td>

                <td>Komposteret til muld</td>

            </tr>

            <tr>
                <td>Glas</td>

                <td>Hvid</td>

                <td>Alle typer glas.</td>

                <td>Vinhuse og nyt glas</td>

            </tr>

            <tr>
                <td>Elektronik</td>

                <td>Orange</td>

                <td>Genstande, der har brugt strøm.</td>

                <td>Demonteringsanlæg</td>

            </tr>

        </tbody>
    </table>
</div>