<div class="table--responsive-scroll">
    <table class="table table--selectable" id="selectable-table2">
        <thead>
            <tr>
                <th>
                    <input id="selectable-table2-check-33-all"
                        type="checkbox" class="form-checkbox"
                        aria-controls="selectable-table2-check-33-1 selectable-table2-check-33-2 selectable-table2-check-33-3 selectable-table2-check-33-4" />
                    <label for="selectable-table2-check-33-all"
                        aria-label="Vælg alle rækker"></label>
                </th>
                <th>Affaldstype</th>

                <th>Farvekode</th>

                <th>Beskrivelse</th>

                <th>Hvor ender det?</th>

            </tr>
        </thead>

        <tbody>

            <tr>
                <td>
                    <input id="selectable-table2-check-33-1"
                        type="checkbox" name="selectable-table2-check[]"
                        class="form-checkbox" value="Dagrenovation" />
                    <label for="selectable-table2-check-33-1"
                        aria-label="Vælg række"></label>
                </td>
                <td>Dagrenovation</td>

                <td>Grøn</td>

                <td>Madaffald, samt papir, pap eller plastik der ikke kan
                    genanvendes, fordi der er madrester eller andet snask
                    på.</td>

                <td>Alt det affald, du smider ud i din primære
                    skraldespand, som er dagrenovationen, bliver hentet og
                    kørt på forbrændingen.</td>

            </tr>

            <tr>
                <td>
                    <input id="selectable-table2-check-33-2"
                        type="checkbox" name="selectable-table2-check[]"
                        class="form-checkbox"
                        value="Bioaffald og kompost" />
                    <label for="selectable-table2-check-33-2"
                        aria-label="Vælg række"></label>
                </td>
                <td>Bioaffald og kompost</td>

                <td>Beige</td>

                <td>Alt madaffald uden fødevareemballage.</td>

                <td>Bioaffaldet kommes i bionedbrydelige poser, som bliver
                    komposteret til muld.</td>

            </tr>

            <tr>
                <td>
                    <input id="selectable-table2-check-33-3"
                        type="checkbox" name="selectable-table2-check[]"
                        class="form-checkbox" value="Glas" />
                    <label for="selectable-table2-check-33-3"
                        aria-label="Vælg række"></label>
                </td>
                <td>Glas</td>

                <td>Hvid</td>

                <td>Alle typer glas og flasker.</td>

                <td>De hele vinflasker rengøres og genbruges af vinhuse,
                    mens glasskårene bliver smeltet om til nyt glas.</td>

            </tr>

            <tr>
                <td>
                    <input id="selectable-table2-check-33-4"
                        type="checkbox" name="selectable-table2-check[]"
                        class="form-checkbox" value="Elektronik" />
                    <label for="selectable-table2-check-33-4"
                        aria-label="Vælg række"></label>
                </td>
                <td>Elektronik</td>

                <td>Orange</td>

                <td>Genstande der har brugt strøm.</td>

                <td>Det elektroniske affald bliver typisk kørt til et
                    demonteringsanlæg, hvor det bliver skilt ad, så de
                    forskellige dele kan genanvendes separat.</td>

            </tr>

        </tbody>
    </table>

    <div class="table-actions">
        <p class="table-selected-number no-selected">Vælg en eller flere
            rækker for at udføre funktioner</p>

        <button class="button button-primary">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#file-download"></use></svg>
            Download
        </button>

        <button class="button button-secondary">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#content-copy"></use></svg>
            Duplikér
        </button>

        <button class="button button-secondary">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#delete"></use></svg>
            Slet
        </button>

    </div>
</div>