<p aria-live="polite" aria-atomic="true" class="rows-message" id="table-pagination-message">
    Viser <strong class="displayed-rows">1-10</strong> af
    <strong class="total-rows">90</strong> rækker</p>
<div class="table--responsive-scroll">
    <table class="table table--selectable" id="table-pagination">
        <thead>
            <tr>
                <th>
                    <div class="form-group-checkbox">
                        <input id="table-pagination-check-all" type="checkbox"
                            class="form-checkbox"
                            aria-controls=" table-pagination-check-1 table-pagination-check-2 table-pagination-check-3">
                        <label for="table-pagination-check-all"><span class="sr-only">Vælg
                                alle rækker</span></label>
                    </div>
                </th>
                <th scope="col">Farve</th>
                <th scope="col">ID</th>
                <th scope="col">Beskrivelse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group-checkbox">
                        <input id="table-pagination-check-1" type="checkbox"
                            name="table-pagination-check[]" class="form-checkbox"
                            value="Grøn">
                        <label for="table-pagination-check-1"><span class="sr-only">Vælg
                                række</span></label>
                    </div>
                </td>
                <td>Grøn</td>
                <td>ASDF</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
            <tr>
                <td>
                    <div class="form-group-checkbox">
                        <input id="table-pagination-check-2" type="checkbox"
                            name="table-pagination-check[]" class="form-checkbox" value="Blå">
                        <label for="table-pagination-check-2"><span class="sr-only">Vælg
                                række</span></label>
                    </div>
                </td>
                <td>Blå</td>
                <td>GHJK</td>
                <td>Cras pellentesque sapien eu ante consequat pellentesque.</td>
            </tr>
            <tr>
                <td>
                    <div class="form-group-checkbox">
                        <input id="table-pagination-check-3" type="checkbox"
                            name="table-pagination-check[]" class="form-checkbox" value="Rød">
                        <label for="table-pagination-check-3"><span class="sr-only">Vælg
                                række</span></label>
                    </div>
                </td>
                <td>Rød</td>
                <td>YUIO</td>
                <td>Curabitur vel augue et felis aliquam dictum at a risus.</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-pagination-options">

    <div class="form-group">
        <label class="form-label" for="pagination-pages">Vis rækker per side:</label>

        <select class="form-select" name="pagination-pages" id="pagination-pages">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="all">Alle</option>
        </select>
    </div>

    <div role="group" class="table-pagination" aria-label="Skift side i tabellen">
        <button
            class="button button-arrow button-first hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                class="sr-only">Første side</span></button>
        <button class="button button-arrow button-previous hidden" aria-label="Forrige side">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                class="pagination-nav-link">Forrige</span>
        </button>
        <span class="pagination-mobile">Side 1 af 9</span>
        <ul class="pagination__items">

            <li class="pagination-item pagination-number">
                <button class="button current-page" aria-label='Side 1'
                    aria-current="true">1</button>
            </li>

            <li class="pagination-item pagination-number">
                <button class="button button-secondary" aria-label='Side 2'>2</button>
            </li>

            <li class="pagination-item pagination-number">
                <button class="button button-secondary" aria-label='Side 3'>3</button>
            </li>

            <li class="pagination-item pagination-number">
                <button class="button button-secondary" aria-label='Side 4'>4</button>
            </li>

            <li class="pagination-item pagination-number">
                <button class="button button-secondary" aria-label='Side 5'>5</button>
            </li>

            <li class="pagination-item pagination-overflow">
                <span class="sr-only">Prikker som indikerer skjulte
                    sider</span><span>...</span>
            </li>
            <li class="pagination-item pagination-number">
                <button class="button button-secondary"
                    aria-label='Sidste side, side 9'>9</button>
            </li>
        </ul>
        <button class="button button-arrow button-next" aria-label="Næste side">
            <span
                class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
        </button>
        <button
            class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                class="sr-only">Sidste side</span></button>
    </div>

</div>
<div class="table-actions">
    <p class="table-selected-number no-selected mb-0">Vælg en eller flere rækker</p>
</div>