<div class="table--responsive-scroll">
    <table class="table" id="sortingTable">
        <thead>
            <tr>

                <th class="table-header-no-wrap" aria-sort="ascending">
                    Affaldstype<button class="button button-unstyled ml-2"
                        id="btn-sort-by-affaldstype" type="button">
                        <svg class="icon-svg mr-0" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-ascending"></use></svg>
                        <span class="sr-only">Sortér faldende efter
                            Affaldstype</span>
                    </button>
                </th>

                <th class="table-header-no-wrap">Farvekode
                    <button class="button button-unstyled ml-2"
                        id="btn-sort-by-farvekode" type="button">
                        <svg class="icon-svg mr-0" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-none"></use></svg>
                        <span class="sr-only">Sortér efter Farvekode</span>
                    </button>
                </th>

                <th>Beskrivelse
                </th>

                <th>Hvor ender det?
                </th>

            </tr>
        </thead>
        <tbody aria-live="polite">

            <tr>
                <td>Bioaffald og kompost</td>

                <td>Beige</td>

                <td>Alt madaffald uden fødevareemballage.</td>

                <td>Bioaffaldet kommes i bionedbrydelige poser, som bliver
                    komposteret til muld.</td>

            </tr>

            <tr>
                <td>Dagrenovation</td>

                <td>Grøn</td>

                <td>Madaffald, samt papir, pap eller plastik der ikke kan
                    genanvendes, fordi der er madrester eller andet snask
                    på.</td>

                <td>Alt det affald, du smider ud i din primære
                    skraldespand, som er dagrenovationen, bliver hentet og
                    kørt på forbrændingen.</td>

            </tr>

            <tr>
                <td>Elektronik</td>

                <td>Orange</td>

                <td>Genstande der har brugt strøm.</td>

                <td>Det elektroniske affald bliver typisk kørt til et
                    demonteringsanlæg, hvor det bliver skilt ad, så de
                    forskellige dele kan genanvendes separat.</td>

            </tr>

            <tr>
                <td>Glas</td>

                <td>Hvid</td>

                <td>Alle typer glas og flasker.</td>

                <td>De hele vinflasker rengøres og genbruges af vinhuse,
                    mens glasskårene bliver smeltet om til nyt glas.</td>

            </tr>

        </tbody>
    </table>
</div>