<div class="table--responsive-scroll">
    <table class="table table--selectable" id="selectable-table1">
        <thead>
            <tr>
                <th>
                    <input id="selectable-table1-check-all" type="checkbox" class="form-checkbox"
                        aria-controls=" selectable-table1-check-1 selectable-table1-check-2 selectable-table1-check-3 selectable-table1-check-4">
                    <label for="selectable-table1-check-all"><span class="sr-only">Vælg alle rækker</span></label>
                </th>

                <th scope="col">Affaldstype
                </th>

                <th scope="col">Farvekode
                </th>

                <th scope="col">Beskrivelse
                </th>

                <th scope="col">Hvor ender det?
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td><input id="selectable-table1-check-1" type="checkbox" name="selectable-table1-check[]" class="form-checkbox" value="Dagrenovation">
                    <label for="selectable-table1-check-1"><span class="sr-only">Vælg række</span></label>
                </td>
                <td>Dagrenovation</td>

                <td>Grøn</td>

                <td>Madaffald, samt papir, pap eller plastik der ikke kan genanvendes, fordi der er madrester eller andet snask på.</td>

                <td>Alt det affald, du smider ud i din primære skraldespand, som er dagrenovationen, bliver hentet og kørt på forbrændingen.</td>

            </tr>

            <tr>
                <td><input id="selectable-table1-check-2" type="checkbox" name="selectable-table1-check[]" class="form-checkbox" value="Bioaffald og kompost">
                    <label for="selectable-table1-check-2"><span class="sr-only">Vælg række</span></label>
                </td>
                <td>Bioaffald og kompost</td>

                <td>Beige</td>

                <td>Alt madaffald uden fødevareemballage.</td>

                <td>Bioaffaldet kommes i bionedbrydelige poser, som bliver komposteret til muld.</td>

            </tr>

            <tr>
                <td><input id="selectable-table1-check-3" type="checkbox" name="selectable-table1-check[]" class="form-checkbox" value="Glas">
                    <label for="selectable-table1-check-3"><span class="sr-only">Vælg række</span></label>
                </td>
                <td>Glas</td>

                <td>Hvid</td>

                <td>Alle typer glas og flasker.</td>

                <td>De hele vinflasker rengøres og genbruges af vinhuse, mens glasskårene bliver smeltet om til nyt glas.</td>

            </tr>

            <tr>
                <td><input id="selectable-table1-check-4" type="checkbox" name="selectable-table1-check[]" class="form-checkbox" value="Elektronik">
                    <label for="selectable-table1-check-4"><span class="sr-only">Vælg række</span></label>
                </td>
                <td>Elektronik</td>

                <td>Orange</td>

                <td>Genstande der har brugt strøm.</td>

                <td>Det elektroniske affald bliver typisk kørt til et demonteringsanlæg, hvor det bliver skilt ad, så de forskellige dele kan genanvendes separat.</td>

            </tr>

        </tbody>
    </table>
</div>