<div class="container pt-3 pt-md-0">

    <ul class="tabnav">

        <li class="">
            <a href="#tab1" class="tabnav-item" aria-expanded="false">
                <span>Fane 1</span>

            </a>

            <section class="tabnav-panel" aria-hidden="true" id="tab1">
                <h2>Indhold 1</h2>
                <p>Mauris tempor, tellus a laoreet finibus, neque metus
                    hendrerit augue, ac lacinia nisl dolor et augue. Ut
                    lorem massa, consequat ut orci sit amet, maximus dictum
                    orci. Mauris pharetra nunc sed augue bibendum semper.
                    Donec in cursus orci. Ut sed posuere elit, quis semper
                    turpis. Curabitur malesuada nisi nec nisl facilisis
                    ornare. Praesent vestibulum, velit id sollicitudin
                    auctor, ipsum lacus auctor nisl, in lacinia sem massa
                    eget urna.</p>
            </section>
        </li>

        <li class="active">
            <a href="#tab2" class="tabnav-item" aria-expanded="true">
                <span>Fane 2</span>
                <span class="sr-only">(valgt)</span>
            </a>

            <section class="tabnav-panel" aria-hidden="false" id="tab2">
                <h2>Indhold 2</h2>
                <p>Mauris tempor, tellus a laoreet finibus, neque metus
                    hendrerit augue, ac lacinia nisl dolor et augue. Ut
                    lorem massa, consequat ut orci sit amet, maximus dictum
                    orci. Mauris pharetra nunc sed augue bibendum semper.
                    Donec in cursus orci. Ut sed posuere elit, quis semper
                    turpis. Curabitur malesuada nisi nec nisl facilisis
                    ornare. Praesent vestibulum, velit id sollicitudin
                    auctor, ipsum lacus auctor nisl, in lacinia sem massa
                    eget urna.</p>
            </section>
        </li>

        <li class="">
            <a href="#tab3" class="tabnav-item" aria-expanded="false">
                <span>Fane 3</span>

            </a>

            <section class="tabnav-panel" aria-hidden="true" id="tab3">
                <h2>Indhold 3</h2>
                <p>Mauris tempor, tellus a laoreet finibus, neque metus
                    hendrerit augue, ac lacinia nisl dolor et augue. Ut
                    lorem massa, consequat ut orci sit amet, maximus dictum
                    orci. Mauris pharetra nunc sed augue bibendum semper.
                    Donec in cursus orci. Ut sed posuere elit, quis semper
                    turpis. Curabitur malesuada nisi nec nisl facilisis
                    ornare. Praesent vestibulum, velit id sollicitudin
                    auctor, ipsum lacus auctor nisl, in lacinia sem massa
                    eget urna.</p>
            </section>
        </li>

        <li class="">
            <a href="#tab4" class="tabnav-item" aria-expanded="false">
                <span>Fane 4</span>

            </a>

            <section class="tabnav-panel" aria-hidden="true" id="tab4">
                <h2>Indhold 4</h2>
                <p>Mauris tempor, tellus a laoreet finibus, neque metus
                    hendrerit augue, ac lacinia nisl dolor et augue. Ut
                    lorem massa, consequat ut orci sit amet, maximus dictum
                    orci. Mauris pharetra nunc sed augue bibendum semper.
                    Donec in cursus orci. Ut sed posuere elit, quis semper
                    turpis. Curabitur malesuada nisi nec nisl facilisis
                    ornare. Praesent vestibulum, velit id sollicitudin
                    auctor, ipsum lacus auctor nisl, in lacinia sem massa
                    eget urna.</p>
            </section>
        </li>

        <li class="">
            <a href="#tab5" class="tabnav-item" aria-expanded="false">
                <span>Fane 5</span>

            </a>

            <section class="tabnav-panel" aria-hidden="true" id="tab5">
                <h2>Indhold 5</h2>
                <p>Mauris tempor, tellus a laoreet finibus, neque metus
                    hendrerit augue, ac lacinia nisl dolor et augue. Ut
                    lorem massa, consequat ut orci sit amet, maximus dictum
                    orci. Mauris pharetra nunc sed augue bibendum semper.
                    Donec in cursus orci. Ut sed posuere elit, quis semper
                    turpis. Curabitur malesuada nisi nec nisl facilisis
                    ornare. Praesent vestibulum, velit id sollicitudin
                    auctor, ipsum lacus auctor nisl, in lacinia sem massa
                    eget urna.</p>
            </section>
        </li>

        <li class="">
            <a href="#tab6" class="tabnav-item" aria-expanded="false">
                <span>Fane 6</span>

            </a>

            <section class="tabnav-panel" aria-hidden="true" id="tab6">
                <h2>Indhold 6</h2>
                <p>Mauris tempor, tellus a laoreet finibus, neque metus
                    hendrerit augue, ac lacinia nisl dolor et augue. Ut
                    lorem massa, consequat ut orci sit amet, maximus dictum
                    orci. Mauris pharetra nunc sed augue bibendum semper.
                    Donec in cursus orci. Ut sed posuere elit, quis semper
                    turpis. Curabitur malesuada nisi nec nisl facilisis
                    ornare. Praesent vestibulum, velit id sollicitudin
                    auctor, ipsum lacus auctor nisl, in lacinia sem massa
                    eget urna.</p>
            </section>
        </li>

    </ul>

</div>