<div class="tab-container">
    <div class="tab-list" role="tablist"><button class="tab-button" role="tab"
            aria-controls="tabpanel-icon-1" aria-selected="true"
            id="tab-icon1"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#file-image"></use></svg><span>Billede</span>
        </button><button class="tab-button" role="tab" aria-controls="tabpanel-icon-2"
            aria-selected="false"
            id="tab-icon2"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#document"></use></svg><span>Dokument</span>
        </button></div>
    <div class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel-icon-1"
        aria-labelledby="tab-icon1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper,
            enim eu fringilla varius, massa lectus molestie lacus, sed malesuada justo magna
            sit amet eros. Nam accumsan dignissim dignissim. In hac habitasse platea dictumst.
            Cras feugiat maximus turpis, id ullamcorper purus congue ut.</p>
    </div>
    <div class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel-icon-2"
        aria-labelledby="tab-icon2" hidden>
        <p>Praesent consequat erat nec felis semper dignissim. Duis mattis massa in hendrerit
            varius. Sed commodo at augue sit amet auctor. Maecenas ligula massa, rutrum quis
            porttitor id, semper ut libero. Nam quis felis porta lorem consequat eleifend a
            rutrum ante.</p>
    </div>
</div>