<div class="container py-8">
    <button class="tag tag-icon">Default
        <svg class="icon-svg "  ><use xlink:href="#close-circle"></use></svg>
    </button><button class="tag tag-icon tag-hover">Hover
        <svg class="icon-svg "  ><use xlink:href="#close-circle"></use></svg>
    </button><button class="tag tag-icon tag-active">Active
        <svg class="icon-svg "  ><use xlink:href="#close-circle"></use></svg>
    </button><button class="tag tag-icon focus">Focus
        <svg class="icon-svg "  ><use xlink:href="#close-circle"></use></svg>
    </button>
</div>