<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Tags-do.svg" alt="Eksempel på, hvordan tags kan se ud" /></div>
        <p><strong>Sådan:</strong> Brug <em>tags</em> til annoteringer eller nyttige metadata om indhold eller funktionalitet.</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Tags-dont.svg" alt="Eksempel på, hvordan tags ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Brug ikke <em>tags</em> som erstatning for et systematisk navigationssystem på webstedet.</p>
    </div>
</div>
