<div class="form-group
        
        
        ">

    <label class="form-label" for="input-phonenumber-foreign">
        Telefonnummer

    </label>

    <span class="form-hint" id="input-phonenumber-foreign-hint">Ved udenlandske numre inkluder landekode</span>

    <input type="tel" id="input-phonenumber-foreign" name="input-phonenumber-foreign" class="form-input input-width-s" aria-describedby="
            input-phonenumber-foreign-hint 
            
            " autocomplete="tel">

</div>