<div class="form-group form-error">
    <label class="form-label" for="input-phonenumber">
        Telefonnummer
    </label>

    <span class="form-error-message" id="input-phonenumber-error">
        <span class="sr-only">Fejl:</span> Indtast et dansk telefonnummer,
        fx 12345678 eller +45 12 34 56 78
    </span><input class="form-input input-width-xs" id="input-phonenumber"
        value="12 34 56 7" name="input-phonenumber" type="text"
        aria-invalid="true" aria-describedby="input-phonenumber-error"
        required />
</div>