<div class="form-group form-error">
    <label class="form-label" for="input-phonenumber-danish-e">
        Dansk telefonnummer
    </label>

    <span class="form-error-message" id="input-phonenumber-danish-e-error">
        <span class="sr-only">Fejl:</span> Indtast et dansk telefonnummer,
        fx 12345678 eller +45 12 34 56 78
    </span><input class="form-input input-width-xs"
        id="input-phonenumber-danish-e" value="12 34 56 7"
        name="input-phonenumber" type="tel" aria-invalid="true"
        aria-describedby="input-phonenumber-danish-e-error" required
        autocomplete="tel" />
</div>