<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <ul class="accordion accordionclass">
                <li>
                    <h3>
                        <button class="accordion-button buttonclass1" aria-expanded="false"
                            aria-controls="accordionID1">
                            <span class="accordion-title titleclass1">Accordion</span>
                        </button>
                    </h3>
                    <div id="accordionID1" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button buttonclass2" aria-expanded="false"
                            aria-controls="accordionID2">
                            <span class="accordion-title titleclass2">Accordion</span>
                            <span class="accordion-icon iconclass2">
                                <span class="icon_text">Information</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#info"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordionID2" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button buttonclass2" aria-expanded="false"
                            aria-controls="accordionID3">
                            <span class="accordion-title titleclass2">Accordion</span>
                        </button>
                    </h3>
                    <div id="accordionID3" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>