<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Tjekbokse i forskellige tilstande</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Ikke valgt</h2>
        </div>
        <div class="col-12">

            <div class="form-group-checkbox">
                <input type="checkbox" id="not-selected" name="not-selected"
                    class="form-checkbox" value="v1">
                <label class="form-label" for="not-selected">Ikke valgt</label>

            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" id="not-selected-disabled" name="not-selected-disabled"
                    class="form-checkbox" value="v2" disabled>
                <label class="form-label" for="not-selected-disabled">Ikke valgt,
                    disabled</label>

            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Mixed</h2>
        </div>
        <div class="col-12">

            <div class="form-group-checkbox">
                <input type="checkbox" id="mixed-class" name="mixed-class"
                    class="form-checkbox mixed" value="v3">
                <label class="form-label" for="mixed-class">Mixed tilstand sat med
                    klasse</label>

            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" id="mixed-attribute" name="mixed-attribute"
                    class="form-checkbox" value="v4" aria-describedby="mixed-attribute-hint"
                    aria-checked='mixed'>
                <label class="form-label" for="mixed-attribute">Mixed tilstand sat med
                    attribut</label>

                <span class="form-hint" id="mixed-attribute-hint">Denne metode bør fjernes i
                    en major release</span>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" id="mixed-class-disabled" name="mixed-class-disabled"
                    class="form-checkbox mixed" value="v5" disabled>
                <label class="form-label" for="mixed-class-disabled">Mixed tilstand sat med
                    klasse, disabled</label>

            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" id="mixed-attribute-disabled"
                    name="mixed-attribute-disabled" class="form-checkbox" value="v6"
                    aria-describedby="mixed-attribute-disabled-hint" disabled
                    aria-checked='mixed'>
                <label class="form-label" for="mixed-attribute-disabled">Mixed tilstand sat
                    med attribut, disabled</label>

                <span class="form-hint" id="mixed-attribute-disabled-hint">Denne metode bør
                    fjernes i en major release</span>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Valgt</h2>
        </div>
        <div class="col-12">

            <div class="form-group-checkbox">
                <input type="checkbox" id="selected" name="selected" class="form-checkbox"
                    value="v7" checked>
                <label class="form-label" for="selected">Valgt</label>

            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" id="selected-disabled" name="selected-disabled"
                    class="form-checkbox" value="v8" disabled checked>
                <label class="form-label" for="selected-disabled">Valgt, disabled</label>

            </div>

        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('mixed-class').indeterminate = true;
        document.getElementById('mixed-attribute').indeterminate = true;
        document.getElementById('mixed-class-disabled').indeterminate = true;
        document.getElementById('mixed-attribute-disabled').indeterminate = true;
    });
</script>