<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-textarea-7</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Readonly og værdi</p>

            <div class="form-group">
                <label class="form-label" for="input-textarea">Tekstområde med label</label>

                <textarea class="form-input" id="input-textarea" name="input-textarea" required readonly>Tekst inde i tekstområdet</textarea>

            </div>

        </div>
    </div>
</main>