<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">To valgte faneblade</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="tab-container">
                <div class="tab-list" role="tablist"><button class="tab-button" role="tab"
                        aria-controls="tabpanel1" aria-selected="true" id="tab1"><span>Indhold
                            1</span>
                    </button><button class="tab-button" role="tab" aria-controls="tabpanel2"
                        aria-selected="true" id="tab2"><span>Indhold 2</span>
                    </button></div>
                <div class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel1"
                    aria-labelledby="tab1">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel2"
                    aria-labelledby="tab2">
                    <p>Praesent consequat erat nec felis semper dignissim.</p>
                </div>
            </div>

        </div>
    </div>
</main>