<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Klasser</p>
            <div class="table--responsive-scroll mt-8" tabindex="0">
                <table class="table structured-list w-percent-70">
                    <tbody>
                        <tr>
                            <th scope="row" class="w-percent-20">Navn</th>
                            <td>Karen Jensen</td>
                            <td class="d-print-none align-text-right"><a href="#">Redigér<span
                                        class="sr-only"> navn</span></a></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-percent-20">Telefonnummer</th>
                            <td>12 34 56 78</td>
                            <td class="d-print-none align-text-right"><a href="#">Redigér<span
                                        class="sr-only"> telefonnummer</span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>