<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Trinindikator</h1>
        </div>
    </div>
    <div class="row mb-905">
        <aside class="col-12 col-lg-4" aria-label="Se og vælg trin">

            <button class="step-indicator-button d-lg-none" aria-haspopup="dialog"
                type="button" data-module="modal"
                data-target="modal-step-indicator">Trin<strong> 7 </strong>af 9</button>

            <nav aria-label="Trinindikator" class="d-none d-lg-block">

                <ol class="step-indicator">
                    <li>
                        <a class="step" href="#">
                            <span class="step-number">1</span>
                            <div>
                                <span>
                                    <span class="step-title">Lorem ipsum dolor sit
                                        amet</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-number">2</span>
                            <div>
                                <span>
                                    <span class="step-title">Consectetur adipiscing
                                        elit</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                                <span class="step-information">Informationstekst</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-number">3</span>
                            <div>
                                <span>
                                    <span class="step-title">Duis pellentesque mollis
                                        nisl</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                            </div>
                        </a>
                    </li>
                    <li class="step-error">
                        <a class="step" href="#">
                            <span class="step-number">4</span>
                            <div>
                                <span>
                                    <span class="step-title">Sed mollis metus pellentesque
                                        et</span><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span>
                                <span class="step-information">Informationstekst</span>
                            </div>
                        </a>
                    </li>
                    <li class="step-error">
                        <a class="step" href="#">
                            <span class="step-number">5</span>
                            <div>
                                <span>
                                    <span class="step-title">Vestibulum convallis consectetur
                                        metus</span><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-number">6</span>
                            <div>
                                <span>
                                    <span class="step-title">Sit amet eleifend leo egestas
                                        sed</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                            </div>
                        </a>
                    </li>
                    <li class="current " aria-current="step">
                        <a class="step" href="#">
                            <span class="step-number">7</span>
                            <div>
                                <span>
                                    <span class="step-title">Fusce efficitur nec quam et
                                        consectetur</span></span>
                            </div>
                        </a>
                    </li>
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number">8</span>
                            <div>
                                <span>
                                    <span class="step-title">Vestibulum vel convallis
                                        mauris</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number">9</span>
                            <div>
                                <span>
                                    <span class="step-title">Vitae aliquet orci</span></span>
                            </div>
                        </div>
                    </li>
                </ol>

            </nav>
        </aside>
    </div>
</main>

<div class="fds-modal-container">

    <div class="fds-modal modal-step-indicator" id="modal-step-indicator" aria-hidden="true"
        role="dialog" aria-modal="true" aria-labelledby="modal-step-indicator-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-step-indicator-heading">
                    Trin 7 af 9
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">
                <nav aria-label='Trinindikator'>
                    <ol class="step-indicator">
                        <li>
                            <a class="step" href="#">
                                <span class="step-number">1</span>
                                <div>
                                    <span>
                                        <span class="step-title">Lorem ipsum dolor sit
                                            amet</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-number">2</span>
                                <div>
                                    <span>
                                        <span class="step-title">Consectetur adipiscing
                                            elit</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                                    <span class="step-information">Informationstekst</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-number">3</span>
                                <div>
                                    <span>
                                        <span class="step-title">Duis pellentesque mollis
                                            nisl</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                                </div>
                            </a>
                        </li>
                        <li class="step-error">
                            <a class="step" href="#">
                                <span class="step-number">4</span>
                                <div>
                                    <span>
                                        <span class="step-title">Sed mollis metus pellentesque
                                            et</span><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span>
                                    <span class="step-information">Informationstekst</span>
                                </div>
                            </a>
                        </li>
                        <li class="step-error">
                            <a class="step" href="#">
                                <span class="step-number">5</span>
                                <div>
                                    <span>
                                        <span class="step-title">Vestibulum convallis
                                            consectetur
                                            metus</span><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-number">6</span>
                                <div>
                                    <span>
                                        <span class="step-title">Sit amet eleifend leo egestas
                                            sed</span><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use href="#check"></use></svg></span>
                                </div>
                            </a>
                        </li>
                        <li class="current " aria-current="step">
                            <a class="step" href="#">
                                <span class="step-number">7</span>
                                <div>
                                    <span>
                                        <span class="step-title">Fusce efficitur nec quam et
                                            consectetur</span></span>
                                </div>
                            </a>
                        </li>
                        <li class="disabled ">
                            <div class="step">
                                <span class="step-number">8</span>
                                <div>
                                    <span>
                                        <span class="step-title">Vestibulum vel convallis
                                            mauris</span></span>
                                </div>
                            </div>
                        </li>
                        <li class="disabled ">
                            <div class="step">
                                <span class="step-number">9</span>
                                <div>
                                    <span>
                                        <span class="step-title">Vitae aliquet
                                            orci</span></span>
                                </div>
                            </div>
                        </li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>

</div>