<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-radiobuttons-2</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Klasser og attributer</p>

            <div class="form-group radioclass" radioattr>
                <fieldset aria-labelledby="radio-example-legend">

                    <legend class="form-label" id="radio-example-legend">Liste med
                        radioknapper</legend>

                    <div class="form-group-radio formgroupclass">
                        <input type="radio" id="radiogroup-option1" name="radio-example"
                            class="form-radio" value="v1">
                        <label class="form-label" for="radiogroup-option1">Valg 1</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option2" name="radio-example"
                            class="form-radio" value="v2">
                        <label class="form-label labelclass" for="radiogroup-option2">Valg
                            2</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option3" name="radio-example"
                            class="form-radio inputclass" value="v3">
                        <label class="form-label" for="radiogroup-option3">Valg 3</label>

                    </div>

                    <div class="form-group-radio" formgroupattr>
                        <input type="radio" id="radiogroup-option4" name="radio-example"
                            class="form-radio" value="v4">
                        <label class="form-label" for="radiogroup-option4">Valg 4</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option5" name="radio-example"
                            class="form-radio" value="v5">
                        <label class="form-label" for="radiogroup-option5" labelattr>Valg
                            5</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option6" name="radio-example"
                            class="form-radio" value="v6" inputattr>
                        <label class="form-label" for="radiogroup-option6">Valg 6</label>

                    </div>

                </fieldset>
            </div>

        </div>
    </div>
</main>