<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Faneblade til navigation med ikoner</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="tab-container" aria-label="Eksemplets undersider">
                <ul class="tab-list">
                    <li>
                        <a href="#tab1" class="tab-button"
                            aria-current="true"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#calculator"></use></svg><span>Faneblad
                                1</span></a>
                    </li>
                    <li>
                        <a href="#tab2"
                            class="tab-button"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#feedback"></use></svg><span>Faneblad
                                2</span></a>
                    </li>
                    <li>
                        <a href="#tab3"
                            class="tab-button"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#settings"></use></svg><span>Faneblad
                                3</span></a>
                    </li>
                </ul>
            </nav>

            <p>Indhold under fanebladene</p>
        </div>
    </div>
</main>