<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Accordion-klasser</h1>
            <p>Klasser: accordion-group-class, button-class, title-class, icon-class</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <ul class="accordion accordion-group-class">
                <li>
                    <h3>
                        <button class="accordion-button button-class" aria-expanded="false"
                            aria-controls="accordionID1">
                            <span class="accordion-title title-class">Accordion</span>
                            <span class="accordion-icon icon-class">
                                <span class="icon_text">Information</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#info"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordionID1" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>