<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Sortering ascending</p>

            <div class="table--responsive-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First column
                                <button class="button button-unstyled ml-2" id="btn-sort"
                                    type="button">
                                    <svg class="icon-svg mr-0" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-none"></use></svg>
                                    <span class="sr-only">Sortér efter First column</span>
                                </button>
                            </th>
                            <th scope="col">Second column</th>
                            <th scope="col" aria-sort="ascending">Third column<button
                                    class="button button-unstyled ml-2" type="button">
                                    <svg class="icon-svg mr-0" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-ascending"></use></svg>
                                    <span class="sr-only">Sortér efter Third column</span>
                                </button></th>
                        </tr>
                    </thead>
                    <tbody aria-live="polite">
                        <tr>
                            <td>First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                        </tr>
                        <tr>
                            <td>Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Sortering descending</p>

            <div class="table--responsive-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First column
                                <button class="button button-unstyled ml-2" id="btn-sort"
                                    type="button">
                                    <svg class="icon-svg mr-0" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-none"></use></svg>
                                    <span class="sr-only">Sortér efter First column</span>
                                </button>
                            </th>
                            <th scope="col">Second column</th>
                            <th scope="col" aria-sort="descending">Third column
                                <button class="button button-unstyled ml-2" type="button">
                                    <svg class="icon-svg mr-0" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-descending"></use></svg>
                                    <span class="sr-only">Sortér efter Third column</span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody aria-live="polite">
                        <tr>
                            <td>First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                        </tr>
                        <tr>
                            <td>Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>