<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Skift sprog i accordions</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div>
                <button class="accordion-bulk-button" data-accordion-bulk-expand="true">Åbn
                    alle</button>
                <ul class="accordion">
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="true"
                                aria-controls="accordion-group1">
                                <span class="accordion-title">Foldet ud</span>
                            </button>
                        </h3>
                        <div id="accordion-group1" aria-hidden="false"
                            class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="true"
                                aria-controls="accordion-group2">
                                <span class="accordion-title">Foldet ud</span>
                            </button>
                        </h3>
                        <div id="accordion-group2" aria-hidden="false"
                            class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</main>