<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">HTML-elementer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>hr</h2>
            <p>Dette er et tekstafsnit.</p>
            <hr>
            <p>Dette er et andet tekstafsnit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>pre</h2>
            <pre style="max-height: 200px; max-width: 200px;">
       _________________________________________
      /                                         \
     /                                           \
    /                                             \
   /                                               \
  /                                                 \
 /                                                   \
/                                                     \
\                                                     /
 \                                                   /
  \                                                 /
   \                                               /
    \                                             /
     \                                           /
      \_________________________________________/
            </pre>
        </div>
    </div>
</main>