<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <nav class="tab-container" id="">
                <ul class="tab-list">
                    <li>
                        <a href="javascript:void(0);" class="tab-button"><span>Indhold
                                1</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="tab-button"><span>Indhold
                                2</span></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>