<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <nav class="tab-container" id="tab-component">
                <ul>
                    <li>
                        <a href="javascript:void(0);" class="tab-item"
                            aria-current="page"><span>LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"
                            class="tab-item"><span>ametconsecteturadipiscingelitduistristiquesollicitudinnibhsitametcommodonullafacilisinullamvehiculaipsumaarcucursusvitaetempodeunislnuncmi
                                ipsumfaucibusvitaeliquetnecullamcorpersitametrisusnullamgetfelisegetnunc</span></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>