<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Dropdowns med lang tekst</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group">
                <label class="form-label" for="options-1">Lang tekst ikke valgt</label>

                <select class="form-select" name="options-name" id="options-1" required>
                    <option value="">Vælg en mulighed</option>
                    <option value="option1">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Vestibulum nec libero quis sapien vehicula consequat lacinia et
                        mauris. Nam venenatis id mi ut gravida. Pellentesque non ligula
                        aliquam, viverra magna sed, pellentesque lacus.</option>
                    <option value="option2" selected>Mulighed normal</option>
                    <option value="option3">Mulighed med medium lang tekst</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group">
                <label class="form-label" for="options-2">Lang tekst valgt</label>

                <select class="form-select" name="options-name" id="options-2" required>
                    <option value="">Vælg en mulighed</option>
                    <option value="option1" selected>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Vestibulum nec libero quis sapien vehicula consequat
                        lacinia et mauris. Nam venenatis id mi ut gravida. Pellentesque non
                        ligula aliquam, viverra magna sed, pellentesque lacus.</option>
                    <option value="option2">Mulighed normal</option>
                    <option value="option3">Mulighed med medium lang tekst</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group form-error">
                <label class="form-label" for="options-3">Fejl og lang tekst valgt</label>

                <span class="form-error-message" id="options-3-error">
                    <span class="sr-only">Fejl: </span>Fejlbesked
                </span>
                <select class="form-select" name="options-name" id="options-3"
                    aria-invalid="true" aria-describedby="options-3-error" required>
                    <option value="">Vælg en mulighed</option>
                    <option value="option1" selected>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Vestibulum nec libero quis sapien vehicula consequat
                        lacinia et mauris. Nam venenatis id mi ut gravida. Pellentesque non
                        ligula aliquam, viverra magna sed, pellentesque lacus.</option>
                    <option value="option2">Mulighed normal</option>
                    <option value="option3">Mulighed med medium lang tekst</option>
                </select>
            </div>

        </div>
    </div>
</main>