<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Fejl og varianter</p>

            <ul class="accordion">
                <li>
                    <h3>
                        <button class="accordion-button accordion-error "
                            aria-expanded="false" aria-describedby="myID1-error"
                            aria-controls="myID1">
                            Accordion one
                            <span class="accordion-icon">
                                <span class="icon_text">Fejl</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="myID1" aria-hidden="true" class="accordion-content">
                        <div class="alert alert-error" role="alert" id='myID1-error'>
                            <div class="alert-body">
                                <p class="alert-text">Der er opstået en fejl</p>
                            </div>
                        </div>

                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="myID2">
                            Accordion two
                            <span class="accordion-icon">
                                <span class="icon_text">Succes</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="myID2" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="myID3">
                            Accordion three
                            <span class="accordion-icon">
                                <span class="icon_text">Advarsel</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#report-problem"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="myID3" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="myID4">
                            Accordion four
                            <span class="accordion-icon">
                                <span class="icon_text">Information</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#info"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="myID4" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>