<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Accordion-varianter</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionID1">
                            <span class="accordion-title">Variant: info</span>
                            <span class="accordion-icon">
                                <span class="icon_text">Information</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#info"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordionID1" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionID2">
                            <span class="accordion-title">Variant: success</span>
                            <span class="accordion-icon">
                                <span class="icon_text">Succes</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check-circle"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordionID2" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionID3">
                            <span class="accordion-title">Variant: warning</span>
                            <span class="accordion-icon">
                                <span class="icon_text">Advarsel</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#report-problem"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordionID3" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button accordion-error "
                            aria-expanded="false" aria-describedby="accordionID4-error"
                            aria-controls="accordionID4">
                            <span class="accordion-title">Variant: error</span>
                            <span class="accordion-icon">
                                <span class="icon_text">Fejl</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#highlight-off"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordionID4" aria-hidden="true" class="accordion-content">
                        <div class="alert alert-error" role="alert" id='accordionID4-error'>
                            <div class="alert-body">
                                <p class="alert-text">Dette er en fejlmeddelelse.</p>
                            </div>
                        </div>

                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionID5">
                            <span class="accordion-title">Variant: custom</span>
                            <span class="accordion-icon">
                                <span class="icon_text">Tilgængelighed</span>
                                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#accessibility-new"></use></svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordionID5" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>