<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Klasser</p>

            <div class="table--responsive-scroll mt-8" tabindex="0">
                <table class="table w-percent-md-70">
                    <thead>
                        <tr>
                            <th scope="col" class="pt-1">First column</th>
                            <th scope="col" class="pt-1">Second column</th>
                            <th scope="col" class="pt-1">Third column</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pt-3">First row, first cell</td>
                            <td class="pt-3">First row, second cell</td>
                            <td class="pt-3">First row, third cell</td>
                        </tr>
                        <tr>
                            <td class="pt-5">Second row, first cell</td>
                            <td class="pt-5">Second row, second cell</td>
                            <td class="pt-5">Second row, third cell</td>
                        </tr>
                        <tr>
                            <td class="pt-8">Third row, first cell</td>
                            <td class="pt-8">Third row, second cell</td>
                            <td class="pt-8">Third row, third cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>