<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Paginering</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous hidden"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 1 af 8</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 1'
                            aria-current="page">1</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 2'>2</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 3'>3</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 5'>5</a>
                    </li>

                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary"
                            aria-label='Sidste side, side 8'>8</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 4 af 8</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 2'>2</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 3'>3</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 4'
                            aria-current="page">4</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 5'>5</a>
                    </li>

                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary"
                            aria-label='Sidste side, side 8'>8</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 5 af 8</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 5'
                            aria-current="page">5</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 6'>6</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 7'>7</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 8'>8</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 8 af 8</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 5'>5</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 6'>6</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 7'>7</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 8'
                            aria-current="page">8</a>
                    </li>

                </ul>
                <a href="#" class="button button-arrow button-next hidden"
                    aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row mt-905">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous hidden"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 1 af 7</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 1'
                            aria-current="page">1</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 2'>2</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 3'>3</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 5'>5</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 6'>6</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 7'>7</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 4 af 7</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 2'>2</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 3'>3</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 4'
                            aria-current="page">4</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 5'>5</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 6'>6</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 7'>7</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 7 af 7</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 2'>2</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 3'>3</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 5'>5</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 6'>6</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 7'
                            aria-current="page">7</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next hidden"
                    aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row mt-905">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 1200 af 9999</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary"
                            aria-label='Side 1199'>1199</a>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 1200'
                            aria-current="page">1200</a>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary"
                            aria-label='Side 1201'>1201</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary"
                            aria-label='Sidste side, side 9999'>9999</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 5 af 9</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 5'
                            aria-current="page">5</a>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 6'>6</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary"
                            aria-label='Sidste side, side 9'>9</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row mt-905">
        <div class="col-12">

            <div role="group" class="pagination" aria-label="Paginering">
                <button
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></button>
                <button class="button button-arrow button-previous" aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </button>
                <span class="pagination-mobile">Side 2 af 4</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 1'>1</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button current-page" aria-label='Side 2'
                            aria-current="true">2</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 3'>3</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 4'>4</button>
                    </li>
                </ul>
                <button class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </button>
                <button
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 2 af 4</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 2'
                            aria-current="page">2</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 3'>3</a>
                    </li>

                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div role="group" class="pagination" aria-label="Paginering">
                <button
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></button>
                <button class="button button-arrow button-previous" aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </button>
                <span class="pagination-mobile">Side 5 af 10</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 1'>1</button>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 4'>4</button>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button current-page" aria-label='Side 5'
                            aria-current="true">5</button>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 6'>6</button>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Sidste side, side 10'>10</button>
                    </li>
                </ul>
                <button class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </button>
                <button
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <nav class="pagination" aria-label="Paginering">
                <a href="#"
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></a>
                <a href="#" class="button button-arrow button-previous"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </a>
                <span class="pagination-mobile">Side 5 af 10</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 1'>1</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 4'>4</a>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button current-page" aria-label='Side 5'
                            aria-current="page">5</a>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary" aria-label='Side 6'>6</a>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <a href="#" class="button button-secondary"
                            aria-label='Sidste side, side 10'>10</a>
                    </li>
                </ul>
                <a href="#" class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </a>
                <a href="#"
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></a>
            </nav>

        </div>
    </div>
    <div class="row mt-905">
        <div class="col-12">

            <div role="group" class="table-pagination" aria-label="Skift side i tabellen">
                <button
                    class="button button-arrow button-first hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></button>
                <button class="button button-arrow button-previous hidden"
                    aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </button>
                <span class="pagination-mobile">Side 1 af 15</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <button class="button current-page" aria-label='Side 1'
                            aria-current="true">1</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 2'>2</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 3'>3</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 4'>4</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 5'>5</button>
                    </li>

                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Sidste side, side 15'>15</button>
                    </li>
                </ul>
                <button class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </button>
                <button
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div role="group" class="table-pagination" aria-label="Skift side i tabellen">
                <button
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></button>
                <button class="button button-arrow button-previous" aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </button>
                <span class="pagination-mobile">Side 7 af 15</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 1'>1</button>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 6'>6</button>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button current-page" aria-label='Side 7'
                            aria-current="true">7</button>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 8'>8</button>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Sidste side, side 15'>15</button>
                    </li>
                </ul>
                <button class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </button>
                <button
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div role="group" class="table-pagination" aria-label="Skift side i tabellen">
                <button
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></button>
                <button class="button button-arrow button-previous" aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </button>
                <span class="pagination-mobile">Side 15 af 15</span>
                <ul class="pagination__items">
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 1'>1</button>
                    </li>
                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Side 11'>11</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Side 12'>12</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Side 13'>13</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Side 14'>14</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button current-page" aria-label='Side 15'
                            aria-current="true">15</button>
                    </li>

                </ul>
                <button class="button button-arrow button-next hidden"
                    aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </button>
                <button
                    class="button button-arrow button-last hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div role="group" class="table-pagination" aria-label="Skift side i tabellen">
                <button
                    class="button button-arrow button-first"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#first-page"></use></svg><span
                        class="sr-only">Første side</span></button>
                <button class="button button-arrow button-previous" aria-label="Forrige side">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-left"></use></svg><span
                        class="pagination-nav-link">Forrige</span>
                </button>
                <span class="pagination-mobile">Side 2 af 12</span>
                <ul class="pagination__items">

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 1'>1</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button current-page" aria-label='Side 2'
                            aria-current="true">2</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 3'>3</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 4'>4</button>
                    </li>

                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary" aria-label='Side 5'>5</button>
                    </li>

                    <li class="pagination-item pagination-overflow">
                        <span>...</span>
                    </li>
                    <li class="pagination-item pagination-number">
                        <button class="button button-secondary"
                            aria-label='Sidste side, side 12'>12</button>
                    </li>
                </ul>
                <button class="button button-arrow button-next" aria-label="Næste side">
                    <span
                        class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                </button>
                <button
                    class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#last-page"></use></svg><span
                        class="sr-only">Sidste side</span></button>
            </div>

        </div>
    </div>
</main>