<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Tjekbokse med hjælpetekster</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group">
                <fieldset aria-describedby="checkboxgroup-1-hint ">
                    <legend class="form-label">
                        Tjekbokse med hjælpetekster
                    </legend>
                    <span class="form-hint" id="checkboxgroup-1-hint">Dette er en hjælpetekst
                        for hele tjekboksgruppen. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Integer fringilla in quam sit amet cursus.
                        Pellentesque eget lorem venenatis, dignissim justo luctus, rutrum
                        tortor. Praesent sem risus, lobortis at orci eget, sollicitudin
                        placerat eros. Proin at tempus felis.</span>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-1-option1"
                            name="checkbox-example-1" class="form-checkbox" value="v1"
                            aria-describedby="checkboxgroup-1-option1-hint">
                        <label class="form-label" for="checkboxgroup-1-option1">Kun
                            hjælpetekst</label>

                        <span class="form-hint" id="checkboxgroup-1-option1-hint">Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit. Integer fringilla in
                            quam sit amet cursus. Pellentesque eget lorem venenatis, dignissim
                            justo luctus, rutrum tortor. Praesent sem risus, lobortis at orci
                            eget, sollicitudin placerat eros. Proin at tempus felis. Donec
                            mollis sapien ut nibh ultricies interdum.</span>
                    </div>

                    <div class="hidden-content-wrapper">
                        <div class="form-group-checkbox">
                            <input type="checkbox" id="checkboxgroup-1-option2"
                                name="checkbox-example-1"
                                class="form-checkbox js-checkbox-toggle-content" value="v2"
                                aria-describedby="checkboxgroup-1-option2-hint"
                                data-aria-controls="checkboxgroup-1-option2-collapse"
                                data-aria-expanded="false">
                            <label class="form-label"
                                for="checkboxgroup-1-option2">Hjælpetekst og skjult
                                inputfelt<span class="sr-only"> Udfyld informationer
                                    herunder</span></label>

                            <span class="form-hint" id="checkboxgroup-1-option2-hint">Dette er
                                hjælpetekst for en enkelt tjekboks. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit. Integer fringilla in quam
                                sit amet cursus. Pellentesque eget lorem venenatis, dignissim
                                justo luctus, rutrum tortor. Praesent sem risus, lobortis at
                                orci eget, sollicitudin placerat eros. Proin at tempus
                                felis.</span>
                        </div>
                        <div id="checkboxgroup-1-option2-collapse" aria-hidden="true"
                            class="checkbox-content">

                            <div class="form-group">
                                <label class="form-label"
                                    for="checkbox-example-1-text-1">Inputfelt</label>

                                <input type="text" id="checkbox-example-1-text-1"
                                    name="mytext" class="form-input" required>
                            </div>

                        </div>
                    </div>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-1-option3"
                            name="checkbox-example-1" class="form-checkbox" value="v3"
                            aria-describedby="checkboxgroup-1-option3-hint">
                        <label class="form-label" for="checkboxgroup-1-option3">Lang
                            hjælpetekst uden mellemrum<span class="sr-only"> Udfyld
                                informationer herunder</span></label>

                        <span class="form-hint"
                            id="checkboxgroup-1-option3-hint">DetteerhjælpetekstforenenkelttjekboksLoremipsumdolorsitametconsecteturadipiscingelitIntegerfringillainquamsitametcursusPellentesqueegetloremvenenatisdignissimjustoluctusrutrumtortorPraesentsem
                            risuslobortisatorciegetsollicitudinplaceraterosProinattempusfelisDonecmllissapienutnibhultriciesinterdum</span>
                    </div>

                    <div class="hidden-content-wrapper">
                        <div class="form-group-checkbox">
                            <input type="checkbox" id="checkboxgroup-1-option4"
                                name="checkbox-example-1"
                                class="form-checkbox js-checkbox-toggle-content" value="v4"
                                aria-describedby="checkboxgroup-1-option4-hint"
                                data-aria-controls="checkboxgroup-1-option4-collapse"
                                data-aria-expanded="false">
                            <label class="form-label"
                                for="checkboxgroup-1-option4">Hjælpetekst og skjult inputfelt
                                med hjælpetekst<span class="sr-only"> Udfyld informationer
                                    herunder</span></label>

                            <span class="form-hint" id="checkboxgroup-1-option4-hint">Dette er
                                hjælpetekst for en enkelt tjekboks. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit. Integer fringilla in quam
                                sit amet cursus. Pellentesque eget lorem venenatis, dignissim
                                justo luctus, rutrum tortor. Praesent sem risus, lobortis at
                                orci eget, sollicitudin placerat eros. Proin at tempus
                                felis.</span>
                        </div>
                        <div id="checkboxgroup-1-option4-collapse" aria-hidden="true"
                            class="checkbox-content">

                            <div class="form-group">
                                <label class="form-label"
                                    for="checkbox-example-1-text-2">Inputfelt</label>

                                <span class="form-hint"
                                    id="checkbox-example-1-text-2-hint">Hjælpetekst til
                                    inputfeltet</span>

                                <input type="text" id="checkbox-example-1-text-2"
                                    name="mytext" class="form-input"
                                    aria-describedby="checkbox-example-1-text-2-hint "
                                    required>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group">
                <fieldset aria-describedby="checkboxgroup-2-hint ">
                    <legend class="form-label">
                        Tjekboksgruppe med lang hjælpetekst uden mellemrum
                    </legend>
                    <span class="form-hint"
                        id="checkboxgroup-2-hint">DetteerenhjælpetekstforheletjekboksgruppenLoremipsumdolorsitametconsecteturadipiscingelitIntegerfringillainquamsitametcursusPellentesqueegetloremvenenatisdignissimjustoluctusrutrumtortorPraesentsem
                        risuslobortisatorciegetsollicitudinplaceraterosProinattempusfelisDonecmllissapienutnibhultriciesinterdum</span>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-2-option1"
                            name="checkbox-example-2" class="form-checkbox" value="v1">
                        <label class="form-label" for="checkboxgroup-2-option1">Valg 1</label>

                    </div>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-2-option2"
                            name="checkbox-example-2" class="form-checkbox" value="v2">
                        <label class="form-label" for="checkboxgroup-2-option2">Valg 2</label>

                    </div>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-2-option3"
                            name="checkbox-example-2" class="form-checkbox" value="v3">
                        <label class="form-label" for="checkboxgroup-2-option3">Valg 3</label>

                    </div>

                </fieldset>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkbox-3" name="checkbox-3" class="form-checkbox"
                    value="v1" aria-describedby="checkbox-3-hint">
                <label class="form-label" for="checkbox-3">Enkelt tjekboks med
                    hjælpetekst</label>

                <span class="form-hint" id="checkbox-3-hint">Dette er hjælpetekst for en
                    enkelt tjekboks. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer fringilla in quam sit amet cursus. Pellentesque eget lorem
                    venenatis, dignissim justo luctus, rutrum tortor. Praesent sem risus,
                    lobortis at orci eget, sollicitudin placerat eros. Proin at tempus felis.
                    Donec mollis sapien ut nibh ultricies interdum.</span>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="hidden-content-wrapper">
                <div class="form-group-checkbox">
                    <input type="checkbox" id="checkbox-4" name="checkbox-4"
                        class="form-checkbox js-checkbox-toggle-content" value="v1"
                        aria-describedby="checkbox-4-hint"
                        data-aria-controls="checkbox-4-collapse" data-aria-expanded="false">
                    <label class="form-label" for="checkbox-4">Enkelt tjekboks med hjælpetekst
                        og skjult inputfelt<span class="sr-only"> Udfyld informationer
                            herunder</span></label>

                    <span class="form-hint" id="checkbox-4-hint">Dette er hjælpetekst for en
                        enkelt tjekboks. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Integer fringilla in quam sit amet cursus. Pellentesque eget
                        lorem venenatis, dignissim justo luctus, rutrum tortor. Praesent sem
                        risus, lobortis at orci eget, sollicitudin placerat eros. Proin at
                        tempus felis. Donec mollis sapien ut nibh ultricies interdum.</span>
                </div>
                <div id="checkbox-4-collapse" aria-hidden="true" class="checkbox-content">

                    <div class="form-group">
                        <label class="form-label" for="checkbox-4-text-1">Inputfelt</label>

                        <input type="text" id="checkbox-4-text-1" name="mytext"
                            class="form-input" required>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>