<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Accordionindhold</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion test-accordion-group-class">
                <li>
                    <h2>
                        <button class="accordion-button" aria-expanded="true"
                            aria-controls="accordionID1">
                            <span class="accordion-title">Accordion med bredt indhold</span>
                        </button>
                    </h2>
                    <div id="accordionID1" aria-hidden="false" class="accordion-content">
                        <div
                            style='height: 200px; width: 1600px; background-image: linear-gradient(to right, #807DBA, #DD3497);'>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>