<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-checkbox-simple</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkbox" name="test" class="form-checkbox"
                    value="true">
                <label class="form-label" for="checkbox">Label til tjekboks</label>

            </div>

        </div>
    </div>
</main>