<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-structured-list-1</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Struktureret liste simpel</p>
            <div class="table--responsive-scroll" tabindex="0">
                <table class="table structured-list">
                    <tbody>
                        <tr>
                            <th scope="row">Navn</th>
                            <td>Karen Jensen</td>
                        </tr>
                        <tr>
                            <th scope="row">Telefonnummer</th>
                            <td>12 34 56 78</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>