<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Indhold og karakterbegrænsning</p>

            <div class="form-group form-limit" data-maxlength="20">
                <label class="form-label" for="input-text">E-mail</label>

                <input type="text" id="input-text" name="input-text" class="form-input"
                    value="noget@tekst.dk" aria-describedby="input-text-limit-message"
                    required>
                <span id="input-text-limit-message" class="sr-only">Du kan indtaste op til 20
                    tegn</span>
                <span class="form-hint character-limit" aria-hidden="true">Du har 20 tegn
                    tilbage</span>
                <span class="character-limit-sr-only sr-only" aria-live="polite">Du har 20
                    tegn tilbage</span>
            </div>

        </div>
    </div>
</main>