<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Sortering ascending</p>

            <div class="table--responsive-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><button class="button button-unstyled"
                                    id="btn-sort" type="button">First column<span
                                        class="sr-only"> Klik for at sortere efter denne
                                        kolonne</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-none"></use></svg>
                                </button></th>
                            <th scope="col">Second column</th>
                            <th scope="col" aria-sort="ascending"><button
                                    class="button button-unstyled" id="" type="button">Third
                                    column<span class="sr-only"> Klik for at sortere
                                        faldende</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-ascending"></use></svg>
                                </button></th>
                        </tr>
                    </thead>
                    <tbody aria-live="polite">
                        <tr>
                            <td>First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                        </tr>
                        <tr>
                            <td>Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Sortering descending</p>

            <div class="table--responsive-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><button class="button button-unstyled"
                                    id="btn-sort" type="button">First column<span
                                        class="sr-only"> Klik for at sortere efter denne
                                        kolonne</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-none"></use></svg>
                                </button></th>
                            <th scope="col">Second column</th>
                            <th scope="col" aria-sort="descending"><button
                                    class="button button-unstyled" id="" type="button">Third
                                    column<span class="sr-only"> Klik for at sortere
                                        stigende</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use xlink:href="#sort-table-descending"></use></svg>
                                </button></th>
                        </tr>
                    </thead>
                    <tbody aria-live="polite">
                        <tr>
                            <td>First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                        </tr>
                        <tr>
                            <td>Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>