<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Hjælpetekst, fejlbesked, små tjekbokse, klasser og tooltip</p>

            <div class="form-group form-error groupclass">
                <fieldset aria-describedby="checkboxgroup-hint checkboxgroup-error">
                    <legend class="form-label">
                        Liste med tjekbokse
                        <button class="button button-unstyled" type="button">
                            <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#help"></use></svg>
                            <span class="sr-only">Hvad betyder det?</span>
                        </button>
                    </legend>
                    <span class="form-hint" id="checkboxgroup-hint">Dette er en
                        hjælpetekst</span>
                    <span class="form-error-message" id="checkboxgroup-error">
                        <span class="sr-only">Fejl: </span>Dette er en fejlbesked
                    </span>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-option1"
                            name="checkbox-example" class="form-checkbox" value="v1">
                        <label class="form-label" for="checkboxgroup-option1">Tjekboks
                            1</label>

                    </div>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-option2"
                            name="checkbox-example" class="form-checkbox" value="v2">
                        <label class="form-label" for="checkboxgroup-option2">Tjekboks
                            2</label>

                    </div>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-option3"
                            name="checkbox-example" class="form-checkbox" value="v3">
                        <label class="form-label" for="checkboxgroup-option3">Tjekboks
                            3</label>

                    </div>

                </fieldset>
            </div>

        </div>
    </div>
</main>