<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Simpel alert</p>

            <div class="alert alert-info">
                <div class="alert-border"></div>
                <svg class="icon-svg alert-icon" aria-label="Information" focusable="false"><use href="#info"></use></svg>
                <div class="alert-body">
                    <h3 class="alert-heading">Dette er titlen</h3>
                    <p class="alert-text">Dette er indholdet i beskeden</p>
                </div>
            </div>

        </div>
    </div>
</main>