<main class="container page-container" id="main-content" style="background-color:#CFCFCF;">

    <div class="row mb-2">
        <div class="col-3">accessibility-new</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#accessibility-new"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-accessibility-new"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">account</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#account"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-account" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">add-a-photo</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#add-a-photo"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-add-a-photo"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">analytics</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#analytics"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-analytics" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">apps</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#apps"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-apps" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">arrow-back</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#arrow-back"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-back"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">arrow-downward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#arrow-downward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-downward"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">arrow-forward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#arrow-forward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-forward"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">arrow-upward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#arrow-upward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-upward"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">assignment</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#assignment"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-assignment"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">attach-file</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#attach-file"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-attach-file"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">bookmark</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#bookmark"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-bookmark" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">bookmarks</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#bookmarks"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-bookmarks" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">business</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#business"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-business" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">cached</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#cached"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-cached" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">calculator</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#calculator"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-calculator"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">car</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#car"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-car" style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">card-text</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#card-text"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-card-text" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chat</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chat"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chat" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">checklist</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#checklist"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-checklist" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chevron-double-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chevron-double-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-double-left"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chevron-double-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chevron-double-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-double-right"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chevron-down</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chevron-down"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-down"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chevron-down-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chevron-down-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-down-white"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chevron-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chevron-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-left"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chevron-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chevron-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-right"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">chevron-up</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#chevron-up"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-up"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">close</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#close"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-close" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">construction</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#construction"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-construction"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">contact-info</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#contact-info"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-contact-info"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">contact-support</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#contact-support"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-contact-support"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">content-copy</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#content-copy"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-content-copy"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">coronavirus</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#coronavirus"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-coronavirus"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">create-new-folder</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#create-new-folder"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-create-new-folder"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">credit-card</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#credit-card"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-credit-card"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">database</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#database"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-database" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">delete</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#delete"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-delete" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">desktop</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#desktop"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-desktop" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">document</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#document"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-document" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">done</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#done"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-done" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">done-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#done-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-done-white"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">download-done</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#download-done"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-download-done"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">email</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#email"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-email" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">engineering</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#engineering"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-engineering"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">error</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#error"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-error" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">error-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#error-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-error-white"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">feedback</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#feedback"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-feedback" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">file</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#file"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">file-download</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#file-download"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-download"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">file-excel</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#file-excel"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-excel"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">file-image</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#file-image"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-image"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">file-pdf</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#file-pdf"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-pdf" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">file-upload</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#file-upload"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-upload"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">file-word</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#file-word"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-word" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">first-page</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#first-page"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-first-page"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">flag</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#flag"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-flag" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">folder</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#folder"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-folder" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">folder-open</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#folder-open"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-folder-open"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-align-center</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-align-center"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-center"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-align-justify</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-align-justify"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-justify"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-align-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-align-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-left"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-align-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-align-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-right"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-bold</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-bold"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-bold"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-clear</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-clear"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-clear"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-color-fill</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-color-fill"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-color-fill"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-color-text</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-color-text"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-color-text"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-indent-decrease</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-indent-decrease"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-indent-decrease"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-indent-increase</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-indent-increase"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-indent-increase"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-italic</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-italic"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-italic"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-list-numbered</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-list-numbered"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-list-numbered"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-size</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-size"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-size"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">format-underlined</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#format-underlined"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-underlined"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">forum</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#forum"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-forum" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">forward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#forward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-forward" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">fullscreen</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#fullscreen"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-fullscreen"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">fullscreen-exit</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#fullscreen-exit"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-fullscreen-exit"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">grade</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#grade"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-grade" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">grade-outline</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#grade-outline"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-grade-outline"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">groups</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#groups"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-groups" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">headset</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#headset"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-headset" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">help</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#help"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-help" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">home</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#home"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-home" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">hourglass-empty</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#hourglass-empty"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-hourglass-empty"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">how-to-reg</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#how-to-reg"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-how-to-reg"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">info</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#info"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-info" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">info-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#info-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-info-white"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">insert-invitation</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#insert-invitation"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-insert-invitation"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">language</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#language"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-language" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">laptop</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#laptop"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-laptop" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">last-page</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#last-page"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-last-page" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">link</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#link"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-link" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">list-bulleted</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#list-bulleted"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-list-bulleted"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">location-on</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#location-on"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-location-on"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">lock</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#lock"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-lock" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">map</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#map"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-map" style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">menu</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#menu"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-menu" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">minus</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#minus"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-minus" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">minus-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#minus-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-minus-white"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">mode</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#mode"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-mode" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">more-horiz</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#more-horiz"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-more-horiz"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">more-vert</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#more-vert"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-more-vert" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">mouse</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#mouse"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-mouse" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">note-add</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#note-add"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-note-add" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">notifications</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#notifications"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-notifications"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">open-in-new</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#open-in-new"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-open-in-new"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">open-with</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#open-with"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-open-with" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">outlined-flag</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#outlined-flag"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-outlined-flag"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">palette</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#palette"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-palette" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">payments</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#payments"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-payments" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">person</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#person"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-person" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">persons</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#persons"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-persons" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">person-add-alt-1</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#person-add-alt-1"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-person-add-alt-1"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">person-remove</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#person-remove"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-person-remove"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">photo-camera</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#photo-camera"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-photo-camera"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">playlist-add</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#playlist-add"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-playlist-add"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">playlist-add-check</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#playlist-add-check"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-playlist-add-check"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">plus</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#plus"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-plus" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">print</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#print"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-print" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">query-builder</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#query-builder"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-query-builder"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">refresh</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#refresh"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-refresh" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">reply</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#reply"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-reply" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">save</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#save"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-save" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">science</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#science"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-science" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">search</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#search"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-search" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">send</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#send"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-send" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">settings</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#settings"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-settings" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">share</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#share"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-share" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">shopping-cart</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#shopping-cart"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-shopping-cart"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">smartphone</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#smartphone"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-smartphone"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort-ascending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort-ascending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-ascending"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort-by-alpha</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort-by-alpha"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-by-alpha"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort-default</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort-default"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-default"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort-descending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort-descending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-descending"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort-table-ascending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort-table-ascending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-table-ascending"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort-table-descending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort-table-descending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-table-descending"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">sort-table-none</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#sort-table-none"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-table-none"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">student</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#student"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-student" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">subdirectory-arrow-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#subdirectory-arrow-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-subdirectory-arrow-left"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">subdirectory-arrow-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#subdirectory-arrow-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-subdirectory-arrow-right"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">success</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#success"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-success" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">success-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#success-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-success-white"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">summary</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#summary"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-summary" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">support-agent</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#support-agent"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-support-agent"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">text-format</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#text-format"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-text-format"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">tractor</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#tractor"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-tractor" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">trainee</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#trainee"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-trainee" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">truck</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#truck"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-truck" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">tune</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#tune"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-tune" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">vertical-split</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#vertical-split"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-vertical-split"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">videocam</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#videocam"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-videocam" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">view-headline</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#view-headline"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-view-headline"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">visibility</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#visibility"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-visibility"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">visibility-off</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#visibility-off"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-visibility-off"
                style="vertical-align: middle;"></i></div>
    </div>

    <div class="row mb-2">
        <div class="col-3">warning</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#warning"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-warning" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">zoom-in</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#zoom-in"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-zoom-in" style="vertical-align: middle;"></i>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">zoom-out</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use href="#zoom-out"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-zoom-out" style="vertical-align: middle;"></i>
        </div>
    </div>

</main>