<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Eksempel 1</p>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkbox" name="checkbox" class="form-checkbox"
                    value="1" required>
                <label class="form-label" for="checkbox">Label til tjekboks</label>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Eksempel 2</p>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkbox2" name="checkbox2" class="form-checkbox"
                    value="1" required>
                <label class="form-label" for="checkbox2">Label til tjekboks<span
                        class="weight-normal"> (*skal udfyldes)</span></label>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Eksempel 3</p>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkbox3" name="checkbox3" class="form-checkbox"
                    value="1">
                <label class="form-label" for="checkbox3">Label til tjekboks<span
                        class="weight-normal"> (frivilligt)</span></label>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Eksempel 4</p>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkbox4" name="checkbox4" class="form-checkbox"
                    value="1" disabled>
                <label class="form-label" for="checkbox4">Label til tjekboks</label>

            </div>

        </div>
    </div>
</main>