<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-datepicker-1</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Date picker example</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example1">Dato for aftale</label>

                <div class="date-picker">
                    <input type="text" id="datepicker-example1" name="appointment-date1"
                        class="form-input" required>
                </div>
            </div>
        </div>
    </div>
</main>