<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Tilbage-link</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <div><a href="javascript:void(0);"
                    class="back-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg>Tilbage</a>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <div><a href="#"
                    class="back-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg>Back</a>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <div class="back-link" tabindex="0">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg>Div
                som tilbage-link</div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <button
                class="back-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg>Knap
                som tilbage-link</button>
        </div>
    </div>
</main>