<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Lang modal</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="button button-secondary" data-module="modal"
                data-target="modal-example" aria-haspopup="dialog">
                Åbn lang modal
            </button>
        </div>
    </div>
</main>
<div class="fds-modal-container">

    <div class="fds-modal" id="modal-example" aria-hidden="true" role="dialog"
        aria-modal="true" aria-labelledby="modal-example-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-example-heading">
                    Lang modal
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut lectus
                    sollicitudin, ullamcorper purus eget, ultricies dui. Fusce finibus laoreet
                    mi, sed semper ante convallis tincidunt. Donec at nisl ultricies,
                    consectetur turpis ac, vehicula lorem. Phasellus ullamcorper magna
                    tincidunt dapibus posuere. Maecenas aliquet eros eros. Duis posuere diam
                    et tortor pulvinar ornare. Nullam maximus, arcu quis fermentum dapibus,
                    arcu arcu posuere ipsum, nec volutpat nunc risus ac justo. Fusce malesuada
                    ipsum vitae nulla rutrum, in pulvinar turpis commodo. Curabitur sed eros
                    orci. Donec risus orci, maximus ac malesuada consectetur, vulputate at
                    est. Aenean tortor neque, sagittis nec facilisis eu, venenatis sit amet
                    justo. Ut id sem sem. Vestibulum blandit libero velit, ac accumsan mauris
                    gravida a. Phasellus aliquet quis ante at imperdiet. Etiam ante nibh,
                    congue accumsan sapien vitae, fermentum luctus nulla. Suspendisse
                    scelerisque leo erat, pulvinar eleifend tortor posuere eget. Donec
                    feugiat, purus at vehicula convallis, lorem mi venenatis libero, eget
                    mollis dolor sapien sed justo. Integer blandit congue tellus, quis auctor
                    lacus feugiat a. Vivamus vulputate erat dignissim tempor efficitur. Aenean
                    at consectetur augue, ac finibus ex. Nam tincidunt malesuada mi, ut varius
                    urna facilisis a. Integer congue mauris quis velit fermentum cursus.
                    Quisque pretium, ex a sodales commodo, mi lorem finibus justo, ornare
                    volutpat massa tortor eu tortor. Nullam sit amet urna id magna molestie
                    tincidunt sit amet et orci. Maecenas tincidunt, dui non facilisis
                    sagittis, erat arcu commodo velit, eget suscipit justo ante quis velit.
                    Mauris a ante metus. Sed eleifend mollis elementum. Morbi volutpat, nibh
                    ut eleifend gravida, velit augue laoreet ipsum, id tristique neque sapien
                    a orci. Duis mollis erat vel lectus sagittis, ac lobortis dui elementum.
                    Mauris venenatis augue turpis, at feugiat mi sollicitudin in. Sed
                    hendrerit, nisi sit amet elementum posuere, nibh leo tempor odio, non
                    sollicitudin nibh lacus quis enim. Etiam consequat turpis vitae velit
                    ultrices, in hendrerit nisl accumsan. Quisque in sollicitudin enim, eget
                    ultrices lorem. Nunc id eleifend sem. Fusce aliquet ipsum neque, sit amet
                    pellentesque urna gravida nec. Sed placerat fringilla sem vel facilisis.
                    Mauris at metus id risus feugiat congue. Maecenas consequat molestie
                    libero, vitae aliquam ex pretium vulputate. Aliquam aliquet at odio sed
                    pellentesque. Vivamus magna tellus, suscipit id nibh at, cursus pulvinar
                    dolor. Vivamus in blandit lectus, ac mattis tortor. Nullam interdum leo
                    sit amet ligula volutpat, ut ultricies augue eleifend. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Nam et risus luctus, sollicitudin purus non, rutrum purus. Suspendisse non
                    diam pretium, malesuada ipsum eu, fermentum tortor. Aliquam ac metus mi.
                    Praesent auctor ultricies turpis et gravida. Phasellus turpis leo,
                    hendrerit in dui porta, tincidunt gravida erat. Suspendisse quis leo
                    egestas, dapibus quam sit amet, volutpat metus. Sed non urna metus. Fusce
                    id turpis pharetra, rutrum magna suscipit, vulputate lorem. Fusce vitae
                    odio placerat, gravida diam eu, luctus sem. Quisque iaculis ut nulla eget
                    egestas. Ut lectus arcu, dignissim eu ex sit amet, mollis ullamcorper sem.
                    Aenean vitae sapien quis diam vestibulum condimentum quis ut risus. Donec
                    tincidunt dui risus, auctor congue sapien tempus nec. Nunc et lorem
                    facilisis nisi condimentum scelerisque sed at massa. Aenean ultrices nisi
                    ut libero aliquam, vel aliquam est scelerisque. Ut posuere diam et arcu
                    gravida eleifend. Etiam vestibulum maximus ligula tempor pretium. Duis
                    orci ex, dictum quis magna ac, consequat viverra metus. Vivamus malesuada
                    nunc eget consequat blandit. Sed vitae sapien lacinia, laoreet nisi sed,
                    gravida diam. Morbi condimentum vel ex sed sodales. Nullam molestie,
                    turpis sed tincidunt iaculis, magna diam tincidunt ante, ornare varius leo
                    neque sit amet nibh. Ut efficitur leo at purus molestie porttitor. Etiam
                    sed metus mauris. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Curabitur scelerisque rhoncus euismod. Aenean ullamcorper sit
                    amet massa quis maximus. Maecenas eu turpis ornare, congue nunc non,
                    auctor elit. Pellentesque est quam, ullamcorper non tellus in, euismod
                    sagittis elit. Morbi luctus sed turpis at pharetra. Mauris nec velit
                    porttitor elit laoreet laoreet. Curabitur tellus felis, convallis sit amet
                    pulvinar et, ultrices a dolor. Fusce luctus, metus eget eleifend placerat,
                    nulla nibh bibendum ante, eget congue ex ante non mauris. Sed feugiat
                    laoreet diam, sit amet efficitur nibh consequat et. Quisque ultricies eget
                    odio ut posuere. Curabitur volutpat id neque eget consequat. Vestibulum
                    odio leo, scelerisque ut ex vitae, laoreet aliquet sapien. Proin at lacus
                    ligula. Sed pretium massa sit amet neque interdum fringilla. Nullam diam
                    lectus, interdum eu finibus nec, tristique non nulla. Fusce suscipit
                    convallis orci id euismod. Pellentesque ut pellentesque velit. Maecenas
                    tincidunt maximus metus, imperdiet auctor lacus vulputate sed. Praesent eu
                    sem nisi. </p>
            </div>

            <div class="modal-footer">
                <button class="button button-secondary" data-modal-close>
                    Luk
                </button>
            </div>

        </div>
    </div>

</div>