<header class="header">

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" title="Gå til Portalnavns forside" aria-label="Portalnavn"
                class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    Anders Andersen
                </p>

                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <a href="#">Løsningstitel</a>
            </div>

            <div class="additional-info">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p>Support: 12 34 56 78</p>

            </div>

        </div>
    </div>

    <div class="navigation-menu">
        <div class="navigation-menu-inner container">

            <nav class="nav" aria-label="Hovedmenu">
                <ul class="mainmenu">
                    <li>

                        <div class="submenu">
                            <button class="button-overflow-menu js-dropdown"
                                data-js-target="desktopmenu-1" aria-haspopup="true"
                                aria-expanded="false">
                                <span>Første menupunkt der har en længere tekst end de andre
                                    punkter</span>
                            </button>
                            <div class="overflow-menu-inner collapsed" id="desktopmenu-1"
                                aria-hidden="true">
                                <ul class="overflow-list">
                                    <li>
                                        <a href="#" class="nav-link">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Andet</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Tredje</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Fjerde</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Femte</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Sjette</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Syvende</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Ottende</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Niende</span>
                        </a>
                    </li>
                    <li class="active">

                        <div class="submenu">
                            <button class="button-overflow-menu js-dropdown"
                                data-js-target="desktopmenu-10" aria-haspopup="true"
                                aria-expanded="false">
                                <span>Tiende</span>
                            </button>
                            <div class="overflow-menu-inner collapsed" id="desktopmenu-10"
                                aria-hidden="true">
                                <ul class="overflow-list">
                                    <li>
                                        <a href="#" class="nav-link">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li class="active current">
                                        <a href="#" class="nav-link" aria-current="page">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <nav class="navigation-menu-mobile" aria-label="Hovedmenu og undermenuer">
            <ul class="mainmenu">
                <li>

                    <div class="submenu">
                        <button class="button-mobile-menu js-menudropdown"
                            data-js-target="mobilemenu-1" aria-haspopup="true"
                            aria-expanded="false">
                            <span>Første menupunkt der har en længere tekst end de andre
                                punkter</span>
                        </button>
                        <div class="overflow-menu-inner" id="mobilemenu-1" aria-hidden="true">
                            <ul class="overflow-list">
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Undermenu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Undermenu</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Andet</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Fjerde</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Femte</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Sjette</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Syvende</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Ottende</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Niende</span>
                    </a>
                </li>
                <li class="active">

                    <div class="submenu">
                        <button class="button-mobile-menu js-menudropdown"
                            data-js-target="mobilemenu-10" aria-haspopup="true"
                            aria-expanded="true">
                            <span>Tiende</span>
                        </button>
                        <div class="overflow-menu-inner" id="mobilemenu-10"
                            aria-hidden="false">
                            <ul class="overflow-list">
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Undermenu</span>
                                    </a>
                                </li>
                                <li class="active current">
                                    <a href="#" class="nav-link" aria-current="page">
                                        <span>Undermenu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        <span>Undermenu</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </li>
            </ul>
        </nav>

        <div class="solution-info-mobile">
            <h3 class="sr-only">Myndighed</h3>

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p>Support: 12 34 56 78</p>

        </div>

        <div class="portal-info-mobile">
            <h3 class="sr-only">Bruger</h3>

            <p class="user">

                Anders Andersen

            </p>

            <p>
                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </p>
        </div>

    </div>
</header>