<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <button class="button button-secondary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis
                vitae felis in mollis.
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2">
            <button class="button button-primary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis
                vitae felis in mollis.
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <button class="button button-primary w-percent-30">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis
                vitae felis in mollis.
            </button>
            <button class="button button-secondary">
                Knap
            </button>
        </div>
    </div>
</main>