<main class="page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Placering af overflow-menu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="overflow-menu overflow-menu--open-right">
                <button class="button-overflow-menu js-dropdown" data-js-target="overflow1"
                    aria-expanded="false" aria-controls="overflow1">
                    Åbner menu til højre
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#more-vert"></use></svg>
                </button>
                <div class="overflow-menu-inner collapsed" id="overflow1">
                    <ul class='overflow-list'>
                        <li><button>Mulighed 1</button></li>
                        <li><a href='#'>Mulighed 2</a></li>
                        <li><button>Mulighed 3</button></li>
                        <li><button>Mulighed 4 har en meget længere tekst end de forrige tre
                                muligheder</button></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align: end;">

            <div class="overflow-menu overflow-menu--open-right">
                <button class="button-overflow-menu js-dropdown" data-js-target="overflow2"
                    aria-expanded="false" aria-controls="overflow2">
                    Åbner menu til højre
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#more-vert"></use></svg>
                </button>
                <div class="overflow-menu-inner collapsed" id="overflow2">
                    <ul class='overflow-list'>
                        <li><button>Mulighed 1</button></li>
                        <li><a href='#'>Mulighed 2</a></li>
                        <li><button>Mulighed 3</button></li>
                        <li><button>Mulighed 4 har en meget længere tekst end de forrige tre
                                muligheder</button></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="overflow-menu overflow-menu--open-left">
                <button class="button-overflow-menu js-dropdown" data-js-target="overflow3"
                    aria-expanded="false" aria-controls="overflow3">
                    Åbner menu til venstre
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#more-vert"></use></svg>
                </button>
                <div class="overflow-menu-inner collapsed" id="overflow3">
                    <ul class='overflow-list'>
                        <li><button>Mulighed 1</button></li>
                        <li><a href='#'>Mulighed 2</a></li>
                        <li><button>Mulighed 3</button></li>
                        <li><button>Mulighed 4 har en meget længere tekst end de forrige tre
                                muligheder</button></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12" style="text-align: end;">

            <div class="overflow-menu overflow-menu--open-left">
                <button class="button-overflow-menu js-dropdown" data-js-target="overflow4"
                    aria-expanded="false" aria-controls="overflow4">
                    Åbner menu til venstre
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#more-vert"></use></svg>
                </button>
                <div class="overflow-menu-inner collapsed" id="overflow4">
                    <ul class='overflow-list'>
                        <li><button>Mulighed 1</button></li>
                        <li><a href='#'>Mulighed 2</a></li>
                        <li><button>Mulighed 3</button></li>
                        <li><button>Mulighed 4 har en meget længere tekst end de forrige tre
                                muligheder</button></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</main>