<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Links</h1>
            <p>Nedenstående links har styling sat med klasser. Link styling bør også testes
                manuelt.</p>
            <p>
                <a href="#">Link</a>
            </p>
            <p>
                <a href="#" class="link-focus">Fokuseret link</a>
            </p>
            <p>
                <a href="#" class="link-visited">Besøgt link</a>
            </p>
            <p>
                <a href="#" class="link-hover">Hover på link</a>
            </p>
            <p>
                <a href="#" class="link-hover link-visited">Hover på besøgt link</a>
            </p>
            <p>
                <a href="#" class="icon-link" target="_blank">Eksternt
                    link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
            </p>
            <p>
                <a href="#" class="icon-link link-focus" target="_blank">Fokuseret eksternt
                    link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
            </p>
            <p>
                <a href="#" class="icon-link link-focus d-inline" target="_blank">Fokuseret
                    eksternt link med
                    inline-display<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
            </p>
            <p>
                <a href="#" class="icon-link link-visited" target="_blank">Besøgt eksternt
                    link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
            </p>
            <p>
                <a href="#" class="icon-link link-hover" target="_blank">Hover på eksternt
                    link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
            </p>
            <p>
                <a href="#" class="icon-link link-hover link-visited" target="_blank">Hover på
                    besøgt, eksternt
                    link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
            </p>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Ombrydning af eksterne links</h2>
            <p>Dette eksterne link er meget langt og står inde i en paragraf for at vise,
                hvordan teksten ombrydes. Linket er <a href="#" class="icon-link"
                    target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    Phasellus eget erat id enim egestas tempus eu efficitur velit Ut ut turpis
                    est Nunc et vulputate
                    sapien<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                og display-typen er <strong>"inline-block"</strong> (default).</p>
            <p>Dette eksterne link er meget langt og står inde i en paragraf for at vise,
                hvordan teksten ombrydes. Linket er <a href="#" class="icon-link d-inline"
                    target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    Phasellus eget erat id enim egestas tempus eu efficitur velit Ut ut turpis
                    est Nunc et vulputate
                    sapien<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                og display-typen er <strong>"inline"</strong> (sat med hjælpeklasse).</p>
        </div>
    </div>
</main>