<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Simpel modal</p>

            <div class="fds-modal" id="modal-example" aria-hidden="true" role="dialog"
                aria-modal="true" aria-labelledby="modal-example-heading">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-example-heading">
                            Titel i modal
                        </h2>
                        <button class="modal-close function-link"
                            data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
                    </div>
                    <div class="modal-body">
                        <p>Dette er modalens indhold.</p>
                    </div>

                </div>
            </div>

            <button class="button button-tertiary" data-module="modal"
                data-target="modal-example" aria-haspopup="dialog">
                Åbn modal
            </button>
        </div>
    </div>
</main>