<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Beskedvarianter</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="alert alert-info">
                <svg class="icon-svg alert-icon" aria-label="Information" focusable="false"><use href="#info"></use></svg>
                <div class="alert-body">
                    <p class="alert-text">Variant: info</p>
                </div>
            </div>

            <div class="alert alert-success">
                <svg class="icon-svg alert-icon" aria-label="Succes" focusable="false"><use href="#success"></use></svg>
                <div class="alert-body">
                    <p class="alert-text">Variant: success</p>
                </div>
            </div>

            <div class="alert alert-warning" role="alert">
                <svg class="icon-svg alert-icon" aria-label="Advarsel" focusable="false"><use href="#warning"></use></svg>
                <div class="alert-body">
                    <p class="alert-text">Variant: warning</p>
                </div>
            </div>

            <div class="alert alert-error" role="alert">
                <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
                <div class="alert-body">
                    <p class="alert-text">Variant: error</p>
                </div>
            </div>

        </div>
    </div>
</main>