<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-input-fields-3</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Tooltip, hjælpetekst og prefix</p>

            <div class="form-group">
                <label class="form-label" for="input-text">E-mail</label>
                <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip"
                    data-tooltip-id="input-text-tooltipbutton" data-position="above"
                    data-trigger="click"><button class="button button-unstyled tooltip-target"
                        type="button" aria-label="Læs mere">
                        <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use href="#help"></use></svg></button></span>
                <span class="form-hint" id="input-text-hint">Her er en hjælpetekst</span>

                <div class="form-input-wrapper form-input-wrapper--prefix">
                    <div class="form-input-prefix" aria-hidden="true">Pre</div>
                    <input type="text" id="input-text" name="input-text" class="form-input"
                        aria-describedby="input-text-hint " required>
                </div>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Prefix, suffix og fejlbesked</p>

            <div class="form-group form-error">
                <label class="form-label" for="input-text">Udvalgt vare</label>

                <span class="form-error-message" id="input-text-error">
                    <span class="sr-only">Fejl: </span>Dette er en fejlbesked
                </span>
                <div
                    class="form-input-wrapper form-input-wrapper--prefix form-input-wrapper--suffix">
                    <div class="form-input-prefix" aria-hidden="true">Pris</div>
                    <input type="text" id="input-text" name="input-text" class="form-input"
                        aria-invalid="true" aria-describedby="input-text-error " required>
                    <div class="form-input-suffix" aria-hidden="true">kr.</div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Prefix, suffix og readonly</p>

            <div class="form-group">
                <label class="form-label" for="input-text">Udvalgt vare</label>

                <div
                    class="form-input-wrapper form-input-wrapper--prefix form-input-wrapper--suffix readonly">
                    <div class="form-input-prefix" aria-hidden="true">Pris</div>
                    <input type="text" id="input-text" name="input-text" class="form-input"
                        readonly required>
                    <div class="form-input-suffix" aria-hidden="true">kr.</div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Prefix, suffix og disabled</p>

            <div class="form-group">
                <label class="form-label  disabled" for="input-text">Udvalgt vare<span
                        class="weight-normal"> (frivilligt)</span></label>

                <div
                    class="form-input-wrapper form-input-wrapper--prefix form-input-wrapper--suffix disabled">
                    <div class="form-input-prefix" aria-hidden="true">Pris</div>
                    <input type="text" id="input-text" name="input-text" class="form-input"
                        disabled="disabled">
                    <div class="form-input-suffix" aria-hidden="true">kr.</div>
                </div>
            </div>

        </div>
    </div>
</main>