<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Trinindikator med lange tekster</h1>
        </div>
    </div>
    <div class="row mb-905">
        <aside class="col-12" aria-label="Se og vælg trin">

            <button class="step-indicator-button d-md-none" aria-haspopup="dialog"
                type="button" data-module="modal"
                data-target="modal-step-indicator"><span>Trin<strong> 5 </strong>af
                    7</span></button>

            <nav aria-label="Trinindikator" class="d-none d-md-block">

                <ol class="step-indicator">
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Trin 1 gennemført" focusable="false"><use href="#check"></use></svg></span>
                            <div>
                                <span
                                    class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuisfgrhghdgfsersumsapienCrasegetlaciniatortorVivamusaliqu</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Trin 2 gennemført" focusable="false"><use href="#check"></use></svg></span>
                            <div>
                                <span
                                    class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCjgjdtlaciniatortorVivamusaliqu</span>
                                <span
                                    class="step-information">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbiadsfavasegetlaciniatortorVivamusaliqu</span>
                            </div>
                        </a>
                    </li>
                    <li class="error">
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Fejl i trin 3" focusable="false"><use href="#error"></use></svg></span>
                            <div>
                                <span
                                    class="step-title">UmdolorsitametconsectetugdfsgdfxvggdffgsffdvsdferitarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                            </div>
                        </a>
                    </li>
                    <li class="error">
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Fejl i trin 4" focusable="false"><use href="#error"></use></svg></span>
                            <div>
                                <span
                                    class="step-title">UmdolorsitametconsectetugdfsgdfxvgelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                <span
                                    class="step-information">UmdolorsitametconsecteturadipiscingelitNullamufdvzdismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                            </div>
                        </a>
                    </li>
                    <li class="current " aria-current="step">
                        <a class="step" href="#">
                            <span class="step-number"><span>5</span></span>
                            <div>
                                <span
                                    class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusefbvxbendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                            </div>
                        </a>
                    </li>
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number"><span>6</span></span>
                            <div>
                                <span
                                    class="step-title">UmdolorsitametconsectedzdpiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                            </div>
                        </div>
                    </li>
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number"><span>7</span></span>
                            <div>
                                <span
                                    class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendjhgffucusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                <span
                                    class="step-information">UmdolorsitametfzvbfadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                            </div>
                        </div>
                    </li>
                </ol>

            </nav>
        </aside>
    </div>
</main>

<div class="fds-modal-container">

    <div class="fds-modal modal-step-indicator" id="modal-step-indicator" aria-hidden="true"
        role="dialog" aria-modal="true" aria-labelledby="modal-step-indicator-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-step-indicator-heading">
                    Trin 5 af 7
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">
                <nav aria-label='Trinindikator'>
                    <ol class="step-indicator">
                        <li>
                            <a class="step" href="#">
                                <span class="step-icon">
                                    <svg class="icon-svg" aria-label="Trin 1 gennemført" focusable="false"><use href="#check"></use></svg></span>
                                <div>
                                    <span
                                        class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuisfgrhghdgfsersumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-icon">
                                    <svg class="icon-svg" aria-label="Trin 2 gennemført" focusable="false"><use href="#check"></use></svg></span>
                                <div>
                                    <span
                                        class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCjgjdtlaciniatortorVivamusaliqu</span>
                                    <span
                                        class="step-information">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbiadsfavasegetlaciniatortorVivamusaliqu</span>
                                </div>
                            </a>
                        </li>
                        <li class="error">
                            <a class="step" href="#">
                                <span class="step-icon">
                                    <svg class="icon-svg" aria-label="Fejl i trin 3" focusable="false"><use href="#error"></use></svg></span>
                                <div>
                                    <span
                                        class="step-title">UmdolorsitametconsectetugdfsgdfxvggdffgsffdvsdferitarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                </div>
                            </a>
                        </li>
                        <li class="error">
                            <a class="step" href="#">
                                <span class="step-icon">
                                    <svg class="icon-svg" aria-label="Fejl i trin 4" focusable="false"><use href="#error"></use></svg></span>
                                <div>
                                    <span
                                        class="step-title">UmdolorsitametconsectetugdfsgdfxvgelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                    <span
                                        class="step-information">UmdolorsitametconsecteturadipiscingelitNullamufdvzdismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                </div>
                            </a>
                        </li>
                        <li class="current " aria-current="step">
                            <a class="step" href="#">
                                <span class="step-number"><span>5</span></span>
                                <div>
                                    <span
                                        class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusefbvxbendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                </div>
                            </a>
                        </li>
                        <li class="disabled ">
                            <div class="step">
                                <span class="step-number"><span>6</span></span>
                                <div>
                                    <span
                                        class="step-title">UmdolorsitametconsectedzdpiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                </div>
                            </div>
                        </li>
                        <li class="disabled ">
                            <div class="step">
                                <span class="step-number"><span>7</span></span>
                                <div>
                                    <span
                                        class="step-title">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendjhgffucusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                    <span
                                        class="step-information">UmdolorsitametfzvbfadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu</span>
                                </div>
                            </div>
                        </li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>

</div>