<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">JavaScript i accordions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionID1">
                            <span class="accordion-title">Accordion 1</span>
                        </button>
                    </h3>
                    <div id="accordionID1" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionID2">
                            <span class="accordion-title">Accordion 2</span>
                        </button>
                    </h3>
                    <div id="accordionID2" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let accordion1 = document.getElementsByClassName("accordion")[0]
            .getElementsByClassName("accordion-button")[0];
        accordion1.addEventListener("fds.accordion.open", function() {
            console.log("Accordion 1 was opened");
        });
        accordion1.addEventListener("fds.accordion.close", function() {
            console.log("Accordion 1 was closed");
        });
    });
</script>