<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group js-radio-toggle-group">
                <fieldset aria-labelledby="radio-example-legend">

                    <legend class="form-label" id="radio-example-legend">Liste med
                        radioknapper</legend>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option1" name="radio-example"
                            class="form-radio" value="v1">
                        <label class="form-label" for="radiogroup-option1">Valg 1</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option2" name="radio-example"
                            class="form-radio" value="v2">
                        <label class="form-label" for="radiogroup-option2">Valg 2</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option3" name="radio-example"
                            class="form-radio" value="v3"
                            data-controls="#radiogroup-option3-collapse"
                            data-expanded="false">
                        <label class="form-label" for="radiogroup-option3">Valg 3<span
                                class="sr-only"> Udfyld informationer herunder</span></label>

                    </div>
                    <div id="radiogroup-option3-collapse" aria-hidden="true"
                        class="radio-content">

                        <div class="form-group">
                            <label class="form-label" for="mytext">Inputfelt</label>

                            <input type="text" id="mytext" name="mytext" class="form-input"
                                required>
                        </div>

                    </div>
                </fieldset>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group js-radio-toggle-group">
                <fieldset aria-labelledby="radio-example2-legend">

                    <legend class="form-label" id="radio-example2-legend">Liste med
                        radioknapper</legend>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup2-option1" name="radio-example2"
                            class="form-radio" value="v1">
                        <label class="form-label" for="radiogroup2-option1">Valg 1</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup2-option2" name="radio-example2"
                            class="form-radio" value="v2"
                            data-controls="#radiogroup2-option2-collapse"
                            data-expanded="false">
                        <label class="form-label" for="radiogroup2-option2">Valg 2<span
                                class="sr-only"> Udfyld informationer herunder</span></label>

                    </div>
                    <div id="radiogroup2-option2-collapse" aria-hidden="true"
                        class="radio-content">
                        Dette er noget tekst, som man aldrig må have som skjult indhold i
                        radioknapper
                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup2-option3" name="radio-example2"
                            class="form-radio" value="v3"
                            data-controls="#radiogroup2-option3-collapse"
                            data-expanded="false">
                        <label class="form-label" for="radiogroup2-option3">Valg 3<span
                                class="sr-only"> Udfyld informationer herunder</span></label>

                    </div>
                    <div id="radiogroup2-option3-collapse" aria-hidden="true"
                        class="radio-content">

                        <div class="form-group">
                            <label class="form-label" for="text3">Inputfelt</label>

                            <input type="text" id="text3" name="text3" class="form-input"
                                required>
                        </div>

                    </div>
                </fieldset>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group js-radio-toggle-group">
                <fieldset aria-labelledby="radio-example3-legend">

                    <legend class="form-label" id="radio-example3-legend">Do you accept?
                    </legend>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup3-option1" name="radio-example3"
                            class="form-radio" value="v1">
                        <label class="form-label" for="radiogroup3-option1">Yes</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup3-option2" name="radio-example3"
                            class="form-radio" value="v3"
                            data-controls="#radiogroup3-option2-collapse"
                            data-expanded="false">
                        <label class="form-label" for="radiogroup3-option2">No<span
                                class="sr-only"> Udfyld informationer herunder</span></label>

                    </div>
                    <div id="radiogroup3-option2-collapse" aria-hidden="true"
                        class="radio-content">

                        <div class="form-group">
                            <fieldset>
                                <legend class="form-label">
                                    Why not?
                                </legend>

                                <div class="form-group-checkbox">
                                    <input type="checkbox" id="checkboxgroup-option1"
                                        name="checkbox-example" class="form-checkbox"
                                        value="v1">
                                    <label class="form-label" for="checkboxgroup-option1">I
                                        have my reasons</label>

                                </div>

                                <div class="form-group-checkbox">
                                    <input type="checkbox" id="checkboxgroup-option2"
                                        name="checkbox-example" class="form-checkbox"
                                        value="v2">
                                    <label class="form-label" for="checkboxgroup-option2">It
                                        doesn't look nice</label>

                                </div>

                                <div class="form-group-checkbox">
                                    <input type="checkbox" id="checkboxgroup-option3"
                                        name="checkbox-example" class="form-checkbox"
                                        value="v3">
                                    <label class="form-label"
                                        for="checkboxgroup-option3">Don't know</label>

                                </div>

                            </fieldset>
                        </div>

                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</main>