<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Valgbare rækker med paginering</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-6">
            <div role="group" aria-labelledby="toggle-switch-heading"
                class="w-percent-100 w-percent-sm-80 w-percent-lg-50 pr-sm-905">
                <h2 class="h5 mb-4 mt-0" id="toggle-switch-heading">Tabeludseende</h2>

                <button class="toggle-switch w-percent-100" type="button" role="switch"
                    aria-checked="false"><span>Borderless</span></button>

                <button class="toggle-switch w-percent-100" type="button" role="switch"
                    aria-checked="false"><span>Zebra</span></button>

            </div>
        </div>
        <div class="col-6">

            <div class="form-group">
                <fieldset aria-labelledby="radio-line-height-legend">

                    <legend class="form-label" id="radio-line-height-legend">Linjehøjde
                    </legend>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option1" name="radio-line-height"
                            class="form-radio" value="v1" checked>
                        <label class="form-label" for="radiogroup-option1">Normal</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option2" name="radio-line-height"
                            class="form-radio" value="v2">
                        <label class="form-label" for="radiogroup-option2">Kompakt</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option3" name="radio-line-height"
                            class="form-radio" value="v3">
                        <label class="form-label" for="radiogroup-option3">Ekstra
                            kompakt</label>

                    </div>

                </fieldset>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <p aria-live="polite" aria-atomic="true" class="rows-message">Viser
                <strong class="displayed-rows">1-4</strong> af
                <strong class="total-rows">92</strong> rækker</p>
            <div class="table--responsive-scroll" tabindex="0">
                <table class="table table--selectable">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-group-checkbox">
                                    <input id="-check-all" type="checkbox"
                                        class="form-checkbox"
                                        aria-controls=" undefined-check-1 undefined-check-2 undefined-check-3 undefined-check-4">
                                    <label for="-check-all"><span class="sr-only">Vælg alle
                                            rækker</span></label>
                                </div>
                            </th>
                            <th scope="col" class="table-header-no-wrap">First column</th>
                            <th scope="col" class="table-header-no-wrap">Second column</th>
                            <th scope="col" class="table-header-no-wrap">Third column</th>
                            <th scope="col" class="table-header-no-wrap">Fourth column</th>
                            <th scope="col" class="table-header-no-wrap">Fifth column</th>
                            <th scope="col" class="table-header-no-wrap">Sixth column</th>
                            <th scope="col" class="table-header-no-wrap">Seventh column</th>
                            <th scope="col" class="table-header-no-wrap">Eighth column</th>
                            <th scope="col" class="table-header-no-wrap">Ninth column</th>
                            <th scope="col" class="table-header-no-wrap">Tenth column</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group-checkbox">
                                    <input id="-check-1" type="checkbox" name="-check[]"
                                        class="form-checkbox" value="First row, first cell">
                                    <label for="-check-1"><span class="sr-only">Vælg
                                            række</span></label>
                                </div>
                            </td>
                            <td>First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                            <td>First row, fourth cell</td>
                            <td>First row, fifth cell</td>
                            <td>First row, sixth cell</td>
                            <td>First row, seventh cell</td>
                            <td>First row, eighth cell</td>
                            <td>First row, ninth cell</td>
                            <td>First row, tenth cell</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group-checkbox">
                                    <input id="-check-2" type="checkbox" name="-check[]"
                                        class="form-checkbox" value="Second row, first cell">
                                    <label for="-check-2"><span class="sr-only">Vælg
                                            række</span></label>
                                </div>
                            </td>
                            <td>Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                            <td>Second row, fourth cell</td>
                            <td>Second row, fifth cell</td>
                            <td>Second row, sixth cell</td>
                            <td>Second row, seventh cell</td>
                            <td>Second row, eighth cell</td>
                            <td>Second row, ninth cell</td>
                            <td>Second row, tenth cell</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group-checkbox">
                                    <input id="-check-3" type="checkbox" name="-check[]"
                                        class="form-checkbox" value="Third row, first cell">
                                    <label for="-check-3"><span class="sr-only">Vælg
                                            række</span></label>
                                </div>
                            </td>
                            <td>Third row, first cell</td>
                            <td>Third row, second cell</td>
                            <td>Third row, third cell</td>
                            <td>Third row, fourth cell</td>
                            <td>Third row, fifth cell</td>
                            <td>Third row, sixth cell</td>
                            <td>Third row, seventh cell</td>
                            <td>Third row, eighth cell</td>
                            <td>Third row, ninth cell</td>
                            <td>Third row, tenth cell</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group-checkbox">
                                    <input id="-check-4" type="checkbox" name="-check[]"
                                        class="form-checkbox" value="Fourth row, first cell">
                                    <label for="-check-4"><span class="sr-only">Vælg
                                            række</span></label>
                                </div>
                            </td>
                            <td>Fourth row, first cell</td>
                            <td>Fourth row, second cell</td>
                            <td>Fourth row, third cell</td>
                            <td>Fourth row, fourth cell</td>
                            <td>Fourth row, fifth cell</td>
                            <td>Fourth row, sixth cell</td>
                            <td>Fourth row, seventh cell</td>
                            <td>Fourth row, eighth cell</td>
                            <td>Fourth row, ninth cell</td>
                            <td>Fourth row, tenth cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-pagination-options">

                <div class="form-group">
                    <label class="form-label" for="pagination-pages">Vis rækker per
                        side:</label>

                    <select class="form-select" name="pagination-pages" id="pagination-pages">
                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="all">Alle</option>
                    </select>
                </div>

                <div role="group" class="table-pagination" aria-label="Skift side i tabellen">
                    <button
                        class="button button-arrow button-first hidden"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#first-page"></use></svg><span
                            class="sr-only">Første side</span></button>
                    <button class="button button-arrow button-previous hidden"
                        aria-label="Forrige side">
                        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg><span
                            class="pagination-nav-link">Forrige</span>
                    </button>
                    <span class="pagination-mobile">Side 1 af 23</span>
                    <ul class="pagination__items">

                        <li class="pagination-item pagination-number">
                            <button class="button current-page" aria-label='Side 1'
                                aria-current="true">1</button>
                        </li>

                        <li class="pagination-item pagination-number">
                            <button class="button button-secondary"
                                aria-label='Side 2'>2</button>
                        </li>

                        <li class="pagination-item pagination-number">
                            <button class="button button-secondary"
                                aria-label='Side 3'>3</button>
                        </li>

                        <li class="pagination-item pagination-number">
                            <button class="button button-secondary"
                                aria-label='Side 4'>4</button>
                        </li>

                        <li class="pagination-item pagination-number">
                            <button class="button button-secondary"
                                aria-label='Side 5'>5</button>
                        </li>

                        <li class="pagination-item pagination-overflow">
                            <span class="sr-only">Prikker som indikerer skjulte
                                sider</span><span>...</span>
                        </li>
                        <li class="pagination-item pagination-number">
                            <button class="button button-secondary"
                                aria-label='Sidste side, side 23'>23</button>
                        </li>
                    </ul>
                    <button class="button button-arrow button-next" aria-label="Næste side">
                        <span
                            class="pagination-nav-link">Næste</span><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-right"></use></svg>
                    </button>
                    <button
                        class="button button-arrow button-last"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#last-page"></use></svg><span
                            class="sr-only">Sidste side</span></button>
                </div>

            </div>
            <div class="table-actions">
                <p class="table-selected-number no-selected mb-0">Ingen rækker valgt</p>
            </div>
        </div>
    </div>
</main>