<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Trinindikator, statuskombinationer</h1>
            <p>Alle nedenstående eksempler er uden bottom sheets</p>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 valgt trin">

                <ol class="step-indicator">
                    <li class="current " aria-current="step">
                        <a class="step" href="#">
                            <span class="step-number"><span>1</span></span>
                            <div>
                                <span class="step-title">Valgt trin</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 valgt trin med hjælpetekst">

                <ol class="step-indicator">
                    <li class="current " aria-current="step">
                        <a class="step" href="#">
                            <span class="step-number"><span>1</span></span>
                            <div>
                                <span class="step-title">Valgt trin med hjælpetekst</span>
                                <span class="step-information">Hjælpetekst under
                                    trintitlen</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 valgt trin med fejl">

                <ol class="step-indicator">
                    <li class="current error" aria-current="step">
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Fejl i trin 1" focusable="false"><use href="#error"></use></svg></span>
                            <div>
                                <span class="step-title">Valgt trin med fejl</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 valgt trin med fejl og hjælpetekst">

                <ol class="step-indicator">
                    <li class="current error" aria-current="step">
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Fejl i trin 1" focusable="false"><use href="#error"></use></svg></span>
                            <div>
                                <span class="step-title">Valgt trin med fejl og
                                    hjælpetekst</span>
                                <span class="step-information">Hjælpetekst under
                                    trintitlen</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 klikbart trin">

                <ol class="step-indicator">
                    <li>
                        <a class="step" href="#">
                            <span class="step-number"><span>1</span></span>
                            <div>
                                <span class="step-title">Klikbart trin</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 klikbart trin med hjælpetekst">

                <ol class="step-indicator">
                    <li>
                        <a class="step" href="#">
                            <span class="step-number"><span>1</span></span>
                            <div>
                                <span class="step-title">Klikbart trin med hjælpetekst</span>
                                <span class="step-information">Hjælpetekst under
                                    trintitlen</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 klikbart, gennemført trin">

                <ol class="step-indicator">
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Trin 1 gennemført" focusable="false"><use href="#check"></use></svg></span>
                            <div>
                                <span class="step-title">Klikbart, gennemført trin</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 klikbart, gennemført trin med hjælpetekst">

                <ol class="step-indicator">
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Trin 1 gennemført" focusable="false"><use href="#check"></use></svg></span>
                            <div>
                                <span class="step-title">Klikbart, gennemført trin med
                                    hjælpetekst</span>
                                <span class="step-information">Hjælpetekst under
                                    trintitlen</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 ikke-klikbart trin">

                <ol class="step-indicator">
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number"><span>1</span></span>
                            <div>
                                <span class="step-title">Ikke-klikbart trin</span>
                            </div>
                        </div>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 ikke-klikbart trin med hjælpetekst">

                <ol class="step-indicator">
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number"><span>1</span></span>
                            <div>
                                <span class="step-title">Ikke-klikbart trin med
                                    hjælpetekst</span>
                                <span class="step-information">Hjælpetekst under
                                    trintitlen</span>
                            </div>
                        </div>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 trin med fejl">

                <ol class="step-indicator">
                    <li class="error">
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Fejl i trin 1" focusable="false"><use href="#error"></use></svg></span>
                            <div>
                                <span class="step-title">Trin med fejl</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12 col-lg-4">
            <nav aria-label="Trinindikator med 1 trin med fejl og hjælpetekst">

                <ol class="step-indicator">
                    <li class="error">
                        <a class="step" href="#">
                            <span class="step-icon">
                                <svg class="icon-svg" aria-label="Fejl i trin 1" focusable="false"><use href="#error"></use></svg></span>
                            <div>
                                <span class="step-title">Trin med fejl og hjælpetekst</span>
                                <span class="step-information">Hjælpetekst under
                                    trintitlen</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </div>
    </div>
</main>