<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-datepicker-7</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Max. dato og værdi</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example1">Dato for aftale</label>

                <div class="date-picker" data-max-date="2008-04-03">
                    <input type="text" id="datepicker-example1" name="appointment-date1"
                        class="form-input" value="02/04/2008" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Min. og max. dato</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example2">Dato for aftale</label>

                <div class="date-picker" data-min-date="2024-01-07"
                    data-max-date="2024-02-23">
                    <input type="text" id="datepicker-example2" name="appointment-date2"
                        class="form-input" value="02/02/2024" required>
                </div>
            </div>
        </div>
    </div>
</main>