<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Trinindikator</h1>
        </div>
    </div>
    <div class="row mb-905">
        <aside class="col-12 col-md-4" aria-label="Se og vælg trin">

            <button class="step-indicator-button d-md-none" aria-haspopup="dialog"
                type="button" data-module="modal"
                data-target="modal-step-indicator">Trin<strong> 7 </strong>af 10</button>

            <nav aria-label="Trinindikator" class="d-none d-md-block">

                <ol class="step-indicator">
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">

                                <svg class="icon-svg" aria-label="Trin 1 gennemført" focusable="false"><use href="#check"></use></svg>

                            </span>
                            <div>
                                <span class="step-title">Dette er et overstået, klikbart
                                    trin</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">

                                <svg class="icon-svg" aria-label="Trin 2 gennemført" focusable="false"><use href="#check"></use></svg>

                            </span>
                            <div>
                                <span class="step-title">Dette er et overstået, klikbart trin
                                    med hjælpetekst</span>
                                <span class="step-information">Informationstekst</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">

                                <svg class="icon-svg" aria-label="Trin 3 gennemført" focusable="false"><use href="#check"></use></svg>

                            </span>
                            <div>
                                <span class="step-title">Endnu et overstået, klikbart
                                    trin</span>
                            </div>
                        </a>
                    </li>
                    <li class="error">
                        <a class="step" href="#">
                            <span class="step-icon">

                                <svg class="icon-svg" aria-label="Fejl i trin 4" focusable="false"><use href="#error"></use></svg>

                            </span>
                            <div>
                                <span class="step-title">Fejlet trin med hjælpetekst</span>
                                <span class="step-information">Informationstekst</span>
                            </div>
                        </a>
                    </li>
                    <li class="error">
                        <a class="step" href="#">
                            <span class="step-icon">

                                <svg class="icon-svg" aria-label="Fejl i trin 5" focusable="false"><use href="#error"></use></svg>

                            </span>
                            <div>
                                <span class="step-title">Fejlet trin</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-icon">

                                <svg class="icon-svg" aria-label="Trin 6 gennemført" focusable="false"><use href="#check"></use></svg>

                            </span>
                            <div>
                                <span class="step-title">Endnu et overstået, klikbart
                                    trin</span>
                            </div>
                        </a>
                    </li>
                    <li class="current " aria-current="step">
                        <a class="step" href="#">
                            <span class="step-number">

                                <span>7</span>

                            </span>
                            <div>
                                <span class="step-title">Det nuværende trin</span>
                            </div>
                        </a>
                    </li>
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number">

                                <span>8</span>

                            </span>
                            <div>
                                <span class="step-title">Ikke-klikbart trin</span>
                            </div>
                        </div>
                    </li>
                    <li class="disabled ">
                        <div class="step">
                            <span class="step-number">

                                <span>9</span>

                            </span>
                            <div>
                                <span class="step-title">Ikke-klikbart trin med
                                    hjælpetekst</span>
                                <span class="step-information">Informationstekst</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="step" href="#">
                            <span class="step-number">

                                <span>10</span>

                            </span>
                            <div>
                                <span class="step-title">Klikbart, kommende trin</span>
                            </div>
                        </a>
                    </li>
                </ol>

            </nav>
        </aside>
    </div>
</main>

<div class="fds-modal-container">

    <div class="fds-modal modal-step-indicator" id="modal-step-indicator" aria-hidden="true"
        role="dialog" aria-modal="true" aria-labelledby="modal-step-indicator-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-step-indicator-heading">
                    Trin 7 af 10
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">
                <nav aria-label='Trinindikator'>
                    <ol class="step-indicator">
                        <li>
                            <a class="step" href="#">
                                <span class="step-icon">

                                    <svg class="icon-svg" aria-label="Trin 1 gennemført" focusable="false"><use href="#check"></use></svg>

                                </span>
                                <div>
                                    <span class="step-title">Dette er et overstået, klikbart
                                        trin</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-icon">

                                    <svg class="icon-svg" aria-label="Trin 2 gennemført" focusable="false"><use href="#check"></use></svg>

                                </span>
                                <div>
                                    <span class="step-title">Dette er et overstået, klikbart
                                        trin med hjælpetekst</span>
                                    <span class="step-information">Informationstekst</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-icon">

                                    <svg class="icon-svg" aria-label="Trin 3 gennemført" focusable="false"><use href="#check"></use></svg>

                                </span>
                                <div>
                                    <span class="step-title">Endnu et overstået, klikbart
                                        trin</span>
                                </div>
                            </a>
                        </li>
                        <li class="error">
                            <a class="step" href="#">
                                <span class="step-icon">

                                    <svg class="icon-svg" aria-label="Fejl i trin 4" focusable="false"><use href="#error"></use></svg>

                                </span>
                                <div>
                                    <span class="step-title">Fejlet trin med
                                        hjælpetekst</span>
                                    <span class="step-information">Informationstekst</span>
                                </div>
                            </a>
                        </li>
                        <li class="error">
                            <a class="step" href="#">
                                <span class="step-icon">

                                    <svg class="icon-svg" aria-label="Fejl i trin 5" focusable="false"><use href="#error"></use></svg>

                                </span>
                                <div>
                                    <span class="step-title">Fejlet trin</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-icon">

                                    <svg class="icon-svg" aria-label="Trin 6 gennemført" focusable="false"><use href="#check"></use></svg>

                                </span>
                                <div>
                                    <span class="step-title">Endnu et overstået, klikbart
                                        trin</span>
                                </div>
                            </a>
                        </li>
                        <li class="current " aria-current="step">
                            <a class="step" href="#">
                                <span class="step-number">

                                    <span>7</span>

                                </span>
                                <div>
                                    <span class="step-title">Det nuværende trin</span>
                                </div>
                            </a>
                        </li>
                        <li class="disabled ">
                            <div class="step">
                                <span class="step-number">

                                    <span>8</span>

                                </span>
                                <div>
                                    <span class="step-title">Ikke-klikbart trin</span>
                                </div>
                            </div>
                        </li>
                        <li class="disabled ">
                            <div class="step">
                                <span class="step-number">

                                    <span>9</span>

                                </span>
                                <div>
                                    <span class="step-title">Ikke-klikbart trin med
                                        hjælpetekst</span>
                                    <span class="step-information">Informationstekst</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="step" href="#">
                                <span class="step-number">

                                    <span>10</span>

                                </span>
                                <div>
                                    <span class="step-title">Klikbart, kommende trin</span>
                                </div>
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>

</div>