<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Dropdown med lang tekst</p>

            <div class="form-group">
                <label class="form-label" for="options-id">Dropdown menu med lange tekst valg
                    muligheder</label>

                <select class="form-select" name="options-name" id="options-id" required>
                    <option value="option1">Mulighed med en meget lang tekst næsten
                        urealistisk lang</option>
                    <option value="option2" selected>Mulighed normal</option>
                    <option value="option3">Mulighed med medium lang tekst</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Dropdown med endnu længere tekst</p>

            <div class="form-group">
                <label class="form-label" for="options-id">Dropdown menu med endnu længeere
                    tekst</label>

                <select class="form-select" name="options-name" id="options-id" required>
                    <option value="option1">Mulighed med den længste tekst der længe er set,
                        den er i hvert fald meget lang, næsten urealistisk lang, og ift. til
                        den første dropdown er den her i hvert fald længere. Kan den komme på
                        2 linjer?</option>
                    <option value="option2" selected>Mulighed normal</option>
                    <option value="option3">Mulighed unormal</option>
                </select>
            </div>

        </div>
    </div>
</main>