<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Accordions, der ikke er initialiseret</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div>
                <button class="accordion-bulk-button" data-accordion-bulk-expand="true">Åbn
                    alle</button>
                <ul class="accordion">
                    <li>
                        <h2>
                            <button class="accordion-button" aria-expanded="false"
                                aria-controls="accordionID1">
                                <span class="accordion-title">Accordion 1</span>
                            </button>
                        </h2>
                        <div id="accordionID1" aria-hidden="true" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <button class="accordion-button" aria-expanded="false"
                                aria-controls="accordionID2">
                                <span class="accordion-title">Accordion 2</span>
                            </button>
                        </h2>
                        <div id="accordionID2" aria-hidden="true" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</main>