<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Klasser, attributer og autocomplete</p>

            <div class="form-group formgroupclass" formgroupattr>
                <label class="form-label labelclass" for="input-text" labelattr>E-mail</label>

                <input type="text" id="input-text" name="input-text"
                    class="form-input inputclass" required autocomplete="email" inputattr>
            </div>

        </div>
    </div>
</main>