<main class="container page-container" id="main-content" style="min-height: 2000px;">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Tooltips</h1>
        </div>
    </div>
    <div class="row mt-9 pb-9">
        <div class="col-12">

            <div class="tooltip-wrapper"
                data-tooltip="Dette er en alt for lang tekst til et tooltip, men den er god at teste med. Tooltips bliver for lange, når de fylder mere end 4 linjer. fgdgdgfdsgfsdgfsdgsfdgerstsgfsgsgfgsfdgsdtertsgfgfdgsfgsgsdfgrtgrfgsfgsfdgsdfgsdrterargfsgsdfgsertg"
                data-tooltip-id="tooltip-helpicon" data-position="above" data-trigger="click">
                <button class="button button-unstyled tooltip-target" type="button"
                    aria-label="Læs mere">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button>
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12 d-flex justify-content-between">

            <div class="tooltip-wrapper"
                data-tooltip="Dette tooltip sidder i venstre side i rækken"
                data-tooltip-id="tooltip-left" data-position="above" data-trigger="click">
                <button class="button button-unstyled tooltip-target" type="button"
                    aria-label="Læs mere">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button>
            </div>

            <div class="tooltip-wrapper" data-tooltip="Dette tooltip sidder i midten i rækken"
                data-tooltip-id="tooltip-center" data-position="above" data-trigger="click">
                <button class="button button-unstyled tooltip-target" type="button"
                    aria-label="Læs mere">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button>
            </div>

            <div class="tooltip-wrapper"
                data-tooltip="Dette tooltip sidder i højre side i rækken"
                data-tooltip-id="tooltip-right" data-position="above" data-trigger="click">
                <button class="button button-unstyled tooltip-target" type="button"
                    aria-label="Læs mere">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button>
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-sm-6 mt-9">

            <div class="tooltip-wrapper" data-tooltip="Tooltip på en knap"
                data-tooltip-id="tooltip-knap1" data-position="above" data-trigger="hover">
                <button class="button button-primary tooltip-target">
                    Knap med tooltip
                </button>
            </div>
        </div>
        <div class="col-sm-6 mt-9">

            <div class="tooltip-wrapper" data-tooltip="Endnu et tooltip på en knap"
                data-tooltip-id="tooltip-knap2" data-position="below" data-trigger="hover">
                <button class="button button-secondary tooltip-target">
                    Anden knap med tooltip
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">

            <span class="tooltip-wrapper" data-tooltip="Tooltip på link"
                data-tooltip-id="link-tooltip" data-position="above" data-trigger="hover">
                <a href="#" class="tooltip-target">Link med tooltip</a>
            </span>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">

            <div class="tooltip-wrapper" data-tooltip="Tooltip på en stor knap"
                data-tooltip-id="tooltip-giant" data-position="above" data-trigger="hover">
                <button class="button button-primary tooltip-target"
                    style="min-height: 600px;">
                    Kæmpeknap
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">

            <div class="tooltip-wrapper" data-tooltip="Tryk for at åbne modal"
                data-tooltip-id="tooltip-modal" data-position="above" data-trigger="hover">
                <button class="button button-tertiary tooltip-target" data-module="modal"
                    data-target="modal-example" aria-haspopup="dialog">
                    Åbn modal
                </button>
            </div>
        </div>
    </div>
</main>

<div class="fds-modal-container">

    <div class="fds-modal" id="modal-example" aria-hidden="true" role="dialog"
        aria-modal="true" aria-labelledby="modal-example-heading">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-example-heading">
                    Modal med handlinger
                </h2>
                <button class="modal-close function-link"
                    data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
            </div>
            <div class="modal-body">
                <p>Dette er modalens indhold.</p>
            </div>

            <div class="modal-footer">
                <button class="button button-secondary" data-modal-close>
                    Luk
                </button>
            </div>

        </div>
    </div>

</div>