<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Ubegrænset bredde, aktivt trin og ikon</p>
            <div>

                <nav aria-label="Trinindikator">
                    <ol class="sidemenu">
                        <li>
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">1.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Første
                                                trin</span><span
                                                class="sidenav-icon"><svg class="icon-svg" aria-label="Gennemført" focusable="false"><use xlink:href="#done"></use></svg></span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="active current ">
                            <a class="nav-step" href="javascript:void(0);"
                                aria-current="page">
                                <div>
                                    <span class="sidenav-number">2.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Andet
                                                trin</span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">3.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Tredje
                                                trin</span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</main>