<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-tables-7</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Cell styling</p>

            <div class="table--responsive-scroll" tabindex="0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="table-header-no-wrap">First column with an
                                extremely long sentence, which will never break into several
                                lines because of its class</th>
                            <th scope="col">Second column</th>
                            <th scope="col">Third column</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="vertical-align-middle">First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                        </tr>
                        <tr>
                            <td class="vertical-align-bottom">Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>