<header class="header">

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" title="Gå til Portalnavns forside" aria-label="Portalnavn"
                class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut augue
                    euismod, hendrerit arcu sed, bibendum sapien. Cras eget lacinia tortor.
                    Vivamus aliquet, turpis a sollicitudin porttitor, lacus nulla tristique
                    turpis, sed vehicula nibh erat quis augue., Forsikringens Forsikringsfirma
                </p>

                <button class="button button-secondary d-print-none log-off">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut
                    augue euismod, hendrerit arcu sed, bibendum sapien. Cras eget lacinia
                    tortor. Vivamus aliquet, turpis a sollicitudin porttitor, lacus nulla
                    tristique turpis, sed vehicula nibh erat quis augue.</a>
            </div>

            <div class="additional-info">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p>Support: 12 34 56 78</p>

            </div>

        </div>
    </div>

    <div class="navigation-menu">
        <div class="navigation-menu-inner container">

            <nav class="nav" aria-label="Hovedmenu">
                <ul class="mainmenu">
                    <li>
                        <a href="#" class="nav-link">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nullam ut augue euismod, hendrerit arcu sed, bibendum sapien.
                                Cras eget lacinia tortor. Vivamus aliquet, turpis a
                                sollicitudin porttitor, lacus nulla tristique turpis, sed
                                vehicula nibh erat quis augue.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Andet menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Tredje menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Fjerde menupunkt</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <nav class="navigation-menu-mobile" aria-label="Hovedmenu">
            <ul class="mainmenu">
                <li>
                    <a href="#" class="nav-link">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                            ut augue euismod, hendrerit arcu sed, bibendum sapien. Cras eget
                            lacinia tortor. Vivamus aliquet, turpis a sollicitudin porttitor,
                            lacus nulla tristique turpis, sed vehicula nibh erat quis
                            augue.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Andet menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Fjerde menupunkt</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="solution-info-mobile">

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p>Support: 12 34 56 78</p>

        </div>

        <div class="portal-info-mobile">

            <p class="user">

                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut augue
                    euismod, hendrerit arcu sed, bibendum sapien. Cras eget lacinia tortor.
                    Vivamus aliquet, turpis a sollicitudin porttitor, lacus nulla tristique
                    turpis, sed vehicula nibh erat quis augue.</span>
                <span>Forsikringens Forsikringsfirma</span>

            </p>

            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

    </div>
</header>