<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Klasser, attributer og default dato</p>

            <div class="form-group formgroupclass" formgroupattr>
                <label class="form-label labelclass" for="datepicker-example1" labelattr>Dato
                    for aftale</label>

                <div class="date-picker" data-default-date="2008-11-23">
                    <input type="text" id="datepicker-example1" name="appointment-date1"
                        class="form-input inputclass" required inputattr>
                </div>
            </div>
        </div>
    </div>
</main>