<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <div class="tab-container" role="tablist" aria-label="List of tabs">
                <ul>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel1"
                            aria-selected="true"
                            id="tab1"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>Indhold
                                1</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel2"
                            aria-selected="false"
                            id="tab2"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#format-list-checks"></use></svg><span>Indhold
                                2</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel3"
                            aria-selected="false"
                            id="tab3"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>Indhold
                                3</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel4"
                            aria-selected="false"
                            id="tab4"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#format-list-checks"></use></svg><span>Indhold
                                4</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel5"
                            aria-selected="false"
                            id="tab5"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>Indhold
                                5</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel6"
                            aria-selected="false"
                            id="tab6"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#format-list-checks"></use></svg><span>Indhold
                                6</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel7"
                            aria-selected="false"
                            id="tab7"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>Indhold
                                7</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel8"
                            aria-selected="false"
                            id="tab8"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#format-list-checks"></use></svg><span>Indhold
                                8</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel9"
                            aria-selected="false"
                            id="tab9"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>Indhold
                                9</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel10"
                            aria-selected="false"
                            id="tab10"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#format-list-checks"></use></svg><span>Indhold
                                10</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel11"
                            aria-selected="false"
                            id="tab11"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>Indhold
                                11</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel12"
                            aria-selected="false"
                            id="tab12"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#format-list-checks"></use></svg><span>Indhold
                                12</span>
                        </button>
                    </li>

                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel13"
                            aria-selected="false"
                            id="tab13"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>Indhold
                                13</span>
                        </button>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel1"
                            aria-labelledby="tab1" aria-hidden="false">
                            <h2>Indhold 1</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel2"
                            aria-labelledby="tab2" aria-hidden="true">
                            <h2>Indhold 2</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel3"
                            aria-labelledby="tab3" aria-hidden="true">
                            <h2>Indhold 3</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel4"
                            aria-labelledby="tab4" aria-hidden="true">
                            <h2>Indhold 4</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel5"
                            aria-labelledby="tab5" aria-hidden="true">
                            <h2>Indhold 5</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel6"
                            aria-labelledby="tab6" aria-hidden="true">
                            <h2>Indhold 6</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel7"
                            aria-labelledby="tab7" aria-hidden="true">
                            <h2>Indhold 7</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel8"
                            aria-labelledby="tab8" aria-hidden="true">
                            <h2>Indhold 8</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel9"
                            aria-labelledby="tab9" aria-hidden="true">
                            <h2>Indhold 9</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0"
                            id="tabpanel10" aria-labelledby="tab10" aria-hidden="true">
                            <h2>Indhold 10</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0"
                            id="tabpanel11" aria-labelledby="tab11" aria-hidden="true">
                            <h2>Indhold 11</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0"
                            id="tabpanel12" aria-labelledby="tab12" aria-hidden="true">
                            <h2>Indhold 12</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                    <li>
                        <section class="tab-panel" role="tabpanel" tabindex="0"
                            id="tabpanel13" aria-labelledby="tab13" aria-hidden="true">
                            <h2>Indhold 13</h2>
                            <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit
                                augue, ac lacinia nisl dolor et augue. Ut lorem massa,
                                consequat ut orci sit amet, maximus dictum orci. Mauris
                                pharetra nunc sed augue bibendum semper. Donec in cursus orci.
                                Ut sed posuere elit, quis semper turpis. Curabitur malesuada
                                nisi nec nisl facilisis ornare. Praesent vestibulum, velit id
                                sollicitudin auctor, ipsum lacus auctor nisl, in lacinia sem
                                massa eget urna.</p>
                        </section>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</main>