<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Liste med skjulte felter</p>

            <div class="form-group">
                <fieldset>
                    <legend class="form-label">
                        Liste med tjekbokse
                    </legend>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-option1"
                            name="checkbox-example" class="form-checkbox" value="v1">
                        <label class="form-label" for="checkboxgroup-option1">Tjekboks
                            1</label>

                    </div>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-option2"
                            name="checkbox-example"
                            class="form-checkbox js-checkbox-toggle-content" value="v2"
                            data-aria-controls="checkboxgroup-option2-collapse"
                            data-aria-expanded="false">
                        <label class="form-label" for="checkboxgroup-option2">Tjekboks 2<span
                                class="sr-only"> Udfyld informationer herunder</span></label>

                    </div>
                    <div id="checkboxgroup-option2-collapse" aria-hidden="true"
                        class="checkbox-content">

                        <div class="form-group">
                            <label class="form-label" for="text2">Inputfelt</label>

                            <input type="text" id="text2" name="text2" class="form-input"
                                required>
                        </div>

                    </div>

                    <div class="form-group-checkbox">
                        <input type="checkbox" id="checkboxgroup-option3"
                            name="checkbox-example"
                            class="form-checkbox js-checkbox-toggle-content" value="v3"
                            data-aria-controls="checkboxgroup-option3-collapse"
                            data-aria-expanded="false">
                        <label class="form-label" for="checkboxgroup-option3">Tjekboks 3<span
                                class="sr-only"> Udfyld informationer herunder</span></label>

                    </div>
                    <div id="checkboxgroup-option3-collapse" aria-hidden="true"
                        class="checkbox-content">

                        <div class="form-group">
                            <label class="form-label" for="text3">Inputfelt</label>

                            <input type="text" id="text3" name="text3" class="form-input"
                                required>
                        </div>

                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</main>