<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Tooltip og hjælpetekst</p>

            <div class="form-group">
                <label class="form-label" for="input-textarea">Tekstområde med label</label>
                <button class="button button-unstyled js-tooltip" type="button"
                    data-tooltip="Dette er et tooltip" data-tooltip-trigger="click"
                    data-tooltip-position="top">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg>
                    <span class="sr-only">Hvad betyder det?</span>
                </button>
                <span class="form-hint" id="input-textarea-hint">Her er en hjælpetekst</span>

                <textarea class="form-input" id="input-textarea" name="input-textarea" required aria-describedby="input-textarea-hint "></textarea>

            </div>

        </div>
    </div>
</main>