<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Almindelige cards</h1>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med intet indhold eller én type af indhold pr. card</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card"></div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <p class="mt-0">Card, der kun indeholder tekst.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <strong class="card-heading">Card, der kun indeholder titel</strong></div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content"><span class="card-subheading">Subheading</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <div class="button-group card-actions"><button
                            class="button button-secondary">Sekundærknap</button><button
                            class="button button-tertiary">Tertiærknap</button></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <ul class="nobullet-list card-actions">
                        <li><a href="#">Link</a></li>
                        <li><a href="#" class="icon-link" target="_blank">Eksternt
                                link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med to typer af indhold pr. card</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
                </div>
                <div class="card-content"><span class="card-subheading">Subheading</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content"><span class="card-subheading">Subheading</span>
                    <h3 class="card-heading">Titel</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Noget tekst, der står under titlen.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <p class="mt-0">Under denne tekst er to knapper.</p>
                    <div class="button-group card-actions"><button
                            class="button button-secondary">Sekundærknap
                        </button><button class="button button-tertiary">Tertiærknap</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <p class="mt-0">Under denne tekst er to links.</p>
                    <ul class="nobullet-list card-actions">
                        <li><a href="#">Link</a></li>
                        <li><a href="#" class="icon-link" target="_blank">Eksternt
                                link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Card med tre links</h3>
                    <ul class="nobullet-list card-actions">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#" class="icon-link" target="_blank">Eksternt
                                link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards som listeelementer</h2>
        </div>
        <div class="col-12">
            <ul class="row card-row">
                <li class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="mt-0">Første card i listen</p>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="mt-0">Andet card i listen</p>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="mt-0">Tredje card i listen</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards uden grid</h2>
        </div>
        <div class="col-12">
            <div class="card collapsed-height w-percent-sm-50 w-percent-md-30">
                <div class="card-content">
                    <p class="mt-0">Dette cards bredde er justeret med hjælpeklasser. På
                        større skærme er bredden 30%. På mindre skærme er den 50%. På helt små
                        skærme er kortet fuld bredde.</p>
                </div>
            </div>
            <div class="card collapsed-height w-percent-70">
                <div class="card-content">
                    <p class="mt-0">Dette cards bredde er justeret med hjælpeklasser. Bredden
                        er altid 70%.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med forskellig mængde tekst og knapper</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="button-group card-actions"><button
                            class="button button-secondary">Knap</button><button
                            class="button button-tertiary">Knap</button></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Aenean rutrum dolor in hendrerit ultrices. Aliquam dignissim, nulla ut
                        volutpat vestibulum, leo ligula rutrum est, ut tempus sapien felis in
                        lorem. Nullam eget sem quam.</p>
                    <div class="button-group card-actions"><button
                            class="button button-secondary">Knap</button><button
                            class="button button-tertiary">Knap</button><button
                            class="button button-tertiary">Knap</button></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Cras in mi ac diam dapibus viverra a id tellus.</p>
                    <div class="button-group card-actions"><button
                            class="button button-primary">Knap</button></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card collapsed-height">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Dette kort har fået justeret højden med en klasse.</p>
                    <div class="button-group card-actions"><button
                            class="button button-tertiary">Knap</button></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content"><span
                        class="card-subheading">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendr</span>
                    <h3 class="card-heading">Umdolorsitametconsecteturadipisci</h3>
                    <p>UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu
                    </p>
                    <div class="button-group card-actions"><button
                            class="button button-tertiary"><span>RsitametconsecteturadipiscingelitNullamutaugueeuis</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med forskellig mængde tekst og links</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul class="nobullet-list card-actions">
                        <li><a href="#">Link</a></li>
                        <li><a href="#" class="icon-link" target="_blank">Eksternt
                                link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Aenean rutrum dolor in hendrerit ultrices. Aliquam dignissim, nulla ut
                        volutpat vestibulum, leo ligula rutrum est, ut tempus sapien felis in
                        lorem. Nullam eget sem quam.</p>
                    <ul class="nobullet-list card-actions">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#" class="icon-link" target="_blank">Eksternt
                                link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Cras in mi ac diam dapibus viverra a id tellus.</p>
                    <ul class="nobullet-list card-actions">
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card collapsed-height">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Dette kort har fået justeret højden med en klasse.</p>
                    <ul class="nobullet-list card-actions">
                        <li><a href="#" class="icon-link" target="_blank">Eksternt
                                link<svg class="icon-svg" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med forskelligt indhold</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card collapsed-height">
                <div class="card-content">
                    <h3 class="card-heading">Titel 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h3 class="card-heading">Titel 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card collapsed-height">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</main>