<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Fejlede trin med forskellige elementer</p>
            <div>

                <nav aria-label="Trinindikator">
                    <ol class="sidemenu">
                        <li class="sidenav-error">
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">1.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Første trin med meget
                                                lang tekst beskrivelse</span><span
                                                class="sidenav-icon"><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="disabled sidenav-error">
                            <a class="nav-step">
                                <div>
                                    <span class="sidenav-number">2.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Andet trin</span><span
                                                class="sidenav-icon"><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="active current sidenav-error" aria-current="step">
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">3.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Tredje
                                                trin</span><span
                                                class="sidenav-icon"><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidenav-error">
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">4.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Fjerde
                                                trin</span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidenav-error">
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">5.</span>
                                    <div>
                                        <span class="sidenav-maininfo">
                                            <span class="sidenav-title">Femte trin</span><span
                                                class="sidenav-icon"><svg class="icon-svg" aria-label="Fejl" focusable="false"><use href="#error"></use></svg></span></span>
                                        <span><span
                                                class="sidenav-information">Informationstekst
                                                for sidste trin med lang tekst</span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</main>