<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-checkboxes-2</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Tjekboks med klasser og attributter</p>

            <div class="form-group-checkbox formgroupclass" formgroupattr>
                <input type="checkbox" id="checkbox" name="checkbox"
                    class="form-checkbox inputclass" value="1" inputattr>
                <label class="form-label labelclass" for="checkbox" labelattr>Label til
                    tjekboks</label>

            </div>

        </div>
    </div>
</main>