<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <nav class="tab-container" id="tab-component">
                <ul>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"
                            aria-current="page"><span>Indhold 1</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                2</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                3</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                4</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                5</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                6</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                7</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                8</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                9</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                10</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                11</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                12</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"><span>Indhold
                                13</span></a>
                    </li>

                </ul>
            </nav>

        </div>
    </div>
</main>