<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Tabel, der indeholder sortering og er responsiv</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="table--responsive-scroll" tabindex="0">
                <table class="table table--responsive-headers">
                    <thead>
                        <tr>
                            <th scope="col" aria-sort="ascending"><button
                                    class="button button-unstyled" id="btn-sort1"
                                    type="button">First column<span class="sr-only"> Klik for
                                        at sortere faldende</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use href="#sort-table-ascending"></use></svg>
                                </button></th>
                            <th scope="col"><button class="button button-unstyled"
                                    id="btn-sort2" type="button">Second column<span
                                        class="sr-only"> Klik for at sortere efter denne
                                        kolonne</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use href="#sort-table-none"></use></svg>
                                </button></th>
                            <th scope="col">Third column</th>
                        </tr>
                    </thead>
                    <tbody aria-live="polite">
                        <tr>
                            <td>First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                        </tr>
                        <tr>
                            <td>Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                        </tr>
                        <tr>
                            <td>Third row, first cell</td>
                            <td>Third row, second cell</td>
                            <td>Third row, third cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>