<header class="header">

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <a href="#">Løsningstitel</a>
            </div>

            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="additional-info d-print-none">

                <p><strong class="authority-name">Myndighedsnavn</strong></p>

                <p>Support: 12 34 56 78</p>

            </div>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <div class="solution-info-mobile">

            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>

            <p>Support: 12 34 56 78</p>

        </div>

    </div>
</header>