<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Knap 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="button button-primary js-tooltip buttonclass" id="buttonid"
                buttonattr data-tooltip="Bund tooltip" data-tooltip-position="bottom">
                <svg class="icon-svg iconclass" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>
                En knap

                <span class="sr-only">skjult tekst</span>
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <button class="button button-secondary js-tooltip buttonclass" id="buttonidtwo"
                buttonattr
                data-tooltip="Tooltip med lang tekst, i hvert fald længere end tooltippet i den første knap"
                data-tooltip-position="top">
                <svg class="icon-svg iconclass" focusable="false" aria-hidden="true"><use xlink:href="#folder"></use></svg>
                En anden knap

                <span class="sr-only">skjult tekst for knap 2</span>
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <button class="button button-tertiary js-tooltip buttonclass" id="buttonidthree"
                buttonattr
                data-tooltip="Tooltip med den længste tekst af alle knapper, i hvert fald længere end knapperne med tooltips på denne side"
                data-tooltip-position="bottom">
                <svg class="icon-svg iconclass" focusable="false" aria-hidden="true"><use xlink:href="#home"></use></svg>
                En tredje knap

                <span class="sr-only">skjult tekst for knap 3</span>
            </button>
        </div>
    </div>
</main>