<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <div>
                <button class="accordion-bulk-button" data-accordion-bulk-expand="true">Åbn
                    alle</button>
                <ul class="accordion">
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="true"
                                aria-controls="group-open1">
                                <span class="accordion-title">Foldet ud</span>
                            </button>
                        </h3>
                        <div id="group-open1" aria-hidden="false" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="true"
                                aria-controls="group-open2">
                                <span class="accordion-title">Foldet ud</span>
                            </button>
                        </h3>
                        <div id="group-open2" aria-hidden="false" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="true"
                                aria-controls="group-open3">
                                <span class="accordion-title">Foldet ud</span>
                            </button>
                        </h3>
                        <div id="group-open3" aria-hidden="false" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">

            <div>
                <button class="accordion-bulk-button" data-accordion-bulk-expand="true">Åbn
                    alle</button>
                <ul class="accordion">
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="false"
                                aria-controls="group-closed1">
                                <span class="accordion-title">Foldet sammen</span>
                            </button>
                        </h3>
                        <div id="group-closed1" aria-hidden="true" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="false"
                                aria-controls="group-closed2">
                                <span class="accordion-title">Foldet sammen</span>
                            </button>
                        </h3>
                        <div id="group-closed2" aria-hidden="true" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="false"
                                aria-controls="group-closed3">
                                <span class="accordion-title">Foldet sammen</span>
                            </button>
                        </h3>
                        <div id="group-closed3" aria-hidden="true" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">

            <div>
                <button class="accordion-bulk-button" data-accordion-bulk-expand="true">Åbn
                    alle</button>
                <ul class="accordion">
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="false"
                                aria-controls="group-mixed1">
                                <span class="accordion-title">Foldet sammen</span>
                            </button>
                        </h3>
                        <div id="group-mixed1" aria-hidden="true" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="true"
                                aria-controls="group-mixed2">
                                <span class="accordion-title">Foldet ud</span>
                            </button>
                        </h3>
                        <div id="group-mixed2" aria-hidden="false" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                    <li>
                        <h3>
                            <button class="accordion-button" aria-expanded="false"
                                aria-controls="group-mixed3">
                                <span class="accordion-title">Foldet sammen</span>
                            </button>
                        </h3>
                        <div id="group-mixed3" aria-hidden="true" class="accordion-content">
                            <p>This is some accordion content.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</main>