<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <div class="tab-container">
                <ul role="tablist">
                    <li>
                        <button class="tab-item" role="tab" aria-controls="tabpanel1"
                            aria-selected="true" id="tab1"><span>Indhold 1</span>
                        </button>
                    </li>
                </ul>
                <section class="tab-panel" role="tabpanel" tabindex="0" id="tabpanel1"
                    aria-labelledby="tab1">
                    <h2>Indhold 1</h2>
                    <p>Mauris tempor, tellus a laoreet finibus, neque metus hendrerit augue,
                        ac lacinia nisl dolor et augue. Ut lorem massa, consequat ut orci sit
                        amet, maximus dictum orci. Mauris pharetra nunc sed augue bibendum
                        semper. Donec in cursus orci. Ut sed posuere elit, quis semper turpis.
                        Curabitur malesuada nisi nec nisl facilisis ornare. Praesent
                        vestibulum, velit id sollicitudin auctor, ipsum lacus auctor nisl, in
                        lacinia sem massa eget urna.</p>
                </section>
            </div>

        </div>
    </div>
</main>