<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-dropdown-2</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Klasser og attributter</p>

            <div class="form-group formgroupclass" formgroupattr>
                <label class="form-label labelclass" for="options-id" labelattr>Dropdown
                    label</label>

                <select class="form-select selectclass" name="options-name" id="options-id"
                    required selectattr>
                    <option value="option1">Mulighed 1</option>
                    <option value="option2">Mulighed 2</option>
                    <option value="option3">Mulighed 3</option>
                </select>
            </div>

        </div>
    </div>
</main>