<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Simpel accordion</p>

            <ul class="accordion">
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="myID1">
                            Accordion one
                        </button>
                    </h3>
                    <div id="myID1" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="myID2">
                            Accordion two
                        </button>
                    </h3>
                    <div id="myID2" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="myID3">
                            Accordion three
                        </button>
                    </h3>
                    <div id="myID3" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>