<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-checkboxes-4</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Tjekboks disabled</p>

            <div class="form-group-checkbox">
                <input type="checkbox" id="checkbox" name="checkbox" class="form-checkbox"
                    value="1" disabled checked>
                <label class="form-label" for="checkbox">Label til tjekboks<span
                        class="weight-normal"> (frivilligt)</span></label>

            </div>

        </div>
    </div>
</main>