<main class="container page-container" id="main-content" style="background-color:#CFCFCF;">

    <div class="row">
        <div class="col-2">accessibility-new</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#accessibility-new"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-accessibility-new"></i></div>
    </div>

    <div class="row">
        <div class="col-2">account-circle</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#account-circle"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-account-circle"></i></div>
    </div>

    <div class="row">
        <div class="col-2">add</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#add"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-add"></i></div>
    </div>

    <div class="row">
        <div class="col-2">add-a-photo</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#add-a-photo"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-add-a-photo"></i></div>
    </div>

    <div class="row">
        <div class="col-2">agriculture</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#agriculture"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-agriculture"></i></div>
    </div>

    <div class="row">
        <div class="col-2">apps</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#apps"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-apps"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-back</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-back"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-back"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-downward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-downward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-downward"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-drop-down</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-drop-down"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-drop-down"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-drop-up</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-drop-up"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-drop-up"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-forward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-forward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-forward"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-left"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-right"></i></div>
    </div>

    <div class="row">
        <div class="col-2">arrow-upward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#arrow-upward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-arrow-upward"></i></div>
    </div>

    <div class="row">
        <div class="col-2">assessment</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#assessment"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-assessment"></i></div>
    </div>

    <div class="row">
        <div class="col-2">assignment</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#assignment"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-assignment"></i></div>
    </div>

    <div class="row">
        <div class="col-2">attach-file</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#attach-file"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-attach-file"></i></div>
    </div>

    <div class="row">
        <div class="col-2">bookmark-border</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#bookmark-border"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-bookmark-border"></i></div>
    </div>

    <div class="row">
        <div class="col-2">bookmarks</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#bookmarks"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-bookmarks"></i></div>
    </div>

    <div class="row">
        <div class="col-2">cached</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#cached"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-cached"></i></div>
    </div>

    <div class="row">
        <div class="col-2">calculator</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#calculator"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-calculator"></i></div>
    </div>

    <div class="row">
        <div class="col-2">card-account-details</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#card-account-details"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-card-account-details"></i></div>
    </div>

    <div class="row">
        <div class="col-2">card-text</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#card-text"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-card-text"></i></div>
    </div>

    <div class="row">
        <div class="col-2">chat</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#chat"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chat"></i></div>
    </div>

    <div class="row">
        <div class="col-2">check-circle</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#check-circle"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-check-circle"></i></div>
    </div>

    <div class="row">
        <div class="col-2">check-circle-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#check-circle-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-check-circle-white"></i></div>
    </div>

    <div class="row">
        <div class="col-2">chevron-double-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#chevron-double-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-double-left"></i></div>
    </div>

    <div class="row">
        <div class="col-2">chevron-double-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#chevron-double-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-double-right"></i></div>
    </div>

    <div class="row">
        <div class="col-2">chevron-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#chevron-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-left"></i></div>
    </div>

    <div class="row">
        <div class="col-2">chevron-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#chevron-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-chevron-right"></i></div>
    </div>

    <div class="row">
        <div class="col-2">close</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#close"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-close"></i></div>
    </div>

    <div class="row">
        <div class="col-2">construction</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#construction"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-construction"></i></div>
    </div>

    <div class="row">
        <div class="col-2">contact-support</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#contact-support"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-contact-support"></i></div>
    </div>

    <div class="row">
        <div class="col-2">content-copy</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#content-copy"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-content-copy"></i></div>
    </div>

    <div class="row">
        <div class="col-2">coronavirus</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#coronavirus"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-coronavirus"></i></div>
    </div>

    <div class="row">
        <div class="col-2">create-new-folder</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#create-new-folder"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-create-new-folder"></i></div>
    </div>

    <div class="row">
        <div class="col-2">credit-card</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#credit-card"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-credit-card"></i></div>
    </div>

    <div class="row">
        <div class="col-2">database</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#database"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-database"></i></div>
    </div>

    <div class="row">
        <div class="col-2">desktop-windows</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#desktop-windows"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-desktop-windows"></i></div>
    </div>

    <div class="row">
        <div class="col-2">domain</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#domain"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-domain"></i></div>
    </div>

    <div class="row">
        <div class="col-2">done</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#done"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-done"></i></div>
    </div>

    <div class="row">
        <div class="col-2">done-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#done-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-done-white"></i></div>
    </div>

    <div class="row">
        <div class="col-2">download-done</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#download-done"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-download-done"></i></div>
    </div>

    <div class="row">
        <div class="col-2">drive-eta</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#drive-eta"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-drive-eta"></i></div>
    </div>

    <div class="row">
        <div class="col-2">email</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#email"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-email"></i></div>
    </div>

    <div class="row">
        <div class="col-2">engineering</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#engineering"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-engineering"></i></div>
    </div>

    <div class="row">
        <div class="col-2">expand-less</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#expand-less"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-expand-less"></i></div>
    </div>

    <div class="row">
        <div class="col-2">expand-more</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#expand-more"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-expand-more"></i></div>
    </div>

    <div class="row">
        <div class="col-2">expand-more-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#expand-more-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-expand-more-white"></i></div>
    </div>

    <div class="row">
        <div class="col-2">face</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#face"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-face"></i></div>
    </div>

    <div class="row">
        <div class="col-2">feedback</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#feedback"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-feedback"></i></div>
    </div>

    <div class="row">
        <div class="col-2">file-download</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#file-download"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-download"></i></div>
    </div>

    <div class="row">
        <div class="col-2">file-excel</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#file-excel"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-excel"></i></div>
    </div>

    <div class="row">
        <div class="col-2">file-image</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#file-image"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-image"></i></div>
    </div>

    <div class="row">
        <div class="col-2">file-pdf</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#file-pdf"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-pdf"></i></div>
    </div>

    <div class="row">
        <div class="col-2">file-upload</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#file-upload"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-upload"></i></div>
    </div>

    <div class="row">
        <div class="col-2">file-word</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#file-word"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-file-word"></i></div>
    </div>

    <div class="row">
        <div class="col-2">first-page</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#first-page"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-first-page"></i></div>
    </div>

    <div class="row">
        <div class="col-2">flag</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#flag"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-flag"></i></div>
    </div>

    <div class="row">
        <div class="col-2">folder</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#folder"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-folder"></i></div>
    </div>

    <div class="row">
        <div class="col-2">folder-open</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#folder-open"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-folder-open"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-align-center</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-align-center"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-center"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-align-justify</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-align-justify"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-justify"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-align-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-align-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-left"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-align-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-align-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-align-right"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-bold</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-bold"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-bold"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-clear</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-clear"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-clear"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-color-fill</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-color-fill"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-color-fill"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-color-text</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-color-text"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-color-text"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-indent-decrease</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-indent-decrease"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-indent-decrease"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-indent-increase</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-indent-increase"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-indent-increase"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-italic</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-italic"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-italic"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-list-bulleted</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-list-bulleted"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-list-bulleted"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-list-checks</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-list-checks"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-list-checks"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-list-numbered</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-list-numbered"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-list-numbered"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-size</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-size"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-size"></i></div>
    </div>

    <div class="row">
        <div class="col-2">format-underlined</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#format-underlined"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-format-underlined"></i></div>
    </div>

    <div class="row">
        <div class="col-2">forum</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#forum"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-forum"></i></div>
    </div>

    <div class="row">
        <div class="col-2">forward</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#forward"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-forward"></i></div>
    </div>

    <div class="row">
        <div class="col-2">fullscreen</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#fullscreen"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-fullscreen"></i></div>
    </div>

    <div class="row">
        <div class="col-2">fullscreen-exit</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#fullscreen-exit"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-fullscreen-exit"></i></div>
    </div>

    <div class="row">
        <div class="col-2">grade</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#grade"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-grade"></i></div>
    </div>

    <div class="row">
        <div class="col-2">grade-outline</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#grade-outline"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-grade-outline"></i></div>
    </div>

    <div class="row">
        <div class="col-2">groups</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#groups"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-groups"></i></div>
    </div>

    <div class="row">
        <div class="col-2">headphones</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#headphones"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-headphones"></i></div>
    </div>

    <div class="row">
        <div class="col-2">help</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#help"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-help"></i></div>
    </div>

    <div class="row">
        <div class="col-2">highlight-off</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#highlight-off"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-highlight-off"></i></div>
    </div>

    <div class="row">
        <div class="col-2">highlight-off-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#highlight-off-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-highlight-off-white"></i></div>
    </div>

    <div class="row">
        <div class="col-2">home</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#home"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-home"></i></div>
    </div>

    <div class="row">
        <div class="col-2">hourglass-empty</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#hourglass-empty"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-hourglass-empty"></i></div>
    </div>

    <div class="row">
        <div class="col-2">how-to-reg</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#how-to-reg"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-how-to-reg"></i></div>
    </div>

    <div class="row">
        <div class="col-2">info</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#info"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-info"></i></div>
    </div>

    <div class="row">
        <div class="col-2">info-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#info-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-info-white"></i></div>
    </div>

    <div class="row">
        <div class="col-2">insert-drive-file</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#insert-drive-file"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-insert-drive-file"></i></div>
    </div>

    <div class="row">
        <div class="col-2">insert-invitation</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#insert-invitation"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-insert-invitation"></i></div>
    </div>

    <div class="row">
        <div class="col-2">language</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#language"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-language"></i></div>
    </div>

    <div class="row">
        <div class="col-2">laptop</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#laptop"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-laptop"></i></div>
    </div>

    <div class="row">
        <div class="col-2">last-page</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#last-page"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-last-page"></i></div>
    </div>

    <div class="row">
        <div class="col-2">link</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#link"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-link"></i></div>
    </div>

    <div class="row">
        <div class="col-2">list-alt</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#list-alt"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-list-alt"></i></div>
    </div>

    <div class="row">
        <div class="col-2">local-shipping</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#local-shipping"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-local-shipping"></i></div>
    </div>

    <div class="row">
        <div class="col-2">location-on</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#location-on"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-location-on"></i></div>
    </div>

    <div class="row">
        <div class="col-2">lock</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#lock"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-lock"></i></div>
    </div>

    <div class="row">
        <div class="col-2">lock-open</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#lock-open"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-lock-open"></i></div>
    </div>

    <div class="row">
        <div class="col-2">map</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#map"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-map"></i></div>
    </div>

    <div class="row">
        <div class="col-2">menu</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#menu"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-menu"></i></div>
    </div>

    <div class="row">
        <div class="col-2">mode</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#mode"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-mode"></i></div>
    </div>

    <div class="row">
        <div class="col-2">more-horiz</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#more-horiz"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-more-horiz"></i></div>
    </div>

    <div class="row">
        <div class="col-2">more-vert</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#more-vert"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-more-vert"></i></div>
    </div>

    <div class="row">
        <div class="col-2">mouse</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#mouse"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-mouse"></i></div>
    </div>

    <div class="row">
        <div class="col-2">note-add</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#note-add"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-note-add"></i></div>
    </div>

    <div class="row">
        <div class="col-2">notifications</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#notifications"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-notifications"></i></div>
    </div>

    <div class="row">
        <div class="col-2">open-in-new</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#open-in-new"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-open-in-new"></i></div>
    </div>

    <div class="row">
        <div class="col-2">open-with</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#open-with"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-open-with"></i></div>
    </div>

    <div class="row">
        <div class="col-2">outlined-flag</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#outlined-flag"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-outlined-flag"></i></div>
    </div>

    <div class="row">
        <div class="col-2">palette</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#palette"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-palette"></i></div>
    </div>

    <div class="row">
        <div class="col-2">payments</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#payments"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-payments"></i></div>
    </div>

    <div class="row">
        <div class="col-2">people-alt</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#people-alt"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-people-alt"></i></div>
    </div>

    <div class="row">
        <div class="col-2">person</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#person"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-person"></i></div>
    </div>

    <div class="row">
        <div class="col-2">person-add-alt-1</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#person-add-alt-1"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-person-add-alt-1"></i></div>
    </div>

    <div class="row">
        <div class="col-2">person-remove</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#person-remove"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-person-remove"></i></div>
    </div>

    <div class="row">
        <div class="col-2">phone-iphone</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#phone-iphone"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-phone-iphone"></i></div>
    </div>

    <div class="row">
        <div class="col-2">photo-camera</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#photo-camera"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-photo-camera"></i></div>
    </div>

    <div class="row">
        <div class="col-2">playlist-add</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#playlist-add"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-playlist-add"></i></div>
    </div>

    <div class="row">
        <div class="col-2">playlist-add-check</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#playlist-add-check"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-playlist-add-check"></i></div>
    </div>

    <div class="row">
        <div class="col-2">print</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#print"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-print"></i></div>
    </div>

    <div class="row">
        <div class="col-2">query-builder</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#query-builder"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-query-builder"></i></div>
    </div>

    <div class="row">
        <div class="col-2">refresh</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#refresh"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-refresh"></i></div>
    </div>

    <div class="row">
        <div class="col-2">remove</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#remove"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-remove"></i></div>
    </div>

    <div class="row">
        <div class="col-2">remove-white</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#remove-white"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-remove-white"></i></div>
    </div>

    <div class="row">
        <div class="col-2">reply</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#reply"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-reply"></i></div>
    </div>

    <div class="row">
        <div class="col-2">report-problem</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#report-problem"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-report-problem"></i></div>
    </div>

    <div class="row">
        <div class="col-2">save</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#save"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-save"></i></div>
    </div>

    <div class="row">
        <div class="col-2">school</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#school"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-school"></i></div>
    </div>

    <div class="row">
        <div class="col-2">science</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#science"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-science"></i></div>
    </div>

    <div class="row">
        <div class="col-2">search</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#search"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-search"></i></div>
    </div>

    <div class="row">
        <div class="col-2">send</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#send"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-send"></i></div>
    </div>

    <div class="row">
        <div class="col-2">settings</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#settings"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-settings"></i></div>
    </div>

    <div class="row">
        <div class="col-2">share</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#share"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-share"></i></div>
    </div>

    <div class="row">
        <div class="col-2">shopping-cart</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#shopping-cart"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-shopping-cart"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort-ascending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort-ascending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-ascending"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort-by-alpha</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort-by-alpha"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-by-alpha"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort-default</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort-default"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-default"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort-descending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort-descending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-descending"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort-table-ascending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort-table-ascending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-table-ascending"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort-table-descending</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort-table-descending"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-table-descending"></i></div>
    </div>

    <div class="row">
        <div class="col-2">sort-table-none</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#sort-table-none"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-sort-table-none"></i></div>
    </div>

    <div class="row">
        <div class="col-2">subdirectory-arrow-left</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#subdirectory-arrow-left"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-subdirectory-arrow-left"></i></div>
    </div>

    <div class="row">
        <div class="col-2">subdirectory-arrow-right</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#subdirectory-arrow-right"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-subdirectory-arrow-right"></i></div>
    </div>

    <div class="row">
        <div class="col-2">support-agent</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#support-agent"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-support-agent"></i></div>
    </div>

    <div class="row">
        <div class="col-2">text-format</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#text-format"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-text-format"></i></div>
    </div>

    <div class="row">
        <div class="col-2">trash-can</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#trash-can"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-trash-can"></i></div>
    </div>

    <div class="row">
        <div class="col-2">tune</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#tune"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-tune"></i></div>
    </div>

    <div class="row">
        <div class="col-2">vertical-split</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#vertical-split"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-vertical-split"></i></div>
    </div>

    <div class="row">
        <div class="col-2">videocam</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#videocam"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-videocam"></i></div>
    </div>

    <div class="row">
        <div class="col-2">view-headline</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#view-headline"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-view-headline"></i></div>
    </div>

    <div class="row">
        <div class="col-2">visibility</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#visibility"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-visibility"></i></div>
    </div>

    <div class="row">
        <div class="col-2">visibility-off</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#visibility-off"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-visibility-off"></i></div>
    </div>

    <div class="row">
        <div class="col-2">zoom-in</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#zoom-in"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-zoom-in"></i></div>
    </div>

    <div class="row">
        <div class="col-2">zoom-out</div>
        <div class="col-1">
            <svg class="icon-svg" focusable="false" aria-hidden="true" style="fill:#FF0000;"><use xlink:href="#zoom-out"></use></svg>
        </div>
        <div class="col-1"><i class="icon icon-zoom-out"></i></div>
    </div>

</main>