<header class="header">

    <div class="portal-info">
        <div class="portal-info-inner container">
            <a href="#" title="Gå til Portalnavns forside" aria-label="Portalnavn"
                class="logo">
                <span>Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none"
                aria-haspopup="dialog"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

            <div class="portal-user">
                <p class="user">
                    LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue,
                    Forsikringens Forsikringsfirma
                </p>

                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </div>
        </div>
    </div>

    <div class="solution-info">
        <div class="solution-info-inner container">
            <div class="solution-heading">
                <a
                    href="#">LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue</a>
            </div>

            <div class="additional-info">

                <p><strong class="authority-name">Loremipsumdolorsitametconsecteturadipiscingelit</strong>
                </p>

                <p>Loremipsumdolorsitametconsecteturadipiscingelit</p>

            </div>

        </div>
    </div>

    <div class="navigation-menu">
        <div class="navigation-menu-inner container">

            <nav class="nav" aria-label="Hovedmenu">
                <ul class="mainmenu">
                    <li>
                        <a href="#" class="nav-link">
                            <span>LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Andet menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Tredje menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Fjerde menupunkt</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">

        <div class="menu-top">
            <h2 id="menu-heading" class="menu-heading">Menu</h2>
            <button class="function-link button-menu-close js-menu-close"
                aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
        </div>

        <nav class="navigation-menu-mobile" aria-label="Hovedmenu">
            <ul class="mainmenu">
                <li>
                    <a href="#" class="nav-link">
                        <span>LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Andet menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Tredje menupunkt</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <span>Fjerde menupunkt</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="solution-info-mobile">
            <h3 class="sr-only">Myndighed</h3>

            <p class="mb-2">
                <strong class="authority-name">Loremipsumdolorsitametconsecteturadipiscingelit</strong>
            </p>

            <p>Loremipsumdolorsitametconsecteturadipiscingelit</p>

        </div>

        <div class="portal-info-mobile">
            <h3 class="sr-only">Bruger</h3>

            <p class="user">

                <span
                    class="mb-3">LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue</span>
                <span>Forsikringens Forsikringsfirma</span>

            </p>

            <p>
                <button
                    class="function-link d-print-none log-off"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#lock"></use></svg>Log
                    af</button>
            </p>
        </div>

    </div>
</header>