<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Fejlbesked, valgt knap og disabled</p>

            <div class="form-group form-error">
                <fieldset role="radiogroup" aria-describedby="radiogroup-error "
                    aria-invalid="true">

                    <legend class="form-label">Liste med radioknapper</legend>

                    <span class="form-error-message" id="radiogroup-error">
                        <span class="sr-only">Fejl: </span>Dette er en fejlbesked
                    </span>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option1" name="radio-example"
                            class="form-radio" value="v1">
                        <label class="form-label" for="radiogroup-option1">Valg 1</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option2" name="radio-example"
                            class="form-radio" value="v2" disabled>
                        <label class="form-label" for="radiogroup-option2">Valg 2</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option3" name="radio-example"
                            class="form-radio" value="v3" checked>
                        <label class="form-label" for="radiogroup-option3">Valg 3</label>

                    </div>

                </fieldset>
            </div>

        </div>
    </div>
</main>