<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Sortering i tabel</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-6">
            <div role="group" aria-labelledby="toggle-switch-heading"
                class="w-percent-100 w-percent-sm-80 w-percent-lg-50 pr-sm-905">
                <h2 class="h5 mb-4 mt-0" id="toggle-switch-heading">Tabeludseende</h2>

                <button class="toggle-switch w-percent-100" type="button" role="switch"
                    aria-checked="false"><span>Borderless</span></button>

                <button class="toggle-switch w-percent-100" type="button" role="switch"
                    aria-checked="false"><span>Zebra</span></button>

            </div>
        </div>
        <div class="col-6">

            <div class="form-group">
                <fieldset aria-labelledby="radio-line-height-legend">

                    <legend class="form-label" id="radio-line-height-legend">Linjehøjde
                    </legend>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option1" name="radio-line-height"
                            class="form-radio" value="v1" checked>
                        <label class="form-label" for="radiogroup-option1">Normal</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option2" name="radio-line-height"
                            class="form-radio" value="v2">
                        <label class="form-label" for="radiogroup-option2">Kompakt</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-option3" name="radio-line-height"
                            class="form-radio" value="v3">
                        <label class="form-label" for="radiogroup-option3">Ekstra
                            kompakt</label>

                    </div>

                </fieldset>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="table--responsive-scroll" tabindex="0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><button class="button button-unstyled"
                                    id="btn-sort1" type="button">First column<span
                                        class="sr-only"> Klik for at sortere efter denne
                                        kolonne</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use href="#sort-table-none"></use></svg>
                                </button></th>
                            <th scope="col">Second column</th>
                            <th scope="col" aria-sort="ascending"><button
                                    class="button button-unstyled" id="btn-sort3"
                                    type="button">Third column<span class="sr-only"> Klik for
                                        at sortere faldende</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use href="#sort-table-ascending"></use></svg>
                                </button></th>
                            <th scope="col"><button class="button button-unstyled"
                                    id="btn-sort4" type="button">Fourth column<span
                                        class="sr-only"> Klik for at sortere efter denne
                                        kolonne</span>
                                    <svg class="icon-svg mr-0 ml-2" focusable="false" aria-hidden="true"><use href="#sort-table-none"></use></svg>
                                </button></th>
                        </tr>
                    </thead>
                    <tbody aria-live="polite">
                        <tr>
                            <td>First row, first cell</td>
                            <td>First row, second cell</td>
                            <td>First row, third cell</td>
                            <td>First row, fourth cell</td>
                        </tr>
                        <tr>
                            <td>Second row, first cell</td>
                            <td>Second row, second cell</td>
                            <td>Second row, third cell</td>
                            <td>Second row, fourth cell</td>
                        </tr>
                        <tr>
                            <td>Third row, first cell</td>
                            <td>Third row, second cell</td>
                            <td>Third row, third cell</td>
                            <td>Third row, fourth cell</td>
                        </tr>
                        <tr>
                            <td>Fourth row, first cell</td>
                            <td>Fourth row, second cell</td>
                            <td>Fourth row, third cell</td>
                            <td>Fourth row, fourth cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>