<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <nav class="tab-container">
                <ul class="tab-list">
                    <li>
                        <a href="" class="tab-button" aria-current="true"><span></span></a>
                    </li>
                    <li>
                        <a href="" class="tab-button"><span></span></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>