<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Påkrævet-label og fejlbesked</p>

            <div class="form-group form-error">
                <label class="form-label" for="input-text">E-mail<span class="weight-normal">
                        (*skal udfyldes)</span></label>

                <span class="form-error-message" id="input-text-error">
                    <span class="sr-only">Fejl: </span>Dette er en fejlbesked
                </span>

                <input type="text" id="input-text" name="input-text" class="form-input"
                    aria-invalid="true" aria-describedby="input-text-error " required>
            </div>

        </div>
    </div>
</main>