<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Påkrævet-label, fejlbesked og min. dato</p>

            <div class="form-group form-error">
                <label class="form-label" for="datepicker-example1">Dato for aftale<span
                        class="weight-normal"> (*skal udfyldes)</span></label>

                <span class="form-error-message" id="datepicker-example1-error">
                    <span class="sr-only">Fejl: </span>Dette er en fejlbesked
                </span>
                <div class="date-picker" data-min-date="2030-04-03">
                    <input type="text" id="datepicker-example1" name="appointment-date1"
                        class="form-input" aria-invalid="true"
                        aria-describedby="datepicker-example1-error" required>
                </div>
            </div>
        </div>
    </div>
</main>