<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-dropdown-5</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Standard</p>

            <div class="form-group">
                <label class="form-label" for="options-id">Dropdown label</label>

                <select class="form-select" name="options-name" id="options-id">
                    <option value="option1">Mulighed 1</option>
                    <option value="option2">Mulighed 2</option>
                    <option value="option3">Mulighed 3</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Påkrævet</p>

            <div class="form-group">
                <label class="form-label" for="options-id1">Dropdown label<span
                        class="weight-normal"> (*skal udfyldes)</span></label>

                <select class="form-select" name="options-name1" id="options-id1" required>
                    <option value="option1">Mulighed 1</option>
                    <option value="option2">Mulighed 2</option>
                    <option value="option3">Mulighed 3</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Ikke påkrævet</p>

            <div class="form-group">
                <label class="form-label" for="options-id2">Dropdown label<span
                        class="weight-normal"> (frivilligt)</span></label>

                <select class="form-select" name="options-name2" id="options-id2">
                    <option value="option1">Mulighed 1</option>
                    <option value="option2">Mulighed 2</option>
                    <option value="option3">Mulighed 3</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Disabled</p>

            <div class="form-group">
                <label class="form-label" for="options-id3">Dropdown label</label>

                <select class="form-select" name="options-name3" id="options-id3"
                    disabled="disabled">
                    <option value="option1">Mulighed 1</option>
                    <option value="option2">Mulighed 2</option>
                    <option value="option3">Mulighed 3</option>
                </select>
            </div>

        </div>
    </div>
</main>