<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <button class="button button-primary">
                Knap 1
            </button>
            <button class="button button-secondary">
                Knap 2
            </button>
            <button class="button button-tertiary">
                Knap 3
            </button>
            <button class="button button-quaternary">
                Knap 4
            </button>
            <button class="button button-primary">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#refresh"></use></svg>
                Knap 1
            </button>
            <button class="button button-secondary">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#refresh"></use></svg>
                Knap 2
            </button>
            <button class="button button-tertiary">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#refresh"></use></svg>
                Knap 3
            </button>
            <button class="button button-quaternary">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#refresh"></use></svg>
                Knap 4
            </button>
            <button class="button button-unstyled">
                <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#trash-can"></use></svg>
                <span class="sr-only">Kun ikon</span>
            </button>
        </div>
    </div>
</main>