<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">

            <nav class="tab-container" id="tab-component">
                <ul>

                    <li>
                        <a href="javascript:void(0);" class="tab-item"
                            aria-current="page"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#construction"></use></svg><span>LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);"
                            class="tab-item"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#format-list-checks"></use></svg><span>ametconsecteturadipiscingelitduistristiquesollicitudinnibhsitametcommodonullafacilisinullamvehiculaipsumaarcucursusvitaetempodeunislnuncmi
                                ipsumfaucibusvitaeliquetnecullamcorpersitametrisusnullamgetfelisegetnunc</span></a>
                    </li>

                </ul>
            </nav>

        </div>
    </div>
</main>