<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Overskriftstyper i accordions</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h1>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionH11">
                            <span class="accordion-title">Overskrift: h1</span>
                        </button>
                    </h1>
                    <div id="accordionH11" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h2>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionH21">
                            <span class="accordion-title">Overskrift: h2</span>
                        </button>
                    </h2>
                    <div id="accordionH21" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionH31">
                            <span class="accordion-title">Overskrift: h3</span>
                        </button>
                    </h3>
                    <div id="accordionH31" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h4>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionH41">
                            <span class="accordion-title">Overskrift: h4</span>
                        </button>
                    </h4>
                    <div id="accordionH41" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h5>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionH51">
                            <span class="accordion-title">Overskrift: h5</span>
                        </button>
                    </h5>
                    <div id="accordionH51" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h6>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionH61">
                            <span class="accordion-title">Overskrift: h6</span>
                        </button>
                    </h6>
                    <div id="accordionH61" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <ul class="accordion">
                <li>
                    <h3>
                        <button class="accordion-button" aria-expanded="false"
                            aria-controls="accordionDefault1">
                            <span class="accordion-title">Overskrift: default (h3)</span>
                        </button>
                    </h3>
                    <div id="accordionDefault1" aria-hidden="true" class="accordion-content">
                        <p>This is some accordion content.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>