<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <button class="button button-primary">
                Knap 1
            </button>
            <button class="button button-secondary">
                Knap 2
            </button>
            <button class="button button-tertiary">
                Knap 3
            </button>
            <button class="button button-quaternary">
                Knap 4
            </button>
        </div>
    </div>
</main>