<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">JavaScript errors i tooltips</h1>
            <p>Åbn konsollen</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler target</p>

            <div class="tooltip-wrapper" data-tooltip="Tooltip på en knap"
                data-tooltip-id="tooltip1" data-position="above" data-trigger="hover">
                <button class="button button-primary">
                    Knap
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler tooltip</p>

            <div class="tooltip-wrapper" data-tooltip="" data-tooltip-id="tooltip2"
                data-position="above" data-trigger="hover">
                <button class="button button-primary tooltip-target">
                    Knap
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler trigger</p>

            <div class="tooltip-wrapper" data-tooltip="Tooltip på en knap"
                data-tooltip-id="tooltip-knap3" data-position="above"><button
                    class="button button-primary tooltip-target">
                    Knap
                </button></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler tooltip</p>

            <div class="tooltip-wrapper" data-tooltip="Tooltip på en knap"
                data-position="above" data-trigger="hover">
                <button class="button button-primary tooltip-target">
                    Knap
                </button>
            </div>
        </div>
    </div>
</main>