<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-date-input-6</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Ugyldige værdier</p>

            <div class="form-group">
                <fieldset>
                    <legend class="form-label">
                        Indtast en dato
                    </legend>

                    <div class="date-group mt-3">

                        <div class="form-group form-group-day">
                            <label class="form-label" for="date-example-day">Dag</label>

                            <input type="number" id="date-example-day" class="form-input"
                                value="NA" required>
                        </div>

                        <div class="form-group form-group-month">
                            <label class="form-label" for="date-example-month">Måned</label>

                            <input type="number" id="date-example-month" class="form-input"
                                value="567" required>
                        </div>

                        <div class="form-group form-group-year">
                            <label class="form-label" for="date-example-year">År</label>

                            <input type="number" id="date-example-year" class="form-input"
                                value="-/. " required>
                        </div>

                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</main>