<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-datepicker-3</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Tooltip, hjælpetekst og format</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example1">Dato for aftale</label>

                <span class="form-hint" id="datepicker-example1-hint">Anvend formatet
                    DD-MM-YYYY</span>

                <div class="date-picker" data-dateformat="DD-MM-YYYY">
                    <input type="text" id="datepicker-example1" name="appointment-date1"
                        class="form-input" aria-describedby="datepicker-example1-hint "
                        required>
                </div>
            </div>
        </div>
    </div>
</main>