<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Simpel trin guide</p>
            <div>

                <nav>
                    <ul class="sidemenu">
                        <li role="none">
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">1.</span>
                                    <div>
                                        <span>Første trin</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="none">
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">2.</span>
                                    <div>
                                        <span>Andet trin</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="none">
                            <a class="nav-step" href="javascript:void(0);">
                                <div>
                                    <span class="sidenav-number">3.</span>
                                    <div>
                                        <span>Tredje trin</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</main>