<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Radioknapper med hjælpetekster</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group js-radio-toggle-group">
                <fieldset aria-labelledby="radio-example-1-legend"
                    aria-describedby="radiogroup-1-hint ">

                    <legend class="form-label" id="radio-example-1-legend">Radioknapper med
                        hjælpetekster</legend>

                    <span class="form-hint" id="radiogroup-1-hint">Dette er en hjælpetekst for
                        hele radioknapgruppen. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Integer fringilla in quam sit amet cursus.
                        Pellentesque eget lorem venenatis, dignissim justo luctus, rutrum
                        tortor. Praesent sem risus, lobortis at orci eget, sollicitudin
                        placerat eros. Proin at tempus felis.</span>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-1-option1" name="radio-example-1"
                            class="form-radio" value="v1"
                            aria-describedby="radiogroup-1-option1-hint">
                        <label class="form-label" for="radiogroup-1-option1">Kun
                            hjælpetekst</label>
                        <span class="form-hint" id="radiogroup-1-option1-hint">Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit. Integer fringilla in
                            quam sit amet cursus. Pellentesque eget lorem venenatis, dignissim
                            justo luctus, rutrum tortor. Praesent sem risus, lobortis at orci
                            eget, sollicitudin placerat eros. Proin at tempus felis. Donec
                            mollis sapien ut nibh ultricies interdum.</span>
                    </div>

                    <div class="hidden-content-wrapper">
                        <div class="form-group-radio">
                            <input type="radio" id="radiogroup-1-option2"
                                name="radio-example-1" class="form-radio" value="v2"
                                aria-describedby="radiogroup-1-option2-hint"
                                data-controls="#radiogroup-1-option2-collapse"
                                data-expanded="false">
                            <label class="form-label" for="radiogroup-1-option2">Hjælpetekst
                                og skjult inputfelt<span class="sr-only"> Udfyld informationer
                                    herunder</span></label>
                            <span class="form-hint" id="radiogroup-1-option2-hint">Dette er
                                hjælpetekst for en enkelt radioknap. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit. Integer fringilla in quam
                                sit amet cursus. Pellentesque eget lorem venenatis, dignissim
                                justo luctus, rutrum tortor. Praesent sem risus, lobortis at
                                orci eget, sollicitudin placerat eros. Proin at tempus
                                felis.</span>
                        </div>
                        <div id="radiogroup-1-option2-collapse" aria-hidden="true"
                            class="radio-content">

                            <div class="form-group">
                                <label class="form-label"
                                    for="radio-example-1-text-1">Inputfelt</label>

                                <input type="text" id="radio-example-1-text-1" name="mytext"
                                    class="form-input" required>
                            </div>

                        </div>
                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-1-option3" name="radio-example-1"
                            class="form-radio" value="v3"
                            aria-describedby="radiogroup-1-option3-hint">
                        <label class="form-label" for="radiogroup-1-option3">Lang hjælpetekst
                            uden mellemrum<span class="sr-only"> Udfyld informationer
                                herunder</span></label>
                        <span class="form-hint"
                            id="radiogroup-1-option3-hint">DetteerhjælpetekstforenenkeltradioknapLoremipsumdolorsitametconsecteturadipiscingelitIntegerfringillainquamsitametcursusPellentesqueegetloremvenenatisdignissimjustoluctusrutrumtortorPraesentsem
                            risuslobortisatorciegetsollicitudinplaceraterosProinattempusfelisDonecmllissapienutnibhultriciesinterdum</span>
                    </div>

                    <div class="hidden-content-wrapper">
                        <div class="form-group-radio">
                            <input type="radio" id="radiogroup-1-option4"
                                name="radio-example-1" class="form-radio" value="v4"
                                aria-describedby="radiogroup-1-option4-hint"
                                data-controls="#radiogroup-1-option4-collapse"
                                data-expanded="false">
                            <label class="form-label" for="radiogroup-1-option4">Hjælpetekst
                                og skjult inputfelt med hjælpetekst<span class="sr-only">
                                    Udfyld informationer herunder</span></label>
                            <span class="form-hint" id="radiogroup-1-option4-hint">Dette er
                                hjælpetekst for en enkelt radioknap. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit. Integer fringilla in quam
                                sit amet cursus. Pellentesque eget lorem venenatis, dignissim
                                justo luctus, rutrum tortor. Praesent sem risus, lobortis at
                                orci eget, sollicitudin placerat eros. Proin at tempus
                                felis.</span>
                        </div>
                        <div id="radiogroup-1-option4-collapse" aria-hidden="true"
                            class="radio-content">

                            <div class="form-group">
                                <label class="form-label"
                                    for="radio-example-1-text-2">Inputfelt</label>

                                <span class="form-hint"
                                    id="radio-example-1-text-2-hint">Hjælpetekst til
                                    inputfeltet</span>

                                <input type="text" id="radio-example-1-text-2" name="mytext"
                                    class="form-input"
                                    aria-describedby="radio-example-1-text-2-hint " required>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">

            <div class="form-group">
                <fieldset aria-labelledby="radio-example-2-legend"
                    aria-describedby="radiogroup-2-hint ">

                    <legend class="form-label" id="radio-example-2-legend">Radioknapgruppe med
                        lang hjælpetekst uden mellemrum</legend>

                    <span class="form-hint"
                        id="radiogroup-2-hint">DetteerenhjælpetekstforheleradioknapgruppenLoremipsumdolorsitametconsecteturadipiscingelitIntegerfringillainquamsitametcursusPellentesqueegetloremvenenatisdignissimjustoluctusrutrumtortorPraesentsem
                        risuslobortisatorciegetsollicitudinplaceraterosProinattempusfelisDonecmllissapienutnibhultriciesinterdum</span>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-2-option1" name="radio-example-2"
                            class="form-radio" value="v1">
                        <label class="form-label" for="radiogroup-2-option1">Valg 1</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-2-option2" name="radio-example-2"
                            class="form-radio" value="v2">
                        <label class="form-label" for="radiogroup-2-option2">Valg 2</label>

                    </div>

                    <div class="form-group-radio">
                        <input type="radio" id="radiogroup-2-option3" name="radio-example-2"
                            class="form-radio" value="v3">
                        <label class="form-label" for="radiogroup-2-option3">Valg 3</label>

                    </div>

                </fieldset>
            </div>

        </div>
    </div>
</main>