<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-datepicker-5</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Standard</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example1">Dato for aftale</label>

                <div class="date-picker">
                    <input type="text" id="datepicker-example1" name="appointment-date1"
                        class="form-input">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Påkrævet</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example2">Dato for aftale<span
                        class="weight-normal"> (*skal udfyldes)</span></label>

                <div class="date-picker">
                    <input type="text" id="datepicker-example2" name="appointment-date2"
                        class="form-input" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Ikke påkrævet</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example3">Dato for aftale<span
                        class="weight-normal"> (frivilligt)</span></label>

                <div class="date-picker">
                    <input type="text" id="datepicker-example3" name="appointment-date3"
                        class="form-input">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Disabled</p>

            <div class="form-group">
                <label class="form-label" for="datepicker-example4">Dato for aftale</label>

                <div class="date-picker">
                    <input type="text" id="datepicker-example4" name="appointment-date4"
                        class="form-input" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
</main>