<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Tooltips</h1>
        </div>
    </div>
    <div class="row mt-9 pb-9">
        <div class="col-12">

            <div class="tooltip-wrapper">
                <button class="button button-unstyled tooltip-target" type="button">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg>
                    <span class="sr-only">Hvad betyder det?</span>
                </button>
                <span class="tooltip onclick" id="tooltip-helpicon" aria-hidden="true">Dette
                    er en alt for lang tekst til et tooltip, men den er god at teste med.
                    Tooltips bliver for lange, når de fylder mere end 4 linjer.
                    fgdgdgfdsgfsdgfsdgsfdgerstsgfsgsgfgsfdgsdtertsgfgfdgsfgsgsdfgrtgrfgsfgsfdgsdfgsdrterargfsgsdfgsertg</span>
                <span class="tooltip-arrow"></span>
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12 d-flex justify-content-between">

            <div class="tooltip-wrapper">
                <button class="button button-unstyled tooltip-target" type="button">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg>
                    <span class="sr-only">Hvad betyder det?</span>
                </button>
                <span class="tooltip onclick" id="tooltip-left" aria-hidden="true">Dette
                    tooltip sidder i venstre side i rækken</span>
                <span class="tooltip-arrow"></span>
            </div>

            <div class="tooltip-wrapper">
                <button class="button button-unstyled tooltip-target" type="button">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg>
                    <span class="sr-only">Hvad betyder det?</span>
                </button>
                <span class="tooltip onclick" id="tooltip-center" aria-hidden="true">Dette
                    tooltip sidder i midten i rækken</span>
                <span class="tooltip-arrow"></span>
            </div>

            <div class="tooltip-wrapper">
                <button class="button button-unstyled tooltip-target" type="button">
                    <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg>
                    <span class="sr-only">Hvad betyder det?</span>
                </button>
                <span class="tooltip onclick" id="tooltip-right" aria-hidden="true">Dette
                    tooltip sidder i højre side i rækken</span>
                <span class="tooltip-arrow"></span>
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">

            <div class="tooltip-wrapper">
                <button class="button button-primary tooltip-target"
                    aria-describedby="tooltip-knap">
                    Knap med tooltip
                </button>
                <span class="tooltip onhover" role="tooltip" id="tooltip-knap"
                    aria-hidden="true">Tooltip på en knap</span>
                <span class="tooltip-arrow"></span>
            </div>
        </div>
    </div>
    <div class="row mt-9">
        <div class="col-12">
            <p>Dette er en rigtig lang sætning, hvor der i sidste del af sætningen kommer
                nogle
            <div class="tooltip-wrapper">
                <em class="tooltip-text tooltip-target" tabindex="0">ord med tooltip</em>
                <span class="tooltip onhover" role="tooltip" id="text-tooltip"
                    aria-hidden="true">Dette er et tooltip</span>
                <span class="tooltip-arrow"></span>
            </div> inde i teksten</p>
        </div>
    </div>
</main>