<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Lange navigationscards</h1>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med intet indhold eller én type af indhold pr. card</h2>
        </div>
        <div class="col-12">
            <a class="card long"
                href="#"><svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg></a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content">
                    <p class="mt-0">Card, der kun indeholder tekst.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#" target="_blank">
                <div class="card-content">
                    <p class="mt-0">Card, der kun indeholder tekst.</p>
                </div>
                <svg class="icon-svg card-icon" aria-label="(åbner i nyt vindue)" focusable="false"><use href="#open-in-new"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content">
                    <strong class="card-heading">Card, der kun indeholder titel</strong></div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content"><span class="card-subheading">Subheading</span>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med to typer af indhold pr. card</h2>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-image"><img src='{{ site.baseurl }}/assets/img/cards/card-placeholder.svg' alt=''>
                </div>
                <div class="card-content"><span class="card-subheading">Subheading</span>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content"><span class="card-subheading">Subheading</span>
                    <h3 class="card-heading">Titel</h3>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Noget tekst, der står under titlen.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards som listeelementer</h2>
        </div>
        <div class="col-12">
            <ul class="row card-row">
                <li class="col-12">
                    <a class="card long" href="#">
                        <div class="card-content">
                            <p class="mt-0">Første card i listen</p>
                        </div>
                        <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
                    </a>
                </li>
                <li class="col-12">
                    <a class="card long" href="#">
                        <div class="card-content">
                            <p class="mt-0">Andet card i listen</p>
                        </div>
                        <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
                    </a>
                </li>
                <li class="col-12">
                    <a class="card long" href="#">
                        <div class="card-content">
                            <p class="mt-0">Tredje card i listen</p>
                        </div>
                        <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards uden grid</h2>
        </div>
        <div class="col-12">
            <a class="card long collapsed-height w-percent-sm-50 w-percent-md-30" href="#">
                <div class="card-content">
                    <p class="mt-0">Dette cards bredde er justeret med hjælpeklasser. På
                        større skærme er bredden 30%. På mindre skærme er den 50%. På helt små
                        skærme er kortet fuld bredde.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
            <a class="card long collapsed-height w-percent-70" href="#">
                <div class="card-content">
                    <p class="mt-0">Dette cards bredde er justeret med hjælpeklasser. Bredden
                        er altid 70%.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med forskellig mængde tekst</h2>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Aenean rutrum dolor in hendrerit ultrices. Aliquam dignissim, nulla ut
                        volutpat vestibulum, leo ligula rutrum est, ut tempus sapien felis in
                        lorem. Nullam eget sem quam.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Cras in mi ac diam dapibus viverra a id tellus.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long collapsed-height" href="#">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Dette kort har fået justeret højden med en klasse.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long" href="#">
                <div class="card-content"><span
                        class="card-subheading">UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendr</span>
                    <h3 class="card-heading">Umdolorsitametconsecteturadipisci</h3>
                    <p>UmdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliqu
                    </p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
    </div>
    <div class="row card-row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Cards med forskelligt indhold</h2>
        </div>
        <div class="col-12">
            <a class="card long collapsed-height" href="#">
                <div class="card-content">
                    <h3 class="card-heading">Titel 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h3 class="card-heading">Titel 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
        <div class="col-12">
            <a class="card long collapsed-height" href="#">
                <div class="card-content">
                    <h3 class="card-heading">Titel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <svg class="icon-svg card-icon" focusable="false" aria-hidden="true"><use href="#arrow-forward"></use></svg>
            </a>
        </div>
    </div>
</main>