<div class="form-group form-limit" data-maxlength="60">
    <label class="form-label" for="input-area">
        Tekstområde med karakterbegrænsning
    </label>

    <textarea class="form-input "  rows="5"     id="input-area" name="input-area" ></textarea>

    <span id="input-area-text-limit" class="sr-only">Du kan indtaste op til
        60 tegn</span>
    <span class="form-hint character-limit" aria-hidden="true">Du har 60
        tegn tilbage</span>
    <span class="character-limit-sr-only sr-only" aria-live="polite">Du har
        60 tegn tilbage</span>

</div>