<div class="form-group">

    <label class="form-label" for="input-mandatory1">
        Label
    </label>

    <input class="form-input" id="input-mandatory1" name="input-mandatory1"
        type="text" required />

</div>
<div class="form-group">

    <label class="form-label" for="input-optional">
        Label<span class="weight-normal"> (frivilligt)</span>
    </label>

    <input class="form-input" id="input-optional" name="input-optional"
        type="text" />

</div>
<div class="form-group">

    <label class="form-label" for="input-mandatory2">
        Label
    </label>

    <input class="form-input" id="input-mandatory2" name="input-mandatory2"
        type="text" required />

</div>
<div class="form-group">

    <label class="form-label" for="input-mandatory3">
        Label
    </label>

    <input class="form-input" id="input-mandatory3" name="input-mandatory3"
        type="text" required />

</div>