<div class="form-group">
    <label class="form-label " for="input-type-text">
        Inputfelt med label
    </label>

    <input class="form-input " required id="input-type-text" value=""
        name="input-type-text" type="text">
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Labels-do.svg" alt="Eksempel på, hvordan datoangivelse kan se ud" /></div>
        <p><strong>Sådan:</strong> Placér labels over formularens felter – tættere på de felter, de hører til, end på andre felter (Silver, 2018, s. 31-32). Placeringen over felterne gør formularen hurtigere at skanne, fordi øjet ikke behøver at bevæge sig frem og tilbage mellem label og indtastningsfelt, som det skulle, hvis labelen var placeret til venstre for feltet (McCloskey, 2013). </p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Labels-dont.svg" alt="Eksempel på, hvordan datoangivelse ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Undlad at placere labels inde i formularens felter. Formularens labels er afsenderens anmodninger eller spørgsmål, mens felterne bør være forbeholdt brugernes svar (Jarrett, 2013). En label inde i felt kan medføre, at brugerne fejlfortolker labelen som autoudfyldt data, og at feltet slet ikke ligner et indtastningsfelt (Sherwin, 2014-2018).</p>
    </div>
</div>
