<div class="form-group form-error form-limit" data-maxlength="50">
    <label class="form-label" for="textarea-limit-error">Karakterbegrænsning med
        fejlmeddelelse</label>

    <span class="form-error-message" id="textarea-limit-error-error">
        <span class="sr-only">Fejl: </span>Du kan maks. taste 50 tegn
    </span>
    <textarea class="form-input" id="textarea-limit-error" name="textarea-limit-error" rows="3" required aria-describedby="textarea-limit-error-error textarea-limit-error-limit-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
    <span id="textarea-limit-error-limit-message" class="sr-only">Du kan indtaste op til 50
        tegn</span>
    <span class="form-hint character-limit" aria-hidden="true">Du har 50 tegn tilbage</span>
    <span class="character-limit-sr-only sr-only" aria-live="polite">Du har 50 tegn
        tilbage</span>
</div>