<div class="form-group">
    <label class="form-label " for="input-optional1">
        Label
    </label>

    <input class="form-input " id="input-optional1" value=""
        name="input-optional1" type="text">

</div>
<div class="form-group">
    <label class="form-label " for="input-mandatory">
        Label<span class="weight-normal"> (*skal udfyldes)</span>
    </label>

    <input class="form-input " required id="input-mandatory" value=""
        name="input-mandatory" type="text">

</div>
<div class="form-group">
    <label class="form-label " for="input-optional2">
        Label
    </label>

    <input class="form-input " id="input-optional2" value=""
        name="input-optional2" type="text">

</div>
<div class="form-group">
    <label class="form-label " for="input-optional3">
        Label
    </label>

    <input class="form-input " id="input-optional3" value=""
        name="input-optional3" type="text">

</div>