<div class="form-group form-error">
    <label class="form-label" for="input-pris-error">Pris i 1000 kr.</label>

    <span class="form-error-message" id="input-pris-error-error"><span class="sr-only">Fejl:</span> Angiv en pris</span>

    <div class="form-input-wrapper form-input-wrapper--suffix">
        <input class="form-input input-char-11" id="input-pris-error" value="123" name="input-pris-error" type="number" aria-invalid="true" aria-describedby="input-pris-error-error ">
        <div class="form-input-suffix" aria-hidden="true">.000 kr</div>
    </div>

</div>