<div class="form-group">
    <label class="form-label" for="input-antal">Antal styk</label>

    <div class="form-input-wrapper form-input-wrapper--suffix">

        <input type="number" id="input-antal" name="input-antal"
            class="form-input input-char-8" value="56" required>
        <div class="form-input-suffix" aria-hidden="true">stk.</div>
    </div>

</div>

<div class="form-group">
    <label class="form-label" for="input-pris">Pris i 1000 kr.</label>

    <div class="form-input-wrapper form-input-wrapper--suffix">

        <input type="number" id="input-pris" name="input-pris"
            class="form-input input-char-11" value="123" required>
        <div class="form-input-suffix" aria-hidden="true">.000 kr</div>
    </div>

</div>

<div class="form-group">
    <label class="form-label" for="input-beloeb">Beløb i €</label>

    <div class="form-input-wrapper form-input-wrapper--prefix">
        <div class="form-input-prefix" aria-hidden="true">€</div>
        <input type="number" id="input-beloeb" name="input-beloeb"
            class="form-input input-width-xs" value="1.234" required>
    </div>

</div>