<div class="form-group form-error">
    <label class="form-label " for="form-error" id="form-label-form-error">
        Inputfelt med fejl
    </label>
    <span class="form-hint" id="input-hint-message-form-error">
        Fx 12345678
    </span>
    <span class="form-error-message" id="form-error-message-form-error">
        Hjælpsom fejlbesked
    </span>
    <input class="form-input " required id="form-error" value=""
        name="form-error" type="text"
        aria-describedby="input-hint-message-form-error form-error-message-form-error"" aria-labelledby="
        form-label-form-error " aria-invalid=" true">
</div>