<div class="form-group
         form-error
        
         form-limit" data-maxlength="20">

    <label class="form-label" for="input-type-limit-error">
        Inputfelt med karakterbegrænsning

    </label>

    <span class="form-error-message" id="input-type-limit-error-error"><span class="sr-only">Fejl:</span> Du kan maks. taste 20 tegn</span>
    <input type="text" id="input-type-limit-error" name="input-type-limit-error" class="form-input" value="Dette er en sætning med mange tegn" aria-invalid="true" aria-describedby="
            
            input-type-limit-error-error
            input-type-limit-error-limit-message" required>

    <span id="input-type-limit-error-limit-message" class="sr-only">Du kan indtaste op til 20 tegn</span>
    <span class="form-hint character-limit" aria-hidden="true">Du har 20 tegn tilbage</span>
    <span class="character-limit-sr-only sr-only" aria-live="polite">Du har 20 tegn tilbage</span>

</div>