<div class="toast toast-error show" id="notification-error" aria-atomic="true">
    <div class="toast-icon"></div>
    <div class="toast-message">
        <p><strong><span class="sr-only">Fejl: </span>Der opstod en fejl</strong></p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium.</p>
        <button class="toast-close">
            Luk<span class="sr-only"> beskeden: Der opstod en fejl</span>
        </button>
    </div>
</div>