<div class="toast toast-warning show" id="notification-warning" aria-atomic="true">
    <div class="toast-icon"></div>
    <div class="toast-message">
        <p><strong><span class="sr-only">Advarsel: </span>Dette er en advarsel</strong></p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium.</p>
        <button class="toast-close">
            Luk<span class="sr-only"> beskeden: Dette er en advarsel</span>
        </button>
    </div>
</div>