<ul class="nobullet-list w-percent-100 w-percent-sm-60 w-percent-md-40">
    <li>

        <div class="toggle-element">
            <label class="toggle-label" for="completed-switch">Vis afsluttede sager</label>
            <button class="toggle-button" role="switch" aria-checked="true"
                id="completed-switch"></button>
        </div>

    </li>
    <li>

        <div class="toggle-element">
            <label class="toggle-label" for="yearold-switch">Vis sager ældre end et år</label>
            <button class="toggle-button" role="switch" aria-checked="false"
                id="yearold-switch"></button>
        </div>

    </li>
</ul>