<div class="form-group">

    <input id="toggle-example" type="checkbox" name="toggle-example"
        value="1" class="form-toggle" />
    <label for="toggle-example" class="form-toggle-label">Dette er en
        toggle</label>

</div>

<div class="form-group">

    <input id="toggle-example2" type="checkbox" name="toggle-example2"
        value="1" class="form-toggle" disabled />
    <label for="toggle-example2" class="form-toggle-label">Dette er en
        disabled toggle</label>

</div>

<div class="form-group">

    <input id="toggle-example3" type="checkbox" name="toggle-example3"
        value="1" class="form-toggle" disabled checked />
    <label for="toggle-example3" class="form-toggle-label">Dette er en
        disabled toggle der er aktiveret</label>

</div>