<p>Den her tekst har et tooltip, der er placeret over hjælpeikonet

    <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip" data-position="above"
        data-trigger="click">
        <button class="button button-unstyled tooltip-target" type="button"
            aria-label="Læs mere">
            <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button>
    </span>
</p>

<p>Her er tooltip placeret under hjælpeikonet

    <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip" data-position="below"
        data-trigger="click">
        <button class="button button-unstyled tooltip-target" type="button"
            aria-label="Læs mere">
            <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button>
    </span>
</p>