<div class="container py-8">
    <!-- Placering: top -->
    <button class="button button-primary js-tooltip"
        data-tippy-placement="top" title="Top tooltip">Top <span
            class="sr-only">Dette er tooltipteksten til screenreaders,
            top</span></button>

    <!-- Placering: bund -->
    <button class="button button-primary js-tooltip"
        data-tippy-placement="bottom" title="Bund tooltip">Bund <span
            class="sr-only">Dette er tooltipteksten til screenreaders,
            bottom</span></button>

    <!-- Placering: venstre -->
    <button class="button button-primary js-tooltip"
        data-tippy-placement="left" title="Venstre tooltip">Venstre <span
            class="sr-only">Dette er tooltipteksten til screenreaders,
            venstre</span></button>

    <!-- Placering: højre -->
    <button class="button button-primary js-tooltip"
        data-tippy-placement="right" title="Højre tooltip">Højre <span
            class="sr-only">Dette er tooltipteksten til screenreaders,
            højre</span></button>
</div>