<div class="form-group">

    <div class="form-group-checkbox">
        <input type="checkbox" id="checkbox1" name="checkbox1" class="form-checkbox" value="1"
            checked>
        <label class="form-label" for="checkbox1">Udfyldt tjekboks</label>

        <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip" data-position="above"
            data-trigger="click">
            <button class="button button-unstyled tooltip-target" type="button"
                aria-label="Læs mere">
                <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use xlink:href="#help"></use></svg></button>
        </span>
    </div>

</div>