<nav>
    <ul class="sidenav-list sidenav-list-locked" role="menu">
        <li role="none">
            <a tabindex="-1" aria-disabled="true" role="menuitem">
                1. Trin 1

                <span class="sidenav-icon">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check"></use></svg>
                </span>

            </a>
        </li>
        <li class="disabled active current" role="none">
            <a tabindex="-1" aria-disabled="true" role="menuitem"
                aria-current="page">
                2. Trin 2 (valgt)

            </a>
        </li>
        <li role="none">
            <a tabindex="-1" aria-disabled="true" role="menuitem">
                3. Trin 3

            </a>
        </li>
    </ul>
</nav>