<div
    class="overflow-menu overflow-menu--open-right overflow-menu--lg-no-responsive sidebar-col">
    <button class="button-overflow-menu js-dropdown" data-js-target="trinindikator-responsiv"
        aria-haspopup="true" aria-expanded="false">
        Trin 2 af 3
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-drop-down"></use></svg>
    </button>
    <div class="overflow-menu-inner" id="trinindikator-responsiv" aria-hidden="true">

        <nav class="sidebar-col">
            <ul class="sidenav-list" role="menu">
                <li role="none">
                    <a href="javascript:void(0);" role="menuitem">
                        <span class="sidenav-number">1.</span>
                        <div>
                            <span>Trin 1</span>
                        </div>
                        <span class="sidenav-icon">
                            <svg class="icon-svg" aria-label="Gennemført" focusable="false"><use xlink:href="#done"></use></svg>
                        </span>
                    </a>
                </li>
                <li class="active current " role="none">
                    <a href="javascript:void(0);" role="menuitem" aria-current="page">
                        <span class="sidenav-number">2.</span>
                        <div>
                            <span>Trin 2</span>
                        </div>
                    </a>
                </li>
                <li role="none">
                    <a href="javascript:void(0);" role="menuitem">
                        <span class="sidenav-number">3.</span>
                        <div>
                            <span>Trin 3</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>