<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="h3">Sådan (do)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Trinindikator-do.svg" alt="Eksempel på, hvordan en trinindikator kan se ud" /></div>
        <p><strong>Sådan:</strong> Brug evt. en trinindikator til formularer, der er delt op over flere sider, hvis den har faste trin (Jarrett & Gaffney, 2009, s. 106) – især hvis formularen er lang (Silver, 2018, s. 115). Gør det synligt, hvilket trin ud af hvor mange brugeren er kommet til (Enders, 2016, s. 210).</p>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="h3">Ikke sådan (don't)</h2>
        <div><img class="w-percent-100" src="{{ site.baseurl }}/assets/img/components/Trinindikator-dont.svg" alt="Eksempel på, hvordan en trinindikator ikke bør se ud" /></div>
        <p><strong>Ikke sådan:</strong> Undgå horisontale trinindikatorer, der optager meget plads og er svære at få til at fungere på små skærme (Jarrett, 2016). En enkelt test fra Gov.uk indikerer, at trinindikatorer ikke bliver bemærket, så meget som man kunne forvente, men flere undersøgelser er nødvendige for at kunne sige noget endeligt om komponenten (Enders, 2016, s. 210).</p>
    </div>
</div>
