<ul class="sidenav-list">
    <li>
        <a href="">
            <div class="d-inline-block">
                1. Trin 1

                <p class="sidenav-information">Informationstekst for trin 1
                </p>

            </div>

            <span class="sidenav-icon">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#check"></use></svg>
            </span>

        </a>
    </li>
    <li class=" active current">
        <a href="">
            <div class="d-inline-block">
                2. Trin 2 (valgt)

                <p class="sidenav-information">Informationstekst for trin 2
                </p>

            </div>

        </a>
    </li>
    <li>
        <a href="">
            <div class="d-inline-block">
                3. Trin 4

                <p class="sidenav-information">Informationstekst for trin 3
                </p>

            </div>

        </a>
    </li>
</ul>