<div class="overflow-menu overflow-menu--open-right">
    <button class="button-overflow-menu js-dropdown" data-js-target="trinindikator-overflow"
        aria-haspopup="true" aria-expanded="false">
        Trin 2 af 3
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#arrow-drop-down"></use></svg>
    </button>
    <div class="overflow-menu-inner" id="trinindikator-overflow" aria-hidden="true">
        <nav aria-label="Trinindikator" class="sidebar-col">
            <ol class="sidemenu">
                <li>
                    <a class="nav-step" href="javascript:void(0);">
                        <div>
                            <span class="sidenav-number">1.</span>
                            <div>
                                <span>Lorem ipsum</span>
                            </div>
                            <span class="sidenav-icon">
                                <svg class="icon-svg" aria-label="Gennemført" focusable="false"><use xlink:href="#done"></use></svg>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="active current ">
                    <a class="nav-step" href="javascript:void(0);" aria-current="page">
                        <div>
                            <span class="sidenav-number">2.</span>
                            <div>
                                <span>Dolor sit amet</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="nav-step" href="javascript:void(0);">
                        <div>
                            <span class="sidenav-number">3.</span>
                            <div>
                                <span>Consectetur adipiscing elit</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</div>