<div
    class="overflow-menu overflow-menu--open-right overflow-menu--lg-no-responsive ">
    <button class="button-overflow-menu js-dropdown"
        data-js-target="overflow4" aria-haspopup="true"
        aria-expanded="false">
        Trin 2 af 3
        <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#arrow-drop-down"></use></svg>
    </button>
    <div class="overflow-menu-inner" id="overflow4" aria-hidden="true">
        <nav>
            <ul class="sidenav-list" role="menu">
                <li role="none">
                    <a href="#" role="menuitem">
                        1. Trin 1
                        <span class="sidenav-icon">
                            <svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#done"></use></svg>
                        </span>
                    </a>
                </li>
                <li class="active current" role="none">
                    <a href="#" role="menuitem" aria-current="page">
                        2. Trin 2 (valgt)
                    </a>
                </li>
                <li role="none">
                    <a href="#" role="menuitem">
                        3. Trin 3
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>