<nav>
    <ul class="sidenav-list" role="menu">

        <li role="none">
            <a href="" role="menuitem">
                <span class="sidenav-number">1.</span> <span
                    class="sidenav-title">Trin 1</span>

                <span class="sidenav-icon">
                    <svg class="icon-svg" aria-label="Gennemført" aria-hidden="true"><use xlink:href="#done"></use></svg>
                </span>

                <span class="sidenav-information">Informationstekst for
                    trin 1</span>

            </a>
        </li>

        <li class=" active current" role="none">
            <a href="" role="menuitem" aria-current="page"
                aria-current="page">
                <span class="sidenav-number">2.</span> <span
                    class="sidenav-title">Trin 2</span>

                <span class="sidenav-information">Informationstekst for
                    trin 2</span>

            </a>
        </li>

        <li role="none">
            <a href="" role="menuitem">
                <span class="sidenav-number">3.</span> <span
                    class="sidenav-title">Trin 3</span>

                <span class="sidenav-information">Informationstekst for
                    trin 3</span>

            </a>
        </li>
    </ul>
</nav>