<nav>
    <ul class="sidenav-list" role="menu">
        <li role="none">
            <a href="" role="menuitem">
                <div class="d-inline-block">
                    1. Trin 1

                    <p class="sidenav-information">Informationstekst for
                        trin 1</p>

                </div>

                <span class="sidenav-icon">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>
                </span>

            </a>
        </li>
        <li class=" active current" role="none">
            <a href="" role="menuitem" aria-current="page">
                <div class="d-inline-block">
                    2. Trin 2

                    <p class="sidenav-information">Informationstekst for
                        trin 2</p>

                </div>

            </a>
        </li>
        <li role="none">
            <a href="" role="menuitem">
                <div class="d-inline-block">
                    3. Trin 3

                    <p class="sidenav-information">Informationstekst for
                        trin 3</p>

                </div>

            </a>
        </li>
    </ul>
</nav>