<div class="container mt-6 mb-6">

    <ul class="sidenav-list sidenav-list-locked">

        <li class="disabled  ">
            <a tabindex="-1" aria-disabled="true">
                1. Trin 1

                <span class="sidenav-icon">
                    <svg class="icon-svg "  focusable="false" aria-hidden="true" ><use xlink:href="#check"></use></svg>
                </span>

            </a>
        </li>

        <li class="disabled  ">
            <a tabindex="-1" aria-disabled="true">
                2. Trin 2

                <span class="sidenav-icon">
                    <svg class="icon-svg "  focusable="false" aria-hidden="true" ><use xlink:href="#check"></use></svg>
                </span>

            </a>
        </li>

        <li class="disabled active current ">
            <a tabindex="-1" aria-disabled="true">
                3. Trin 3 (valgt)

                <span class="sidenav-icon">
                    <svg class="icon-svg "  focusable="false" aria-hidden="true" ><use xlink:href="#check"></use></svg>
                </span>

            </a>
        </li>

        <li class="disabled  ">
            <a tabindex="-1" aria-disabled="true">
                4. Trin 4

            </a>
        </li>

        <li class="disabled  ">
            <a tabindex="-1" aria-disabled="true">
                5. Trin 5

            </a>
        </li>

    </ul>

</div>