<nav aria-label="Trinindikator" class="sidebar-col">
    <ol class="sidemenu">
        <li>
            <a class="nav-step" href="javascript:void(0);">
                <div>
                    <span class="sidenav-number">1.</span>
                    <div>
                        <span>Trin 1</span>
                    </div>
                    <span class="sidenav-icon">
                        <svg class="icon-svg" aria-label="Gennemført" focusable="false"><use xlink:href="#done"></use></svg>
                    </span>
                </div>
            </a>
        </li>
        <li class="active current ">
            <a class="nav-step" href="javascript:void(0);" aria-current="page">
                <div>
                    <span class="sidenav-number">2.</span>
                    <div>
                        <span>Trin 2</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a class="nav-step" href="javascript:void(0);">
                <div>
                    <span class="sidenav-number">3.</span>
                    <div>
                        <span>Trin 3</span>
                    </div>
                </div>
            </a>
        </li>
    </ol>
</nav>