{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/buttons/buttons.njk" import button as button %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": false,
    "title": {
        "text": "Løsningstitel står her",
        "tag": "strong"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": '<span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span class="d-none d-lg-inline-block d-print-none ml-2 mr-2" aria-hidden="true">·</span><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="d-flex d-lg-inline-flex d-print-none function-link">' + icon_svg({"name": "card-text", "classes": "mt-1"}) + 'Kontakt</a>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    {{ alert(alert_succes) }}

    <h1 class="mt-6">Kvittering</h1>

    <h2 class="h5">Navn</h2>
    <p class="mt-0">Karen Jensen</p>

    <div class="mt-5">
        <h2 class="h5">Adresse</h2>
        <p class="mt-0">Vængestræde 77 <br>0081 Købstad</p>
    </div>

    <div class="mt-5">
        <h2 class="h5">Telefonnummer</h2>
        <p class="mt-0">01 23 45 67</p>
    </div>

    <div class="mt-5">
        <h2 class="h5">E-mail</h2>
        <p class="mt-0">kjensen@eksempelmail.dk</p>
    </div>

    <div class="mt-5">
        <h2 class="h5">Alder</h2>
        <p class="mt-0">40-59</p>
    </div>

    {{ button(button_save) }}<br>
    {{ button(button_print) }}
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

<div class="fds-modal-container">
    {{
        modal({
            "id": "modal-contact",
            "heading": "Kontakt",
            "content": modal_content,
            "forcedAction": false,
            "actions": modal_actions
        })
    }}
</div>