{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer-three-columns.njk" import footer_columns as footer_columns %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}

{% from "components/details/details.njk" import details as details %}
{% from "components/breadcrumbs/breadcrumbs.njk" import breadcrumbs as breadcrumbs %}

{% block header %}
  <header class="header">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><span class="weight-semibold">Christian Emil Vestergaard Christiansen</span><br />Forsikringens Forsikringsfirma</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Arbejdsmarkedets Erhvervssikring</p>
        <p>Support: <a href='tel:+4572206000' class='function-link'>72 20 60 00</a></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-secondary d-none d-lg-block">
          {{ breadcrumbs(breadcrumbs_data_desktop) }}
          </div>
          <div class="nav-actions">
            <a href="#" class="function-link">{{icon_svg("account-circle")}}Min profil</a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}


{{ breadcrumbs(breadcrumbs_data_mobile) }}

{% block body %}
<main class="container page-container" id="main-content">
    <div class="alert alert-info">
        <div class="alert-body">
            <p class="alert-heading">Sagen forventes afsluttet</p>
            <p class="alert-text">Maj 2021</p>
        </div>
    </div>
    <h1 class="mb-2">Afgørelser</h1>
    <p class="form-hint mt-0">For sagsnr. 2020-0000015</p>
    <p>Du kan her se sagens afgørelser. Der findes enkelte afgørelsestyper som ikke kan vises nedenfor, men for de fleste sager vil alle sagens afgørelser være listet nedenfor.</p>

    <hr />

    <h2>Anerkendelse</h2>
    <span class="badge badge-small badge-info" aria-label="Status: afsluttet">Afsluttet</span>

    <h3>Afgørelse</h3>
    
    <table class="table table--borderless table--compact table-md-responsive-headers w-percent-sm-50 w-percent-md-60 mb-5 mt-3">
        <tbody>
            <tr>
                <th>Resultat</th>
                <td>Anerkendt</td>
            </tr>
            <tr>
                <th>Dato for afgørelse</th>
                <td>01-01-2019</td>
            </tr>
            <tr>
                <th>Dokument med afgørelse</th>
                <td><a href="#">Afgørelse for anerkendelse (PDF)</a></td>
            </tr>
        </tbody>
    </table>

    {{ details(details_anerkendelse) }}

    <hr />

    <h2>Mén</h2>
    <span class="badge badge-small badge-info" aria-label="Status: sendt til Ankestyrelsen">Sendt til Ankestyrelsen</span>

    <h3>Afgørelse</h3>
    
    <table class="table table--borderless table--compact table-md-responsive-headers w-percent-sm-50 w-percent-md-60 mb-5 mt-3">
        <tbody>
            <tr>
                <th>Resultat</th>
                <td>10%</td>
            </tr>
            <tr>
                <th>Dato for afgørelse</th>
                <td>01-01-2019</td>
            </tr>
            <tr>
                <th>Dokument med afgørelse</th>
                <td><a href="#">Afgørelse for mén (PDF)</a></td>
            </tr>
        </tbody>
    </table>

    {{ details(details_men) }}

    <hr />
    <h2>Erhvervsevnetab</h2>
    <ul class="unstyled-list" aria-label="Status">
        <li><span class="badge badge-small badge-info" aria-label="Påklaget af forsikringsselskab Tryg">Påklaget af forsikringsselskab Tryg</span></li>
        <li><span class="badge badge-small badge-info" aria-label="Påklaget af Påklaget af tilskadekomne Lone Hansen">Påklaget af tilskadekomne Lone Hansen</span></li>
    </ul>

    <h3>Afgørelse</h3>
    
    <table class="table table--borderless table--compact table-md-responsive-headers w-percent-sm-50 w-percent-md-60 mb-5 mt-3">
        <tbody>
            <tr>
                <th>Resultat</th>
                <td>20%</td>
            </tr>
            <tr>
                <th>Dato for afgørelse</th>
                <td>17-05-2019</td>
            </tr>
            <tr>
                <th>Dokument med afgørelse</th>
                <td><a href="#">Afgørelse for erhvervsevnetab (PDF)</a></td>
            </tr>
        </tbody>
    </table>

    <h3>Afgørelse</h3>
        <table class="table table--borderless table--compact table-md-responsive-headers w-percent-sm-50 w-percent-md-60 mb-5 mt-3">
        <tbody>
            <tr>
                <th>Resultat</th>
                <td>Under 15%</td>
            </tr>
            <tr>
                <th>Dato for afgørelse</th>
                <td>01-01-2019</td>
            </tr>
            <tr>
                <th>Dokument med afgørelse</th>
                <td><a href="#">Afgørelse for erhvervsevnetab (PDF)</a></td>
            </tr>
        </tbody>
    </table>

    {{ details(details_erhvervsevne) }}

    <hr />
    <h2>Behandlingsudgifter, under sagen, hjælpemidler</h2>
    <span class="badge badge-small badge-info" aria-label="Status: Ikke afgjort">Ikke afgjort</span>
    <h3>Afgørelse</h3>
    <p class="mt-0">Ingen afgørelse endnu</p>

    {{ details(details_behandlingsudgifter) }}
</main>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_columns(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}
