{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}

{% from "components/breadcrumbs/breadcrumbs.njk" import breadcrumbs as breadcrumbs %}

{% block header %}
  <header class="header">
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg({"name":"close"})}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><span class="weight-semibold">Christian Emil Vestergaard Christiansen</span><br />Forsikringens Forsikringsfirma</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Arbejdsmarkedets Erhvervssikring</p>
        <p>Support: <a href='tel:+4572206000' class='function-link'>72 20 60 00</a></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-secondary d-none d-lg-block">
          {{ breadcrumbs(breadcrumbs_data_desktop) }}
          </div>
          <div class="nav-actions">
            <a href="#" class="function-link">{{icon_svg({"name": "account-circle"})}}Min profil</a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}


{{ breadcrumbs(breadcrumbs_data_mobile) }}

{% block body %}
<main class="container page-container" id="main-content">
    <h1>Sagsnr. 2020-0000015</h1>
    <span class="badge badge-large badge-warning mb-7">Under behandling</span>
    <div class="w w-percent-sm-50 w-percent-md-30 mt-4">
      <div class="row no-gutters row-bordered py-3">
        <div class="col-12 col-md-4">
            <label for="input-navn" class="form-label">Navn</label>
        </div>
        <div class="col-12 col-md-8">
            <input type="text" class="form-input" id="input-navn" value="Lone Hansen" readonly />
        </div>
      </div>
      <div class="row no-gutters row-bordered py-3">
        <div class="col-12 col-md-4">
            <label for="input-skadedato" class="form-label">Skadedato</label>
        </div>
        <div class="col-12 col-md-8">
            <input type="text" class="form-input" id="input-skadedato" value="04-01-2019" readonly />
        </div>
      </div>
      <div class="row no-gutters row-bordered py-3">
        <div class="col-12 col-md-4">
            <label for="input-anmeldedato" class="form-label">Anmeldedato</label>
        </div>
        <div class="col-12 col-md-8">
            <input type="text" class="form-input" id="input-anmeldedato" value="10-01-2019" readonly />
        </div>
      </div>
      <div class="row no-gutters row-bordered py-3">
        <div class="col-12 col-md-4">
            <label for="input-sagstype" class="form-label">Sagstype</label>
        </div>
        <div class="col-12 col-md-8">
            <input type="text" class="form-input" id="input-sagstype" value="Arbejdsulykke" readonly />
        </div>
      </div>
      <div class="row no-gutters row-bordered py-3">
        <div class="col-12 col-md-4">
            <label for="input-vedroerende" class="form-label">Vedrørende</label>
        </div>
        <div class="col-12 col-md-8">
            <input type="text" class="form-input" id="input-vedroerende" value="Arm, herunder albue" readonly />
        </div>
      </div>
    </div>
    <h2 class="h3">Sagsindhold</h2>
    <ul class="nobullet-list">
      <li><a href="/pages/eksempler/aes/sagsoverblik/afgoerelser/">Se sagens afgørelser og status</a></li>
      <li><a href="#">Se sagens dokumenter</a></li>
      <li><a href="#">Se sagens involverede</a></li>
    </ul>

    <h2 class="h3 mt-9">Henvend dig til AES om sagen</h2>
    <h3 class="h4">Skriv til AES</h3>
    <p>Hvis du har kommentarer til sagen eller nye relevante oplysninger, så kan du skrive til AES. Det kan fx være sagsoplysninger du ikke mener er korrekte eller oplysninger om operationer som er relevant for sagen.</p>
    <button class="button button-tertiary">Skriv til AES</button>

    <h3 class="h4 mt-7">Giv adgang til sag</h3>
    <p>Du kan give en anden person eller organisation adgang til at se oplysninger i din sag, ved at de får adgang til sagen i Se Sag.</p>
    <button class="button button-tertiary">Giv adgang</button>

    <h3 class="h4 mt-7">Giv fuldmagt til sag</h3>
    <p>Du kan give en anden person eller organisation adgang til at se oplysninger i din sag, ved at de får adgang til sagen i Se Sag.</p>
    <button class="button button-tertiary">Giv fuldmagt</button>

    <h3 class="h4 mt-7">Blanketter</h3>
    <p>Her kan du finde blanketter du kan bruge til at henvende dig til AES, hvis du vil:</p>
    <ul>
        <li>Klage over en afgørelse</li>
        <li>Bede om at en sag ikke behandles</li>
        <li>Genoptagelse af en afgørelse</li>
        <li>Udbetaling som engangsbeløb</li>
    </ul>
    <a href="#">Gå til blanketter</a>

</main>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}
