{% from "components/radiobuttons/radiobuttons.njk" import radiobuttons as radiobuttons %}

{{
    radiobuttons({
        "id": "radiogroup-helptext",
        "radiogroupLegend": "Radioknapper",
        "groupname": "radio-helptext",
        "items": [
            {
                "value": "v1",
                "label": "Første radioknap",
                "helptext": "Dette er en hjælpetekst"
            },
            {
                "value": "v2",
                "label": "Anden radioknap",
                "helptext": "Dette er en hjælpetekst"
            },
            {
                "value": "v3",
                "label": "Tredje radioknap"
            }
        ]
    })
}}