{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/stepguide/stepguide.njk" import overflow_stepguide as overflow_stepguide %}
{% from "components/stepguide/stepguide.njk" import stepIndicator as stepIndicator %}
{% from "components/stepguide/stepguide.njk" import stepIndicatorButton as stepIndicatorButton %}
{% from "components/checkboxes/checkboxes.njk" import checkboxes as checkboxes %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/tooltip/tooltip.njk" import tooltip_helpicon as tooltip_helpicon %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": true,
    "title": {
        "text": "Registrer et eller andet",
        "tag": "strong"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": '<span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span class="d-none d-lg-inline-block d-print-none ml-2 mr-2" aria-hidden="true">·</span><button type="button" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="d-print-none function-link">' + icon_svg({"name": "contact-card"}) + 'Kontakt</button>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_content_step = "<nav aria-label='Trinindikator'>" + stepIndicator(trinindikator_data) + "</nav>" %}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<div id="top"></div>
<header class="header">
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}

{% block body %}
<div class="container page-container pt-0">
    <div class="row">
        <aside class="col-12 col-lg-3 mt-0 mt-lg-8" aria-label="Se og vælg trin">
            {{
                stepIndicatorButton({
                    "breakpoint": "lg",
                    "modal": "modal-step-indicator",
                    "currentStep": "1",
                    "totalSteps": "6"
                })
            }}
            <nav aria-label="Trinindikator" class="d-none d-lg-block">
                {{ stepIndicator(trinindikator_data) }}
            </nav>
        </aside>
        <div class="col-12 col-lg-9">
            <aside class="w-percent-100" aria-label="Sidehandlinger">
                <ul class="function-link-wrapper mt-0 mt-lg-4 mb-4 mb-lg-2">
                    <li><button class="function-link link-right">{{icon_svg({"name": "save"})}}Gem kladde</button></li>
                </ul>
            </aside>
            <main class="w-percent-100" id="main-content">
                <h1>Vælg personer</h1>
                <form novalidate method="post" action="/pages/eksempler/trinformular-til-registrering/registrering-2/">
                    {{checkboxes(tjekbokse_personer)}}
                    <h2 class="form-label mt-5 mb-0">Allerede registreret</h2>
                    {{ tooltip_helpicon(button_tooltip) }}
                    <ul class="nobullet-list mt-0">
                        <li>Jens Jensen, 123456-7890</li>
                    </ul>
                    <div>{{ button(button_add) }}</div>
                    {{ button(button_next) }}
                </form>
            </main>
        </div>
    </div>
</div>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

<div class="fds-modal-container">
    {{
        modal({
            "id": "modal-contact",
            "heading": "Kontakt",
            "content": modal_content,
            "forcedAction": false,
            "actions": modal_actions
        })
    }}
    {{
        modal({
            "id": "modal-step-indicator",
            "heading": "Trin 1 af 6",
            "content": modal_content_step,
            "forcedAction": false,
            "stepIndicator": true
        })
    }}
</div>