{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/alerts/alerts.njk" import alert as alert %}
{% from "components/table/table.njk" import table as table %}
{% from "components/structured-list/structured-list.njk" import structured_list as structured_list %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": true,
    "title": {
        "href": "#",
        "text": "Registrer et eller andet"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": '<span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span class="d-none d-lg-inline-block d-print-none ml-2 mr-2" aria-hidden="true">·</span><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="d-flex d-lg-inline-flex d-print-none function-link">' + icon_svg({"name": "card-text", "classes": "mt-1"}) + 'Kontakt</a>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    {{ alert(alert_receipt) }}
    <h1 class="mb-6 mt-6">Kvittering</h1>
    <p class="font-lead">Nedenfor finder du dine indtastninger fra de foregående sider.</p>
    {{ button(button_print) }}
    <h2>Dine oplysninger</h2>
    <h3>Vælg personer</h3>
    {{
        table({
            "borderless": true,
            "responsive": true,
            "classes": {
                "inner": "w-percent-md-60 mt-4 mb-7 d-print-table"
            },
            "thead": [
                { "headerContent": "Person" },
                { "headerContent": "CPR-nummer" }
            ],
            "tbody": [
                [
                    { "content": "Jens Jensen" },
                    { "content": "123456-7890" }
                ],
                [
                    { "content": "Keld Hedagaardsen" },
                    { "content": "230495-1111" }
                ],
                [
                    { "content": "Anni Hedagaardsen" },
                    { "content": "120394-2222" }
                ]
            ]
        })
    }}

    <h3>Vælg noget mere</h3>
    {{
        table({
            "borderless": true,
            "responsive": true,
            "classes": {
                "inner": "w-percent-md-60 mt-4 mb-7 d-print-table"
            },
            "thead": [
                { "headerContent": "Nummer" },
                { "headerContent": "Dato" },
                { "headerContent": "Information" }
            ],
            "tbody": [
                [
                    { "content": "123456789" },
                    { "content": "01.01.2021" },
                    { "content": "Lorem ipsum dolor sit" }
                ],
                [
                    { "content": "123456789" },
                    { "content": "01.01.2021" },
                    { "content": "Lorem ipsum dolor sit" }
                ]
            ]
        })
    }}

    <h3>Vedhæft dokumenter</h3>
    {% set exampleDocumentLink1 = '<a href="#" class="function-link">' + icon_svg({"name": 'file-pdf'}) + 'Journal.pdf</a>' %}
    {% set exampleDocumentLink2 = '<a href="#" class="function-link">' + icon_svg({"name": 'file-pdf'}) + 'Kopi-af-dokument-x.pdf</a>' %}
    {{
        table({
            "borderless": true,
            "responsive": true,
            "classes": {
                "inner": "w-percent-md-60 mt-4 mb-7 d-print-table"
            },
            "thead": [
                { "headerContent": "Vedhæftet dokument" }
            ],
            "tbody": [
                [ { "content": exampleDocumentLink1 } ],
                [ { "content": exampleDocumentLink2 } ]
            ]
        })
    }}

    <h3>Tidligere registrering</h3>
    {{ structured_list(list_tidligere_registrering) }}
    <h3>Kontaktoplysninger</h3>
    {{ structured_list(list_kontaktoplysninger) }}
    {{ button(button_done) }}
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

<div class="fds-modal-container">
    {{
        modal({
            "id": "modal-contact",
            "heading": "Kontakt",
            "content": modal_content,
            "forcedAction": false,
            "actions": modal_actions
        })
    }}
</div>