{% from "components/form/controls/checkbox.njk" import checkbox as checkbox %}

<div class="container">
    <div class="form-group form-error">
        <fieldset>
          <legend class="h5">Hvilken type af transport gør du brug af regelmæssigt?</legend>
            <span class="form-error-message" role="alert">Hjælpsom fejlbesked</span>
             <ul class="nobullet-list">
                {% for item in checkbox_examples.items %}
                  <li>
                    {{ checkbox(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.attr, item.inputClasses, item.inputAttrs, item.formClasses) }}
                  </li>
                {% endfor %}
              </ul>
        </fieldset>
    </div>
</div>
