{% from "components/form/controls/checkbox.njk" import checkbox as checkbox %}

<div class="container">
<fieldset>
<legend class="h5">Lille tjekboks</legend>
  <ul class="nobullet-list">
    {% for item in checkbox_example_small.items %}
      <li>
        {{ checkbox(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large) }}
      </li>
    {% endfor %}
  </ul>
</fieldset>
<fieldset>
  <legend class="h5">Stor tjekboks (anbefalet)</legend>
  <ul class="nobullet-list">
    {% for item in checkbox_example_large.items %}
      <li>
        {{ checkbox(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large) }}
      </li>
    {% endfor %}
  </ul>
</fieldset>

</div>  