{% from "components/form/controls/checkbox.njk" import checkbox as checkbox %}
<div class="form-group">
    <fieldset>
        <legend class="form-label">Stor tjekboks (anbefalet)</legend>
        <ul class="nobullet-list">
            {% for item in checkbox_example_large.items %}<li>{{ checkbox(item) }}</li>{% endfor %}
        </ul>
    </fieldset>
</div>
