{% from "components/checkboxes/checkboxes.njk" import checkboxes as checkboxes %}

{{
    checkboxes({
        "id": "large",
        "checkboxLegend": "Stor tjekboks (anbefalet)",
        "groupname": "checkbox-large[]",
        "items": [
            {
                "value": "1",
                "label": "Tjekboks 1"
            },
            {
                "value": "2",
                "label": "Tjekboks 2"
            },
            {
                "value": "3",
                "label": "Tjekboks 3"
            }
        ]
    })
}}