{% from "components/form/controls/date-picker.njk" import datepicker as datepicker %}

{{ 
    datepicker({
        "id": "datepicker-example1",
        "name": "appointment-date1",
        "label": "Dato for aftale"
    }) 
}}
