{% from "components/form/controls/date-input.njk" import datoinput as datoinput %}

{{
    datoinput({
        "id": "date-input-example",
        "legend": "Indsendelsesfrist",
        "helptext": "For eksempel: 05 12 2018",
        "name": {
            "day": "deadline-day",
            "month": "deadline-month",
            "year": "deadline-year"
        }
    })
}}