{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}
{% from "components/form/controls/checkbox.njk" import checkbox as checkbox %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/form/controls/date-input.njk" import datoinput as datoinput %}

<h1 class="h2">Dine kontaktoplysninger</h1>
<form>
    <!-- Felt start: Fornavn -->
    {{textinput("fnavn", "Fornavn", false, "", false, "fnavn", "", false, false)}}
    <!-- Felt slut: Fornavn -->
    <!-- Felt start: Efternavn -->
    {{textinput("enavn", "Efternavn", false, "", false, "enavn", "", false, false)}}
    <!-- Felt slut: Efternavn -->
    <!-- Felt start: E-mail adresse -->
    {{textinput("fieldset-email", "E-mail adresse", false, "", false, "email", "", false, false)}}
    <!-- Felt slut: E-mail adresse -->
    <!-- Felt start: Telefonnr -->
    {{textinput("telefon", "Telefonnr.", false, "input-char-8", false, "telefon", "", false, false)}}
    <!-- Felt slut: Telefonnr -->

    <!-- Felt start: Kontaktmetode -->
    <div class="form-group">
        <fieldset>
            <legend class="form-label">Hvordan vil du helst kontaktes?</legend>
            <ul class="nobullet-list">
              <li>{{ radiobutton("kontakt-telefon", "kontakt", "kontakt-telefon", false, false, "Pr. telefon", "", "", true) }}</li>
              <li>{{ radiobutton("kontakt-email", "kontakt", "kontakt-email", false, false, "Pr. e-mail", "", "", true) }}</li>
            </ul>
        </fieldset>
    </div>
    <!-- Felt slut: Kontaktmetode -->

    <!-- Felt start: Tid på dagen -->
    <div class="form-group">
        <fieldset>
            <legend class="form-label">Hvornår på dagen vil det passe bedst, at vi kontakter dig?</legend>
            <ul class="nobullet-list">
              <li>{{ checkbox("morgen", "tidspunkt[]", "morgen", false, false, "Om morgenen", "", "", true, "", "", "", "", "false") }}</li>
              <li>{{ checkbox("middag", "tidspunkt[]", "middag", false, false, "Ved middagstid", "", "", true, "", "", "", "", "false") }}</li>
              <li>{{ checkbox("eftermiddag", "tidspunkt[]", "eftermiddag", false, false, "Om eftermiddagen", "", "", true, "", "", "", "", "false") }}</li>
              <li>{{ checkbox("aften", "tidspunkt[]", "aften", false, false, "Om aftenen", "", "", true, "", "", "", "", "false") }}</li>
            </ul>
        </fieldset>
    </div>
    <!-- Felt slut: Tid på dagen -->
    <!-- Felt start: Personlige oplysninger -->
    <div class="form-group">
        <fieldset>
            <legend class="h4">Personlige oplysninger</legend>

            <!-- Felt start: Fødselsdato -->
            {{datoinput("Fødselsdato", "For eksempel: 05 12 1987", "Dag", "Måned", "År", "", "", "", "", "", "","","", "mt-0")}}
            <!-- Felt slut: Fødselsdato -->

            <!-- Felt start: Odense -->
            <div class="form-group">
                <fieldset>
                    <legend class="h5">Bor du i Odense?</legend>
                    <ul class="nobullet-list">
                      <li>{{ radiobutton("odense-ja", "odense", "odense-ja", false, false, "Ja", "", "", true) }}</li>
                      <li>{{ radiobutton("odense-nej", "odense", "odense-nej", false, false, "Nej", "", "", true) }}</li>
                    </ul>
                </fieldset>
            </div>
            <!-- Felt slut: Odense -->
        </fieldset>
    </div>
    <!-- Felt slut: Personlige oplysninger -->
    <!-- Knap start -->
    {{ button("Gem oplysninger", "primary mt-9") }}
    <!-- Knap slut -->
</form>
