{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/buttons/buttons.njk" import button as button %}

<h1 class="h2">Dine kontaktoplysninger</h1>
<form novalidate>
    {{textinput({
        "id": "simple-fnavn",
        "label": {
            "text": "Fornavn"
        },
        "name": "fnavn"})}}
    {{textinput({
        "id": "simple-enavn", 
        "label": {
            "text": "Efternavn"
        },
        "name": "enavn"})}}
    {{textinput({
        "id": "simple-email", 
        "label": {
            "text": "E-mail adresse"
            },
        "name": "email"})}}
    {{textinput({
        "id": "simple-telefon",
        "label": {
            "text": "Telefonnummer"
            },
        "classes": "input-width-s",
        "name": "telefon"})}}
    {{ button({
        "text":"Gem oplysninger", 
        "classes":"primary mt-9"}) }}
</form>