{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}

<div class="container">
    <!-- Example with small radiobuttons -->
    <div class="form-group">
        <fieldset>
            <legend class="h5">Lille radioknap</legend>
            <ul class="nobullet-list">
              {% for item in radiobuttons_example_small.items %}
              <li>
                {{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.sr) }}
              </li>
              {% endfor %}
            </ul>
        </fieldset>
    </div>

    <!-- Example with large radiobuttons (recommended) -->
    <div class="form-group">
        <fieldset>
          <legend class="h5">Stor radioknap (anbefalet)</legend>
            <ul class="nobullet-list">
              {% for item in radiobuttons_example_large.items %}
              <li>
                {{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.sr) }}
              </li>
              {% endfor %}
            </ul>
        </fieldset>
    </div>

    <!-- Example with error message -->
    <div class="form-group form-error">
        <fieldset>
          <legend class="h5">Radioknap med fejl</legend>
            <span class="form-error-message" role="alert">Hjælpsom fejlbesked</span>
            <ul class="nobullet-list">
              {% for item in radiobuttons_error_example.items %}
              <li>
                {{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.attr, item.inputClasses, item.inputAttrs, item.formClasses, item.srOnly) }}
              </li>
              {% endfor %}
            </ul>
        </fieldset>
    </div>


    <!-- Example with help text -->
    <div class="form-group">
        <fieldset>
          <legend class="h5">Radioknap med hjælpetekst</legend>
            <ul class="nobullet-list">
              {% for item in radiobuttons_example_helptext.items %}
              <li>
                {{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.attr, item.inputClasses, item.inputAttrs, item.formClasses, item.sr, item.helptext) }}
              </li>
              {% endfor %}
            </ul>
        </fieldset>
    </div>
</div>
