{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}

<div class="form-group">
    <fieldset>
        <legend class="form-label">Lille radioknap</legend>
        <ul class="nobullet-list">
            {% for item in radiobuttons_example_small.items %}<li>{{ radiobutton(item) }}</li>{% endfor %}
        </ul>
    </fieldset>
</div>
