{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}
<div class="form-group form-error">
    <fieldset>
        <legend class="h5">Radioknap med fejl</legend>
        <span class="form-error-message" role="alert">Hjælpsom fejlbesked</span>
        <ul class="nobullet-list">
            {% for item in radiobuttons_error_example.items %}<li>{{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.attr, item.inputClasses, item.inputAttrs, item.formClasses, item.srOnly) }}</li>{% endfor %}
        </ul>
    </fieldset>
</div>
