{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}
<div class="form-group">
    <fieldset>
        <legend class="h5">Radioknap med hjælpetekst</legend>
        <ul class="nobullet-list">
            {% for item in radiobuttons_example_helptext.items %}<li>{{ radiobutton(item) }}</li>{% endfor %}
        </ul>
    </fieldset>
</div>
