{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}

<div class="form-group">
    <fieldset>
        <legend class="form-label">Lille radioknap</legend>
        {% for item in radiobuttons_example_small.items %}{{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large, item.sr) }}{% endfor %}
    </fieldset>
</div>
