{% from "components/form/controls/text-input.njk" import textinput as textinput %}

{{
    textinput({
        "id": "postnr",
        "name": "postnr",
        "label": "Postnummer",
        "classes": { "input": "input-char-4" },
        "autocomplete": "postal-code"
    })
}}
