{% from "components/form/controls/text-area.njk" import textarea as textarea %}

{{
    textarea({
        "id": "input-textarea",
        "name": "input-textarea",
        "label": "Tekstområde med label",
        "rows": 5
    })
}}