
{% from "components/form/controls/text-input.njk" import textinput as textinput %}

<fieldset>
  <legend class="h4">Input bredde med rem</legend>
  {% for item in textinputwidth_example.items %}
    {{textinput(item)}}
  {% endfor %}
</fieldset>

<fieldset>
  <legend class="h4 mt-7">Input bredde med tegn</legend>
  {% for item in textinputchar_example.items %}
    {{textinput(item)}}
  {% endfor %}
</fieldset>
