{% from "components/form/controls/text-input.njk" import textinput as textinput %}

{{
    textinput({
        "id": "input-pris-error",
        "name": "input-pris-error",
        "label": "Pris i 1000 kr.",
        "type": "number",
        "suffix": ".000 kr",
        "value": "123",
        "errorMessage": "Angiv en pris",
        "classes": {
            "input": "input-char-11"
        }
    })
}}