{% from "components/form/controls/text-input.njk" import textinput as textinput %}

{{
    textinput({
        "id": "input-disabled",
        "name": "input-disabled",
        "label": "Inputfelt som er låst",
        "disabled": true,
        "required": false
    })
}}