{% from "components/form/controls/text-area.njk" import textarea as textarea %}

{{
    textarea({
        "id": "textarea-error",
        "name": "textarea-error",
        "label": "Tekstområde med fejlmeddelelse",
        "errorMessage": "Hjælpsom fejlmeddelelse",
        "rows": 5
    })
}}