{% from "components/form/controls/checkbox.njk" import checkbox as checkbox %}

<div class="form-group">
    {{ checkbox({
        "id": "checkbox1",
        "name": "checkbox1",
        "value": "1",
        "label": "Tjekboks viser indhold", 
        "large": true,
        "classes": "js-checkbox-toggle-content",
        "inputAttributes": "data-aria-controls='collapse-check1' data-aria-expanded='false'"}) }}
    <div id="collapse-check1" aria-hidden="true" class="checkbox-content checkbox-content-large">
        <p class="mt-0 py-4">Dette indhold bliver vist når tjekboksen er valgt.</p>
    </div>
</div>



