{% from "components/form/controls/radiobutton.njk" import radiobutton as radiobutton %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}

<div class="js-radio-toggle-group">
    <fieldset>
        <legend class="form-label">Vælg en radioknap</legend>
        <ul class="nobullet-list">
            <li>{{radiobutton(radiobutton1_data) }}
                <div id="collapse-radio1" aria-hidden="true" class="radio-content radio-content-large">
                    {{textinput("textinput1", "Inputfelt med label", "", "input-width-m", "", "text1", "", false, "", "", "", "", "", "")}}
                </div></li>
            <li>{{radiobutton(radiobutton2_data)}}
                <div id="collapse-radio2" aria-hidden="true" class="radio-content radio-content-large">
                    {{textinput("textinput2", "Inputfelt med anden label", "", "input-width-m", "", "text2", "", false, "", "", "", "", "", "")}}
                </div>
            </li>
        </ul>
    </fieldset>
</div>
