{% from "components/alerts/alerts.njk" import alert as alert %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Anvend altid role='alert'</p>
            {{ 
                alert({
                    "variant": "info",
                    "headingLevel": "h2",
                    "heading": "Informativ besked",
                    "content": "Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.",
                    "alertRole": true
                }) 
            }}
        </div>
    </div>
</main>