{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/tooltip/tooltip.njk" import tooltip as tooltip %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">JavaScript errors i tooltips</h1>
            <p>Åbn konsollen</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler target</p>
            {% set target1 = 
                button({
                    "variant": "primary",
                    "text": "Knap"
                })
            %}
            {{ 
                tooltip({
                    "text": "Tooltip på en knap",
                    "target": target1,
                    "trueTooltip": true,
                    "id": "tooltip1"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler tooltip</p>
            {% set target2 = 
                button({
                    "variant": "primary",
                    "text": "Knap",
                    "classes": { "button": "tooltip-target" }
                })
            %}
            {{ 
                tooltip({
                    "target": target2,
                    "trueTooltip": true,
                    "id": "tooltip2"
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler trigger</p>
            {% set target3 = 
                button({
                    "variant": "primary",
                    "text": "Knap",
                    "classes": { "button": "tooltip-target" }
                })
            %}
            <div class="tooltip-wrapper" data-tooltip="Tooltip på en knap" data-tooltip-id="tooltip-knap3">{{ target3 }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler id</p>
            {% set target4 = 
                button({
                    "variant": "primary",
                    "text": "Knap",
                    "classes": { "button": "tooltip-target" }
                })
            %}
            {{ 
                tooltip({
                    "text": "Tooltip på en knap",
                    "target": target4,
                    "trueTooltip": true
                }) 
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Skal virke selvom position ikke er sat</p>
            {% set target5 = 
                button({
                    "variant": "primary",
                    "text": "Knap",
                    "classes": { "button": "tooltip-target" }
                })
            %}
            <div class="tooltip-wrapper" data-tooltip="Tooltip på en knap" data-tooltip-id="tooltip-knap5" data-trigger="hover">{{ target5 }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Skal virke selvom position ikke er sat</p>
            {% set target6 = 
                button({
                    "variant": "primary",
                    "text": "Knap",
                    "classes": { "button": "tooltip-target" }
                })
            %}
            <div class="tooltip-wrapper" data-tooltip="Åben ved page load" data-tooltip-id="tooltip-knap6" data-trigger="hover">{{ target6 }}</div>
        </div>
    </div>
</main>