{% from "components/buttons/buttons.njk" import button as button %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">JavaScript errors i tooltips</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Mangler target</p>
            <div class="tooltip-wrapper tooltip-above tooltip-onclick">
                <div>
                    {{ 
                        button({
                            "variant": "unstyled",
                            "attributes": "type=\"button\" aria-describedby=\"mytooltip\"",
                            "classes": { "icon": "mr-0 mt-0" },
                            "srOnly": "Hvad betyder det?",
                            "icon": "help"
                        }) 
                    }}
                </div>
                <span class="tooltip" role="tooltip" id="mytooltip">Dette er en alt for lang tekst til et tooltip, men den er god at teste med. Tooltips bliver for lange, når de fylder mere end 4 linjer.</span>
            </div>
        </div>
    </div>
</main>