{% from "components/radiobuttons/radiobuttons.njk" import radiobuttons as radiobuttons %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/checkboxes/checkboxes.njk" import checkboxes as checkboxes %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-radiobuttons-5</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{
                radiobuttons({
                    "id": "radiogroup",
                    "radiogroupLegend": "Liste med radioknapper",
                    "groupname": "radio-example",
                    "collapsedItems": true,
                    "items": [
                        { "value": "v1", "label": "Valg 1" },
                        { "value": "v2", "label": "Valg 2" },
                        { "value": "v3", "label": "Valg 3", 
                        "srOnly": "Udfyld informationer herunder", 
                        "hiddenContent": textinput({ "id": "mytext", "label": "Inputfelt", "name": "mytext" }) }
                    ]
                })
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{
                radiobuttons({
                    "id": "radiogroup2",
                    "radiogroupLegend": "Liste med radioknapper",
                    "groupname": "radio-example2",
                    "collapsedItems": true,
                    "items": [
                        { "value": "v1", "label": "Valg 1" },
                        { "value": "v2", "label": "Valg 2", "srOnly": "Udfyld informationer herunder", "hiddenContent": 
                            "Dette er noget tekst, som man aldrig må have som skjult indhold i radioknapper" },
                        { "value": "v3", "label": "Valg 3", "srOnly": "Udfyld informationer herunder", "hiddenContent": 
                            textinput({ "id": "text3", "label": "Inputfelt", "name": "text3" }) }
                    ]
                })
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{
                radiobuttons({
                    "id": "radiogroup3",
                    "radiogroupLegend": "Do you accept?",
                    "groupname": "radio-example3",
                    "collapsedItems": true,
                    "items": [
                        { "value": "v1", "label": "Yes" },
                        { "value": "v3", "label": "No", "srOnly": "Udfyld informationer herunder", "hiddenContent": 
                        checkboxes({
                            "id": "checkboxgroup",
                            "checkboxLegend": "Why not?",
                            "groupname": "checkbox-example",
                            "items": [
                                { "value": "v1", "label": "I have my reasons" },
                                { "value": "v2", "label": "It doesn't look nice" },
                                { "value": "v3", "label": "Don't know" }
                            ]
                        })}
                    ]
                })
            }}
        </div>
    </div>
</main>