{% from "components/accordion/accordion.njk" import accordion as accordion %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            {{ 
                accordion({
                    "id": "accordionID",
                    "classes": "accordionclass",
                    "items": [
                        {
                            "title": "Accordion",
                            "content": "<p>This is some accordion content.</p>",
                            "classes": {
                                "button": "buttonclass1",
                                "title": "titleclass1"
                            }
                        },
                        {
                            "title": "Accordion",
                            "content": "<p>This is some accordion content.</p>",
                            "variant": "info",
                            "classes": {
                                "button": "buttonclass2",
                                "title": "titleclass2",
                                "icon": "iconclass2"
                            }
                        },
                        {
                            "title": "Accordion",
                            "content": "<p>This is some accordion content.</p>",
                            "classes": {
                                "button": "buttonclass2",
                                "title": "titleclass2"
                            }
                        }
                    ]
                })
            }}
        </div>
    </div>
</main>