{% from "components/accordion/accordion.njk" import accordion as accordion %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Åbn-luk-knap og præ-åbnede accordions</p>
            {{ 
                accordion({
                    "id": "myID", 
                    "openCloseButton": true,
                    "items": [
                        {
                            "title": "Accordion one",
                            "content": "<p>This is some accordion content.</p>",
                            "expanded": true
                        },
                        {
                            "title": "Accordion two",
                            "content": "<p>This is some accordion content.</p>"
                        },
                        {
                            "title": "Accordion three",
                            "content": "<p>This is some accordion content.</p>",
                            "expanded": true
                        }
                    ]
                })
            }}
        </div>
    </div>
</main>