{% from "components/accordion/accordion.njk" import accordion as accordion %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Åbn/luk-knapper</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                accordion({
                    "id": "group-open",
                    "headingLevel": "h2",
                    "openCloseButton": true,
                    "items": [
                        {
                            "title": "Foldet ud",
                            "content": "<p>This is some accordion content.</p>",
                            "expanded": true
                        },
                        {
                            "title": "Foldet ud",
                            "content": "<p>This is some accordion content.</p>",
                            "expanded": true
                        },
                        {
                            "title": "Foldet ud",
                            "content": "<p>This is some accordion content.</p>",
                            "expanded": true
                        }
                    ]
                })
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                accordion({
                    "id": "group-closed",
                    "headingLevel": "h2",
                    "openCloseButton": true,
                    "items": [
                        {
                            "title": "Foldet sammen",
                            "content": "<p>This is some accordion content.</p>"
                        },
                        {
                            "title": "Foldet sammen",
                            "content": "<p>This is some accordion content.</p>"
                        },
                        {
                            "title": "Foldet sammen",
                            "content": "<p>This is some accordion content.</p>"
                        }
                    ]
                })
            }}
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                accordion({
                    "id": "group-mixed",
                    "headingLevel": "h2",
                    "openCloseButton": true,
                    "items": [
                        {
                            "title": "Foldet sammen",
                            "content": "<p>This is some accordion content.</p>"
                        },
                        {
                            "title": "Foldet ud",
                            "content": "<p>This is some accordion content.</p>",
                            "expanded": true
                        },
                        {
                            "title": "Foldet sammen",
                            "content": "<p>This is some accordion content.</p>"
                        }
                    ]
                })
            }}
        </div>
    </div>
</main>