{% from "components/accordion/accordion.njk" import accordion as accordion %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Accordion-klasser</h1>
            <p>Klasser: accordion-group-class, button-class, title-class, icon-class</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ 
                accordion({
                    "id": "accordionID",
                    "classes": "accordion-group-class",
                    "items": [
                        {
                            "title": "Accordion",
                            "content": "<p>This is some accordion content.</p>",
                            "variant": "info",
                            "classes": {
                                "button": "button-class",
                                "title": "title-class",
                                "icon": "icon-class"
                            }
                        }
                    ]
                })
            }}
        </div>
    </div>
</main>