{% from "components/accordion/accordion.njk" import accordion as accordion %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Custom variant</p>
            {{ 
                accordion({
                    "id": "myID", 
                    "items": [
                        {
                            "title": "Accordion one",
                            "content": "<p>This is some accordion content.</p>"
                        },
                        {
                            "title": "Accordion two",
                            "content": "<p>This is some accordion content.</p>",
                            "variant": "custom",
                            "custom": {
                                "text": "Tilgængelighed",
                                "icon": "accessibility-new"
                            }
                        },
                        {
                            "title": "Accordion three",
                            "content": "<p>This is some accordion content.</p>"
                        }
                    ]
                })
            }}
        </div>
    </div>
</main>