{% from "components/form/controls/date-picker.njk" import datepicker as datepicker %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-datepicker-2</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Klasser, attributer og default dato</p>
            {{ 
                datepicker({
                    "id": "datepicker-example1",
                    "name": "appointment-date1",
                    "label": "Dato for aftale",
                    "classes": {
                        "formgroup": "formgroupclass",
                        "label": "labelclass",
                        "input": "inputclass"
                    },
                    "attributes": {
                        "formgroup": "formgroupattr",
                        "label": "labelattr",
                        "input": "inputattr"
                    },
                    "defaultDate": "2008-11-23"
                }) 
            }}
        </div>
    </div>
</main>