{% from "components/form/controls/date-picker.njk" import datepicker as datepicker %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-datepicker-1</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Date picker example</p>
            {{ 
                datepicker({
                    "id": "datepicker-example1",
                    "name": "appointment-date1",
                    "label": "Dato for aftale"
                }) 
            }}
        </div>
    </div>
</main>