{% from "components/form/controls/date-picker.njk" import datepicker as datepicker %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Disabled og frivillig-label</p>
            {{
                datepicker ({
                    "id": "datepicker-example1",
                    "name": "appointment-date1",
                    "label": "Dato for aftale",
                    "disabled": true,
                    "optionalLabel": true
                })
            }}
        </div>
    </div>
</main>