{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/tags/tags.njk" import tag as tag %}

{{ tag(tag_example.text, tag_example.class, tag_example.attribute, tag_example.icon) }}
