{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/tags/tags.njk" import tag as tag %}

<div class="container py-8">
{% for tags in tag_examples.items %}{{ tag(tags.text, tags.class, tags.attribute, tags.icon) }}{% endfor %}
</div>
