{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/tags/tags.njk" import tag as tag %}

<div class="container">
{%- for example in tag_examples -%}
{%- if example.label %}
<p class="h5">{{ example.label }}</p>
{% endif -%}
{%- for tags in example.items -%}{{ tag(tags.text, tags.class, tags.attribute, tags.icon) }}{% endfor -%}
{% endfor -%}
</div>