{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer-simple.njk" import footer_simple as footer_simple %}

{% block header %}
  <header class="header"><a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><span class="weight-semibold">Christian Emil Vestergaard Christiansen</span><br />Forsikringens Forsikringsfirma</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Erhvervsministeriet</p>
        <p>Support: 72 20 60 00 <br><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#card-text"></use></svg>Kontakt</a></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">{{icon_svg("save")}}Gem kladde</a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
<main class="container page-container pt-4 pt-lg-0" id="main-content">
    <div><a href="javascript:void(0);" class="back-link">Tilbage</a></div>
    {{overflowmenu("Trin 9 af 9","overflow_steps", true, false, "arrow-drop-down" ,"
        <nav><ul class='sidenav-list' role='menu'>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-1/' role='menuitem'>
                    1. Oplysninger om afsender
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-2/' role='menuitem'>
                    2. Hvis AES har spørgsmål til sagen
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-3/' role='menuitem'>
                    3. Oplysninger om skadelidte
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-4/' role='menuitem'>
                    4. Sagens natur
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-5/' role='menuitem'>
                    5. Oplysninger om sagen
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-6/' role='menuitem'>
                    6. Tilføj dokumentation for første undersøgelse af skaden
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-7/' role='menuitem'>
                    7. Tilføj dokumentation fra sagen
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-8/' role='menuitem'>
                    8. Tilføj kommentarer til sagen
                    <span class='sidenav-icon' aria-label='Gennemført'>
                        <svg class='icon-svg' aria-hidden='true' focusable='false'><use xlink:href='#done'></use></svg>
                    </span>
                </a>
            </li>
            <li class='active current' role='none'>
                <a href='/pages/eksempler/AES-erstatningssag/aes-9/' role='menuitem' aria-current='page'>
                    9. Opsummering
                </a>
            </li>
        </ul></nav>
        "
    ) }}

    <h1>Opsummering</h1>
    <p class="font-lead">Her kan du kontrollere, om oplysningerne er korrekte.</p>
    <h2>Dine oplysninger</h2>
    <div class="w-percent-md-70 mt-6 mb-7">
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-virksomhedens-navn" class="form-label">Virksomhedens navn</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-virksomhedens-navn" value="Forsikringens forsikring (enhed)" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-1">Redigér<span class="sr-only"> virksomhedens navn</span></a>
            </div>
        </div> 
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-virksomhedens-kontaktperson" class="form-label">Kontaktperson</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-virksomhedens-kontaktperson" value="John Doe" readonly />
                <label for="input-virksomhedens-kontaktperson-telefonnummer" class="sr-only">Telefonnummer til kontaktperson</label>
                <input type="text" class="form-input" id="input-virksomhedens-kontaktperson-telefonnummer" value="+45 1234 5678" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-2">Redigér<span class="sr-only"> virksomhedens kontaktperson</span></a>
            </div>
        </div> 
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-afsender" class="form-label">Afsender</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-afsender" value="Forsikringens forsikring (enhed)" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-1">Redigér<span class="sr-only"> afsender</span></a>
            </div>
        </div> 
    </div>
    <h3 class="h4">Oplysninger om skadelidte</h3>
    <div class="w-percent-md-70 mt-6 mb-7">
      <div class="row no-gutters row-bordered py-3">
        <div class="col-12 col-md-4 weight-semibold">
            <label for="input-skadelidtes-navn" class="form-label">Skadelidtes navn</label>
        </div>
        <div class="col-12 col-md-6">
            <input type="text" class="form-input" id="input-skadelidtes-navn" value="Susanne Maria Zaggariasen" readonly />
        </div>
        <div class="col-12 col-md-2 align-text-md-right">
            <a href="/pages/eksempler/AES-erstatningssag/aes-3">Redigér<span class="sr-only"> skadelidtes navn</span></a>
        </div>
      </div>
      <div class="row no-gutters row-bordered py-3">
        <div class="col-12 col-md-4 weight-semibold">
            <label for="input-skadelidtes-cpr" class="form-label">Skadelidtes CPR</label>
        </div>
        <div class="col-12 col-md-6">
            <input type="text" class="form-input" id="input-skadelidtes-cpr" value="110687-1478" readonly />
        </div>
        <div class="col-12 col-md-2 align-text-md-right">
            <a href="/pages/eksempler/AES-erstatningssag/aes-3">Redigér<span class="sr-only"> skadelidtes CPR</span></a>
        </div>
      </div>
    </div>
    <h3 class="h4">Oplysninger om sagen</h3>
    
    <div class="w-percent-md-70 mt-6 mb-7">
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-sagstype" class="form-label">Sagstype</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-sagstype" value="Erstatningsansvarloven" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-4">Redigér<span class="sr-only"> sagstype</span></a>
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-emne" class="form-label">Emne</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-emne" value="Mén (6.220 kr.)" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-4">Redigér<span class="sr-only"> emne</span></a>
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-skadedato" class="form-label">Skadedato</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-skadedato" value="1/10-2017" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-5">Redigér<span class="sr-only"> skadedato</span></a>
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-sagsnummer" class="form-label">Sagsnummer</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-sagsnummer" value="prsk013456" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-5">Redigér<span class="sr-only"> sagsnummer</span></a>
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-verserende-retssag" class="form-label">Verserende retssag</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-verserende-retssag" value="Nej" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-5">Redigér<span class="sr-only"> verserende retssag</span></a>
            </div>
        </div>
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-skadelidtes-advokat" class="form-label">Skadelidtes advokat</label>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" class="form-input" id="input-skadelidtes-advokat" value="Nej" readonly />
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-5">Redigér<span class="sr-only"> skadelidtes advokat</span></a>
            </div>
        </div>
    </div>
    <h3 class="h4">Yderligere oplysninger</h3>

    <div class="w-percent-md-70 mt-6 mb-7">
        <div class="row no-gutters row-bordered py-3">
            <div class="col-12 col-md-4 weight-semibold">
                <label for="input-faktuelle-oplysninger" class="form-label">Faktuelle oplysninger</label>
            </div>
            <div class="col-12 col-md-6">
<textarea class="form-input w-percent-100 input-width-xl no-resize mt-0" id="input-faktuelle-oplysninger" value="Erstatningsansvarloven" readonly rows="9">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lectus quis sem lacinia nonummy.
Proin mollis lorem non dolor. In hac habitasse platea dictumst. Nulla ultrices odio.
Donec augue. Phasellus dui. Maecenas facilisis nisl vitae nibh. Proin vel seo est vitae eros pretium dignissim.
Aliquam aliquam sodales orci. Suspendisse potenti. Nunc adipiscing euismod arcu. Quisque facilisis mattis lacus.</textarea>
            </div>
            <div class="col-12 col-md-2 align-text-md-right">
                <a href="/pages/eksempler/AES-erstatningssag/aes-4">Redigér<span class="sr-only"> faktuelle oplysninger</span></a>
            </div>
        </div>
    </div>

    <h2>Bilagsoversigt</h2>
    <h3 class="h4">Første undersøgelse af skade</h3>
    <table class="table table--borderless table--compact table--responsive-headers d-print-table mt-6 mb-7 w-percent-lg-70">
        <thead>
            <tr>
                <th>Original titel</th>
                <th>Navngivning</th>
                <th>Kommentar</th>
                <th>Størrelse</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
                <td class="align-text-md-right d-print-none"><a href="/pages/eksempler/AES-erstatningssag/aes-7">Rediger</a></td>
            </tr>
        </tbody>
    </table>
    <h3 class="h4">Oplysninger om varigt mén</h3>
    <table class="table table--borderless table--compact table--responsive-headers d-print-table mt-6 mb-7 w-percent-lg-70">
        <thead>
            <tr>
                <th>Original titel</th>
                <th>Navngivning</th>
                <th>Kommentar</th>
                <th>Størrelse</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
                <td class="align-text-md-right d-print-none"><a href="/pages/eksempler/AES-erstatningssag/aes-7">Rediger</a></td>
            </tr>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
                <td class="align-text-md-right d-print-none"><a href="/pages/eksempler/AES-erstatningssag/aes-7">Rediger</a></td>
            </tr>
        </tbody>
    </table>
    <h3 class="h4">Første undersøgelse af skade</h3>
    <table class="table table--borderless table--responsive-headers d-print-table table--compact mt-6 w-percent-lg-70">
        <thead>
            <tr>
                <th>Original titel</th>
                <th>Navngivning</th>
                <th>Kommentar</th>
                <th>Størrelse</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>prn1023152_attest.pdf</td>
                <td>Journal fra egen læge</td>
                <td>2/10-2017</td>
                <td>2,3 mb</td>
                <td class="align-text-md-right d-print-none"><a href="/pages/eksempler/AES-erstatningssag/aes-7">Rediger</a></td>
            </tr>
        </tbody>
    </table>

    <nav class="page-navigation d-print-none">
        <a href="/pages/eksempler/AES-erstatningssag/aes-10" class="button button-primary">Send sagen til AES</a>
    </nav>
</main>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_simple(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}
