{% from "components/cards/cards.njk" import card as card %}

<div class="row card-row">
    <div class="col-12 col-sm-6">
        {{ 
            card({
                "innerTag": "section",
                "image": { 
                    "src": "{{ site.baseurl }}/assets/img/cards/card-placeholder.svg",
                    "alt": ""
                },
                "subheading": "Subheading",
                "heading": "Titel",
                "headingLevel": "h2",
                "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><div class=\"button-group actions\"><button class=\"button button-secondary\">Sekundær knap</button><button class=\"button button-tertiary\">Tertiær knap</button></div>"
            }) 
        }}
    </div>
    <div class="col-12 col-sm-6">
        {{ 
            card({
                "innerTag": "section",
                "image": { 
                    "src": "{{ site.baseurl }}/assets/img/cards/card-placeholder.svg",
                    "alt": ""
                },
                "subheading": "Subheading",
                "heading": "Titel",
                "headingLevel": "h2",
                "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><ul class=\"nobullet-list actions\"><li><a href=\"#\">Link</a></li><li><a href=\"#\" class=\"icon-link\" target=\"_blank\">Eksternt link<svg class=\"icon-svg\" aria-label=\"(åbner i nyt vindue)\" focusable=\"false\"><use href=\"#open-in-new\"></use></svg></a></li></ul>"
            }) 
        }}
    </div>
</div>