{% from "components/cards/cards.njk" import cards2 as cards2 %}
{% from "components/cards/cards.njk" import cards3 as cards3 %}

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      {% for card2 in cards2_example.items -%}
        {{ cards2(card2.name, card2.header, card2.subheader, card2.cardtext, card2.contenttext, card2.cardcontent, card2.actioncontent, card2.actionbuttons, card2.actionlinks ) }}
      {%- endfor %}
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-6 mt-md-0">
      {% for card3 in cards3_example.items -%}
        {{ cards3(card3.name, card3.header, card3.subheader, card3.cardtext, card3.contenttext, card3.cardcontent, card3.actioncontent, card3.actionbuttons, card3.actionlinks ) }}
      {%- endfor %}
    </div>
  </div>
</div>
