{% from "components/cards/cards.njk" import card as card %}

{{ card(card_example.name, card_example.header, card_example.subheader, card_example.cardtext, card_example.contenttext, card_example.cardcontent, card_example.actioncontent, card_example.actionbuttons, card_example.actionlinks ) }}
