{% from "components/cards/cards.njk" import card as card %}

<div class="container pb-5">
  <div class="row">
      {% for item in card_examples.items -%}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6 mt-md-0">
        {{ card(item) }}
    </div>
    {%- endfor %}
  </div>
</div>
