{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<p>Link som åbner et <a href="/" class="icon-link" target="_blank">eksternt website{{icon_svg({"name": 'open-in-new', "ariaLabel": "(åbner i nyt vindue)"})}}</a></p>

<p>Link som åbner en fil i en ny fane: <a href="/" class="icon-link" target="_blank">Linktekst (pdf){{icon_svg({"name": 'open-in-new', "ariaLabel": "(åbner i nyt vindue)"})}}</a></p>

<p>Link som downloader en fil: <a href="/" class="icon-link" download="Eksempel på download">Linktekst (zip-fil){{icon_svg({"name": 'download', "ariaLabel": "(download fil)"})}}</a></p>