{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/type/links.njk" import link as link %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Link som åbner et <a href="" class="icon-link">eksternt website{{icon_svg('open-in-new')}}</a></p>
        </div>
    </div>
</div>

