{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/type/links.njk" import link as link %}

<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            <a href="javascript:void(0);" class="function-link">{{ icon_svg('printer', "", "", true)}}Funktionslink</a>
        </div>
    </div>
</div>

