{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/type/links.njk" import link as link %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', '', 'Standard link','') }}</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #004d99</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-hover', 'Standard link, hover','') }}</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #004080</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-active', 'Standard link, active','') }}</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #000040</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-visited', 'Standard link, visited','') }}</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #800080</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-focus', 'Standard link, focus','') }}</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #004D99;outline: 4px solid #747474;</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'function-link', 'Footer link','') }}</p>
        </div>
        <div class="col-12 col-md-6">
            <pre>color: #1a1a1a;</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Link som åbner et <a href="" class="icon-link">ekstern website{{icon_svg('open-in-new')}}</a> </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Dette er <a href="javascript:void(0);" class="disabled" aria-disabled="true" tabindex="-1">et standard link, disabled<span class="sr-only">disabled</span></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><a href="javascript:void(0);" class="function-link">{{ icon_svg('printer', "", "", true)}}Funktionslink</a></p>
        </div>
    </div>
</div>
<div class="container background-dark p-6">
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', '', 'Standard link','') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-hover', 'Standard link, hover','') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-active', 'Standard link, active','') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-visited', 'Standard link, visited','') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'link-focus', 'Standard link, focus','') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>{{ link('javascript:void(0);', 'function-link', 'Footer link','') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Link som åbner et <a href="" class="icon-link">ekstern website{{icon_svg('open-in-new')}}</a> </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Dette er <a href="javascript:void(0);" class="disabled" aria-disabled="true" tabindex="-1">et standard link, disabled<span class="sr-only">disabled</span></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><a href="javascript:void(0);" class="function-link">{{ icon_svg('printer', "", "", true)}}Funktionslink</a></p>
        </div>
    </div>
</div>

