{% from 'components/icons/icons--svg.njk' import icon_svg as icon_svg %}
{% from 'components/type/links.njk' import link as link %}

<p>{{ link({'url': 'https://designsystem.dk/', 'text':'Standard link'}) }}</p>
<p>{{ link({'url': 'https://designsystem.dk/', 'text':'Standard link, hover', 'classes': 'link-hover'}) }}</p>
<p>{{ link({'url': 'https://designsystem.dk/', 'text':'Standard link, besøgt', 'classes': 'link-visited'}) }}</p>
<p>{{ link({'url': 'https://designsystem.dk/', 'text':'Standard link, fokus', 'classes': 'link-focus'}) }}</p>
