{% from "components/type/links.njk" import link as link %}

<div class="container">
    <p>For at se skip link, brug tabulatoren for at sætte fokus i dette eksempel eller klik på denne tekst og tryk på tab-tasten.</p>
    {{ link('#main-content', 'skipnav', 'Gå til sidens indhold') }}
</div>

