{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/back-to-top/back-to-top.njk" import back_to_top as back_to_top %}
{% from "components/badge/badges.njk" import badge as badge %}


{% block header %}
  <header class="header">
    <div id="top"></div>
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}
    <div class="overlay"></div>
    <nav class="nav"> <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg({"name":"close"})}}Luk</button>

        <div class="portal-info-mobile">
        <p class="user"><span class="weight-semibold">Anders Andersen</span><br />Forsikringens Forsikringsfirma</p>

        <a href="#" class="button button-secondary button-signout">
            Log af
        </a>
    </div>

    <div class="solution-info-mobile">
        <p class="bold">Myndighedsnavn</p>
        <p>Support: 12 34 56 78 <br><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block">
            <svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></p>
    </div>
  </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}


{% block body %}
<main class="container page-container" id="main-content">
    
    <h1>Opgaveliste</h1>  

    <h2 class="h3 mb-md-0">1. Check før du starter</h2>
    <div class="w-percent-md-60 mt-4">
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Check berettigelse</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Læs deklarationen</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
    </div>

    <h2 class="h3 mb-md-0">2. Forbered ansøgning</h2>
    <div class="w-percent-md-60 mt-4">
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Virksomhedsoplysninger</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Kontaktoplysninger</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Liste over domfældelser</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_igang) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Fremsæt finansielle beviser</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_ikke_startet) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Giv medicinoplysninger</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
    </div>
    {{ back_to_top(back_to_top_button) }}
</main>
{% endblock %}

{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}