{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{%- from "components/header/header.njk" import portal_header as portal_header -%}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}
{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/badge/badges.njk" import badge as badge %}


{% block header %}
  <header class="header">
    <div id="top"></div>
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    
    {% set authorityText = 
      'Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block mt-0">' + icon_svg({"name": "card-text"}) + 'Kontakt</a></span>'
    %}
    {{ 
      solution_header({
        "lastHeader": true,
        "title": {
          "href": "#",
          "text": "Løsningstitel står her"
        },
        "solutionInfo": {
          "hideOnPrint": true
        },
        "authority": {
          "name": "Myndighedsnavn",
          "text": authorityText
        }
      }) 
    }}

    <div class="overlay"></div>
    <nav class="nav"> <!-- collapsible-->
        <button class="function-link button-menu-close js-menu-close" aria-label="Luk menu">{{icon_svg({"name":"close"})}}Luk</button>

        {{ mobile_portal_header(portal_header_data) }}

    {{ 
        mobile_solution_header({
            "authority": {
                "name": "Myndighedsnavn",
                "text": authorityText
            }
        }) 
      }}
  </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}


{% block body %}
<main class="container page-container" id="main-content">
    
    <h1>Opgaveliste</h1>  

    <h2 class="h3 mb-md-0">1. Check før du starter</h2>
    <div class="w-percent-md-60 mt-4">
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Check berettigelse</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Læs deklarationen</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
    </div>

    <h2 class="h3 mb-md-0">2. Forbered ansøgning</h2>
    <div class="w-percent-md-60 mt-4">
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Virksomhedsoplysninger</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Kontaktoplysninger</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Liste over domfældelser</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_igang) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Fremsæt finansielle beviser</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_ikke_startet) }}
            </div>
        </div>
        <div class="row row-bordered no-gutters">
            <div class="col-md-8">
                <a href="#">Giv medicinoplysninger</a>
            </div>
            <div class="col-md-4 align-text-md-right mt-3 mt-md-0">
                {{ badge(badge_gennemfoert) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}