{% from "components/back-to-top/back-to-top.njk" import back_to_top as back_to_top %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Tilbage til toppen-knap på en lang side</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mb-9" style="margin-top: 4000px;">Bunden af siden</div>
        </div>
    </div>
</main>

<footer>
    {{ back_to_top({"href": "#top"}) }}
</footer>