{% assign _current = false %}
{% assign _active = false %}

{% comment %} 
------------------------------------------------------------------
| page.url         = The page currently selected in the browser  |
| include.page.url = The page used in this partial               |
------------------------------------------------------------------ 
{% endcomment %}

{%- if include.page.url == page.url %}
  {%- assign _current = true %}
{%- endif %}

{%- if include.categorynav and page.parentlink == include.page.url -%}
  {%- assign _active = true %}
{%- endif %}

{%- if _current %}
  {%- assign _active = true %}
{%- endif %}

<li{% if _active or _current %} class="{% if _active %}active{% endif %}{% if _current %} current{% endif %}"{% endif %}>

  <a href="{{ include.page.url | relative_url }}" class="nav-link"{% if _current %} aria-current="page"{% endif %}>
    {%- if include.page.title == 'Beskeder (Alerts)' %}
      <span>Beskeder <span class="d-inline" lang="en">(Alerts)</span></span>
    {%- elsif include.page.title == 'Faneblade (Tabs)' %}
      <span>Faneblade <span class="d-inline" lang="en">(Tabs)</span></span>
    {%- elsif include.page.title == 'Knapper (Buttons)' %}
      <span>Knapper <span class="d-inline" lang="en">(Buttons)</span></span>
    {%- elsif include.page.title == 'Radioknap (Radio button)' %}
      <span>Radioknap <span class="d-inline" lang="en">(Radio button)</span></span>
    {%- elsif include.page.title == 'Tekstområde (Textarea)' %}
      <span>Tekstområde <span class="d-inline" lang="en">(Textarea)</span></span>
    {%- elsif include.page.title == 'Tjekboks (Checkbox)' %}
      <span>Tjekboks <span class="d-inline" lang="en">(Checkbox)</span></span>
    {% else %}
    <span>{{ include.page.title | smartify }}</span>
    {%- endif %}
  </a>

  {%- if include.categorynav -%}

    {%- assign _sublinks = site.data.nav[include.categorynav] %}

    {%- comment %} 
    ------------------------------------------------------------------
    | If the currently selected page has a submenu, show the submenu |
    ------------------------------------------------------------------ 
    {%- endcomment %}

    {%- if _current and _sublinks -%}
      <ul>
        {%- include nav/sidenavigation/list.html links=_sublinks %}
      </ul>
    {%- endif %}

    {%- comment %} 
    ----------------------------------------------------------------------------------------------------
    | If the currently selected page is part of a submenu (i.e. it has a parentlink), show the submenu |
    ----------------------------------------------------------------------------------------------------
    {%- endcomment %}

    {%- if page.parentlink == include.page.url and _sublinks -%}
      <ul>
        {%- include nav/sidenavigation/list.html links=_sublinks %}
      </ul>
    {%- endif %}

  {%- endif %}

</li>
