{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import navigation_menu as navigation_menu %}
{% from "components/header/header.njk" import mobile_navigation_menu as mobile_navigation_menu %}
{% from "components/header/header.njk" import menu_top as menu_top %}
{% from "components/language-switcher/language-switcher.njk" import languageSwitcherHeader as language_switcher %}
{% from "components/language-switcher/language-switcher.njk" import languageSwitcherMobile as language_switcher_mobile %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/badge/badges.njk" import badge as badge %}
{% from "components/alerts/alerts.njk" import alert as alert %}
{% from "components/breadcrumbs/breadcrumbs.njk" import breadcrumbs as breadcrumbs %}
{% from "components/structured-list/structured-list.njk" import structured_list as structured_list %}

{# <!-- Variables --> #}

{% set language_switcher_data = {
    "ariaLabel": "Vælg sprog fra listen",
    "firstAriaLabel": "Valgt sprog: Dansk",
    "languages": [
        {"code": "da", "name": "Dansk", "href": "?lang=da"},
        {"code": "en-GB", "name": "English", "href": "?lang=en-GB"},
        {"code": "de", "name": "Deutsch", "href": "?lang=de"},
        {"code": "kl", "name": "Kalaallisut", "href": "?lang=kl"},
        {"code": "pl", "name": "Polski", "href": "?lang=pl"},
        {"code": "se", "name": "Svenska", "href": "?lang=se"}
    ]
} %}

{% set solution_header_data = {
    "lastHeader": false,
    "hideOnPrint": false,
    "title": {
        "href": "#",
        "text": "Sagsunivers"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": '<span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span class="d-none d-lg-inline-block d-print-none ml-2 mr-2" aria-hidden="true">·</span><button type="button" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="d-print-none function-link">' + icon_svg({"name": "card-text"}) + 'Kontakt</button>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<div id="top"></div>
<header class="header">
    {{ skiplink() }}
    {{ language_switcher(language_switcher_data) }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    {{ navigation_menu(navigation_menu_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_navigation_menu(navigation_menu_data) }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ language_switcher_mobile(language_switcher_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}

{{ breadcrumbs(breadcrumbs_data_mobile) }}

{% block body %}
<main class="container page-container" id="main-content">
    
    {{ alert(alert_afslutning) }}
    <h1 class="mt-6">Sagsnr. 123456789</h1>
    {{ badge(badge_under_behandling) }}
    {{ structured_list(list_sagsinfo) }}

    <h2>Sagsindhold</h2>
    <ul class="nobullet-list">
        <li><a href="/pages/eksempler/sagsoversigt/find-sag/sagsnr-123456789/afgoerelser/">Se sagens afgørelser og status</a></li>
        <li><a href="#">Se sagens dokumenter</a></li>
        <li><a href="#">Se sagens involverede</a></li>
    </ul>
    <h2>Henvend dig til &lt;Myndigheden&gt; om sagen</h2>

    <h3>Skriv til &lt;Myndigheden&gt;</h3>
    <p>Hvis du har kommentarer til sagen eller nye relevante oplysninger, så kan du skrive til &lt;Myndigheden&gt;. Det kan fx være sagsoplysninger du ikke mener er korrekte.</p>
    {{ button(button_myndigheden) }}

    <h3>Giv adgang til sag</h3>
    <p>Du kan give en anden person eller organisation adgang til at se oplysninger i din sag, ved at de får adgang til sagen i Se Sag.</p>
    {{ button(button_adgang) }}

    <h3>Giv fuldmagt til sag</h3>
    <p>Du kan give en anden person eller organisation adgang til at se oplysninger i din sag, ved at de får adgang til sagen i Se Sag.</p>
    {{ button(button_fuldmagt) }}

    <h3>Blanketter</h3>
    <p>Her kan du finde blanketter, du kan bruge til at henvende dig, hvis du vil:</p>
    <ul>
        <li>Klage over en afgørelse</li>
        <li>Bede om at en sag ikke behandles</li>
        <li>Genoptagelse af en afgørelse</li>
        <li>Udbetaling som engangsbeløb</li>
    </ul>
    <a href="#">Gå til blanketter</a>
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

<div class="fds-modal-container">
    {{
        modal({
            "id": "modal-contact",
            "heading": "Kontakt",
            "content": modal_content,
            "forcedAction": false,
            "actions": modal_actions
        })
    }}
</div>