{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_header as portal_header %}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{% from "components/header/header.njk" import solution_header as solution_header %}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}
{% from "components/header/menu-buttons.njk" import menu_close_button as menu_close_button %}

{% from "components/search/search.njk" import search as search %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/footers/footer.njk" import footer as footer %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/badge/badges.njk" import badge as badge %}
{% from "components/details/details.njk" import details as details %}
{% from "components/cards/cards.njk" import card as card %}
{% from "components/table/table.njk" import table as table %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": false,
    "hideOnPrint": false,
    "title": {
        "href": "#",
        "text": "Sagsunivers"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": 'Support: 12 34 56 78 <span class="d-print-none">· <a href="javascript:void(0);" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="function-link d-inline-block mt-0">' + icon_svg({"name": "card-text"}) + 'Kontakt</a></span>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class="nav">
        {{ menu_close_button() }}

        <div class="navbar navbar-primary">
            <div class="navbar-inner container">
                <ul class="nav-primary">
                    <li class="current active">
                        <a href="#" class="nav-link" aria-current="page">
                            <span>Find sag</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Ansøgninger</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <span>Beskeder</span>
                        </a>
                    </li>
                    <li>
                        <div class="overflow-menu">
                            <button class="button-overflow-menu js-dropdown js-dropdown--responsive-collapse" data-js-target="headeroverflow1" aria-haspopup="true" aria-expanded="false">
                                <span>Udbetalinger</span>
                            </button>
                            <div class="overflow-menu-inner" id="headeroverflow1" aria-hidden="true">
                                <ul class="overflow-list" role="menu">
                                    <li role="none">
                                        <a href="#" role="menuitem">2022</a>
                                    </li>
                                    <li role="none">
                                        <a href="#" role="menuitem">2021</a>
                                    </li>
                                    <li role="none">
                                        <a href="#" role="menuitem">2020</a>
                                    </li>
                                    <li role="none">
                                        <a href="#" role="menuitem">2019</a>
                                    </li>
                                    <li role="none">
                                        <a href="#" role="menuitem">2018</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{ mobile_portal_header(portal_header_data) }}
        {{ mobile_solution_header(solution_header_data) }}
    </nav>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    <h1>Find sag</h1>
    <p class="font-lead mb-8">Her kan der stå en manchettekst, som siger noget meningsfyldt om siden.</p>

    {{ search(search_table) }}

    {% set badgeUnderBehandling = badge(badge_under_behandling) %}
    {% set badgeAfsluttet = badge(badge_afsluttet) %}
    {{
        table({
            "outerClasses": "mt-4 mb-4",
            "thead": [
                { "headerContent": "Sagsnummer" },
                { "headerContent": "Sidst ændret" },
                { "headerContent": "Sag forventes afsluttet" },
                { "headerContent": "Beskrivelse", "classes": "w-percent-20" },
                { "headerContent": "Kode" },
                { "headerContent": "Status" }
            ],
            "tbody": [
                [
                    { "content": "<a href=\"/pages/eksempler/sagsoversigt/find-sag/sagsnr-123456789/\">123456789</a>" },
                    { "content": "01.01.2021" },
                    { "content": "01.01.2021" },
                    { "content": "Her står en længere og mere detaljeret beskrivelse af sagen." },
                    { "content": "ABC" },
                    { "content": badgeUnderBehandling }
                ],
                [
                    { "content": "<a href=\"#\">3456789</a>" },
                    { "content": "01.01.2021" },
                    { "content": "01.01.2021" },
                    { "content": "Kort sagsbeskrivelse." },
                    { "content": "DEF" },
                    { "content": badgeAfsluttet }
                ],
                [
                    { "content": "<a href=\"#\">4567890</a>" },
                    { "content": "01.01.2021" },
                    { "content": "01.01.2021" },
                    { "content": "Her står en længere og mere detaljeret beskrivelse af sagen." },
                    { "content": "GHI" },
                    { "content": badgeUnderBehandling }
                ],
                [
                    { "content": "<a href=\"#\">56789000</a>" },
                    { "content": "01.01.2021" },
                    { "content": "01.01.2021" },
                    { "content": "Her står en længere og mere detaljeret beskrivelse af sagen." },
                    { "content": "JKL" },
                    { "content": badgeUnderBehandling }
                ],
                [
                    { "content": "<a href=\"#\">3456789</a>" },
                    { "content": "01.01.2021" },
                    { "content": "01.01.2021" },
                    { "content": "Kort sagsbeskrivelse." },
                    { "content": "MNO" },
                    { "content": badgeUnderBehandling }
                ]
            ]
        })
    }}

    {{ details(details_tabel) }}

    <h2>Anmod om adgang</h2>
    <p>Du kan anmode om at få adgang til sager, du endnu ikke kan se her.</p>
    {{ button(button_anmod_om_adgang) }}

    <h3>Anmodninger, der afventer svar</h3>
    <div class="w-percent-xs-100 w-percent-sm-60 w-percent-md-50 w-percent-xl-30">
        {{ card(card_anmodning) }}
    </div>

</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

{{
    modal({
        "id": "modal-contact",
        "heading": "Kontakt",
        "content": modal_content,
        "forcedAction": false,
        "actions": modal_actions
    })
}}