{% from "components/spinner/spinner.njk" import spinner as spinner %}

<div class="row">
    <div class="col-6">
        <div class="d-flex justify-content-center">
            {{ spinner({ "small": true }) }}
            <span class="sr-only">Lille loading spinner på lys baggrund</span>
        </div>
    </div>
    <div class="col-6" id="dark-spinner-background-small">
        <div class="d-flex justify-content-center align-items-center">
            {{ spinner({ "small": true, "light": true }) }}
            <span class="sr-only">Lille loading spinner på mørk baggrund</span>
        </div>
    </div>
</div>