{% from "components/toggle/toggle.njk" import toggle as toggle %}
<div class="form-group">
{{ toggle(data)}}
</div>

<div class="form-group">
{{ toggle(data2)}}
</div>

<div class="form-group">
{{ toggle(data3)}}
</div>
