{% from "components/back-link/back-link.njk" import back_link as back_link %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Tilbage-link</h1>
        </div>
    </div>
    <div class="row mb-905">
        {{ 
            back_link({
                "href": "javascript:void(0);"
            }) 
        }}
    </div>
    <div class="row mb-905">
        {{ 
            back_link({
                "href": "#",
                "text": "Back"
            }) 
        }}
    </div>
    <div class="row mb-905">
        <div class="back-link" tabindex="0"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg>Div som tilbage-link</div>
    </div>
    <div class="row mb-905">
        <button class="back-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#chevron-left"></use></svg>Knap som tilbage-link</button>
    </div>
</main>
