<div class="row">
    <div class="col-12 col-sm-4 col-md-3">
        <div class="no-border-radius-example"></div>
        <h3 class="h5">Ingen runding</h3>
        <p>0px</p>
    </div>
    <div class="col-12 col-sm-8 col-md-3">
        <div class="small-border-radius-example"></div>
        <h3 class="h5">Lille runding</h3>
        <p>4px</p>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
        <div class="medium-border-radius-example"></div>
        <h3 class="h5">Mellem runding</h3>
        <p>8px</p>
    </div>
    <div class="col-12 col-sm-8 col-md-3">
        <div class="round-border-radius-example"></div>
        <h3 class="h5">Fuld runding</h3>
        <p>½ af komponentens højde</p>
    </div>
</div>