<h3 class="h5">Ydre-streger</h3>
<p class="form-hint">Bruges til de yderste streger i et element, se fx tabeller.</p>
<div class="outer-border-example"></div>
<h3 class="h5">Indre-streger</h3>
<p class="form-hint">Bruges til indre streger i et element, se fx tabeller.</p>
<div class="inner-border-example"></div>
<h3 class="h5">Indre-indre-streger</h3>
<p class="form-hint">Bruges til indre streger i et element, som allerede er omkranset af indre steger, se fx sidenavigation.</p>
<div class="inner-inner-border-example"></div>
<h3 class="h5">Knap-streger</h3>
<p class="form-hint">Specifik streg til knapper.</p>
<div class="button-border-example"></div>
<h3 class="h5">Horisontal ruler</h3>
<p class="form-hint"><code>hr</code> elementet har samme farve som den Indre streg</p>
<hr />
