<h3 class="h5">Firkantede hjørner (0px)</h3>
<p class="form-hint">Bruges til elementer, som man ikke kan interagere med.</p>
<div class="static-border-radius-example"></div>
<h3 class="h5">Runde hjørner (4px)</h3>
<p class="form-hint">Bruges kun til håndtering af interaktive elementer, da det er meningen at differentiere indhold fra aktion.</p>
<div class="interactive-border-radius-example"></div>
