<h3 class="h5">Modalvindue</h3>
<p class="form-hint">Skygge, der bruges på modalvinduer.</p>
<div class="heavy-shadow-example"></div>
<h3 class="h5">Overflow menu</h3>
<p class="form-hint">Skygge, der bruges på overflow menuer</p>
<div class="moderately-shadow-example"></div>
<h3 class="h5">Cards</h3>
<p class="form-hint">Skygge, der bruges på cards</p>
<div class="slightly-shadow-example"></div>
