<h3 class="h5">Kraftig skygge</h3>
<p class="form-hint">Skygge, der bruges på modaler</p>
<div class="heavy-shadow-example"></div>
<h3 class="h5">Let skygge</h3>
<p class="form-hint">Skygge, der bruges på overflowmenu</p>
<div class="slightly-shadow-example"></div>
