<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1>Lange headings. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, augue malesuada varius scelerisque.</h1>
            <p>Paragraf under heading 1</p>
            <h2>Heading 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, augue malesuada varius scelerisque, diam dolor luctus augue, ut congue ante neque eu augue.</h2>
            <p>Paragraf under heading 2</p>
            <h3>Heading 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, augue malesuada varius scelerisque, diam dolor luctus augue, ut congue ante neque eu augue.</h3>
            <p>Paragraf under heading 3</p>
            <h4>Heading 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, augue malesuada varius scelerisque, diam dolor luctus augue, ut congue ante neque eu augue.</h4>
            <p>Paragraf under heading 4</p>
            <h5>Heading 5. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, augue malesuada varius scelerisque, diam dolor luctus augue, ut congue ante neque eu augue.</h5>
            <p>Paragraf under heading 5</p>
            <h6>Heading 6. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, augue malesuada varius scelerisque, diam dolor luctus augue, ut congue ante neque eu augue.</h6>
            <p>Paragraf under heading 6</p>
        </div>
    </div>
</main>