<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1>Headings med sektioner</h1>
            <p>Paragraf under heading 1</p>
            <section>
                <h2>Heading 2</h2>
                <p>Paragraf under heading 2</p>
                <section>
                    <h3>Heading 3</h3>
                    <p>Paragraf under heading 3</p>
                    <section>
                        <h4>Heading 4</h4>
                        <p>Paragraf under heading 4</p>
                        <section>
                            <h5>Heading 5</h5>
                            <p>Paragraf under heading 5</p>
                            <section>
                                <h6>Heading 6</h6>
                                <p>Paragraf under heading 6</p>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </div>
    </div>
</main>