{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}

{{
    textinput({
        "id": "hentetdata",
        "name": "navn",
        "label": "Fornavn og efternavn",
        "helptext": "Data hentet fra CVR.dk",
        "value": "Keld Hedagaardsen",
        "readonly": true,
        "required": false
    })
}}

<div class="form-group">
    <label class="form-label" for="hentetdata-redigerbar">Fornavn og efternavn</label>

    <span class="form-hint" id="hentetdata-redigerbar-hint">Data hentet fra CVR.dk</span>

    <div class="d-block d-sm-flex flex-sm-row align-items-sm-center">
        <input type="text" id="hentetdata-redigerbar" name="navn-redigerbar"
            class="form-input mr-sm-3" value="Keld Hedagaardsen"
            aria-describedby="hentetdata-redigerbar-hint " readonly>
        <button type="button" class="function-link mt-3" id="hentetdata-rediger">{{ icon_svg({"name":'mode'})}}Rediger<span class="sr-only"> fornavn og efternavn</span></button>
    </div>
</div>
