

<div class="component-preview {{ include.classes }}">
    <!--<div class="loader-container">
        <div class="loader"></div>
    </div>-->
    {% if include.link != false %}
    <div class="component-link px-4 py-4">
        <a href="/preview-components/{{ include.component }}.html" class="small-text" target="_blank">Åbn dette eksempel i et nyt vindue</a>
    </div>
    {% endif %}

    <div class="component-example px-4 py-4" aria-label="Eksempel">
        <iframe class="preview-iframe" title="Eksempel" src="{{ site.baseurl }}/preview-components/{{ include.component }}"></iframe>
    </div>
    {% if include.code %}
    <div class="component-code-link px-4 py-4">
        <a href="{{include.code}}" class="small-text">Gå til kodeafsnit</a>
    </div>
    {% endif %}
</div>
