<div class="component-preview {{ include.classes }} component-preview-{{ include.component | slugify }}" aria-label="{{ include.title }}">
    {% if include.link != false %}
    <div class="component-link px-4 py-4">
        <a href="/eksempel/{{ include.component }}/" class="small-text" target="_blank">Åbn dette eksempel i et nyt vindue</a>
    </div>
    {% endif %}
    <div class="component-example px-4 py-4" aria-label="Eksempel">
        {% include code/components/{{ include.component }}.html %}
    </div>
    {% if include.code %}
    <div class="component-code-link px-4 py-4">
        <a href="{{include.code}}" class="small-text">Gå til kodeafsnit</a>
    </div>
    {% endif %}
</div>
