{% if include.component and include.component != '' %}
<div class="component-preview component-preview-code {{ include.classes }} component-code-{{ include.component | slugify }}">
    {% if include.link %}
    <div class="component-link px-4 py-4">
        {% if include.url %}
        <a href="/eksempel/{{ include.url }}/" class="small-text" target="_blank">Vis dette eksempel i et nyt vindue<span class="sr-only">: {{ include.component }}</span></a>
        {% else %}
        <a href="/eksempel/{{ include.component }}/" class="small-text" target="_blank">Vis dette eksempel i et nyt vindue<span class="sr-only">: {{ include.component }}</span></a>
        {% endif %}
    </div>
    {% endif %}
    {% if include.title %}
    <div class="sr-only">{{ include.title }}</div>
    {% else %}
    <div class="sr-only">Kodeeksempel</div>
    {% endif %}
    <div class="component-code">
        {% if include.copybutton %}
        <div class="button-copy-container">
            <button class="button button-secondary button-copy">Kopiér kode</button>
        </div>
        {% endif %}
        {% capture _syntax %}
        {% highlight html %}
        {% include code/components/{{ include.component }}.{{ include.language | default: 'html' }} %}
        {% endhighlight %}
        {% endcapture %}{{ _syntax | markdownify }}
    </div>
    {% if include.guidelines and include.guidelines != '' %}
    <div class="component-guidelines-link px-4 py-4">
        <a href="{{include.guidelines}}" class="small-text">Gå til eksemplets retningslinjer</a>
    </div>
    {% endif %}
</div>
{% endif %}
