{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/alerts/alerts.njk" import alert as alert %}

<div id="top"></div>
<header class="header">
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>

<main class="container page-container" id="main">
    {{ alert(alert_example) }}
    <h1>Du er logget af</h1>
    <p>Dine indtastede data er gemt til næste gang, du logger på.</p>
    <p>Du kan logge på igen på knappen herunder.</p>
    {{ button(button_logon) }}
</main>

{{ footer(footer_data) }}