{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_header as portal_header %}
{% from "components/header/header.njk" import mobile_portal_header as mobile_portal_header %}
{% from "components/header/header.njk" import solution_header as solution_header %}
{% from "components/header/header.njk" import mobile_solution_header as mobile_solution_header %}
{% from "components/header/menu-buttons.njk" import menu_close_button as menu_close_button %}

{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/alerts/alerts.njk" import alert as alert %}

<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}
    <div class="overlay"></div>
    <nav class="nav">
        {{ menu_close_button() }}
        {{ mobile_portal_header(portal_header_data) }}
        {{ mobile_solution_header(solution_header_data) }}
    </nav>
</header>

<main class="container page-container" id="main">
    {{ alert(alert_example) }}
    <h1>Du er logget af</h1>
    <p>Dine indtastede data er gemt til næste gang, du logger på.</p>
    <p>Du kan logge på igen på knappen herunder.</p>
    {{ button(button_logon) }}
</main>

{{ footer(footer_data) }}