{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/buttons/buttons.njk" import button as button %}

{% set modal_content = "<p>Din session udløber snart. Du logges automatisk af om <span role='timer'><strong class='bold session-timeout-countdown-minutes'>5 min.</strong><strong class='bold session-timeout-countdown-seconds'></strong></span></p><p>Dine indtastede data er gemt.</p>" %}

{% set modal_actions = 
    button({
        "variant": "primary",
        "text": "Forbliv logget på",
        "attributes": "data-modal-close"
    })
    +
    button({
        "variant": "secondary",
        "text": "Log af",
        "attributes": "data-modal-close"
    })
%}

{{
    modal({
        "id": "example-sesssion-udloeber-gemt",
        "heading": "Du er ved at blive logget af",
        "content": modal_content,
        "forcedAction": true,
        "actions": modal_actions
    })
}}

{{ 
    button({
        "text": "Åbn modal",
        "variant": "tertiary",
        "attributes": "data-module=\"modal\" data-target=\"example-sesssion-udloeber-gemt\""
    }) 
}}