{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/buttons/buttons.njk" import button as button %}

{% set sessionUdloeberContent = 
'<p>Din session udløber snart. Du logges automatisk af om <span role="timer"><span class="bold session-timeout-countdown-minutes">5 min.</span><span class="bold session-timeout-countdown-seconds"></span></span></p>' 
%}

{% set sessionUdloeberActions = 
button({ "variant": "primary", "text": "Forbliv logget på", "attributes": "data-modal-close" }) + 
button({ "variant": "secondary", "text": "Log af", "attributes": "data-modal-close" }) 
%}

{{
    modal({
        "id": "example-sesssion-udloeber",
        "headingId": "example-sesssion-udloeber-heading",
        "heading": "Du er ved at blive logget af",
        "content": sessionUdloeberContent,
        "actions": sessionUdloeberActions,
        "forcedAction": true
    })
}}

{{ 
    button({
        "text": "Åbn modal",
        "variant": "tertiary",
        "attributes": "data-module=\"modal\" data-target=\"example-sesssion-udloeber\""
    }) 
}}

