{% from "components/form/controls/text-area.njk" import textarea as textarea %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-textarea-1</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Simpelt tekstområde</p>
            {{
                textarea({
                    "id": "input-textarea",
                    "name": "input-textarea",
                    "label": "Tekstområde med label"
                })
            }}
        </div>
    </div>
</main>