{% from "components/checkboxes/checkbox.njk" import checkbox as checkbox %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-checkbox-simple</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                checkbox({
                    "id": "checkbox",
                    "name": "test",
                    "value": "true",
                    "label": "Label til tjekboks"
                }) 
            }}
        </div>
    </div>
</main>


