{% from "components/checkboxes/checkbox.njk" import checkbox as checkbox %}
{% from "components/checkboxes/checkboxes.njk" import checkboxes as checkboxes %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-checkboxes-5</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Tjekboks skjult indhold</p>
            {{ 
                checkbox({
                    "id": "checkbox",
                    "name": "checkbox",
                    "value": "1",
                    "label": "Label til tjekboks", 
                    "srOnly": "Udfyld informationer herunder", 
                    "hiddenContent": textinput({ "id": "mytext", "label": "Inputfelt", "name": "mytext" })
                }) 
            }}
        </div>
    </div>
</main>