{% from "components/checkboxes/checkbox.njk" import checkbox as checkbox %}
{% from "components/checkboxes/checkboxes.njk" import checkboxes as checkboxes %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <p>Liste med skjulte felter</p>
            {{
                checkboxes({
                    "id": "checkboxgroup",
                    "checkboxLegend": "Liste med tjekbokse",
                    "groupname": "checkbox-example",
                    "items": [
                        { "value": "v1", "label": "Tjekboks 1" },
                        { "value": "v2", "label": "Tjekboks 2", "srOnly": "Udfyld informationer herunder", 
                        "hiddenContent": textinput({ "id": "text2", "label": "Inputfelt", "name": "text2" })
                        },
                        { "value": "v3", "label": "Tjekboks 3", "srOnly": "Udfyld informationer herunder", 
                        "hiddenContent": textinput({ "id": "text3", "label": "Inputfelt", "name": "text3" })
                        }
                    ]
                })
            }}     
        </div>
    </div>
</main>