{% from "components/checkboxes/checkbox.njk" import checkbox as checkbox %}
{% from "components/checkboxes/checkboxes.njk" import checkboxes as checkboxes %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-checkboxes-2</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Tjekboks med klasser og attributter</p>
            {{ 
                checkbox({
                    "id": "checkbox",
                    "name": "checkbox",
                    "value": "1",
                    "label": "Label til tjekboks",
                    "classes": {
                        "formgroup": "formgroupclass",
                        "label": "labelclass",
                        "input": "inputclass"
                    },
                    "attributes": {
                        "formgroup": "formgroupattr",
                        "label": "labelattr",
                        "input": "inputattr"
                    }
                }) 
            }} 
        </div>
    </div>
</main>