<!DOCTYPE html>
<html lang="da">

<head>
    <meta name="robots" content="noindex">
    {% include head.html %}
</head>

<body class="page-{{ page.title | slugify }} layout-{{ page.layout }}">
    {% include code/components/base-svg.html %}
    <header>
        <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    </header>
    <main class="container page-container" id="main-content">
        {% if page.title contains "Toastbesked" %}
        <div class="toast-container">
            {{ content }}
        </div>
        <h1 id="example-heading-{{ page.title | slugify }}" class="sr-only">{{ page.title | replace: "-", " " }}</h1>
        {% else %}
        <h1 id="example-heading-{{ page.title | slugify }}" class="sr-only">{{ page.title | replace: "-", " " }}</h1>
        {{ content }}
        {% endif %}
    </main>
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
    <script src="{{ site.baseurl }}/assets/js/styleguide.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor.js"></script>
    {% if page.url contains "spinner" %}
    <script src="{{ site.baseurl }}/assets/js/spinner.js"></script>
    {% endif %}
    {% if page.url contains "table" %}
    <script src="{{ site.baseurl }}/assets/js/table.js"></script>
    {% endif %}
    {% if page.url contains "notifikation" or page.url contains "notification" or page.url contains "toastbesked" %}
    <script src="{{ site.baseurl }}/assets/js/toast.js"></script>
    {% endif %}
    {% if page.url contains "language-switcher" %}
    <script src="{{ site.baseurl }}/assets/js/languageswitcher.js"></script>
    {% endif %}
    {% if page.url contains "pagination" %}
    <script src="{{ site.baseurl }}/assets/js/pagination.js"></script>
    {% endif %}
</body>

</html>