<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="da"><!--<![endif]-->
  <head>
    <meta name="robots" content="noindex" />
    {% include head.html %}
  </head>
  <body class="page-{{ page.title | slugify }} layout-{{ page.layout }}">
    {% include code/components/base-svg.html %}
    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>
    <main class="container page-container" id="main-content">
    <h1 id="example-heading-{{ page.title | slugify }}" class="sr-only">{{ page.title | replace: "-", " " }}</h1>
    {{ content }}
    {% if page.title contains "tringuide" or page.title contains "Tringuide"  %}
    </aside>
    </div>
    {% endif %}
    </main>
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
    <script src="{{ site.baseurl }}/assets/js/styleguide.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor.js"></script>
    <script src="{{ site.baseurl }}/assets/js/requirements-tool~styleguide.js"></script>
  </body>
</html>
