<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="da"><!--<![endif]-->
<head>
  {% include head.html %}
</head>
<body class="page-{{ page.title | slugify }} layout-{{ page.layout }}">
<a href="#main-content" class="skipnav">Gå til sidens indhold</a>
{% include code/components/base-svg.html %}
{% include requirements-tool/header.html backlink=page.backlink %}

<main class="page-container container" id="main-content">
  {% if page.backlink == true %}
  <div><a href="javascript:void(0);" class="back-link d-md-none" id="back-link-mobile">Tilbage</a></div>
  {% endif %}
  {{ content }}
</main>

{% include requirements-tool/footer.html %}
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor.js"></script>
<script src="{{ site.baseurl }}/assets/js/requirements-tool~styleguide.js"></script>
<script src="{{ site.baseurl }}/assets/js/requirements-tool.js"></script>
</body>
</html>
