---
layout: default
---

<div class="container page-container">
    <div class="row">

        <aside class="col-12 col-lg-3">
            <nav class="sidenav d-none d-lg-block mb-4 mb-md-0" id="docs-sidenav" aria-label="Sidemenu">
                {%- assign sidenavFromNavData = site.data.nav[page.category] -%}

                {% if sidenavFromNavData %}
                <ul class="sidemenu">
                    {%- include nav/sidenavigation/list.html links=sidenavFromNavData -%}
                </ul>
                {%- endif -%}
            </nav>
        </aside>

        <main class="col-12 col-lg-9" id="main-content">
            {%- include theme-alert.html -%}
            <section id="section-{{page.permalink}}">

                <div class="subheading">
                    {{ page.subcategory }}
                </div>

                {% comment %} There's an icon with id "print" so the print page needs another id {% endcomment %}
                {% if page.title == "Print" %}
                <h1 id="printpage">{{ page.title }}</h1>
                {% comment %} Anchorlink component heading has id "anchorlinks" so the anchorlinks page needs another id {% endcomment %}
                {% elsif page.title == "Anchorlinks" %}
                <h1 id="anchorlinks-page">{{ page.title }}</h1>
                {% elsif page.title == "Selvbetjeningsløsninger" %}
                <h1 id="self-service-page" class="hyphens-manual">Selvbetjenings&shy;løsninger</h1>
                {% elsif page.title == "Beskeder (Alerts)" %}
                <h1 id="beskeder-alerts">Beskeder <span class="d-inline" lang="en">(Alerts)</span></h1>
                {% elsif page.title == "Faneblade (Tabs)" %}
                <h1 id="faneblade-tabs">Faneblade <span class="d-inline" lang="en">(Tabs)</span></h1>
                {% elsif page.title == "Knapper (Buttons)" %}
                <h1 id="knapper-buttons">Knapper <span class="d-inline" lang="en">(Buttons)</span></h1>
                {% elsif page.title == "Radioknap (Radio button)" %}
                <h1 id="radioknap-radio-button">Radioknap <span class="d-inline" lang="en">(Radio button)</span></h1>
                {% elsif page.title == "Tekstområde (Textarea)" %}
                <h1 id="tekstområde-textarea">Tekstområde <span class="d-inline" lang="en">(Textarea)</span></h1>
                {% elsif page.title == "Tjekboks (Checkbox)" %}
                <h1 id="tjekboks-checkbox">Tjekboks <span class="d-inline" lang="en">(Checkbox)</span></h1>
                {% else %}
                <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
                {% endif %}

                {% if page.lead != null and page.lead != "" %}
                <p class="font-lead">{{ page.lead }}</p>
                {% endif %}

                {%- if page.tabs -%}
                    {%- if page.tabs == "Retningslinjer, kode" -%}
                        {%- assign pageContent = content | split: site.excerpt_separator -%}
                        {{ pageContent[0] }}
                        <div id="guidelines-section">
                            {{ pageContent[1] }}
                        </div>
                        <div id="code-section">
                            {{ pageContent[2] }}
                        </div>
                    {%- else -%}
                        {{ content }}
                    {%- endif %}
                {%- else -%}
                    {{ content }}
                {%- endif %}
            </section>
        </main>

    </div>
</div>