---
layout: default
---

<div class="container page-container">
  <div class="row">

    <aside class="col-12 col-lg-3 sidebar-col">
      <nav class="sidenav d-none d-lg-block mb-4 mb-md-0" id="docs-sidenav" aria-label="Sidemenu">
        {% assign sidenavFromNavData = site.data.nav[page.category] %}
        {% if sidenavFromNavData %}
        <ul class="sidenav-list" role="menu">
          {% include nav/list.html
            links=sidenavFromNavData
            use_alt_text=true
          %}
        </ul>
        {% endif %}
      </nav>
    </aside>

    <main class="col-12 col-lg-9" id="main-content">
      {% include theme-alert.html %}
      <section id="section-{{page.id}}">
          {% for alert in page.alerts %}
          <div class="alert alert-{{ alert.type }} {% if alert.icon %}alert--show-icon{% endif %}" role="alert">
              <div class="alert-body">
                  {% if alert.header %}
                  <h3 class="alert-heading">{{alert.header}}</h3>
                  {% endif %}
                  {% if alert.content  %}
                  <p class="alert-text">
                    {{alert.content}}
                  </p>
                  {% endif %}
              </div>
          </div>
          {% endfor %}
          {% if page.mailalert == true %}
          <div class="alert alert-error d-none" role="alert" id="mail-error-summary">
              <div class="alert-body">
                  <p class="alert-heading">Der er problemer</p>
                  <ul class="alert-text nobullet-list">
                  </ul>
              </div>
          </div>
          {% endif %}

          <p class="h6 m-0">
            {{ page.subcategory }}
          </p>
          <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
          {% if page.lead != null and page.lead != "" %}
            <p class="font-lead">{{ page.lead }}</p>
          {% endif %}

          {% if page.component %}
          {% include code/preview-box.html component=page.component title=page.componentTitle link=page.componentLink code=page.componentCode url=page.componentUrl %}
          {% endif %}

          {{ content }}
      </section>
    </main>

  </div>
</div>
