<!DOCTYPE html>
<html lang="da">

<head>
    <meta name="robots" content="noindex">
    {% include head.html %}
</head>

<body class="layout-{{ page.layout }}">
    {% include code/components/base-svg.html %}
    {{ content }}
    {% include test/test-footer.html title=page.title navigation=true previoustest=page.previoustest nexttest=page.nexttest %}
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
    <script src="{{ site.baseurl }}/assets/js/styleguide.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor.js"></script>
</body>

</html>