{% from "components/tabs/tabs.njk" import navigation_tabs as navigation_tabs %}

{{ 
    navigation_tabs({
        "ariaLabel": "Eksemplets undersider",
        "items": [
            {
                "current": true,
                "href": "#indhold1",
                "text": "Faneblad 1"
            },
            {
                "href": "#indhold2",
                "text": "Faneblad 2"
            },
            {
                "href": "#indhold3",
                "text": "Faneblad 3"
            }
        ]
    }) 
}}