{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/back-link/back-link.njk" import back_link as back_link %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/buttons/buttons.njk" import button as button %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{% from "components/modal/modal.njk" import modal as modal %}

{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": true,
    "title": {
        "text": "Fejl i vedhæftede filer",
        "tag": "strong"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": '<span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span class="d-none d-lg-inline-block d-print-none ml-2 mr-2" aria-hidden="true">·</span><button type="button" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="d-print-none function-link">' + icon_svg({"name": "card-text"}) + 'Kontakt</button>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<div id="top"></div>
<header class="header">
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}


{% block body %}
<main class="container page-container pt-4 pt-lg-6" id="main-content">
    {{ back_link({ "href": "#" }) }}
    <nav aria-labelledby="error-summary-file">
        {{ alert(error_summary) }}
    </nav>
    <h1>Dokumentation</h1>

    <div class="form-group file-input mb-5 form-error">
        <label class="form-label" for="fileinput">Vedhæft fil</label>
        <span class="form-error-message mb-3" id="fileinput-error"><span class="sr-only">Fejl:</span> Filens størrelse
            skal være under 10MB. Opdel evt. dokumentet og tilføj som flere dokumenter.</span>
        <input type="file" id="fileinput" name="file" aria-describedby="fileinput-error" />
    </div>
    {{ button(button_upload) }}

    <h2 class="h5 mt-8">Vedhæftet</h2>
    <ul class="bordered-list w-percent-md-40 mt-3">
        <li>
            <div class="d-flex justify-content-between"><a href="#" class="function-link">{{ icon_svg({"name": 'file-pdf'})}}Lægeerklæring.pdf</a><button class="function-link">{{ icon_svg({"name": 'delete'})}}Slet</button></div>
        </li>
        <li>
            <div class="d-flex justify-content-between"><a href="#" class="function-link">{{ icon_svg({"name": 'file-pdf'})}}Fuldmagt_88.pdf</a><button class="function-link">{{ icon_svg({"name": 'delete'})}}Slet</button></div>
        </li>
    </ul>

    {{ button(button_next) }}
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

<div class="fds-modal-container">
    {{
        modal({
            "id": "modal-contact",
            "heading": "Kontakt",
            "content": modal_content,
            "forcedAction": false,
            "actions": modal_actions
        })
    }}
</div>