{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/form/controls/select.njk" import select as select %}
{% from "components/buttons/buttons.njk" import button as button %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{% from "components/modal/modal.njk" import modal as modal %}
{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}


{% block header %}
  <header class="header">
    <div id="top"></div>
    <a href="#main-content" class="skipnav">Gå til sidens indhold</a>
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg({"name":"close"})}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user bold">Anders Andersen</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Myndighedsnavn</p>
        <p>Support: 12 34 56 78 <br><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block">
            <svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></p>
    </div>
    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}


{% block body %}
<main class="container page-container pt-4 pt-lg-6" id="main-content">
    <a href="#" class="back-link">Tilbage</a>

    <form novalidate method="post" action="/pages/eksempler/vedhaeft-fil/fil-1/">
      <fieldset>
          <legend><h1>Dokumentation</h1></legend>
          <div class="form-group file-input mb-5">
            <label class="form-label" for="fileinput">Vedhæft fil</label>
            <input type="file" id="fileinput" name="file" />
          </div>
          <button type="button" class="button button-primary d-print-none mt-7">Næste</button>
      </fieldset>
    </form>
</main>
{% endblock %}
{% block footer -%}
  {{ footer(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}

