{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/form/controls/select.njk" import select as select %}
{% from "components/buttons/buttons.njk" import button as button %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{% from "components/modal/modal.njk" import modal as modal %}
{%- from "components/header/header.njk" import portal_header as portal_header -%}
{%- from "components/header/header.njk" import solution_header as solution_header -%}
{% from "components/footers/footer-simple.njk" import footer_simple as footer_simple %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{% block header %}
  <header class="header">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user bold">Christian Emil Vestergaard Christiansen</p>
        <a href="#" class="button button-secondary button-signout">
          Log af
        </a>
      </div>

      <div class="solution-info-mobile">
        <p class="bold">Erhvervsministeriet</p>
        <p><a href="javascript:void(0);" data-module="modal" data-target="modal-contact" class="function-link d-inline-block"><svg class="icon-svg" aria-hidden="true"><use xlink:href="#card-text"></use></svg>Kontakt</a></p>
      </div>
    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}


{% block body %}
<main class="container page-container pt-4 pt-lg-6" id="main-content">
    <a href="javascript:void(0);" class="back-link">Tilbage</a>

    {{ alert(error_summary.classes, error_summary.role, error_summary.title, error_summary.content, error_summary.aria, "", error_summary.contentContainer ) }}

    <h1>Dokumentation</h1>

    <div class="form-group file-input mb-5 form-error">
        <label class="form-label" for="fileinput">Vedhæft fil</label>
        <span class="form-error-message mb-3" id="fileinput-error"><span class="sr-only">Fejl:</span> Dokumentet er større end 10 MB, og kan derfor ikke tilføjes. Opdel dokumentet og tilføj som flere dokumenter.</span>
        <input type="file" id="fileinput" name="file" aria-describedby="fileinput-error" />
    </div>

    <h2 class="h5 mt-8">Vedhæftet</h2>
    <ul class="bordered-list w-percent-md-40 mt-3">
      <li><div class="d-flex justify-content-between"><a href="#" class="function-link">{{ icon_svg('file-pdf')}}Lægeerklæring.pdf</a><button class="function-link">{{ icon_svg('trash-can')}}Slet</button></div></li>
      <li><div class="d-flex justify-content-between"><a href="#" class="function-link">{{ icon_svg('file-pdf')}}Fuldmagt_88.pdf</a><button class="function-link">{{ icon_svg('trash-can')}}Slet</button></div></li>
    </ul>
    
    <button class="button button-primary mt-8">Næste</button>
</main>
{% endblock %}
{% block footer -%}
  {{ footer_simple(footer_data) }}
{% endblock %}

{{ modal(modal_data) }}

