{% from "components/tabs/tabs.njk" import tabUrls as tabUrls %}

{% set no_active_tabs = {
    "items": [
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "name": "Indhold 1"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "name": "Indhold 2"
            }
        }
    ]
} %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            {{ tabUrls(no_active_tabs) }}
        </div>
    </div>
</main>

