{% from "components/tabs/tabs.njk" import tabs as tabs %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Ingen faneblade</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                tabs({
                    "items": []
                }) 
            }}
        </div>
    </div>
</main>
