{% from "components/tabs/tabs.njk" import navigation_tabs as navigation_tabs %}

{% set many_tabs_with_icons = {
    "items": [
        {
            "current": true,
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 1",
                "icon": "format-list-checks"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 2",
                "icon": "construction"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 3",
                "icon": "format-list-checks"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 4",
                "icon": "construction"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 5",
                "icon": "format-list-checks"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 6",
                "icon": "construction"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 7",
                "icon": "format-list-checks"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 8",
                "icon": "construction"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 9",
                "icon": "format-list-checks"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 10",
                "icon": "construction"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 11",
                "icon": "format-list-checks"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 12",
                "icon": "construction"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 13",
                "icon": "format-list-checks"
            }
        }
    ]
} %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            {{ navigation_tabs(many_tabs_with_icons) }}
        </div>
    </div>
</main>

