{% from "components/tabs/tabs.njk" import tabs as tabs %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">To valgte faneblade</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            {{ 
                tabs({
                    "items": [
                        {
                            "button": {
                                "text": "Indhold 1",
                                "id": "tab1",
                                "selected": true
                            },
                            "panel": {
                                "id": "tabpanel1",
                                "content": "<p>Lorem ipsum dolor sit amet.</p>"
                            }
                        },
                        {
                            "button": {
                                "text": "Indhold 2",
                                "id": "tab2",
                                "selected": true
                            },
                            "panel": {
                                "id": "tabpanel2",
                                "content": "<p>Praesent consequat erat nec felis semper dignissim.</p>"
                            }
                        }
                    ]
                }) 
            }}
        </div>
    </div>
</main>