{% from "components/tabs/tabs.njk" import tabUrls as tabUrls %}

{% set tab_list_long_strings = {
    "items": [
        {
            "current": true,
            "anchorlink": {
                "href": "javascript:void(0);",
                "name": "LoremipsumdolorsitametconsecteturadipiscingelitNullamutaugueeuismodhendreritarcusedbibendumsapienCrasegetlaciniatortorVivamusaliquetturpisasollicitudinporttitorlacusnullatristiqueturpissedvehiculanibheratquisaugue"
            }
        },
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "name": "ametconsecteturadipiscingelitduistristiquesollicitudinnibhsitametcommodonullafacilisinullamvehiculaipsumaarcucursusvitaetempodeunislnuncmi ipsumfaucibusvitaeliquetnecullamcorpersitametrisusnullamgetfelisegetnunc"
            }
        }
    ]
} %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            {{ tabUrls(tab_list_long_strings) }}
        </div>
    </div>
</main>

