{% from "components/tabs/tabs.njk" import navigation_tabs as navigation_tabs %}

{% set only_one_tab = {
    "items": [
        {
            "anchorlink": {
                "href": "javascript:void(0);",
                "text": "Indhold 1"
            }
        }
    ]
} %}

<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            {{ navigation_tabs(only_one_tab) }}
        </div>
    </div>
</main>

