{% from "components/stepguide/stepguide.njk" import stepguide as stepguide %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-step-guide-7</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Alle trin låst</p>
            {{ 
                stepguide({
                    "steps": [
                        {
                            "text": "Første trin",
                            "href": "javascript:void(0);",
                            "icon": {"name": "error", "ariaLabel": "Fejl", "ariaHidden": false},
                            "error": true,
                            "disabled": true
                        },
                        {
                            "text": "Andet trin",
                            "href": "javascript:void(0);",
                            "disabled": true
                        },
                        {
                            "text": "Tredje trin",
                            "href": "javascript:void(0);",
                            "helptext": "Informationstekst for sidste trin",
                            "disabled": true
                        }
                    ]
                }) 
            }}
        </div>
    </div>
</main>