{% from "components/stepguide/stepguide.njk" import stepguide as stepguide %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-step-guide-1</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Simpel trin guide</p>
            <div>
            {{ 
                stepguide({
                    "steps": [
                        {
                            "text": "Første trin",
                            "href": "javascript:void(0);"
                        },
                        {
                            "text": "Andet trin",
                            "href": "javascript:void(0);"
                        },
                        {
                            "text": "Tredje trin",
                            "href": "javascript:void(0);"
                        }
                    ]
                }) 
            }}
            </div>
        </div>
    </div>
</main>