{% from "components/side-navigation/sidenav.njk" import nav_list as nav_list %}

<nav aria-label="Eksempel på venstremenu med to niveauer">
    <ul class="sidemenu">{{ nav_list(sidenavsNormal) }}</ul>
</nav>
