{% from "components/side-navigation/sidenav.njk" import nav_list as nav_list %}

<nav aria-label="Sidemenu (eksempel)">
    <ul class="sidemenu">
        {{ nav_list(sidenavsInformation) }}
    </ul>
</nav>
