{% from "components/skip-link/skip-link.njk" import skiplink as skiplink %}
{% from "components/header/header.njk" import portal_info as portal_info %}
{% from "components/header/header.njk" import mobile_portal_info as mobile_portal_info %}
{% from "components/header/header.njk" import solution_info as solution_info %}
{% from "components/header/header.njk" import mobile_solution_info as mobile_solution_info %}
{% from "components/header/header.njk" import menu_top as menu_top %}

{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/modal/modal.njk" import modal as modal %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{% from "components/footers/footer.njk" import footer as footer %}
{% from "components/form/controls/text-input.njk" import textinput as textinput %}
{% from "components/radiobuttons/radiobuttons.njk" import radiobuttons as radiobuttons %}
{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/alerts/alerts.njk" import alert as alert %}

{# <!-- Variables --> #}

{% set solution_header_data = {
    "lastHeader": true,
    "hideOnPrint": false,
    "title": {
        "text": "Løsningstitel står her",
        "tag": "strong"
    },
    "authority": {
        "name": "Myndighedsnavn",
        "text": '<span class="d-block d-lg-inline-block">Support: 12 34 56 78</span><span class="d-none d-lg-inline-block d-print-none ml-2 mr-2" aria-hidden="true">·</span><button type="button" data-module="modal" data-target="modal-contact" aria-haspopup=\"dialog\" class="d-print-none function-link">' + icon_svg({"name": "card-text"}) + 'Kontakt</button>'
    }
} %}

{% set modal_content = 
    alert(alert_modal_warning) + 
    "<h3>En form for support</h3>
    <p>Hvis du har spørgsmål om:</p>
        <ul>
            <li>En ting som denne</li>
            <li>Et andet emne som dette</li>
        </ul>
    <p>Kan du ringe direkte til: <span class='d-inline-block'>12 34 56 78</span></p>
    <p>Telefonen er åben:</p> 
    <p class='m-0'>Mandag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Tirsdag-torsdag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-17</span></p>
    <p class='m-0'>Fredag:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='d-inline-block'>kl. 9-14</span></p>" 
%}

{% set modal_actions = 
    button({
        "variant": "secondary",
        "text": "Luk",
        "attributes": "data-modal-close"
    })
%}

{# <!-- Page content starts here --> #}

{% block header %}
<header class="header">
    <div id="top"></div>
    {{ skiplink() }}
    {{ portal_info(portal_header_data) }}
    {{ solution_info(solution_header_data) }}
    <div class="overlay"></div>
    <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="menu-heading">
        {{ menu_top() }}
        {{ mobile_solution_info(solution_header_data) }}
        {{ mobile_portal_info(portal_header_data) }}
    </div>
</header>
{% endblock %}

{% block body %}
<main class="container page-container" id="main-content">
    <nav aria-labelledby="example-form-summary">
        {{ alert(alert_summary) }}
    </nav>
    <form novalidate method="post" action="/pages/eksempler/formular-med-fejl/formular-med-fejl-1/">
        <fieldset>
            <legend>
                <h1>Oplysninger om dig</h1>
            </legend>
            <div class="row">
                <div class="mt-5 col-lg-4 col-md-6 col-sm-8">
                    {{ textinput(input_navn) }}
                    {{ textinput(input_gade) }}
                    <div class="d-block d-sm-flex align-items-sm-end">
                        {{ textinput(input_postnummer) }}
                        {{ textinput(input_by) }}
                    </div>
                    {{ textinput(input_telefonnummer) }}
                    {{ textinput(input_email) }}
                    {{ radiobuttons(radiobuttons_alder) }}
                    {{ button(button_next) }}
                </div>
            </div>
        </fieldset>
    </form>
</main>
{% endblock %}

{% block footer -%}
{{ footer(footer_data) }}
{% endblock %}

<div class="fds-modal-container">
    {{
        modal({
            "id": "modal-contact",
            "heading": "Kontakt",
            "content": modal_content,
            "forcedAction": false,
            "actions": modal_actions
        })
    }}
</div>